<h3>Already Answered</h3>
<p id='qat_no_dup' style="display: none;">None yet! This article needs your answers.</p>
<p id='qat_has_dup' style="display: none;">These questions are already answered on the article. Please use the Mark as Duplicate button instead of answering questions that mean the same thing.</p>
<ul></ul>