<h2>Trending topics</h2>

<p>Pull the top 50 trending topics in the US.</p>

<button id="tr_trends_btn" class="button primary" type="submit">Download trends</button>

<hr>

<h2>Query search</h2>

<p>Pull search results for the following query strings (see <a href="https://dev.twitter.com/rest/public/search#query-operators">query operators</a>):</p>

<textarea id="tr_queries_textarea">{{queries}}</textarea>

<div class="clear"></div>

<button id="tr_report_btn" class="button primary" type="submit">Download results</button>
