.m-video-intro-text:nth-child(3) {
	display: none;
}
.m-video-intro-text:nth-child(4) {
	display: none;
}
.m-video-intro-text.m-video-intro-text-long {
	font-size: 48px;
}
.m-video-intro-text.m-video-intro-text-very-long {
	font-size: 44px;
}
.m-video-play {
	border: 3px solid #FFF !important;
	width: 65px !important;
	height: 65px !important;
	background-color: rgba(10,10,10,0.7);
}
.m-video-intro-over {
	margin: auto;
	position: absolute;
	top: auto;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: 25%;
	background: linear-gradient(rgba(145,218,84,0.4), rgba(134,176,100,1));
	visibility: hidden;
}
.m-video-intro-over .m-video-play {
	top: -150%;
	bottom: auto;
	border: 3px solid #FFF;
	width: 46px;
	height: 46px;
}
.m-video-intro-text:nth-child(1){
	color: #FFF;
	font-size: 50px;
	letter-spacing: 2px;
	word-spacing: 0px;
	font-weight: bold;
	left: 16px;
	top: 44%;
}
.m-video-intro-text {
	text-align: left;
	text-shadow: 0px 1px #777;
}
.m-video-intro-text:nth-child(2) {
	display: none;
}

/***** TESTING ****/
.summary_with_video h2 {
	background-color: #93b874;
	color: #fff;
}

.summary_with_video .m-video-play-count-triangle {
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 20px solid #fff;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: -54px;
}

.summary_with_video .m-video-intro-over .m-video-play {
	background-color: #91b673;
	border: none !important;
	width: 74px !important;
	height: 60px !important;
	padding-left: 47px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	font-weight: bold;
}

.summary_with_video .m-video-intro-over {
	background: rgba(0, 0, 0, .3);
	height: 100%;
}

.summary_with_video .m-video-intro {
	display: none;
}

.summary_with_video .m-video-views {
	position: absolute;
	bottom: 0px;
	right: 0;
	padding: 15px 5px;
	color: #fff;
	background-color: #91b673;
}

.summary_with_video .m-video-views:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #91b673;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: skew(-14deg);
	-ms-transform: skew(-14deg);
	transform: skew(-14deg);
	z-index: -1;
}

/***** END TESTING ****/
