.m-video-intro-over {
	position: absolute;
	top: 0;
	z-index: 3;
	width: 100%;
	visibility: hidden;
	background: rgba(0, 0, 0, .3);
	height: 100%;
}
.summary_with_video h2 {
	background-color: #93b874;
	color: #fff;
}

.m-video-play-count-triangle {
    width: 0;
    height: 0;
    border-top: 11px solid rgba(145,182,115,1);
    border-bottom: 11px solid rgba(145,182,115,1);
    border-left: 20px solid #fff;
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 20px;
    background-image: none;
}

.m-video-intro-over .m-video-play {
	border: none !important;
	width: 74px !important;
	height: 60px !important;
	padding-left: 47px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	top: 0;
	bottom: 0;
	font-weight: bold;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	text-align: left;
}
.m-video-intro-over .m-video-play-text {
	background-color: #91b673;
	border-radius: 10px;
	padding-right: 21px;
	padding-left: 47px;
	margin-left: -47px;
	display: inline-block;
}

.m-video::-webkit-media-controls-overlay-play-button {
	display: none;
}
