<div id="{{id}}" class="science_camp_block">
	<div>

		<img class="science_camp_block_img" src="{{img}}" alt="{{img_alt}}" width="{{img_width}}" height="{{img_height}}" />

		<div class="title">{{title}}</div>

		<p>{{{text}}}</p>

		{{#logo}}
		<div class="csc">
			<img src="{{logo}}" alt="California Science Center" width="112" height="43" />
			{{{logo_desc}}}
		</div>
		{{/logo}}

	</div>
</div>