<div id="{{id}}" class="science_camp_tile_section">

	<div class="tile_section_header">
		{{section_header}} <span>({{grades}})</span>
	</div>

	<div class="science_camp_tiles">

		<div class="science_camp_schedule responsive_thumb">

			<div class="schedule_head">
				{{schedule_header}}
				<div class="schedule_subhead">{{grades}}</div>
			</div>

			<table>
				{{#articles}}
				<tr>
					<td class="day">{{day}}</td>
					<td>{{title_short}}</td>
				</tr>
				{{/articles}}
			</table>

		</div>

		{{#articles}}
		<div class="responsive_thumb">
			<div class="tile_day">{{day}}</div>

			<a href="{{url}}">
				{{{image}}}

				<div>
					<span>{{howto}}</span>
					<p>{{title_short}}</p>
				</div>
			</a>

		</div>
		{{/articles}}

	</div>

</div>