@import '../../less/variables.less';

#tips ul:last-of-type {
	margin-bottom: 2em;
}

.addTipHeader {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: .75em;

	div {
		font-size: .75rem;
		font-weight: normal;
		padding-top: 5px;
	}
}

.newtip {
	margin: 0 0 .75em 0;
	border: 1px solid @grayLight;
	padding: .8em;
	border-radius: @borderRadius;
	width: 100%;
	box-sizing: border-box;
}

.addtip {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.tip_waiting {
	display: none;
	background: url(../../../../skins/common/images/spinner.gif) 0 0 ~"/" cover no-repeat;
	width: 1em;
	height: 1em;
	margin: 0 auto;
}

.addTipThanks {
	display: none;
	padding: .8em;
}

@media @medium {
	.addtip {
		max-width: 150px;
	}
}