<h2>Stats</h2>
<p>Total number of trusted sources: {{total_sources}}</p>

<h2>Sources</h2>
<form id="ats-delete-form">
	<table>
		{{#sources}}
			<tr>
				<td><input type="checkbox" id="source{{ts_id}}" name="sourceids" class="sourceids" value="{{ts_id}}"></td>
				<td>{{ts_name}}</td>
				<td>{{ts_source}}</td>
				<td>{{ts_description}}</td>
			</tr>
		{{/sources}}
	</table>
	<input type="submit" value="Delete Sources" />
</form>

<div id="ats_import">
	<form id='ats-upload-form' name='atsUploadForm' enctype='multipart/form-data' method='post' action='/Special:AdminTrustedSources'>
		<input type="hidden" name="action" value="ats_import" />
		<p style="margin-bottom: 10px;">Upload new set of trusted sources.</p>
		<input type="file" id="ats_file" name="ats_file">
	</form>

</div>

<a href="#" id="ats_download" class="button secondary">Download all sources</a>