<span class="ts_popup {{trustedclass}}" style="display: none;">
	<span class="ts_close">X</span>
	{{#trustedclass}}
		<a class="ts_trustworthy" href="/wikiHow:Delivering-a-Trustworthy-Experience">Trustworthy Source</a>

		<span class="ts_name">{{ts_name}}</span>
		<span class="ts_description">{{ts_description}}</span>
		<a href="" class="ts_source" target="_blank">Go to source</a>
	{{/trustedclass}}
	{{^trustedclass}}
		<span class="ts_name">Research source</span>
		<a href="" class="ts_source" target="_blank"></a>
	{{/trustedclass}}
</span>