<span class="ts_popup {{trustedclass}}" hidden id="ts_popup_{{num}}" style="display: none;" >
	<span class="ts_close" {{#isAmp}}on="tap:ts_popup_{{num}}.toggleVisibility" role="button" tabindex="0"{{/isAmp}}>X</span>
	{{#trustedclass}}
		<a class="ts_trustworthy" href="/wikiHow:Delivering-a-Trustworthy-Experience">{{ts_label}}</a>

		<span class="ts_name">{{ts_name}}</span>
		{{#showDescription}}
		<span class="ts_description">{{ts_description}}</span>
		{{/showDescription}}
		<a href="{{#isAmp}}#{{{references}}}{{/isAmp}}{{^isAmp}}#{{/isAmp}}" class="ts_source" {{#isAmp}}on="tap:ts_popup_{{num}}.toggleVisibility{{#expand}}, aii_references_second.show, aiinfo.hide{{/expand}}" role="button" tabindex="0"{{/isAmp}} {{^isAmp}}target="_blank"{{/isAmp}}>{{ts_goto}}</a>
	{{/trustedclass}}
	{{^trustedclass}}
		<span class="ts_name">{{ts_research}}</span>
		<a href="{{#isAmp}}#{{{references}}}{{/isAmp}}{{^isAmp}}#{{/isAmp}}" class="ts_source" {{#isAmp}}on="tap:ts_popup_{{num}}.toggleVisibility{{#expand}}, aii_references_second.show, aiinfo.hide{{/expand}}" role="button" tabindex="0"{{/isAmp}} {{^isAmp}}target="_blank"{{/isAmp}}>{{#isAmp}}{{ts_goto}}{{/isAmp}}</a>
	{{/trustedclass}}
</span>