
<h3>Summary</h3>
<p class="aur_info">{{curatedEligibleLabel}} {{curatedEligible}}</p>
<p class="aur_info">{{totalCuratedLabel}} {{totalCurated}}</p>
<p class="aur_info">{{totalSubmittedLabel}} {{totalSubmitted}}</p>
<p class="aur_info">{{totalStampedLabel}} {{totalStamped}}</p>
<br />
<strong style="font-size: 20px; color: #222;">Reviewers</strong>  <input id="aur_range_from" class="aur_range_input" readonly/> To <input id="aur_range_to" class="aur_range_input" readonly/> <a href="#" id="aur_change_dates" class="button secondary">Get new data</a>
{{> reviewertable }}
<br/>
<h3>Info</h3>
{{{infoMessage}}}