<div id="article_top_message" class="{{homepage}}">
	<a href="#" id="atm_close">✖</a>

	<div>

		<div id="atm_head">{{header}}</div>

		<div id="atm_body">
			{{beginning}}<a href="#" id="atm_more">{{more}}</a><div id="atm_the_rest" class="{{hide_cta}}">{{{the_rest}}}</div>
		</div>

	</div>
</div>