@import '../../less/variables.less';

.qaexperttest_popup {
	border: 1px solid grey;
	padding: 10px;
	position: absolute;
	top: -10px;
	background-color: #fff
	;z-index: 3;
}

.qa_answer.answer {
	position: relative;
}

.qaexperttest_popup {
	input {
		margin-right: 5px;
	}
	label {
		margin-right: 10px;
	}
}

.button.qaexperttest_cta {
	display: inline-block;
	font-size: 12px;
}