<div class="dt_links" id="{{id}}">
	<h4>{{header}}</h4>
	<ul>
		<li><a href="{{summaryId}}">{{firsttab}}</a></li>
		<li><a href="{{full}}">{{secondtab}}</a></li>
		<li><a href="{{qa}}">{{thirdtab}}</a></li>
	</ul>
</div>