#bodycontents {
  background-color: #ffffff;
  padding: 50px 70px;
  background-image: url(/extensions/wikihow/contribute/images/na_bkg.jpg);
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}

.na_header {
  font-weight: bold;
  font-size: 33px;
  line-height: 44px;

  span {
    color: #93b874;
  }
}

.na_subheader {
  font-size: 22px;
  margin-top: 10px;
  line-height: 30px;
}

.na_buttons {
  margin-top: 32px;
}

.na_often {
  padding: 10px 58px;
  font-size: 22px;
  border: 1px solid #93b874;
  display: inline-block;
  color: #545454;

  &.active {
    background-color: #93b874;
    color: #fff;
    font-weight: bold;
  }
}

#na_single {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

#na_annual {
  border-left: none;
  border-top-right-radius: 4x;
  border-bottom-right-radius: 4px;
}

.na_amount {
  border-radius: 20px;
  border: 1px solid #708C5D;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 45px 10px 10px 15px;
  color: #aaaaaa;

  &.active {
    background-color: #93b874;
    color: #fff;
    font-weight: bold;
  }
}

.na_payment {
  color: #ffffff;
  background-color: #93b874;
  padding: 10px 22px;
  margin-top: 45px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
}

#na_koala {
  float: right;
  width: 165px;
  margin-right: 35px;
  margin-top: -10px;
}

#na_soon {
  font-size: 26px;
  margin-top: 15px;
}

.na_amount_error {
  margin-left: 16px;
  color: red;
}