<div class="na_header">
	We don't like ads either.<br />
	<span>But they make wikiHow free</span>. They also<br />
	help us make this place better.
</div>
<div class="na_subheader">
	Why not show wikiHow that you support our mission of teaching anyone in the<br/>
	world how to do anything?
</div>
<img src="/extensions/wikihow/contribute/images/Koala.png" id="na_koala" />
<div class="na_buttons">
	<a href="#" id="na_single" class="na_often">Single</a><a href="#" id="na_monthly" class="na_often active">Monthly</a><a href="#" id="na_annual" class="na_often">Annual</a>
	<br/>
	<a href="#" class="na_amount" data-amount="1">$1</a>
	<a href="#" class="na_amount" data-amount="5">$5</a>
	<a href="#" class="na_amount" data-amount="10">$10</a>
	<a href="#" class="na_amount" data-amount="20">$20</a>
	<a href="#" class="na_amount" data-amount="50">$50</a>
	<a href="#" class="na_amount" data-amount="100">$100</a>
	<div class="na_amount_error" style="display: none;">Please select an amount.</div>
</div>

<a href="#" class="na_payment">Select payment method</a>
<div id="na_soon" style="display: none;">Thank you so much for your interest in supporting the work we're doing at wikiHow with a contribution. We're testing this feature and it may be coming soon. <a href="/Main-Page">Explore more of wikiHow</a></a></div>
