<div id="altdomain_container">
	<div id="hp_articles" class="hp_narrow">
		<h3><img src="/extensions/wikihow/homepage/images/featured.svg" loading="lazy" />{{hp_all_header}}</h3>
		<div id="hp_articles_container">
			{{#all_items}}
				{{> responsive_thumb.mustache}}
			{{/all_items}}
		</div>
	</div>

	{{#showTrustworthy}}
		{{> responsive_trustworthy.mustache }}
	{{/showTrustworthy}}
</div>