<div class="hp_thumb {{#hp_noprefix}}hp_noprefix{{/hp_noprefix}}">
	{{#isExpert}}
		<div class="hp_expert">{{expertLabel}}</div>
	{{/isExpert}}
	<a href="{{url}}">
		{{#isVideo}}
			<img src="/extensions/wikihow/homepage/images/play.png" loading="lazy" class="play_button" />
		{{/isVideo}}
		{{#needsCrop}}<figure>{{/needsCrop}}
			{{{image}}}
		{{#needsCrop}}</figure>{{/needsCrop}}
		<div>
			<span>{{howto}}</span>
			<p>{{title}}</p>
		</div>
	</a>
</div>