<div id="hp_trustworthy">
	<div class="hp_narrow">
		<h2>wikiHow is where trusted research and expert knowledge come together.</h2>
		<p>Since 2005, wikiHow has helped billions of people to learn how to solve problems large and small. We work with credentialed experts, a team of trained researchers, and a devoted community to create the most reliable, comprehensive and delightful how-to content on the Internet.</p>
		<ul>
			<li><span><img src="/extensions/wikihow/homepage/images/writers.png" loading="lazy" /></span><p><strong>Authoritative</strong><br />90,000 academically researched articles</p></li>
			<li><span><img src="/extensions/wikihow/homepage/images/expert.png" loading="lazy" /></span><p><strong>Trustworthy</strong><br />500 expert co-authors across 30,000 articles</p></li>
		</ul>
		<a href="{{trustworthyLink}}">{{hp_trustworthy_cta}}</a>
		<div class="clearall"></div>
	</div>
</div>