<div id="hp_trustworthy">
	<div class="hp_narrow">
		<h2>{{hp_trustworthy_header}}</h2>
		<p>{{hp_trustworthy_text1}}</p>
		<ul>
			<li><span><img src="/extensions/wikihow/homepage/images/writers.png" loading="lazy" /></span><p>{{{hp_trustworthy_text2}}}</p></li>
			<li><span><img src="/extensions/wikihow/homepage/images/expert.png" loading="lazy" /></span><p>{{{hp_trustworthy_text3}}}</p></li>
		</ul>
		<a href="{{trustworthyLink}}">{{hp_trustworthy_cta}}</a>
		<div class="clearall"></div>
	</div>
</div>