<div id="hp_coauthor" class="hp_narrow">
	<h3><img src="/extensions/wikihow/homepage/images/coauthor2.svg" loading="lazy" />{{hp_coauthor_header}}</h3>
	<div id="hp_coauthor_container">
		{{#coauthor_items}}
			{{> responsive_thumb.mustache}}
		{{/coauthor_items}}
	</div>
</div>
<div id="hp_popular" class="hp_narrow">
	<h3><img src="/extensions/wikihow/homepage/images/popular2.svg" loading="lazy" />{{hp_popular_header}}</h3>
	<div id="hp_popular_container">
	{{#popular_items}}
		{{> responsive_thumb.mustache}}
	{{/popular_items}}
	</div>
</div>

{{> responsive_trustworthy.mustache }}

<div class="hp_narrow">
	<div id="hp_featured">
		<h3><img src="/extensions/wikihow/homepage/images/featured2.svg" loading="lazy" />{{hp_featured_header}}</h3>
		<div id="hp_featured_container">
			{{#featured_items}}
				{{> responsive_thumb.mustache}}
			{{/featured_items}}
		</div>
		<a href="/Category:Featured-Articles" class="hp_button">See more</a>
	</div>

	<div id="hp_categories">
		<h3><img src="/extensions/wikihow/homepage/images/categories2.svg" loading="lazy" />{{hp_cat_header}}</h3>
		<ul id="hp_categories_list">
			{{#categories}}
				<li class="cat_icon">
					<a href="{{link}}"><img src="{{icon}}" loading="lazy" />{{name}}</a>
				</li>
			{{/categories}}
		</ul>
	</div>

	<div id="hp_languages">
		<h3><img src="/extensions/wikihow/homepage/images/international2.svg" loading="lazy" />{{hp_lang_header}}</h3>
		<div id="hp_lang_list">
			{{#languages}}
				{{{.}}}
			{{/languages}}
		</div>
	</div>

	<div id="hp_newsletter">
		<h3><img src="/extensions/wikihow/homepage/images/newsletter2.svg" loading="lazy" />{{hp_newsletter_header}}</h3>
		<div id="hp_newsletter_container">
			<img src="/extensions/wikihow/homepage/images/newsletter.png" loading="lazy" />
			<h4>Subscribe to wikiHow's Newsletter</h4>
			<p>Helpful how-to’s delivered to your inbox every week!</p>
			<a href="{{{newsletter_url}}}" target="_blank" class="hp_button">Sign me up!</a>
		</div>
	</div>
</div>

<div id="hp_news">
	<div class="hp_narrow">
		<h2>We make learning easy with helpful, approachable instructions. People agree.</h2>
		<a href="/wikiHow:About-wikiHow">Read our story.</a>
		<div id="hp_news_container">
			<div id="hp_news2">
				<img src="/extensions/wikihow/homepage/images/atlantic.png" loading="lazy" />
				<span><strong>The Atlantic</strong> on<br /> November 11, 2019</span>
				<p class="news_quote">"wikiHow may be the largest commercial platform in existence that hasn’t been accused of exploiting its users."</p>
				<p class="news_author">- Kaitlyn Tiffany<br />&nbsp;&nbsp;Technology Writer, <i>The Atlantic</i></p>
			</div>
			<div id="hp_news1">
				<img src="/extensions/wikihow/homepage/images/vice.png" loading="lazy" />
				<span><strong>Vice</strong> on<br /> November 12, 2019</span>
				<p class="news_quote">"I've been yelling for a while about how wikiHow is doing the best consistent service journalism on the web right now."</p>
				<p class="news_author">- Rachel Miller<br />&nbsp;&nbsp;Deputy Editor, <i>Vice</i></p>
			</div>
			<div id="hp_news3">
				<img src="/extensions/wikihow/homepage/images/wired.png" loading="lazy" />
				<span><strong>Wired UK</strong> on<br /> March 2, 2019</span>
				<p class="news_quote">"[wikiHow] has become the internet’s answer to almost every question."</p>
				<p class="news_author">- Nicole Kobie<br />&nbsp;&nbsp;Contributing Editor, <i>Wired UK</i></p>
			</div>
		</div>
	</div>
</div>

<div id="hp_watch" class="hp_narrow">
	<h3><img src="/extensions/wikihow/homepage/images/watch2.svg" loading="lazy" />{{hp_watch_header}}<a href="/Video" class="more_link">See more <img src="/extensions/wikihow/homepage/images/more.png" /></a></h3>
	<div id="hp_watch_container">
		{{#watch_items}}
			{{> responsive_thumb.mustache}}
		{{/watch_items}}
		<a href="/Video" class="hp_button">See more</a>
	</div>
</div>

{{#hasExpert}}
<div id="hp_expert" class="hp_narrow">
	<h3><img src="/extensions/wikihow/homepage/images/expert2.svg" loading="lazy" />{{hp_expert_header}}<a target="_blank" href="https://www.youtube.com/playlist?list=PLrxlAuU-npiVD1CImGZzzPlZf18HFSSuW" class="more_link">See more <img src="/extensions/wikihow/homepage/images/more.png" /></a></h3>
	<div id="hp_expert_container">
		{{#expert_items}}
			{{> responsive_thumb.mustache}}
		{{/expert_items}}
		<a target="_blank" href="https://www.youtube.com/playlist?list=PLrxlAuU-npiVD1CImGZzzPlZf18HFSSuW" class="hp_button">See more</a>
	</div>
</div>
{{/hasExpert}}
