<div id="hp_container_outer" class="{{classes}}">
	<div id="hp_container_inner">
		{{#useAltTopImage}}
			<img src="/extensions/wikihow/homepage/images/fun-bkg.png" loading="lazy" id="hp_blob_fun" />
		{{/useAltTopImage}}
		{{^useAltTopImage}}
		<picture>
			<source type="image/webp" srcset="/extensions/wikihow/homepage/images/books3.webp 582w, /extensions/wikihow/homepage/images/books2.webp 1164w" sizes="(max-width: 728px) 290px" />
			<source type="image/png" srcset="/extensions/wikihow/homepage/images/books3.png 582w, /extensions/wikihow/homepage/images/books2.png 1164w" sizes="(max-width: 728px) 290px" />

			<img src="/extensions/wikihow/homepage/images/books2.png" loading="lazy" id="hp_books" />
		</picture>
		{{/useAltTopImage}}
		<h1>{{hp_question}}</h1>
		<p>{{topText}}</p>

		<div class="search">
			<form action="/wikiHowTo" id="cse-search-box" _lpchecked="1">
				<div>
					<label for="hp_search" id="hp_search_label"></label>
					<input type="text" id="hp_search" name="search" value="" x-webkit-speech="" placeholder="{{searchPlaceholder}}">
					<input type="submit" value="" class="cse_sa" alt="">
				</div>
			</form>
		</div>
	</div>
</div>