
.ddt_content {
  margin: 0 15px;
  font-size: 1.15em;
}

#ddt_question_count {
  float: right;
}

.ddt_content {
  margin: 0;
}

#ddt_options {
  margin-top: 30px;
  margin-bottom: 12px;
}

#ti_icon {
  margin-top: -25px;
}

.ddt_title {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0 0 0;
}

.stable .content .ddt_question {
  margin-top: 15px;
  margin-bottom: 0;
}

.content .button.ddt_button {
  padding: 17px 0px;
  font-size: 1.2em;
  width: 29%;
  max-width: 150px;
  margin-right: 5px;
}

#ddt_yes, #ddt_no {
  float:right;
}

#ddt_yes {
  margin-right: 0;
}

#ddt_back, #ddt_forward {
  float: left;
  display: none;
}

#ddt_yes.disabled, #ddt_no.disabled, #ddt_maybe.disabled {
  background-color: #f3f3f3;
}

#ddt_info {
  display: none;
}

#ddt_vote_info {
  clear: both;
  display: none;
  text-align: right;
  padding-top: 10px;
  font-size: 14px;
}

#ddt_error {
  display: none;
}

#footer {
  display: none !important;
}

#section_0.special_title {
  margin-bottom: 0px !important;
}

.wh_block, #intro {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#ddt_remaining {
  float: right;
  margin-top: -37px;
  font-size: 11px;
}

#ddt_remaining span {
  font-size: 33px;
  font-weight: bold;
}