<div class="ddt_body">
	<div class="ddt_content">
		<p id="ddt_question_count"><span id="ddt_count1"></span> of <span id="ddt_count2"></span></p>
		<p class="ddt_question">Do these two article titles mean <strong>exactly</strong> the same thing?</p>
		<div class="ddt_title" id="ddt_title_1">
		</div>
		<div class="ddt_title" id="ddt_title_2">
		</div>
	</div>
	<span id="ddt_info"></span>


	<div id="ddt_options">
		<a href="#" id="ddt_yes" class="ddt_button button primary disabled">Yes, they're duplicates</a>
		<a href="#" id="ddt_no" class="ddt_button button secondary disabled">No, they're different</a>
		<a href="#" id="ddt_back" class="ddt_button button secondary disabled">Back</a>
		<a href="#" id="ddt_forward" class="ddt_button button secondary disabled">Forward</a>
	</div>
	<div class="clearall"></div>
	<p id="ddt_vote_info">Your vote was <strong>No, they're different</strong>. Click above to change it.</p>
	<div class="spinner"></div>
</div>
<div id="ddt_error">
	There is nothing left to process. Please try back later.
</div>