{{>tabs}}

<p id="ae_intro">
    Input search page URLs that shouldn't have ads on them, like
    <i>'https://www.wikihow.it/wikiHowTo?search=fumare+una+sigaretta'</i>.
</p>

<textarea id="ae_input_area"></textarea>
<button id="ae_btn_add"class="button primary">Add queries</button>
<button id="ae_btn_get" class="button secondary">Get all queries</button>
<button id="ae_btn_del" class="button secondary">Delete all queries</button>

<div id="ae_results"></div>
