<div id="ae_tabs">
	Exclude:
	<a class="{{articlesLinkClass}}" href="/Special:AdminAdExclusions/articles">articles</a> or
	<a class="{{searchLinkClass}}" href="/Special:AdminAdExclusions/search">search queries</a>
</div>

<hr>

