.spa_stats {
	padding-top: 5px;
	padding-bottom: 5px;
}
.spa_section {
	margin-bottom: 2px;
}
.spa_sectioncontents {
    margin: 2px;
}
.spa_buttonlarge {
    padding: 4px 10px;
	margin:5px 5px;
	width: 6%;
}
#spa_results {
	word-break: break-word;
}
