@import '../less/variables.less';

.expert_advice_section {

	.ar_avatar,
	.ar_initials {
		float: left;
		margin-right: 10px;
		position: static;
	}

	.ar_initials {
		box-sizing: border-box;
		line-height: 2.1em;
	}

	.expert_advice_name {
		font-size: 12px;
		a {
			color: #545454;
		}
	}

	.expert_advice_info {
		border-top: 1px solid #eaecf0;
		padding-top: 10px;
	}

	.expert_advice_label {
		font-size: 12px;
		color: #808080;
	}

	ul {
		list-style: none;

		li:before {
			content: '';
			width: 9px;
			height: 9px;
			position: absolute;
			background: #93B874;
			margin: 6px 0 0 -16px;
			border-radius: 2px;
		}
	}

	&#expertqampa {
		li:before {
			background-image: url(star_circle.svg);
		}
	}
}

@media @medium {
	.expert_advice_section {
		.expert_advice_name {
			font-size: 15px;
		}

		.expert_advice_label {
			font-size: 14px;
		}
	}

	.expertadvice .altblock {
		background: #93b874 url(/extensions/wikihow/socialproof/icon_expert_advice.svg) center / 32px no-repeat;
	}
}