.expert_advice_section {

	.ar_avatar,
	.ar_initials {
		float: left;
		margin-right: 10px;
		position: static;
	}

	.ar_initials {
		box-sizing: border-box;
		line-height: 2.1em;
	}

	.expert_advice_name {
		font-size: 1.1em;
		color: #222;
	}

	.expert_advice_label {
		font-size: .9em;
	}

	ul {
		list-style: none;

		li:before {
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			background: url(../WikihowLogin/images/check.svg) center / cover no-repeat;
			margin: 3px 0 0 -25px;
		}
	}

	&#expertqampa {
		li:before {
			background-image: url(star_circle.svg);
		}
	}
}