<div id="bible_citation_widget" class="section {{desktop_class}}">
	<h2>
		<div class="altblock"></div>
		<span class="mw-headline">{{header}}</span>
	</h2>

	<div class="section_text">
		<div id="bible_citation_notification" style="display:none"></div>

		<form>
			<div>
				<span>{{format}}:</span>
				<select id="bcw_format" name="format">
				{{#formats}}<option value="{{option}}">{{option}}</option>{{/formats}}
				</select>
			</div>

			<div>
				<span>{{section}}:</span>
				<select id="bcw_section" name="section">
				{{#sections}}<option value="{{option}}">{{option}}</option>{{/sections}}
				</select>
			</div>

			<div id="bcw_book_title">
				<span>{{title}}:</span>
				<input id="bcw_title" name="title" type="text" />
			</div>

			<div id="bcw_publication">
				<span>{{publication}}:</span>
				<div>
					<input id="bcw_publisher" name="publisher" type="text" placeholder="{{publisher_ph}}" />
					<input id="bcw_city" name="city" type="text" placeholder="{{city_ph}}" />
					<input id="bcw_year" name="year" type="text" placeholder="{{year_ph}}" />
				</div>
			</div>

			<div id="bcw_optional">
				<span>{{optional}}:</span>
				<div id="bcw_edition_tip" style="display: none;">{{edition_tip}}</div>
				<div class="question_mark" style="display:none"></div>
				<div>
					<input id="bcw_edition" name="edition" type="text" placeholder="{{edition_ph}}" />
					<input id="bcw_volume" name="volume" type="text" placeholder="{{volume_ph}}" />
				</div>
			</div>

			<div id="bcw_submit">
				<button type="submit" class="button primary">{{submit}}</button>
			</div>
		</form>

		<div id="bible_citation_result" class="section_text" style="display:none">
			<div id="bible_citation_string" contenteditable="true"></div>
			<span id="bible_citation_message"></span>
			<div id="bible_citation_result_buttons">
				<button id="bible_citation_copy" class="button primary">{{copy}}</button>
				<button id="bible_citation_create" class="button secondary">{{create}}</button>
			</div>
		</div>
	</div>
</div>

<script id="bible_citation" type="text/x-handlebars-template">
	{{bible_citation}}
</script>
