{{#MLA8}}
	<i>{{title}}</i>. {{#optionals}}{{optionals}}, {{/optionals}}{{publisher}}, {{year}}.
{{/MLA8}}
{{#APA}}
	{{^entire}}{{#section}}{{section}}. {{/section}}({{year}}). In {{/entire}}<i>{{title}}</i>{{#optionals}} ({{optionals}}){{/optionals}}. {{#entire}}({{year}}). {{/entire}}{{#city}}{{city}}: {{/city}}{{publisher}}.
{{/APA}}