<form id="images-resize" method="post" action="/Special:AdminCopyCheck">
<div style="font-size: 16px; letter-spacing: 2px; margin-bottom: 15px;">
	Admin Copy Check
</div>

<h3>Copy check articles</h3>
<div style="font-size: 13px; margin: 20px 0 7px 0;">
	Enter a list of URLs such as <code style="font-weight: bold;">https://www.wikihow.com/Be-a-Ninja</code> to process.<br />
	One per line.
</div>
<textarea id="pages-list" name="pages-list" type="text" rows="10" cols="70"></textarea><br/>
<button id="pages-go" disabled="disabled" style="padding: 5px;">process</button><br/>
<br/>
<div id="pages-result">
</div>
</form>
