.tr_box {
	display: inline-block;
	height: 20px;
	line-height: normal;
	color: #cdcdcc;
	margin: 5px 2px;
	padding: 10px 2px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	width: 29%;
}

.tr_prompt {
	width: 29%;
}

/*
.tr_box img {
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
*/

.trvote_box {
	text-align: center;
	vertical-align: middle;
	max-width: 301px;
}

.trvote_box .thumb, .content .trvote_box .thumb {
	/*background-image: url(/skins/WikiHow/images/thumb_sprite.png);*/
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTQuMzA3cHgiIGhlaWdodD0iNDUuNjFweCIgdmlld0JveD0iMCAwIDU0LjMwNyA0NS42MSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTQuMzA3IDQ1LjYxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik00LjQzOCwyMC43MTNjLTAuMDU4LDAuMDczLTAuMTEzLDAuMTQ1LTAuMTY3LDAuMjE2QzQuMzc1LDIwLjgxMyw0LjQzNCwyMC43MjEsNC40MzgsMjAuNzEzeiIvPg0KCTxwYXRoIGZpbGw9IiNDRENEQ0QiIGQ9Ik0yLjY3NCwyMS4zMTNjMC44MiwwLjMwNCwxLjM1LTAuMTA1LDEuNTk5LTAuMzg0YzAuMDU0LTAuMDcxLDAuMTA5LTAuMTQzLDAuMTY3LTAuMjE2bDAuMDAzLTAuMDA0aDAuMDAxDQoJCWMwLjkxNy0xLjE4NywzLjE2My0zLjc3MSw0LjU0Ni01YzEuNDE4LTEuMjYxLDUuMjM2LTMuMzUxLDUuMjM2LTQuNTc2VjMuMDY2QzE0LjIyNCwxLjU1NywxMC42MzEsMCw0LjgzOCwwDQoJCUMxLjUwOSwwLTAuMzk5LDkuNjYyLDAuMDcxLDExLjdjMC40MDIsMS43NDIsNC43OTYsMS4zNjQsNC45ODQsMS43NDFjMC4xMDMsMC4zMTItMy4xMTQsNC4xNTUtMy4zNiw2LjUyNA0KCQlDMS42ODIsMjAuNDQsMS44NTEsMjEuMDEsMi42NzQsMjEuMzEzeiIvPg0KCTxwb2x5Z29uIGZpbGw9IiM1RDVENUQiIHBvaW50cz0iNC40MzgsMjAuNzEzIDQuNDQxLDIwLjcwOSA0LjQ0MSwyMC43MDkgCSIvPg0KCTxwYXRoIGZpbGw9IiNDRENEQ0QiIGQ9Ik0xNS44NDcsMi43NzFjMC4xNDEsMC4zMzEsMC4yMzcsMC43MiwwLjIzNywxLjE3NHYzLjQzMXYzLjQyOWMwLDAuNDU2LTAuMDk4LDAuODQzLTAuMjM3LDEuMTc0DQoJCWMtMC4wMDEsMC4wMDIsMC4wMDIsMC4wMDQsMC4wMDEsMC4wMDZjLTAuMDk4LDAuMjYtMC4zNjYsMC42NDIsMCwxLjA1M2MwLjI2NywwLjMsMC42NTksMC4xNjMsMC44NTQsMC4wNjQNCgkJYzAuODg5LTAuNDgxLDEuNzQxLTEuNDE4LDEuNzQxLTMuMTkxVjcuMzc0VjQuODQxYzAtMS43NzUtMC44NTQtMi43MS0xLjc0MS0zLjE5M2MtMC4xOTUtMC4wOTYtMC41ODktMC4yMzItMC44NTQsMC4wNjYNCgkJYy0wLjM2NiwwLjQxMS0wLjA5OCwwLjc5MywwLDEuMDUxQzE1Ljg0OSwyLjc2OCwxNS44NDcsMi43NjksMTUuODQ3LDIuNzcxeiIvPg0KPC9nPg0KPGc+DQoJPHBhdGggZmlsbD0ibm9uZSIgZD0iTTQ5Ljg3NywwLjcwNmMwLjA1OC0wLjA3MywwLjExMy0wLjE0NiwwLjE2Ni0wLjIxNUM0OS45MzksMC42MDcsNDkuODgxLDAuNjk5LDQ5Ljg3NywwLjcwNnoiLz4NCgk8cGF0aCBmaWxsPSIjQ0RDRENEIiBkPSJNNTEuNjM3LDAuMTA3Yy0wLjgxOC0wLjMwMy0xLjM0NiwwLjEwNS0xLjU5NiwwLjM4NWMtMC4wNTMsMC4wNjktMC4xMDgsMC4xNDItMC4xNjYsMC4yMTVMNDkuODczLDAuNzFsMCwwDQoJCWMtMC45MTYsMS4xODMtMy4xNTgsMy43NjQtNC41MzksNC45OTJjLTEuNDE2LDEuMjU5LTUuMjI4LDMuMzQ0LTUuMjI4LDQuNTY2djguMDU1YzAsMS41MDYsMy41ODYsMy4wNjEsOS4zNywzLjA2MQ0KCQljMy4zMjMsMCw1LjIyOS05LjY0Niw0Ljc1OS0xMS42OGMtMC40MDEtMS43NDEtNC43ODYtMS4zNjMtNC45NzctMS43NGMtMC4xMDQtMC4zMTEsMy4xMDktNC4xNDcsMy4zNTQtNi41MTMNCgkJQzUyLjYyOSwwLjk3OCw1Mi40NTksMC40MSw1MS42MzcsMC4xMDd6Ii8+DQoJPHBvbHlnb24gZmlsbD0iIzVENUQ1RCIgcG9pbnRzPSI0OS44NzcsMC43MDYgNDkuODczLDAuNzEgNDkuODc1LDAuNzEgCSIvPg0KCTxwYXRoIGZpbGw9IiNDRENEQ0QiIGQ9Ik0zOC40ODgsMTguNjE2Yy0wLjE0Mi0wLjMzLTAuMjQtMC43MTgtMC4yNC0xLjE3M3YtMy40MjJ2LTMuNDI0YzAtMC40NTYsMC4xLTAuODQyLDAuMjQtMS4xNzINCgkJYzAtMC4wMDItMC4wMDMtMC4wMDQtMC4wMDItMC4wMDZjMC4wOTYtMC4yNTgsMC4zNjUtMC42MzksMC0xLjA0OWMtMC4yNjYtMC4yOTktMC42Ni0wLjE2Mi0wLjg1NC0wLjA2Ng0KCQljLTAuODg5LDAuNDgzLTEuNzM4LDEuNDE2LTEuNzM4LDMuMTg4djIuNTI4djIuNTI3YzAsMS43NzEsMC44NTEsMi43MDUsMS43MzYsMy4xODhjMC4xOTUsMC4wOTcsMC41OSwwLjIzMiwwLjg1NC0wLjA2NQ0KCQljMC4zNjUtMC40MSwwLjA5Ny0wLjc5MSwwLTEuMDQ5QzM4LjQ4NSwxOC42MiwzOC40ODgsMTguNjE4LDM4LjQ4OCwxOC42MTZ6Ii8+DQo8L2c+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjOTNCODc0IiBkPSJNNDkuODc4LDIzLjc5OGMwLjA1Ny0wLjA3MywwLjExMy0wLjE0NiwwLjE2Ni0wLjIxNUM0OS45NCwyMy42OTksNDkuODgyLDIzLjc5MSw0OS44NzgsMjMuNzk4eiIvPg0KCTxwYXRoIGZpbGw9IiM5M0I4NzQiIGQ9Ik01MS42MzcsMjMuMTk5Yy0wLjgxOC0wLjMwMy0xLjM0NCwwLjEwNS0xLjU5NCwwLjM4NGMtMC4wNTMsMC4wNy0wLjEwOSwwLjE0Mi0wLjE2NiwwLjIxNWwtMC4wMDQsMC4wMDQNCgkJbDAsMGMtMC45MTYsMS4xODMtMy4xNTgsMy43NjQtNC41NCw0Ljk5MmMtMS40MTUsMS4yNTktNS4yMjgsMy4zNDQtNS4yMjgsNC41Njd2OC4wNTRjMCwxLjUwNywzLjU4NiwzLjA2MSw5LjM3MSwzLjA2MQ0KCQljMy4zMjQsMCw1LjIyOS05LjY0Niw0Ljc1OC0xMS42OGMtMC40LTEuNzQxLTQuNzg1LTEuMzYzLTQuOTc1LTEuNzRjLTAuMTA0LTAuMzEsMy4xMDktNC4xNDcsMy4zNTQtNi41MTMNCgkJQzUyLjYzLDI0LjA3MSw1Mi40NiwyMy41MDIsNTEuNjM3LDIzLjE5OXoiLz4NCgk8cG9seWdvbiBmaWxsPSIjOTNCODc0IiBwb2ludHM9IjQ5Ljg3OCwyMy43OTggNDkuODc0LDIzLjgwMiA0OS44NzYsMjMuODAyIAkiLz4NCgk8cGF0aCBmaWxsPSIjOTNCODc0IiBkPSJNMzguNDg4LDQxLjcwOWMtMC4xNDItMC4zMzEtMC4yMzktMC43MTctMC4yMzktMS4xNzJ2LTMuNDIzdi0zLjQyNGMwLTAuNDU2LDAuMDk4LTAuODQyLDAuMjM5LTEuMTcyDQoJCWMwLTAuMDAyLTAuMDAzLTAuMDA0LTAuMDAxLTAuMDA2YzAuMDk2LTAuMjU4LDAuMzY1LTAuNjM5LDAtMS4wNDljLTAuMjY2LTAuMjk5LTAuNjYtMC4xNjItMC44NTQtMC4wNjYNCgkJYy0wLjg4OCwwLjQ4My0xLjczOSwxLjQxNi0xLjczOSwzLjE4OHYyLjUyOHYyLjUyN2MwLDEuNzcyLDAuODUyLDIuNzA1LDEuNzM4LDMuMTg4YzAuMTk0LDAuMDk2LDAuNTg4LDAuMjMyLDAuODU0LTAuMDY2DQoJCWMwLjM2NS0wLjQxLDAuMDk3LTAuNzkxLDAtMS4wNDlDMzguNDg1LDQxLjcxMywzOC40ODgsNDEuNzExLDM4LjQ4OCw0MS43MDl6Ii8+DQo8L2c+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjQ0M4OTY5IiBkPSJNNC40MzgsNDMuMmMtMC4wNTcsMC4wNzMtMC4xMTMsMC4xNDUtMC4xNjcsMC4yMTZDNC4zNzQsNDMuMyw0LjQzNCw0My4yMDgsNC40MzgsNDMuMnoiLz4NCgk8cGF0aCBmaWxsPSIjQ0M4OTY5IiBkPSJNMi42NzMsNDMuOGMwLjgyLDAuMzAzLDEuMzQ5LTAuMTA2LDEuNTk4LTAuMzg0YzAuMDU0LTAuMDcxLDAuMTEtMC4xNDMsMC4xNjctMC4yMTZsMC4wMDMtMC4wMDRoMC4wMDENCgkJYzAuOTE3LTEuMTg2LDMuMTYzLTMuNzcxLDQuNTQ2LTVjMS40MTgtMS4yNjEsNS4yMzYtMy4zNSw1LjIzNi00LjU3NnYtOC4wNjdjMC0xLjUwOS0zLjU5NC0zLjA2NS05LjM4Ny0zLjA2NQ0KCQljLTMuMzI5LDAtNS4yMzYsOS42NjItNC43NjcsMTEuN2MwLjQwMiwxLjc0Myw0Ljc5NiwxLjM2NSw0Ljk4NCwxLjc0MmMwLjEwMywwLjMxMi0zLjExNCw0LjE1NS0zLjM2LDYuNTI0DQoJCUMxLjY4Miw0Mi45MjcsMS44NTEsNDMuNDk3LDIuNjczLDQzLjh6Ii8+DQoJPHBvbHlnb24gZmlsbD0iI0NDODk2OSIgcG9pbnRzPSI0LjQzOCw0My4yIDQuNDQxLDQzLjE5NyA0LjQ0MSw0My4xOTcgCSIvPg0KCTxwYXRoIGZpbGw9IiNDQzg5NjkiIGQ9Ik0xNS44NDcsMjUuMjU4YzAuMTQxLDAuMzMxLDAuMjM4LDAuNzE5LDAuMjM4LDEuMTc0djMuNDN2My40MjljMCwwLjQ1Ni0wLjA5OCwwLjg0My0wLjIzOCwxLjE3NA0KCQljLTAuMDAxLDAuMDAyLDAuMDAyLDAuMDA0LDAuMDAxLDAuMDA2Yy0wLjA5NywwLjI1OS0wLjM2NiwwLjY0MSwwLDEuMDUyYzAuMjY3LDAuMywwLjY2LDAuMTYzLDAuODU1LDAuMDY1DQoJCWMwLjg4OS0wLjQ4MiwxLjc0MS0xLjQxOCwxLjc0MS0zLjE5MnYtMi41MzN2LTIuNTMzYzAtMS43NzUtMC44NTMtMi43MS0xLjc0MS0zLjE5M2MtMC4xOTUtMC4wOTYtMC41ODktMC4yMzMtMC44NTUsMC4wNjYNCgkJYy0wLjM2NiwwLjQxMS0wLjA5NywwLjc5MywwLDEuMDUxQzE1Ljg0OSwyNS4yNTUsMTUuODQ3LDI1LjI1NiwxNS44NDcsMjUuMjU4eiIvPg0KPC9nPg0KPC9zdmc+DQo=);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	/* these are needed to override minerva skin on mobile */
	margin: 0;
	border:none;
	background-color: inherit;
}

.vote_up {
	text-align: right;
	width: auto;
}

.vote_down {
	text-align: left;
}

.vote_down .thumb, .content .vote_down .thumb {
	margin-right: 10px;
}
.vote_up .thumb, .content .vote_up .thumb {
	background-position: -35px 0;
	margin-top:-5px;
	margin-left: 10px;
}

.tr_vote {
	color: #cdcdcc;
	vertical-align: top;
}

.trvote_box span {
	display: inline-block;
}

.vote_down span.tr_vote {
	margin-right: 5px;
}

.vote_up span.tr_vote {
	margin-left: 5px;
}

.clicked.vote_up .thumb, .content .clicked.vote_up .thumb {
	background-position: -35px -23px;
}

.clicked.vote_up .tr_vote {
	color: #93b874;
}

.clicked.vote_down .thumb, .content .clicked.vote_down .thumb {
	background-position: 0 -23px;
}

.clicked.vote_down .tr_vote {
	color: #cc8969;
}

.up_nodisplay { margin-left: 18px; }
.down_nodisplay { margin-right: 18px; }
.nodisplay { visibility: hidden; }

.trvote_box {
	margin-top: -5px;
	margin-bottom: 5px;
}



.tr_vote_small {
	font-size: 0.83em;
}

.tr_vote_vsmall {
	font-size: 0.75em;
}

.ar_box, .section_text.ar_box {
	max-width: 150px;
	color: #cdcdcc;
	padding: 0px;
}

.ar_box_vote {
	float:left;
	width: 49%;
	text-align:center;
	margin-top:8px;
}

.ar_box_vote:active {
	color: #606060;
}

.ar_box_line {
	float:left;
	border-left: 1px solid;
	height:40px;
}

.thumb.ar_thumb, .content .thumb.ar_thumb {
	display: inline-block;
	margin: 0;
}

.ar_box .ar_thumb_text {
	display: inline-block;
	vertical-align:top;
}
.vote_down .thumb.ar_thumb, .content .vote_down .thumb.ar_thumb {
	margin-top:3px;
}

.vote_up .thumb.ar_thumb, .content .vote_up .thumb.ar_thumb {
	margin-top:-2px;
}

.ar_box_vote.vote_up:active > .ar_thumb {
	background-position: -35px -22px;
}
.ar_box_vote.vote_down:active > .ar_thumb {
	background-position: 0px -22px;
}

.article_rating_result2 {
	color: #606060;
	padding:15px;
}
.article_rating_result {
	color: #606060;
	padding:15px;
	font-weight: initial;
}

#article_rating_mobile {
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
}

#article_rating_mobile h2 { padding-top: 0; }
#article_rating_mobile .mw-headline {
	font-weight: normal;
	font-size: 22px;
}
#article_rating_mobile #article_rating {
	font-weight: bold;
	color: #93b874;
}
#article_rating_mobile .ar_face {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}
#article_rating_mobile .vote_up .ar_face {
	background-image: url(../Rating/images/face_smile.png);
	/* @embed */
	background-image: url(../Rating/images/face_smile.svg);
}
#article_rating_mobile .vote_down .ar_face {
	background-image: url(../Rating/images/face_sad.png);
	/* @embed */
	background-image: url(../Rating/images/face_sad.svg);
}

.ar_box{
	margin: 0 auto;
}
#article_accuracy_form textarea {
	width:95%;
	border: 2px solid #dadcda;
	margin: 5px;
}
.ar_line {
	width:100%;
	border-top:1px solid #E5E5E5;
	margin:10px 0;
}
.rating_submit.button.primary{
	float: right;
	margin-top:10px;
	margin-right:3px;
	font-size:1em;
}
#article_accuracy_form {
	overflow:hidden;
}

#article_rating_more input[type="radio"] {
	margin-right:0.5em;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: none;
}
#article_rating_more input[type="radio"]:checked {
	background: #222;
}

#article_rating_feedback {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:1em;
	padding:7px;
	border: 2px solid #dadcda;
	display: block;
	margin: 5px auto;
	margin-bottom: 5px;
	width: 100%;
	height:6em;
}

.article_rating_detail {
	display:block;
	font-size:1em;
	text-align:left;
	margin:7px auto;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
#article_rating_input {
	width:75%;
	margin: 0 auto;
	min-width: 273px;
	max-width: 600px;
}
#article_rating_more {
	display: inline-block;
	margin: 10px auto;
	width:100%;
}

@media only screen and (max-width: 400px) {
	.article_rating_detail {
		font-size:0.85em;
	}

	#article_rating_mobile, #article_rating_mobile .mw-headline {
		font-size: 18px;
	}

	#article_rating_mobile .ar_face {
		width: 30px;
		height: 30px;
	}
}
