<div id="editpage_quick_tips" class="sidebox">
	<div id="epqt_hdr">{{epqt_hdr_msg}}</div>
	{{^is_adv}}
	<div class="epqt_quicktip" id="epqt_part">
		{{epqt_part_msg}}
		<div class="epqt_img"></div>
	</div>
	{{/is_adv}}
	<div class="epqt_quicktip" id="epqt_step">
		{{epqt_step_msg}}
		<div class="epqt_img"></div>
	</div>
	<div class="epqt_quicktip" id="epqt_bullets">
		{{epqt_bullets_msg}}
		<div class="epqt_img"></div>
	</div>
	<div class="epqt_quicktip" id="epqt_tips">
		{{epqt_tips_msg}}
		<div class="epqt_img"></div>
	</div>
	{{^is_adv}}
	<div class="epqt_quicktip" id="epqt_part_link">
		{{epqt_part_msg}}
		<div id="epqt_part_link_text">{{{epqt_part_link_msg}}}</div>
	</div>
	{{/is_adv}}
</div>
