<div id='edit_page_footer'>
	<table class='edit_footer'><tr><td class='summary'>{{editsummary_msg}}: &nbsp; 
{{#show_edit_summary}}
	<input tabindex='10' type='text' value='{{summarytext}}' name='wpSummary1' id='wpSummary1' maxlength='200' size='60' /><br />
{{/show_edit_summary}}
	</td>
	<td class='buttons'>
		<span id='gatPSBSave'>{{{save_button}}}</span>
		<span id='gatPSBPreview'>{{{preview_button}}}</span>
	</td></tr></table>
</div>
