<div id="qaar_box" class="{{mobile_class}}">
	<div id="qaar_hdr">{{hdr_txt}}</div>

	<div id="qaar_body">
		<div id="qaar_question">{{question_prompt}}</div><br />
		<a href="{{answer_tool_link}}" class="button primary">{{btn_txt}}</a><br /><br />
	</div>

	<input type="hidden" value="0" id="qaar_vote" />
	<input type="hidden" value="{{submittedTimestamp}}" id="qaar_st" />
	<input type="hidden" value="{{emailTimestamp}}" id="qaar_et" />
	<input type="hidden" value="{{qa_id}}" id="qaar_qa_id" />
</div>
