#qc_box {
	background-color: #F5F5F5;
	margin-bottom: 20px;
	padding: 8px 20px;
	margin-top:-35px;
    border:1px solid #e5e5e5;
    border-top:none;
}

div.qc_title {
	background-color: #F5F5F5;
	border-top: 1px dashed #DFDACE;
	font-size: 2em;
	padding-top: 10px;
	clear: both;
}

#qc_head #qn_button{
	float:none;
	display:inline;
}

.qc_by {
	text-align: left;
	padding-bottom: 8px;
	margin-bottom: 10px;
	margin-top:-5px;
}
.qc_by img {
	width: 26px;
	height: 26px;
	margin: 0 0 -8px 4px;
}

.qc_changedby_inset {
	float: right;
	position: absolute;
}

#qc_head {
	min-height: 23px;
}

#qc_head ul{
    margin-left: 15px;
    margin-top: 10px;
}

.qc_alldone {
	font-size: 2em;
}


/* INTRO IMAGE */
#qc_bigpic {
	background-color: #F5F5F5;
	padding: 20px 0;
	text-align: center;
}

#qc_bigpic .qc_bigpic_img {
	border: 1px solid #BFBFBF;
	-moz-box-shadow: -3px 3px 4px #BFBFBF;
	-webkit-box-shadow: -3px 3px 4px #BFBFBF;
	box-shadow: -3px 3px 4px #BFBFBF;
}


/* VIDEO */
#qc_bigvid { margin-top: 20px; }

#qc_bigvid h2 { display: none; }

#qc_bigvid embed {
	border: 1px solid #BFBFBF;
	-moz-box-shadow: -3px 3px 4px #BFBFBF;
	-webkit-box-shadow: -3px 3px 4px #BFBFBF;
	box-shadow: -3px 3px 4px #BFBFBF;
}

#qc_bigvid center {
	margin: 0;
	padding: 0;
}

#qc_vidtitle {
	text-align: center;
	margin: 0 0 8px 0;
	color: #4A3C31;
	font-weight: normal;
	font-size: 1.5em;
	background-color: inherit;
	background-image: none;
}

.embedvideocontainer {
	margin: 0 0 1em 0;
}


/* RC PATROL */
#qc_box table.diff { margin-top: 10px; }
/*#qc_box table.diff, #qc_box td.diff-otitle, #qc_box td.diff-ntitle { background-color: #F5F5F5; }*/

#qc_box table.diff #mw-diff-otitle2b,
#qc_box table.diff #mw-diff-ntitle2b,
#qc_box table.diff .mw-rollback-link
{ display: none; }

#qc_box td.diff-otitle, #qc_box td.diff-ntitle { padding-bottom: 15px; }

#qc_buttons {
	width: 130px;
	margin: 0 auto;
}

#qc_head .button {
	float: left;
}
#qc_head #qc_skip {
	float: right;
}

#qcrules {
	float: right;
	padding-top: 20px;
}

#qcrules_submit { margin: 0 0 0 auto; float: right; }

#qc_articletitle { margin: 0 20px 10px 20px; }


/* TABS */

#qg_options {
	width: 300px;
	margin: 8px auto 5px;
	height: 50px;
}
#qg_options div {
	float: left;
	padding: 0 20px;
}

#qg_byuser_buttons {
	margin: 6px 0;
	width: 65%;
}
#qg_byuser_buttons a {
	float: right;
}

#qg_tabs{
}

#qg_tabs a{
	height:21px;
	padding:0 5px;
	line-height:20px;
	font-size:11px;
	display:block;
}

#qg_tabs .on a{
	background-position: 0 0;
}

#qg_tabs a img{
	margin-right:4px;
}

#qg_submenu {
	display: none;
	padding:5px 45px;
	margin: 10px 0 -10px;
}

/* TIPS */
#qc_box h3 {
	font-size: 16px;
	padding: 0 0 .5em 5px;
}


/* VOTE BLOCK */
#qc_voteblock {
	border:1px solid #d2d8cd;
	background-color: #f9f9f9;
    padding: 2px 18px 6px 18px;
    width: 263px;
	color: #111;
	display: none;
	margin-bottom: 12px;
	overflow: auto;
}

#qc_voteblock_top {
	background: url(qc_voteblock.png) no-repeat -146px 0;
	width: 304px;
	height: 9px;
	margin-top: 2px;
	display: none;
}

#qc_voteblock_bottom {
	background: url(qc_voteblock.png) no-repeat -146px -16px;
	width: 304px;
	height: 13px;
	display: none;
}

#qc_votes { height: 65px; }
#qc_vote_1 { float: left; }
#qc_vote_2 {
	width: 60px;
	margin: 0 auto;
}
#qc_vote_3 { float: right; }

.qc_vote_img {
	background: url(qc_voteblock.png) no-repeat 0 0;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 2px;
}
.qc_img_ { background-position: 0 0; height: 35px; width: 35px; }
.qc_img_tie { background-position: 0 -39px; }
.qc_img_approved { background-position: 0 -68px; }
.qc_img_removed { background-position: 0 -97px; }

#qc_vote_text { margin-bottom: 4px; }
#qc_vote_text p { padding-left: 40px; }
#qc_vote_text p.first { font-size: 1.3em; }

.qc_vote_head {
	font-size: .85em;
	border-bottom: 1px solid #111;
	margin: 4px;
}
.qc_head_no { text-align: right; }

.qc_avatar {
	float: left;
	margin: 1px 4px;
	height: 40px;
	width: 40px;
}
.qc_avatar img, .qc_avatar a.tooltip {
	height: 40px;
	width: 40px;
	display: block;
}

.qc_emptybox {
	background: url(qc_voteblock.png) no-repeat -98px 0;
	height: 40px;
	width: 40px;
	float: left;
	margin: 0 4px;
}

.qc_arrow {
	background: url(qc_voteblock.png) no-repeat 0 0;
	width: 22px;
	height: 22px;
	float: left;
	margin: 29px 4px 0 4px;
}
.qc_left { background-position: -40px 0; }
.qc_right{ background-position: -40px -29px; }
.qc_left_win { background-position: -40px -57px; }
.qc_right_win { background-position: -40px -83px; }

#article div.article_inner { padding-bottom: 0; }

#article div#qccontents { min-height: 250px; }

#numqcusers { display: none; }

#article_tabs_line { display: none; }
#featurestar { display: none; }

.thumbbutton {
	border: none;
	float: right;
	margin-top: 4px;
}

.clickfail {
	color: #888;
	cursor: default;
	background-position: -140px -78px;
}
.clickfail_2 {
	color: #888;
	cursor: default;
	background-position: 0 -78px;
}
.clickfail:hover {
	text-decoration: none;
}

#bodycontents { display: none; }

#eoq_box {
	background-color: #F6F5F4;
	border-radius: 4px;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #E5E5E5 #E5E5E5;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 25px;
	font-size: 13px;
	margin-bottom: 30px;
}
.qc_votes {
	max-width: 37%;
}
