#cl {
	border: 1px solid #C1C1C1 ;
	color: #222;
	margin: 0 auto;
}

.cl_hidden {
	display: none;
	visibility: hidden;
}

#cl_header {
	border-bottom: 1px solid #C1C1C1;
	padding: 15px;
	font-size: 0.8em;
	background-color: #F1F1F1;
}

#cl_error {
	color: #A40000;
	padding-left: 10px;
}

#cl_x:after {
	display: inline-block;
	content: "\00d7";
	float: right;
	font-size: 27px;
	margin: -2px -3px 0 0;
	color: #a5a4a2;
	margin-left: 8px;
	font-weight: bold;
	font-family: Helvetica,arial,sans-serif;
}

#cl_x:hover {
	cursor: pointer;
}

#cl_icon {
	margin-right: 1px;
	vertical-align: middle;
}

.cl_header_text {
	display:inline-block;
	zoom: 1;
	*display: inline;
	padding-top: 0px;
	vertical-align: middle;
}

#cl_header_prefill {
	visibility: hidden;
	display: none;
}

#cl table {
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%;
}

#cl input[type='text'], #cl_faux_username {
	width: 232px;
}

#cl_faux_username {
	padding: 4px 16px 4px 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#cl_user_text {
	display: inline-block;
	zoom: 1;
	*display:inline;
	vertical-align: middle;
	margin-left: 5px;
}

#cl_user_text_username {
	margin-left: 3px;
}

#cl_user_text_info {
	font-size: 9px;
}

.cl_readonly {
	color: #999;
	background-color: #E5E5E5;
}

.cl_label {
	text-align: right;
	font-weight: bold;
	color: #545454;
	font-size: 0.8em;
}

.cl_user_avatar {
	width: 32px;
	height: 32px;
	border: 0px;
	vertical-align: middle;
}
.cl_avatar {
	width: 24px;
	height: 24px;
	border: 0px;
	vertical-align: middle;
}

#cl td.cl_check {
	text-align: right;
	padding-right: 65px;
	font-size: .9em;
}
#cl td.cl_check input { margin-left: 5px; }

#cl span.cl_logo_small {
	display: inline-block;
	background: url(/skins/WikiHow/images/social.png) no-repeat 0 -247px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 10px;
	padding-bottom: 2px;
}
