<div id="wh_modal" class="rpt_modal">
	<form>
		<a href="#" id="wh_modal_close">x</a>
		<div id="wh_modal_top" class="wh_modal_section">Send Image Feedback</div>
		<div class="wh_modal_section">
			<div class="rpt_content">
				<p>This image:</p>
				<p class="rpt_margin_5px">
					<input type="radio" name="voteType" value="good" checked=""> Is helpful
					<input class="rpt_input_spacing" type="radio" name="voteType" value="bad"> Needs improvement
				</p>
				<p class="rpt_margin_20px">Please provide as much information as you can.
					<textarea name="rpt_reason" class="rpt_reason input_med"></textarea>
				</p>
				<p class="rpt_controls">
					<input type="button" class="button primary rpt_button" value="Submit">
					<a href="#" class="rpt_cancel">Cancel</a>
				</p>
			</div>
		</div>
	</form>
</div>