<div id="expert_coauthor" {{#amp}}on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1"{{/amp}}>
	{{#badge}}
		{{{badge}}}
		{{#refCount}}
			<span class="sp_pipe">|</span>
			<a href="#references_first" class="ec_ref">
				{{#includeCount}}{{refCount}}{{/includeCount}}
				{{refMessage}}
			</a>
		{{/refCount}}
		{{^refCount}}
			{{#showViews}}<span class="sp_pipe">|</span> <a href="#" class="ec_view">{{views}} Views</a>{{/showViews}}
		{{/refCount}}
	{{/badge}}
	{{^badge}}
		<a href="#" class="ec_view">{{views}} Views</a> <span class="sp_pipe">|</span> <a href="#references_first" class="ec_ref">
		{{#includeCount}}{{refCount}}{{/includeCount}}
		{{refMessage}}
		</a>
	{{/badge}}
</div>
