<div>
	{{#avatar}}
		{{{avatar}}}
	{{/avatar}}

	{{^avatar}}
	<div class="ar_initials">
		{{initials}}
	</div>
	{{/avatar}}

	<div class="expert_advice_info">
		<div class="expert_advice_name"><b>{{name}}</b></div>
		<div class="expert_advice_label">{{label}}</div>
	</div>
</div>
<br />