{{^difficult_article}}
{{#helpful_byline_noamp}}
<a class="success_stories" href="#">
{{/helpful_byline_noamp}}
<div class="sp_box sp_box_hoverable sp_helpful_hoverable sp_helpful_box {{helpful_sidebox}} {{helpful_byline}}" data-helpful="{{helpful.value}}">
	{{#helpful_sidebox}}
	<div class="sp_helpful_statement">{{{helpful_statement}}}</div>
	{{/helpful_sidebox}}
	<div class="sp_star_section_upper">
		<div class="sp_star_section_hoverable">
			<div class="sp_star_container star1">
				<div class="sp_helpful_icon_star {{helpful.pretty_star}}" style="width:{{helpful.width.0}}%"></div>
			</div>
			<div class="sp_star_container star2">
				<div class="sp_helpful_icon_star {{helpful.pretty_star}}" style="width:{{helpful.width.1}}%"></div>
			</div>
			<div class="sp_star_container star3">
				<div class="sp_helpful_icon_star {{helpful.pretty_star}}" style="width:{{helpful.width.2}}%"></div>
			</div>
			<div class="sp_star_container star4">
				<div class="sp_helpful_icon_star {{helpful.pretty_star}}" style="width:{{helpful.width.3}}%"></div>
			</div>
			<div class="sp_star_container star5">
				<div class="sp_helpful_icon_star {{helpful.pretty_star}}" style="width:{{helpful.width.4}}%"></div>
			</div>
			{{#helpful_byline_noamp}}
				<div class="sp_num_votes">{{helpful.count}} {{helpful_count_label}}</div>
				{{#show_success_stories}}
					<span class="ss_pipe">|</span>
					{{success_stories_label}}
				{{/show_success_stories}}
			{{/helpful_byline_noamp}}
			{{#helpful_byline_amp}}
				<div class="sp_num_votes">{{helpful.count}} {{helpful_count_label}}</div>
				{{#show_success_stories}}
					<span class="ss_pipe">|</span>
				<a class="success_stories" href="#userreviews_mobile">
					{{success_stories_label}}
				</a>
				{{/show_success_stories}}
			{{/helpful_byline_amp}}
		</div>
	</div>
	{{^helpful_byline}}
		<div class="sp_helpful_lower">
			<div class="sp_star_rating_text"></div>
			<div class="sp_helpful_rating_count">{{helpful.ratingDisplay}}</div>
			{{^helpful_sidebox}}<div class="helpfulness_text">{{helpful.vote_text}}</div>{{/helpful_sidebox}}
		</div>
	{{/helpful_byline}}
	{{#helpful_sidebox}}<div id="sp_helpful_text_sidebox">{{helpful.vote_text_verbose}}</div>{{/helpful_sidebox}}
	{{#helpful.popup}}
	<div class='sp_popup_container'>
		<div class='hint_box'>{{helpful.popup}}</div>
	</div>
	{{/helpful.popup}}
</div>
{{#helpful_byline_noamp}}
	</a>
{{/helpful_byline_noamp}}
{{/difficult_article}}
