.kaios {
	/* Nav */
	#mw-mf-main-menu-button {
		display: none;
	}

	#header_logo {
		width: 75px;
	}

	/* Homepage */
	#hp_container_outer h1 {
		width: initial;
		margin: 0 10px 0 15px;
	}

	#hp_trustworthy ul {
		width: initial;
	}

	#hp_search {
		width: 69%;
	}

	#hp_featured_container,
	#hp_coauthor_container,
	#hp_popular_container,
	#hp_articles_container,
	#hp_watch_container,
	#hp_expert_container,
	#hp_newpages_container {
		display: initial;
	}

	#hp_trustworthy a {
		padding: 15px;
	}

	#hp_languages {
		display: none;
	}

	#hp_special_message a {
		width: initial;
		padding: 7px;
	}

	.hp_thumb {
		margin-bottom: 5px;
	}

	#hp_news_container {
		display: block;
	}

	#hp_news_container div {
		margin-bottom: 50px;
	}

	#hp_news_container div:last-child {
		margin-bottom: 10px;
	}

	.responsive_thumb {
		margin-bottom: 10px;
	}

	/* Special:CategoryListing */
	#catlist {
		display: block;
		a {
			width: 150px;
		}
	}

	.subcat {
		display: initial;
	}

	.subcat_container {
		padding: 0 5px;
	}

	.cat_thumb:not(.cat_thumb_small) {
		margin: 15px 0 10px 0;
	}

	.cat_thumb.cat_thumb_small {
		margin: 0 10px 10px 10px;
	}

	/* Categories */
	.cat_grid {
		display: initial;
	}

	ul.pagination {
		display: none;
	}

	#cat_sub_categories .subcat_container {
		.show_more:after {
			top: 4px;
			right: 9px;
		}

		&.expanded {
			.show_more:after {
				top: -4px;
				right: 10px;
			}

			.subcategory {
				padding: 5px;
			}
		}


	}

	/* Article */
	.green_box_expert_dialog {
		width: 95%;
		max-width: 250px;
	}

	#gatAccuracyYes {
		margin-right: 0;
	}

	#gatAccuracyNo {
		margin-left: 0;
	}

	#aboutthisarticle .sp_box {
		width: initial;
	}

	.qa_widget_vote_buttons a {
		padding: 0;
	}

	.wh_vote_down {
		margin-left: 15px;
	}

	/* Search */
	#searchresults_list ul.search_results_stats li.sp_verif {
		height: 11px;
	}

	/* Experts */

	.stable .content .ar_category h3 {
		padding: 15px;
	}

	.ar_reviewer_block {
		display: block;
	}

	.ar_initials {
		margin: 0 auto;
		float: none;
	}

	.reviewer {
		padding: 10px 15px;
	}

	.reviewer_top {
		text-align: center;
		padding-left: 0;
		min-height: initial;
	}

}

