#method_toc {
	position: fixed;
	z-index: 5;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: -.09pt;
	font-weight: bold;
	box-sizing: border-box;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;

	a, a:visited {
		color: #445835;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

#method_toc_list {
	width: 100%;
	display: table;
	height: 40px;
	border-spacing: 1em;
	background-color: #FFF;
	border-bottom: 1px solid #79A355;
}

.method_toc_item {
	display: table-cell;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
}

#toc_line {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #417505;
	height: 4px;
	border-radius: 4px 4px 0 0;
}
