<form name='videouploadform' id='videouploadform'>
Article URL:       <input type='text' name='target' size='60' id='target'/><br>
Video URL:        <input type='text'  name='videoUrl' size='60' id='videoUrl'/><br>   </form>
Citation:        <input type='text' name='citation' size='60' id='citation'/><br>
	<input id='formsubmit' type='submit'  name='Submit' value='Submit'/>   <br>
	<input id='formclear' type='submit'  name='Clear' value='Clear'/>   </form>
</form>	
<div id='results'>
</div>
