#importvideo { 
	padding: 10px; 
}

.importvideo_main { clear: both; }

.importvideo_pop {
	height: 385px;
	overflow: auto;
}

.importvideo_pop::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 11px;
	height: 11px;
}

.importvideo_pop::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}

td.right {
	padding-left: 20px;
	font-size: 90%;
	vertical-align: top;
}
tr.trow {}

DIV.video_result {
	width: 500px; border: 1px solid #ccc; padding: 4px; min-height:210px; margin-bottom: 15px;
}

.embed_button { text-align: center; }

div.video_result_video {
	float: left; clear: right; width: 200px; margin: 5px;
}

div.video_info_result {
	width: 450px; padding: 10px; margin-left: 200px;
}

div.video_info_image {
	text-align: right; width: 450px;
}

span.video_info_title {
	font-family: Georgia; font-size: 110%;
}

table.video_meta_table {
	width:400px; font-size:90%
}

div.video_comments_image {
	text-align: right; width: 450px;
}

div.video_comment {
	border: 1px solid #ccc; margin: 2px; padding: 3px;width: 450px; background: url("/extensions/wikihow/video/embed_quote.png") 5px 30px no-repeat;
}

div.video_date {
	font-style: italic;
}

div.video_comment_text {
	margin-left: 30px; margin-top: 5px;
}

#winpop_outer {
	margin: 0 auto;
	position: absolute;
	z-index: 1002;
}


span.video_relate_title {
    font-weight:    bold;
    font-size:      1.2em;
}

div.import_video_title{
	float: left; 
	font-size:110%; 
	font-weight: bold;
}
span.change {
	font-size: 80%;
	font-weight: normal;
}

div.video_insert {
	font-size: 110%;
}

div.article_title {
	font-weight: bold;
	padding: .5em 0 1em 0;
}

#refinesearch_input { width: 70%; }

#importvideo_search_tabs li {
	font-size: .9em;
	list-style: none;
	float: left;
	padding: .5em 1em;
	height: 19px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	margin: 0 !important;
}

#importvideo_search_tabs li.iv_selected { background-color: #FFF; }
