<form id='eq_form' action='/Special:EventQueryTool' method='post'>

	<label class="aligned" for='eq_select_event'>Events:</label>
	<select name='events[]' id='eq_select_event' multiple='multiple'>
		<option value=''>-- select --</option>
		<option value='all'>All Events</option>
		{{#dropdown_config}}
		 <optgroup label='{{requester}}'>
			 {{#events}}
				<option value='{{.}}'>{{.}}</option>
			 {{/events}}
		</optgroup>
		{{/dropdown_config}}
	</select>

	<div class="eq_date_container">
		<label class="aligned" for='eq_date_start'>From:</label>
		<input id='eq_date_start' name='date_start' type='text' />
	</div>

	<div class="eq_date_container">
		<label class="aligned" for='eq_date_end'>Until:</label>
		<input id='eq_date_end' name='date_end' type='text' />
	</div>

	<fieldset id="eq_groupby_fieldset">
		<legend>Group by:</legend>

		<input type="checkbox" id="eq_gb_checkall">
		<label for="eq_gb_checkall">All</label>

		<input type="checkbox" name="groupby[]" value="date" id="eq_gb_1" checked>
		<label for="eq_gb_1">Date</label>

		<input type="checkbox" name="groupby[]" value="domain" id="eq_gb_2">
		<label for="eq_gb_2">Domain</label>

		<input type="checkbox" name="groupby[]" value="page_id" id="bdb_3">
		<label for="bdb_3">Page</label>

		<input type="checkbox" name="groupby[]" value="screen" id="eq_gb_4">
		<label for="eq_gb_4">Screen</label>

	</fieldset>

	<button type='submit' id='eq_submit'>Go</button>

</form>
