.hasDatepicker {
	border-radius: 4px;
	border: 1px solid #aaa;
	color: #545454;
	cursor: pointer;
	font-size: 15px;
	height: 26px;
	padding: 0 10px;
	vertical-align: top;
	width: 90px;
}

#eq_select_event {
	width: 200px;
}

.select2-search__field {
	font-size: 15px;
}

label.leftmargin {
	margin-left: 15px;
}

#eq_submit {
	background-color: #97ba78;
	border-radius: 4px;
	border: 1px solid #97ba78;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 8px;
	vertical-align: top;
}

#eq_breakdownby_fieldset {
	margin-top: 20px;
	border-width: 1px;

	legend {
		font-size: 16px;
		font-weight: normal;
		padding: 0 4px;
	}

	label {
		margin-right: 15px
	}
}
