#bodycontents {
	font-size: 16px;
}

.hasDatepicker {
	border-radius: 4px;
	border: 1px solid #aaa;
	color: #545454;
	cursor: pointer;
	font-size: 15px;
	height: 26px;
	padding: 0 10px;
	vertical-align: top;
	width: 100px;
}

.eq_date_container {
	margin-top: 14px;
	label, input {
		vertical-align: middle;
	}
}

label.aligned {
	display: inline-block;
	width: 54px;
	text-align: right;
}

#eq_submit {
	background-color: #97ba78;
	border-radius: 4px;
	border: 1px solid #97ba78;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	padding: 7px 12px;
	vertical-align: top;
}

#eq_groupby_fieldset {
	border-color: #eee;
	border-width: 1px;
	display: inline-block;
	margin-top: 14px;

	legend {
		font-size: 16px;
		font-weight: normal;
		padding: 0 4px;
	}

	label {
		margin-right: 15px
	}
}

#eq_form {

	.select2-search__field {
		font-size: 15px;
	}

	.select2-container--default.select2-container--focus .select2-selection--multiple {
		padding: 5px;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #eee;
		padding: 0 5px;
		margin: 5px 7px 2px 0px;
		padding: 2px 5px;
	}

	.select2-search.select2-search--inline {
		margin: 0;
	}

	.select2.select2-container.select2-container--default.select2-container--below {
		width: 100%;
	}

	.select2-selection__choice {
		font-size: 14px;
	}

}
