<div id="wh-game">
	<img id="wh-game-picture" src="/extensions/wikihow/Game/resources/box_large.png">
	<div id="wh-game-form">
		<p>The official wikiHow illustration game is coming soon! <em>wikiHow to Meme</em> is a social card game made up of the most hilarious wikiHow illustrations produced over the years. </p>

		<p>Join the waitlist while we add finishing touches to this epic collection of absurd, out of context, historical wikiHow images.</p>
		<p>Leave your email and we will notify you when it is ready for purchase. </p>

		<p>
			<input id="wh-game-email" type="text" name="email" class="input_med" placeholder="Enter email" required>
			<button id="wh-game-submit" class="button primary">Notify Me</button>
		</p>
	</div>
	<div id="wh-game-response">
		<p>Thank you for letting us know you're interested in the <em>wikiHow to Meme</em> game.</p>
		<p>We will notify you when it is ready for purchase!</p>
		<p><a href="" class="button primary" id="wh-game-back">Back to Article</a></p>
	</div>
</div>
