<div>Go to the <a href="{{sheetLink}}" target="_blank">Master Quiz Sheet</a></div>
<div id='qz_stats' style="margin:10px 0;">
	{{{stats}}}
</div>
<div class=''>
	<h2 class=''>Add Spreadsheet</h2>
	<div style="margin-bottom: 20px;">Click the "Import" button below to import the data from the spreadsheet.</div>
	<a href="#" class='button primary qz_button' id='qz_import'>Import</a>
	<div id="qz_results" style="margin-top: 20px;"></div>
</div>


