<div role='navigation' id='method_toc'>
	<div>

		<span class="header_toc">{{title}}</span>
		<div id='method_toc_list'>

			{{#toc}}
			<div class='method_toc_item {{method_class}} {{class}}' id='{{id}}' data-section="{{section}}">
				<a href='{{url}}'>
					{{{text}}}
					{{#icon}}<span class='{{icon}}'></span>{{/icon}}
				</a>
			</div>
			{{/toc}}

		</div>

		<div id="toc_line"></div>

	</div>
</div>