<p id="method_toc" class="vertical_toc">
	<span class="header_toc">{{title}}</span>
	{{#toc}}
		<a href="{{url}}" class="{{class}}" id="{{id}}">{{{text}}}{{#icon}} <span class="{{icon}}" />{{/icon}}</a>
	{{/toc}}
</p>
