.hidden {
	display: none!important;
}
#stva_batch_name.existingbatch {
	background: inherit;
	pointer-events:none;
}
#desktop-title {
    background-color: #FFF;
    margin: 0px -27px 0px;
    padding-top: 12px;
    padding-left: 27px;
    padding-bottom: 16px;
    padding-right: 27px;
    border-radius: 4px 4px 0 0;
    margin-bottom: -22px;
    display: none;
}
#footer {
	display: none !important;
}
#icon-image{
    float:left;
    background-image: url(/skins/WikiHow/images/80x80_user.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
#icon-text {
    line-height: 40px;
    margin-left: 50px;
    font-size: 18px;
}
#text-line {
    position: relative;
    font-size: 18px;
	background-color: #fff;
	text-align: left;
	border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#show-article-line {
    display: none;
    margin-top: 8px;
    margin-left: 12px;
}
.full-link {
    position: relative;
    padding-right: 10px;
}
.hide-full-link {
    position: relative;
    padding-right: 10px;
    display: none;
}
#mw-mf-page-center {
    padding: 0 !important;
}
#article-data {
    margin-top: 25px;
}
#tool-data-line {
    margin-top: -20px;
}
.wh_block {
    display: none;
}
#header-title a {
    font-size: 2em;
    color: #363;
    text-decoration: none;
}
#header-title {
    margin-top: 5px;
}
#header-remaining {
    display: none;
    color: #555;
    float: right;
    font-size: .7em;
    text-align: right;
}
#header-count {
    color: #555;
    font-size: 3em;
    line-height: 1em;
    background: none;
}
.empty-queue {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#ti_icon {
    margin-bottom: 5px;
}
.desktop {
    margin-bottom: 0px;
}
#icon-text {
    display: none;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:before {
    border: none;
}
.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 11px;
    margin-top: -10px;
}
.arrow_box:before {
    border-color: rgba(229, 229, 229, 0);
    border-right-color: #e5e5e5;
    border-width: 12px;
    margin-top: -11px;
}
 .buttons-line {
	 margin-top: 20px;
	 margin-bottom: 5px;
 }
#bottom-tool .buttons-line {
	margin: 0;
}
#text-line {
    margin-left: 55px;
}
#ti_outer_box {
    margin: 0;
}
.buttons-mobile {
    display: none;
}
#platformselect {
    display: none;
    margin-bottom: -15px;
}
#platformselect input {
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 1px;
}
#platformselect label {
    margin-right: 6px;
}

#platformselect form {
    margin-top: 6px;
}
#chooseplatform {
    float: right;
}
#testing-section {
    display: none;
	margin: 0;
}
.section {
    padding-top: 78px;
    padding-right: 27px;
    padding-bottom: 64px;
    padding-left: 27px;
    background: #fff;
    line-height: normal;
}
#testing-section h2 {
    background: #f6f5f4;
}
#bottom-tool h2 {
	font-size: 18px;
	line-height: 40px;
}
#bottom-tool {
	position: fixed;
	top: 90px;
	right: 0;
	z-index: 1000;
	box-shadow: 0px 5px 10px 3px #999;
	max-width: 380px;
	font-size: 12px;
}
#bottom-tool .section {
	padding-top: 60px;
	padding-left: 25px;
	padding-bottom: 30px;
}
#instructions-section {
}
#time-verification-section {
    display: none;
}
.buttonstext {
    margin-bottom: 0px;
    line-height: 21px;
}
#platformmessagetop {
    display: none;
    margin-top: 5px;
    font-size: 12px;
}
#platformmessagetop span {
    font-weight: bold;
}
#yesfeedback-section, #nofeedback-section {
    display: none;
}
.feedback-section .buttonstext {
    margin-bottom: 10px;
}
.feedback-section .buttonstext {
    margin-bottom: 15px;
}
.feedback-section textarea {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 8px;
    resize: none;
    vertical-align: middle;
    margin-left: 5px;
}
#nofeedback-section #nofeedback-mainfeedback {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
}
.feedback-section .buttons-desktop {
    padding-top: 15px;
    padding-bottom: 15px;
}
#willtest-buttons {
    margin-top: 0px;
    margin-right: -27px;
    margin-bottom: 0px;
    margin-left: -27px;
    padding-top: 8px;
    padding-bottom: 28px;
    background: #fff;
}
#testing-section .skip, #time-verification-section .skip {
}
#willtest-buttons .button {
    float: none;
    margin-left: 27px;
}
#testing-section .yes, #testing-section .no {
}
#bottom-tool .button {
	display: block;
	max-width: 88px;
	margin: 8px;
}
#testing-section .buttonstext {
    margin-bottom: 10px;
}
#time-verification-section .yes, #time-verification-section .no {
}
#time-verification-section .buttonstext {
    margin-bottom: 10px;
}
#chooseplatformbottom {
    text-align: center;
    margin: 20px;
    display: none;
}
#tooltitle {
    margin-top: 15px;
    margin-bottom: 12px;
}
#tooltitle h5 {
    font-size: 16px;
}
#bodycontents {
    padding-bottom: 20px !important;
}
#tool-data {
    padding-top: 22px;
    display: none;
}
#instructions-section ul {
    margin-left: 17px;
}
.button:focus {
    border: 1px solid #000;
}
.section.quicksummary {
	display: none;
}
#stva_jobs {
	display: table;
	width: 100%;

	.stva_job_row {
		display: table-row;

		&:nth-child(even) {
			background-color: #E4E4E4;
		}

		&.stva_job_headers {
			font-size: 1.4em;
			letter-spacing: -.05em;
		}

		> div {
			display: table-cell;
			padding: .5em;
			text-align: center;
			vertical-align: middle;

			&:nth-child(2),
			&:nth-child(3) {
				text-align: left;
			}
		}

		.job_number {
			color: #FFF;
			font-size: 1.5em;
			background-color: #545454;
			border-radius: 1.5em;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.5em;
			margin: 0 auto;
		}

		.stva_edit {
			cursor: pointer;
		}

		.stva_enabled {
			font-size: 1.7em;
			cursor: pointer;
		}

		.stva_change_enabled {
			display: none;
			margin-right: 0;
		}
	}
}

.stva_job_edit {
	background-color: #EFEFEF;
	padding: 1.5em;
	width: 500px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: -4px 4px 10px #333;

	.fa-times {
		position: absolute;
		font-size: 1.5em;
		cursor: pointer;
		top: 6px;
		right: 8px;
	}

	> div {
		padding-bottom: .5em;
	}

	input, textarea {
		padding: 0.3em;
		border: 1px solid #545454;
		width: 98%;
		resize: none;
	}

	input {
		font-size: 1.2em;
	}

	.stva_example {
		font-size: .8em;
		font-style: italic;
		padding: .2em 0 .5em;
	}

	#stva_article_list {
		height: 200px;
	}

	#stva_message {
		&.stva_error {
			color: #C00;
		}
	}

	.button_div {
		text-align: right;
		padding: 0;

		#stva_edit_done {
			display: none;
		}
	}
}
