@import '../less/variables.less';

#catlist_container {
	width: 99%;
	margin: 0 auto;
}

#catlist {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #fff;
	padding: 16px 12px 10px 12px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	align-items: center;

	img {
		width: 40px;
		vertical-align: middle;
	}

	a {
		font-size: 14px;
		padding-left: 46px;
		width: 106px;
		vertical-align: middle;
		display: inline-block;
		margin-left: -40px;
		line-height: 16px;
		word-break: keep-all;
	}

	div {
		margin-bottom: 10px;
	}
}

.cat_thumb.cat_thumb_small {
	grid-column-end: span 1;
	grid-column-start: span 1;
}

.cat_container {
	background-color: #ffffff;
	padding-top: 18px;
	border-radius: 6px;
	padding-bottom: 24px;
	margin: 20px auto;
	width: 99%;

	h3 {
		background-color: inherit;
		margin-left: 20px;
		margin-bottom: 16px;
		width: auto;
		font-size: 24px;
		line-height: 28px;
		padding: 0;
	}
}

.content .cat_container h3 {padding: 0;}


.subcat_container {
	padding: 0 20px;
}

.subcat {
	width: 100%;
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin-top: 20px;
}

.stable .content .cat_thumb p {
	margin: 7px;
	text-decoration: none;
	font-size: 11px;
	line-height: normal;
	overflow: hidden;
}

.cat_thumb{
	border-radius: 6px;
	border: none;
	grid-column-start: 1;
	grid-column-end: span 3;
	position: relative;

	img {
		display: block;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	&.cat_thumb_small {
		p {
			font-size: 11px;
			font-weight: normal;
		}

		span {
			font-size: 14px;
			font-weight: bold;
		}
	}

	div.text {
		color: #ffffff;
		position: absolute;
		width:100%;
		bottom: 0;
		z-index: 0;
		background-color: rgba(67, 95, 44, .4);
		border-bottom-left-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-right-radius: 6px;
		-webkit-border-bottom-right-radius: 6px;
		-moz-border-radius-bottomright: 6px;
	}

	span {
		display: block;
		font-weight: bold;
		font-size: 20px;
	}
}

@media @medium {
	.subcat_container {
		display: flex;
	}

	.subcat {
		width: 50%;
		margin-top: 0;
	}

	.subcat:first-of-type {
		border-right: 1px solid #ecebe8;
		padding-right: 20px;
	}
	.subcat:last-of-type {
		padding-left: 20px;
	}

	#catlist {
		grid-template-columns: 25% 25% 25% 25%;
		padding-left: 20px;
		padding-right: 20px;
	}

	#catlist_container {
		width: 728px;
		margin-top: -1px;
	}

	.cat_container {
		width: 728px;

		h3 {
			font-size: 28px;
		}
	}

	.cat_thumb {
		&.cat_thumb_small {
			font-size: 11px;
			font-weight: normal;

			span {
				font-size: 12px;
			}
		}

		span {
			font-weight: bold;
			font-size: 24px;
		}
	}

	#content_inner #section_0.special_title {
		font-size: 35px;
		padding: 20px;
		margin-bottom: 0;
	}

	#cat_separator {
		border-top: 1px solid #ecebe8;
		margin: 0 20px;
		background-color: #ffffff;
	}
}

@media @large {
	#catlist {
		padding-left: 32px;
		padding-right: 32px;
	}

	#catlist_container {
		width: 1050px;
	}

	.cat_container {
		width: 1050px;

		h3 {
			margin-left: 32px;
		}
	}

	.subcat_container {
		padding: 0 32px;
	}

	.cat_thumb:hover .text {
		background-color: #fff;
		color: #2483ef;
	}

	.cat_thumb.cat_thumb_small span{
		font-size: 16px;
	}

	.subcat:first-of-type {
		padding-right: 32px;
	}
	.subcat:last-of-type {
		padding-left: 32px;
	}
	#cat_separator {
		 margin: 0 32px;
	}

	#content_inner #section_0.special_title {
		padding: 20px 30px;
	}
}