#settings {
	padding-bottom: 10px;
}
#settings select {
	margin-right: 10px;
}
#downloadcsv {
	display: none;
}
#main_container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.no_sidebar #article_shell {
	width: 100%;
}
#data {
	margin-top: 10px;
	margin-left: -22px;
	font-size: 14px;
	line-height: 16px;
}
.data-element {
	display: inline-block;
	width: 80px;
	word-break: break-word;
	overflow: hidden;
	white-space: normal;
	height: 33px;
}
.toplink {
	padding-right: 8px;
}
.first-line .data-element {
	height: 20px;
	line-height: 21px;
}
.data-line:first-of-type {
	color: #FFF;
	background-color: #93b874;
}
.data-line {
	display: inline-block;
	color: #000;
	white-space: nowrap;
	position: relative;
	padding-left: 3px;
}
.data-line:nth-child(even) {
	background-color: #E4E4E4;
}
#footer {
	display: none !important;
}
.wh_block {
	display: none;
}
#data {
	.article_id {
		width: 70px;
	}
	.status {
		width: 43px;
	}
	.creator {
		width: 88px;
	}
	.reviewed {
		width: 65px;
	}
	.processed {
		width: 90px;
	}
	.vid_processed {
		width: 95px;
	}
	.photo_processed {
		width: 110px;
	}
	.retry {
		width: 43px;
	}
	.vid_cnt {
		width: 45px;
	}
	.photo_cnt {
		width: 45px;
	}
	.replaced {
		width: 63px;
	}
	.steps {
		width: 43px;
	}
	.staging_dir {
		display: none;
	}
	.first-line .article_url {
		font-size: 14px;
	}
	.article_url {
		width: 250px;
		font-size: 13px;
	}
	.warning {
		width: 115px;
	}
	.error {
		width: 90px;
	}
	.error,.warning {
		color: #000;
		font-size: 11px;
		line-height: 11px;
	}
	.first-line .error, .first-line .warning {
		color: #FFF;
		font-size: 14px;
		line-height: 21px;
	}
	.gif_processed {
		display: none;
	}
	.gif_processed_error {
		display: none;
	}
	.titlechange {
		display: none;
	}
}
