<p id="saw_info_box" {{^isTagged}} class="hidden" {{/isTagged}}>

	Sensitive Topic Reasons - <a href="#" id="saw_edit_btn">Edit</a>

	{{#reasons}}
		{{#selected}}
			<br>&nbsp;&nbsp;{{name}}
		{{/selected}}
	{{/reasons}}

</p>

<p id="saw_edit_box" {{#isTagged}} class="hidden" {{/isTagged}}>

	Sensitive Topic Reasons - <a href="#" id="saw_save_btn">Save</a>

	<select id="saw_reasons" name="reasons[]" multiple style="display: block; margin: 4px 0 10px;">
	{{#reasons}}
		{{#enabled}}
			<option value="{{id}}" {{#selected}} selected {{/selected}}>{{name}}</option>
		{{/enabled}}
	{{/reasons}}
	</select>

</p>
