<div class="wh_vote_container">
	<span class='wh_thumb_response wh_thumb_msg'>{{thumbs_response}}</span>
	<div>
		<a href="#" class="wh_vote_down wh_vote_box">{{thumbs_nohelp}} <span>{{votesDown}}</span></a>
		<a href="#" class="wh_vote_up wh_vote_box">{{thumbs_help}} <span>{{votesUp}}</span></a>
	</div>
</div>


