<div class="wh_vote_container qa_vote_buttons">
	<span class='wh_thumb_response wh_thumb_msg'>{{thumbs_response}}</span>
	<div class="qa_widget_vote_links">
		<a href="#" class="wh_vote_up wh_vote_box button secondary">{{qa_thumbs_yes}}</a>
		<a href="#" class="wh_vote_down wh_vote_box button secondary">{{qa_thumbs_no}}</a>
	</div>
	<div class="qa_widget_vote_buttons">
		<a href="#" class="wh_vote_down wh_vote_box">{{qa_thumbs_nohelp}} <span>{{votesDown}}</span></a>
		<a href="#" class="wh_vote_up wh_vote_box">{{qa_thumbs_help}} <span>{{votesUp}}</span></a>
	</div>
</div>


