<div class="wh_vote_container">
	<span class='wh_thumb_response wh_thumb_msg'>{{thumbs_response}}</span>
	<a href="#" class="wh_vote_up wh_vote_box">
		<span class="wh_thumb wh_up" role="button" aria-label="Thumbs up to this"></span><span class="wh_count">{{votesUp}}</span>
	</a>
	<a href="#" class="wh_vote_down wh_vote_box">
		<span class="wh_thumb wh_down" role="button" aria-label="Thumbs down to this"></span><span class="wh_count">{{votesDown}}</span>
	</a>
</div>
