<form class="searchbox-form" action="/wikiHowTo">
	<span class="searchbox-input">
		<input type="text" placeholder="{{placeholder}}" name="search" class="search_input">
	</span>
	<span class="searchbox-button">
		<button type="submit" name="submit" class="button primary"><span>{{button}}</span></button>
	</span>
</form>