
table.importxml {
	width: 600px;
	margin-left:auto; margin-right:auto;
	margin-top: 20px;
}

table.importxml td {
	border-bottom: 1px solid #eee;
}

tr.toprow td {
	font-weight: bold;
}

textarea.xmlinput {
	width: 600px;
	height: 100px;
}

textarea.xml_edit {
	height: 300px;
	width: 580px;
	margin-left: 10px;
}

tr.pub {
	display: none;
}

