.ab-box{
	border:1px solid #e5e5e5;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
	padding:10px;
	margin:20px 0px;
	font-size:1.1em;
	position:relative;
	background-color:#fff;
}

.ab-badge{
	position:absolute;
	top: 10px;
	left: 15px;
	width: 60px;
	height: 60px;
	background: center top / 60px no-repeat;
}

.ab-admin {
	background-image:url("/extensions/wikihow/WikihowUserPage/assets/badge_admin.svg");
}

.ab-nab {
	background-image:url("/extensions/wikihow/WikihowUserPage/assets/badge_booster.svg");
}

.ab-fa {
	background-image:url("/extensions/wikihow/WikihowUserPage/assets/badge_featured.svg");
}

.ab-welcome {
	background-image:url("/extensions/wikihow/WikihowUserPage/assets/badge_welcomer.svg");
}

.ab-box h3{
	margin-left:80px;
	font-size:16px;
	margin-bottom:5px;
}

.ab-box p{
	margin-left:80px;
}

.undoArticleInner{
	padding:13px 27px 50px 23px;
}
