<div id="cat_outer">
{{#cats}}
	{{#even}}
		<div class="cat_container">
	{{/even}}
			<div class="cat_list">
				<h3>{{{catname}}}</h3>
				<ul>
				{{#subcats}}
					<li>{{{subcatname}}}</li>
				{{/subcats}}
				</ul>
			</div>
	{{#odd}}
		</div>
	{{/odd}}
{{/cats}}
</div>