/** FOLLOW US WIDGET **/
#follow_table {
	margin-left: 7px;
}
#follow_table_cta #follow_table {
	margin-left: -3px;
}
#follow_table_cta .fw_cell {
	height: 40px;
	width: 40px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 7px;
}

.follow_sidebox {
	overflow: auto;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 9px;
	padding-right: 8px;
}
.fw_cell {
	float:left;
	height: 32px;
	width: 32px;
	margin-left: 9px;
	margin-top: -2px;
	margin-right: 8px;
	margin-bottom: 11px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	display: block;
}
#gatFollowFacebook {
	/* @embed */
	background-image: url(../../skins/owl/images/facebook-64.png);
}
#gatFollowTwitter {
	/* @embed */
	background-image: url(../../skins/owl/images/twitter-64.png);
}
#gatFollowRss {
	/* @embed */
	background-image: url(../../skins/owl/images/rss-64.png);
}
#gatFollowNewsletter {
	border-radius: 6px;
	background-color: #FFF;
	background-size: 35px;
	background-position: 40%;
	background-image: url(/extensions/wikihow/userloginbox/images/ulb_email.png);
	/* @embed */
	background-image: url(/extensions/wikihow/userloginbox/images/ulb_email.svg);
}
#follow_table_cta #gatFollowNewsletter {
	background-size: 47px;
	padding-bottom: 1px;
	margin-top: -3px;
	background-position: 50%;
}
#gatFollowPinterest {
	/* @embed */
	background-image: url(../../skins/owl/images/pinterest-64.png);
}
#gatFollowTumblr {
	/* @embed */
	background-image: url(../../skins/owl/images/tumblr-64.png);
}
#gatFollowStumbleupon {
	/* @embed */
	background-image: url(../../skins/owl/images/stumbleupon-64.png);
}
#gatFollowAndroid {
	/* @embed */
	background-image: url(../../skins/owl/images/android-64.png);
}
#gatFollowApp {
	/* @embed */
	background-image: url(../../skins/owl/images/app_store_icon.png);
}
#gatFollowInstagram {
	/* @embed */
	background-image: url(../../skins/owl/images/instagram-64.png);
}
#follow_table_cta #gatFollowApp {
	height:40px;
	width: 135px;
	background-image: url(../../skins/owl/images/app_store_cta.png);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../../skins/owl/images/app_store_cta.svg);
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(../../skins/owl/images/app_store_cta.svg);
	background-size: auto;
}

