<div id="catlist_container">
	<div id="cat_separator"></div>
	<div id="catlist">
		{{#subcats}}<div><img src="{{{img}}}" /><a href="{{{url}}}" id="cat_list_{{id}}">{{cat_title}}</a></div>{{/subcats}}
	</div>
</div>

{{#subcats}}
	<div class="cat_container">
		<h3><a href="{{{url}}}">{{cat_title}}</a></h3>
		<div class="subcat_container">
			{{#subsubcats}}
				<div class="subcat">
					<div class="cat_thumb">
						<a href="{{{cat_url}}}">
							<img src="{{{cat_image}}}" />
							<div class="text">
								<p><span>{{cat_text}}</span></p>
							</div>
						</a>
					</div>
					{{#cat_titles}}
						<div class="cat_thumb cat_thumb_small">
							<a href="{{title_url}}">
								<img src="{{{title_image}}}" />
								<div class="text">
									<p>{{howto}}<span>{{title_text}}</span></p>
								</div>
							</a>
						</div>
					{{/cat_titles}}
				</div>
			{{/subsubcats}}
		</div>
	</div>
{{/subcats}}