<div class="np_thumb">
	<a href="{{url}}">
		<div>
			<span>{{howto}}</span>
			<p class="np_title">{{title}}</p>
			<p class="np_text">{{introText}}</p>
			<p class="np_date">{{date}}</p>
		</div>
	</a>
</div>