<div class="np_section">
	{{{introText}}}
	<div id="np_categories">
		{{#categorypicker}}
			<span class="cat_icon">
				<a href="{{link}}"><img src="{{icon}}" loading="lazy" />{{name}}</a>
			</span>
		{{/categorypicker}}
	</div>
	{{#categories}}
		<h2>{{category}}<span id="np_{{catanchor}}"></span></h2>
		<div class="np_grid">
			{{#pages}}
				{{> newpage_thumb.mustache}}
			{{/pages}}
		</div>
	{{/categories}}
	{{#next}}
		<a href="/Special:Newpages?page={{offsetNext}}" class='np_next'>{{offsetTextNext}}</a>
	{{/next}}
	{{#prev}}
	<a href="/Special:Newpages{{#offsetPrev}}?page={{offsetPrev}}{{/offsetPrev}}" class='np_prev' >{{offsetTextPrev}}</a>
	{{/prev}}
</div>