.hyp {
	table {
		width: 100%;
		border-collapse: collapse;
		background: transparent;
		border-top: solid 1px #ecebe8;
		margin-top: 2px;
	}

	tr:last-child td:first-child {
		border-bottom-left-radius: 4px;
	}

	tr:last-child td:last-child {
		border-bottom-right-radius: 4px;
	}

	th, td {
		padding: 0.75em 13px;
	}

	th:first-child, td:first-child {
		padding-left: 26px;
	}

	th:last-child, td:last-child {
		padding-right: 26px;
	}

	th {
		text-align: left;
		font-weight: normal;
		background: #f6f5f4;
		font-size: smaller;
	}

	caption {
		border-top: solid 1px #f6f5f4;
		background: #f6f5f4;
		padding: 4px 26px 5px 26px;
		margin-top: 1px;
		color: #aaa;
	}

	td {
		background: #fff;
	}

	&-controls td {
		background: #f6f5f4;
		padding-bottom: 0;
	}

	&-item td {
		border-top: solid 1px #f6f5f4;
	}

	&-filters {
		text-align: left;
	}

	&-pagers {
		text-align: right;
	}

	&-empty {
		border-top: solid 1px #f6f5f4;
		text-align: center;
		color: #ccc;
		cursor: auto;
	}

	&-rev-a {
		border-top-color:#ffe49c !important;
		white-space: nowrap;
	}

	&-rev-b {
		border-top-color: #a3d3ff !important;
		white-space: nowrap;
	}

	&-row {
		width: 100%;
		content: "";
		clear: both;
		display: table;
	}

	&-col-1 { width: 8.33%; }
	&-col-2 { width: 16.66%; }
	&-col-3 { width: 25%; }
	&-col-4 { width: 33.33%; }
	&-col-5 { width: 41.66%; }
	&-col-6 { width: 50%; }
	&-col-7 { width: 58.33%; }
	&-col-8 { width: 66.66%; }
	&-col-9 { width: 75%; }
	&-col-10 { width: 83.33%; }
	&-col-11 { width: 91.66%; }
	&-col-12 { width: 100%; }

	[class*="hyp-col-"] {
		float: left;
		padding: 13px;
		box-sizing: border-box;
	}

	[class*="hyp-col-"]:first-child {
		padding-left: 0;
	}

	[class*="hyp-col-"]:last-child {
		padding-right: 0;
	}

	&-row:first-child > [class*="hyp-col-"] {
		padding-top: 0;
	}

	&-truncate {
		position: relative;
	}

	&-truncate > span,
	&-truncate > a {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: inherit;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-truncate:before {
		content: '\0000a0';
		display: inline-block;
	}

	&-experiments {
		cursor: pointer;
	}

	&-tools {
		position: absolute;
		right: 13px;
		top: -2px;
	}

	&-action {
		text-align: right;

		.button {
			margin-right: 0;
		}
	}

	&-switch {
		color: #545454;
		padding: 8px 8px;
		font-size: 12px;
		font-weight: bold;
		background: white;
		border: solid 1px #e5e5e5;
		display: inline-block;
		line-height: 0.5em;
		border-right-color: transparent;
	}

	&-switch:first-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&-switch:last-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-right-color: #e5e5e5;
	}

	&-switch:hover {
		border-color: #2483ef;
		color: #2483ef;
		text-decoration: none;
	}

	&-switch.hyp-selected {
		border-color: #999;
		background: #999;
		color: white;
	}

	&-switch.hyp-selected:hover {
		border-color: #aaa;
		background: #aaa;
	}

	&-switch.hyp-disabled {
		border-color: #e4e4e4;
		color: #999;
		background: #e4e4e4;
		cursor: default;
	}

	&-switch.hyp-disabled:hover {
		color: #999;
	}

	&-error {
		color: red;
	}

	&-status:before {
		content: '◯';
		color: #999;
		padding: 0 0.125em;
	}

	&-status-actions {
		position: absolute;
		text-align: right;
		width: 100%;
	}

	&-running .hyp-status:before {
		content: '◉';
		color: #89ac6c;
		padding: 0 0.125em;
	}

	&-icon {
		color: #686868;
		display: inline-block;
		font-weight: bold;
		font-size: 1.25em;
	}

	&-icon:hover {
		text-decoration: none;
		color: #2483ef;
	}

	&-icon-edit {
		background-image: url( 'edit.svg' );
		width: 1em;
		height: 1em;
	}

	&-icon-diff {
		background-image: url( 'diff.svg' );
		width: 1em;
		height: 1em;
	}

	&-icon-view {
		background-image: url( 'view.svg' );
		width: 1em;
		height: 1em;
	}

	&-field {
		position: relative;
		display: block;
		padding-bottom: 1em;
	}

	&-input-heading {
		border: none;
		border-bottom: 2px solid #999;
		font-size: 20px;
		font-weight: bold;
		margin: 0 27px;
		padding: 0;
		width: 500px;
		background: transparent;
	}

	&-input-textarea {
		font-size: 1em;
		padding: 0.25em;
		color: #545454;
		width: 100%;
		height: 4.3em;
		box-sizing: border-box;
		margin: -2px 0;
	}

	&-input-text {
		border: 2px solid #999;
		font-family: sans-serif;
		font-size: 1em;
		color: #545454;
		width: 100%;
		box-sizing: border-box;
		padding: 2px;
		margin: -2px 0;
	}

	&-input-text.hyp-input-inline {
		width: auto;
		display: inline-block;
	}

	&-input-text[disabled] {
		background-color: #ecebe8;
		color: #999;
	}

	&-optimizely .button {
		background-image: url(optimizely.png);
		background-size: 24px 24px;
		background-position: 12px center;
		background-repeat: no-repeat;
		padding-left: 46px;
	}

	&-optimizely p:first-child {
		margin-bottom: 0.75em;
	}

	&-lock {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(236,235,232,0.5);
		z-index: 4;
	}

	&-wait,
	&-wait:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}

	&-wait {
		margin: 60px auto;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		border-top: 1.1em solid rgba(255, 255, 255, 0.2);
		border-right: 1.1em solid rgba(255, 255, 255, 0.2);
		border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
		border-left: 1.1em solid #ffffff;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: hyp-wait-spin 1.1s infinite linear;
		animation: hyp-wait-spin 1.1s infinite linear;
	}
}

@-webkit-keyframes hyp-wait-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes hyp-wait-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}