<a id="instagram_article_block" href="{{link}}" class="v1">
	<div></div>
	<div>{{{image}}}</div>
	<div class="iab_body">
			{{{text}}}
			<div class="iab_cta">{{{cta}}}</div>
	</div>
	<div></div>
</a>