<div class="noimage_thumb">
	<a href="{{url}}">
		<div>
			<span>{{howto}}</span>
			<p class="noimage_title">{{title}}</p>
			<p class="noimage_text">{{introText}}</p>
			<p class="noimage_date">{{date}}</p>
		</div>
	</a>
</div>