@import '../less/variables.less';

#section_0.special_title {
	padding-left: 18px !important;
}

.mw-spcontent {
	background-color: #fff;
	padding: 27px;
}

.np_section {
	background-color: #ffffff;
	padding: 15px 10px 40px 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	margin-top: -20px;
}

#reindexedpages_container {
	display: grid;
	grid-template-columns: minmax(0,1fr);
	grid-gap: 10px;
}

.content h2 {
	clear: both;
	font-size: 20px;
	margin-top: 30px;
	font-weight: bold;
	position: relative;

	span {
		top: -50px;
		display: block;
		position: absolute;
	}

	a {
		float: right;
		font-size: 16px;
	}
}

.stable .content .noimage_thumb {
	border: 1px solid #dfdfdf;
	border-radius: 7px;
	position: relative;
	overflow: hidden;
	padding: 10px 10px 20px 10px;

	span {
		font-size: 11px;
		color: #808080;
	}

	.noimage_title {
		font-size: 16px;
		color: #6E8A57;
		font-weight: bold;
		margin-bottom: 0;
		line-height: 21px;
	}

	.noimage_text {
		margin: 10px 0;
		font-size: 14px;
		color: #707070;
		line-height: 18px;
	}

	.noimage_date {
		text-transform: uppercase;
		font-size: 11px;
		color: #707070;
		margin-bottom: 0;
		line-height: normal;
		font-weight: bold;
		position: absolute;
		bottom: 10px;
	}

	a:hover {
		text-decoration: none;

		span, .noimage_title {
			color: #2483ef;
			text-decoration: none;
		}
	}
}

.np_next {
	float: right;
	margin-top: 10px;
}
.np_prev {
	float: left;
	margin-top: 10px;
}

@media @medium {
	#np_categories {;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	#reindexedpages_container {
		grid-template-columns: minmax(0,1fr) minmax(0,1fr);
	}

	.np_section {
		padding: 15px 20px 40px 20px;
		margin-top: -50px;
	}

	h2 a {
		display: block;
		float: right;
		font-size: 16px;
	}
}


@media @large {
	#np_categories {;
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	#reindexedpages_container {
		grid-template-columns: repeat(3,minmax(0,1fr));
	}
}