<script>
window.WH.translateEditorData = {
	sources_name: {{{sources_name}}},
	references_name: {{{references_name}}},
	steps_name: {{{steps_name}}},
	translations: {{{translations}}},
	remove_templates: {{{remove_templates}}},
	remove_sections: {{{remove_sections}}}
};
{{#checkForLL}}
window.WH.translateEditorCheckForLL = true;
{{/checkForLL}}
{{#translateURL}}
window.WH.translateEditorTranslateURL = true;
{{/translateURL}}
</script>
{{#translateURL}}
	<div id="translatesection">
		<form>
			<div style="margin-left:15px;">
				<p />
				<label for="translate_url">Enter the English URL you want to translate:</label>
					<br/><br/><input type="text" style="width:600px;font-size:14pt;" id="translate_url" />
			</div>
			<input style="margin-left:13px;" type="button" id="translate" value="Fetch English Article to Translate" /><br/><br/>
			<div id="article_editor"></div>
			<div id="translation_warning" style="margin: 15px 0;"></div>
		</form>
	</div>
{{/translateURL}}
{{#translationExists}}
	{{#translatedSummary}}
		<div id="intl_summary" style="display:none">{{translatedSummary}}</div>
	{{/translatedSummary}}
{{/translationExists}}
