<div id="userlogin_alt_logins">
	<div class="headline">{{alt_login_header}}</div>
	<div id="fb_connect">
		<a id="fb_login" href="#" role="button" class="ulb_button loading" aria-label="{{aria_facebook_login}}"><span class="ulb_loading_indicator"></span><span class="ulb_icon"></span><span class="ulb_label">{{ulb-btn-fb}}</span><span class="ulb_status">{{ulb-btn-loading}}</span></a>
	</div>
	<div id="gplus_connect">
		<a id="gplus_login" href="#" role="button" class="ulb_button loading"  aria-label="{{aria_google_login}}"><span class="ulb_loading_indicator"></span><span class="ulb_icon"></span><span class="ulb_label">{{ulb-btn-gplus}}</span><span class="ulb_status">{{ulb-btn-loading}}</span></a>
	</div>
	{{#show_civic}}
	<div id="civic_connect">
		<a id="civic_login" href="#" role="button" class="ulb_button loading"  aria-label="{{aria_civic_login}}"><span class="ulb_loading_indicator"></span><span class="ulb_icon"></span><span class="ulb_label">{{ulb-btn-civic}}</span><span class="ulb_status">{{ulb-btn-loading}}</span></a>
	</div>
	{{/show_civic}}
</div>