{{{ mobile_tabs }}}

{{> alt_logins}}

<div id="userloginForm" class="usercreateform">
	<div id="userLoginOr">{{loginor}}</div>
	<div class="sub_social_login">{{or_create_an_account}}</div>
	{{{form}}}
</div>
