#ch_body {
	text-align: center;
	background-color: #fff;
}

.charity_background_box {
	background-image: url(/extensions/wikihow/charity/images/ch_bkg3.jpg);
	background-size: cover;
}

#ch_header {
	padding: 50px 0;
}

#ch_logo {
	height: 49px;
	overflow: hidden;
	margin-bottom: 30px;

	img {
		width: 300px;
	}
}

#ch_landing {
	margin: 30px;
	font-size: 32px;
	color: #FFF;
	line-height: 1em;
}

#ch_hero {
	width: 1050px;
}

.ch_bold {
	font-weight: bold;
	font-size: 18px;
}

.ch_tiles div {
	padding: 0 30px 30px 30px;
	text-align: left;
}

.ch_wh_pics {
	max-width: 500px;
	margin: 30px auto;
}
#ch_team_image {
	width: 50%;
}
#ch_comm_image {
	width: 37%;
}
#ch_about_wH {
	width: 100%;
}

#ch_stories {
	background-color: #f8f8f8;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 30px 40px;
	justify-content:center;
}

.ch_review {
	background-color: #fff;
	text-align: left;
}

.ch_from_article {
	font-size: 13px;
}

.ch_initials, .ch_avatar {
	width: 36px;
	height: 36px;
	background-color: #adc996;
	border-radius: 18px;
	margin-right: 5px;
	vertical-align: bottom;
	float: left;
}

.ch_initials {
	line-height: 36px;
	text-align: center;
	color: white;
}

.ch_name {
	display: inline-block;
	line-height: 36px;
	text-transform: capitalize;
}

.ch_user, .ch_review_text {
	margin-bottom: 10px;
}

#ch_share_button {
	border-color: #94B777;
	color: #94B777;
	font-size: .85em;
	margin-top: 1em;
	display: inline-block;

	&:hover {
		border-color: rgb(36, 131, 239);
	}
}

#ch_about_charity {
	background-color: #f8f8f8;
}

#ch_footer {
	color: #545454;
}

#ch_koala {
	width: 100px;
}

.ch_bottom_main_text {
	font-size: 1.5em;
	padding-bottom: .5em;
}

#ch_explore_button {
	display: inline-block;
	margin: 0 auto;
}

.ch_mobile#ch_body {
	margin-top: 10px;
}
.ch_mobile {

	#ch_logo {
		height: 46px;
		overflow: hidden;
		margin-bottom: 30px;

		img {
			width: 285px;
		}
	}

	#ch_landing {
		margin: 10px 20px;
		font-size: 24px;
		line-height: 1.5em;
	}

	.ch_heading {
		margin: 25px 5px 0;
		font-weight: bold;
		font-size: 24px;
	}

	.ch_tiles {
		border-spacing: 0px;
		margin: 10px 0;
		font-size: 15px;

		div {
			padding: 0 30px 20px 30px
		}
	}

	.ch_review {
		width: 80%;
		margin: 10px 2%;
		padding: 15px;
	}

	img.ch_avatar {
		width: 36px;
		height: 36px;
		background-color: #adc996;
		display: inline-block;
		border-radius: 18px;
		margin-right: 5px;
		vertical-align: bottom;
	}

	#ch_charity_general {
		margin-bottom: 15px;
		font-size: 15px;
	}

	#ch_about_charity {
		padding: 30px;
		text-align: left;

		h3 {
			font-size: 24px;
			text-align: center;
		}
	}

	#ch_about_charity_box {
		text-align: center;
	}

	#ch_charity_image {
		width: 400px;
		float: left;
		margin-right: 20px;
	}

	#ch_charity_logo {
		width: 175px;
		margin: 15px 0 10px;
	}

	#ch_charity_specific {
		font-size: 15px;
		text-align: left;

		p {
			padding-bottom: 1em;
		}
	}


	#ch_stories {
		padding: 20px 10px;

		h3 {
			font-size: 24px;
			width: 100%;

			span {
				color: #93b874;
				display: block;
			}

			br {
				display: none;
			}
		}

		h4 {
			font-size: 18px;
			width: 100%;
			font-weight: normal;
		}
	}

	#ch_footer {
		padding: 5px 30px 0 20px;
		margin-bottom:-25px;
		border-top:2px solid #93B874;
	}

	#ch_footer_inner {
		display: inline-block;
		text-align: left;
		margin-bottom: 30px;
	}

	#ch_koala {
		float: left;
		padding-right: 15px;
	}

	.ch_bottom_main_text {
		font-size: 1.5em;
	}

	#ch_insta_button, #ch_explore_button {
		padding: 15px 20px;
		text-align: center;
		line-height: 1.5em;
		min-width: 190px;
		border-radius: 4px;
		border: 1px solid #bfbfbf;
		font-weight: bold;
		font-size: 14px;
	}

	#ch_insta_button {
		background-image: url('/extensions/wikihow/charity/images/instagram.png');
		background-position: 10px;
		padding-left: 55px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-size: 35px;
		background-repeat: no-repeat;
		min-width: 145px;
	}

	#ch_social {
		display: none;
	}

	.ch_social_prompt {
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		margin: 10px 0;
		text-align: center;
	}

}

.ch_desktop#ch_body {
	margin: -22px -27px 0 -27px;
}
.ch_desktop {

	#ch_about {
		font-size: 26px;
	}

	.ch_review {
		width: 40%;
		margin: 15px 2%;
		padding: 15px;
		min-width: 300px;
		max-width: 415px;
	}

	#ch_charity_general {
		margin: 20px auto;
		font-size: 18px;
		text-align: center;
		padding: 0 20px;
	}

	#ch_about_charity h3 {
		margin-bottom: 20px;
		font-size: 24px;
		text-align: center;
	}

	#ch_about_charity {
		padding: 30px 4% 0;
		text-align: left;
	}

	#ch_stories {
		padding: 30px 1% 0;

		h3 {
			margin-bottom: 15px;
			font-size: 24px;
			line-height: normal;

			span {
				color: #93b874;
			}
		}

		h4 {
			margin-bottom: 15px;
			font-size: 18px;
			line-height: normal;
			margin: 0;
			background: none;
		}
	}

	.ch_heading {
		margin: 30px auto 0;
		font-weight: bold;
		font-size: 24px;
	}

	.ch_tiles {
		padding: 0 40px;
	}

	#ch_charity_image {
		width: 53%;
		float: left;
		margin-right: 4%;
		max-width: 400px;
		margin-bottom: 3%;
	}

	#ch_charity_logo {
		width: 145px;
		margin-bottom: 1em;
		position: relative;
	}

	#ch_charity_specific {
		font-size: 1em;
		width: 43%;
		float: left;

		p {
			padding-bottom: 1em;
		}
	}

	#ch_about_charity_box {
		/* 3-column layout */
		&.trifold {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			padding-bottom: 2em;

			#ch_charity_image {
				width: 400px;
				max-width: initial;
				height: 267px;
				float: none;
				margin: 0;
			}

			#ch_charity_logo {
				margin: 0 2em;
				width: 140px;
				max-width: initial;
			}

			#ch_charity_specific {
				float: none;
			}
		}
	}

	#ch_footer {
		padding-top: 40px;
		margin-bottom: -21px;
	}

	#ch_koala {
		position: absolute;
		left: 80px;
		margin-top: -10px;
	}

	#ch_explore_button {
		width: 300px;
		font-size: 1em;
	}

	#ch_social {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 2em 0 1em;
	}
	.ch_social_button {
		float: right;
		margin-left: 10px;
	}
}

#content  {
	margin-bottom: 5px;
}

#main_container {
	width: 90%;
	max-width: 1050px;
}

.no_sidebar #article_shell {
	width: 100%;
}
#mw-mf-page-center {
	padding-bottom: 20px !important;
}
