.donate.section h2 .altblock {
	background-image: url(images/wH_round.png);
	background-repeat: no-repeat;
	background-size: 48px auto;
	background-position: center;
	height: 52px;
}
.donate.section.don_default h2 .mw-headline {
	margin: 0;
}

.don_mobile #donate_bottom {
	background-color: #f6f5f4;
	margin: 0 -15px -14px -15px;
	padding: 27px;
	text-align: center;
}

.don_mobile #donate_button {
	display: inline-block;
	margin: 0 auto;
	padding: 14px 20px;
	text-align: center;
}

.don_desktop #donate_bottom {
	background-color: #f6f5f4;
	margin: 0 -27px -26px -27px;
	padding: 27px;
	text-align: center;
}
.don_default #donate_bottom {
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

.don_desktop #donate_button {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
}
.don_default #donate_button {
	padding-left: 46px;
	background-repeat: no-repeat;
	background-size: 23px;
	background-position: 16px center;
	background-image: url(images/heart.png);
	/* @embed */
	background-image: url(images/heart.svg);
}

.donate_quote_line {
	border-top: 1px solid #cbdcbb;
	width: 65%;
	max-width: 350px;
	margin: 1.3em auto;
}

#donate_quote {
	font-style: italic;
}

#donate_quote_opening {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: .7em;
}

#donate_close {
	float: right;
	margin: 22px 22px 0 0;
	display: block;
	/* @embed */
	background: url(/skins/owl/images/ico-x.png) no-repeat 0 0;
	width: 14px;
	height: 14px;
	position: relative;
}