@import '../less/variables.less';

#cat_outer {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.cat_list {
	border: 1px solid #e5e5e5;
	padding: 10px;
	background: white;
	margin: 0 1% 1em;
	box-sizing: border-box;
	width: 48%;
	min-width: 300px;

	ul {
		padding-left: 0;
	}
}

.content .cat_list h3 {
	padding: 0 0 .5em ;
}


@media only screen and (min-width:975px) {
	.content {
		border: 1px solid #e5e5e5;
		padding: 22px 27px;
	}
}
