<div class="section tips sticky">

	<h2 class="section-heading">
		<div class="altblock"></div>
		<span class="mw-headline" id="Tips">{{tips}}</span>
	</h2>

	<div id="tips" class="section_text"></div>

</div>
