{{#divider}}
	<div class="qa_divider"></div>
{{/divider}}

<div class='addTipElement'>
	<div class='addTipHeader'>
		{{header}}
		<div>{{subheader}}</div>
	</div>

	<div class='addTipForm'>
		<input type='text' class='newtip' placeholder='{{newtip_ph}}' />
		<a href='#' class='addtip op-action button primary' role='button' aria-label='{{add_tip_aria}}'>{{submit}}</a>

		<div class='tip_waiting'></div>
	</div>

	<div class='addTipThanks'>
		{{thanks}}
	</div>
</div>
