#ae_tabs {
	margin-bottom: 12px;

	a.active {
		font-weight: bold;
		color: #545454;
		&:hover {
			text-decoration: none;
		}
	}

}

#ae_intro {
	margin: 15px 0;
}

#ae_input_area {
	display: block;
	width: 98%;
	max-width: 98%;
	height: 150px;
	margin-bottom: 18px;
	border-width: 1px;
	border-radius: 3px;
}

#ae_results {
	margin-top: 20px;
	ul {
		list-style-type: circle;
	}
	li {
	    margin: 5px 0;
	}
}
