.kbsectioncontainer {
    background: #e7ebe4;
}

.kbsection {
    overflow: auto;
    width: inherit;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 20px;
}

h3.kbsection {
    margin: 20px 0 10px 0;
    padding: 15px;
    color: #222;
}

h4.kbsection {
    margin: 15px 0 10px -8px;
    padding: 8px 8px 8px 0;
}

.kbsectioncontents {
    margin: 0 8px 10px 8px;
    padding: 0 15px 20px 15px;
}

#kbbulkadd, #kbbulkupdate, #kbbulkdisable, #kbbulkenable {
    max-width: 96%;
    height: 160px;
    overflow-x: none;
    overflow-y: auto;
    margin-bottom: 10px;
}

#kbbulkadd, #kbbulkupdate {
    width: 360px;
}

#kbbulkdisable, #kbbulkenable {
    width: 180px;
}

#kbwarning {
    color: #777;
    margin-bottom: 10px;
}

.kbtable {
    margin:0px;
    padding:0px;
    width:100%;
    border:1px solid #ffffff;
    
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.kbaddtable {
	margin-top: 16px;
}

.kbtable table, .kbaddtable table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.kbtable tr:last-child td:last-child, .kbtable tr:last-child th:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.kbtable table thead tr:first-child th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.kbtable table thead tr:first-child th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.kbtable tr:last-child td:first-child, .kbtable tr:last-child th:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table.tablesorter thead tr th {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 21px;
}

table.tablesorter thead tr th.header, table.tablesorter thead tr th.headerSort {
	/* @embed */
	background-image: url(/extensions/wikihow/KnowledgeBox/images/sort_both_white.gif);
}

table.tablesorter thead tr th.headerSortUp {
	/* @embed */
	background-image: url(/extensions/wikihow/KnowledgeBox/images/sort_up_white.gif) !important;
	background-color: #004422 !important;
}

table.tablesorter thead tr th.headerSortDown {
	/* @embed */
	background-image: url(/extensions/wikihow/KnowledgeBox/images/sort_down_white.gif) !important;
	background-color: #004422 !important;
}

table.tablesorter thead tr:first-child:hover th.headerSortUp, table.tablesorter thead tr:first-child:hover th.headerSortDown {
	background-color: #005522 !important;
}

.kbtable tr.kbactive:nth-child(odd) {
    background-color:#ceeace;
}

.kbtable tr.kbactive:nth-child(odd):hover {
    background-color:#befabe;
}

.kbtable tr.kbactive:nth-child(even) {
    background-color:#e6f2e8;
}

.kbtable tr.kbactive:nth-child(even):hover {
    background-color:#d6ffd8;
}

.kbtable tr.kbinactive:nth-child(odd) {
    background-color:#eacece;
}

.kbtable tr.kbinactive:nth-child(odd):hover {
    background-color:#fabebe;
}

.kbtable tr.kbinactive:nth-child(even) {
    background-color:#f2e6e8;
}

.kbtable tr.kbinactive:nth-child(even):hover {
    background-color:#ffd8d6;
}

.kbtable td, .kbtable th {
    vertical-align:middle;
    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}

.kbtable tr:last-child td, .kbtable tr:last-child th {
    border-width:0px 1px 0px 0px;
}

.kbtable tr td:last-child, .kbtable tr th:last-child {
    border-width:0px 0px 1px 0px;
}

.kbtable tr:last-child td:last-child, .kbtable tr:last-child th:last-child {
    border-width:0px 0px 0px 0px;
}

.kbtable thead tr:first-child th {
    background-color:#042406;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}

.kbtable thead tr:first-child:hover th {
    background-color:#08380b;
}

.kbtable thead tr:first-child th:first-child {
    border-width:0px 0px 1px 0px;
}

.kbtable thead tr:first-child th:last-child {
    border-width:0px 0px 1px 1px;
}

.kbtable .kbrowaction {
    position: relative;
    text-align: center;
}

.kbtable .kbdummyrow  {
    display: none;
}

.kbbuttonlarge {
    padding: 4px 10px;
}

.kbbuttonsmall {
    padding: 3px 6px;
}

.kbsmallheader {
    font-size: 11px;
}

.kbdisable {
    font-weight: bold;
    color: #900;
}

.kbenable {
    font-weight: bold;
    color: #090;
}

.kbgray {
    color: #888;
}

.kbtable input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.kbitemediting {
    display: none;
}

.kbtooltip {
    display: none;
    position: absolute;
    width: 128px;
    border-radius: 12px;
    box-shadow: 3px 4px 6px rgba(0,0,0,.2);
    background-color: #f7dbe4;
    border: 1px dotted #f74c44;
    text-shadow: 2px 3px 5px #c99;
    color: #a00;
    padding: 8px;
    z-index: 10;
}
