<!-- image uploader dialog html -->
<div id="iu_dialog" title="{{image_uploader_title}}">
	<div id="iu_dialog_inner">
	{{> initial_screen}}
	{{> license_screen}}
	</div>
</div>
<!-- END image uploader dialog html -->
