<div id="press_sidebox" class="sidebox">
	<h3>{{header}}</h3>
	{{#press}}
	<div class="press_block">
		{{#link}}<a href="{{link}}">{{/link}}
		<img src="{{img}}" width="65" height="65" alt="{{outlet}}" class="press_outlet" />
		{{#link}}</a>{{/link}}
		<div class="press_quote">{{{quote}}}</div>
	</div>
	{{/press}}
</div>