<div class="cat_section" id="cat_covid_message">

	<h2>{{header}}</h2>

	<a href="{{learn_more_link}}" id="parentsguide_cover">
		<img src="skins/owl/images/covid_parentsguide_cover.png" />
	</a>

	<div>
		<a href="{{learn_more_link}}" class="cat_subheader">{{subheader}}</a>
		<p>{{text}}</p>
		<a href="{{learn_more_link}}" class="button primary">{{learn_more}}</a>
	</div>

</div>