@import '../../less/variables.less';

@textColor: #444F45;

.pre-content {
	display: table;
	width: 100%;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}

#content_inner .pre-content {
	margin-bottom: 10px;
}

#cat_parent {
	display: table-cell;
	padding: 15px;
	width: 15px;
	vertical-align: middle;
	font-size: 0;
	position: relative;

	&:after {
		position: absolute;
		top: 40%;
		right: 30%;
		content: "";
		width: 10px;
		height: 10px;
		border: solid #CCC;
		border-width: 0 2px 2px 0;
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
}

.cat_page_title {
	border-left: 1px #dbdbdb solid;
	display: table-cell;
	padding: 15px;
	margin-left: 31px;
	font-size: 20px;
	color: #222;
}

.cat_section {
	background-color: #ffffff;
	padding: 15px 10px 20px 10px;
	margin-bottom: 10px;
	border-radius: 6px;

	&.cat_no_articles {
		display: none;
	}
}

.content .cat_section h2 {
	padding-top: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.stable .content .responsive_thumb p {
	line-height: 21px;
}

.responsive_thumb {
	border: 1px solid #dfdfdf;
	border-radius: 7px;
	position: relative;
	overflow: hidden;

	a p {
		font-size: 16px;
		color: @textColor;
		font-weight: bold;
		margin-bottom: 0;
	}

	span {
		font-size: 11px;
		color: #808080;
	}

	a {
		display: block;
		padding-bottom: 0.4em;
		height: 100%;
	}

	a:hover,
	a:hover span,
	a:hover p {
		text-decoration: none;
		color: #2483ef;
	}

	a > div {
		padding: 0 10px;
	}
}

#cat_description {
	padding: 20px 15px;
	border-bottom: 1px solid #e3ebe8;
	margin-bottom: 10px;

	h1 {
		display: none;
	}
}

#cat_all {
	padding-top: 15px;
}

#cat_featured {
	border-bottom: 1px solid #ecebe8;
}

.cat_grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	grid-gap: 10px;
}

.cat-spinner {
	margin: 15px auto;
	background: url(/extensions/wikihow/mobile/images/hillary_spin.gif) no-repeat center center;
	height: 30px;
}

.pagination {
	text-align: center;
	margin: 16px 0;

	li {
		list-style: none;
		display: inline-block;
		margin-bottom: 5px;
		width: 1.8em;
		padding: .2em 0;
	}
}

.button.primary.pag_prev {
	margin: 0 0 10px 0px;
	border-radius: 8px;
	font-size: 16px;
	position: relative;
	padding-left: 25px;

	&:before {
		position: absolute;
		top: 37%;
		left: 13%;
		content: "";
		width: 7px;
		height: 7px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
}

.button.primary.pag_next {
	margin: 0 6px 10px 0;
	border-radius: 8px;
	font-size: 16px;
	position: relative;
	padding-right: 23px;

	&:after {
		position: absolute;
		top: 37%;
		right: 15%;
		content: "";
		width: 7px;
		height: 7px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

#cat_sub_categories {
	font-size: 14px;
	clear: none;
	padding: 0 0 20px 0;

	h2 {
		padding-left: 15px;
		padding-top: 15px;
		font-size: 1.4em;
	}

	ul > li {
		list-style: none;
		margin-bottom: 5px;
	}
}

#subcats {
	display: grid;
	margin: 0 15px;
}

#cat_sub_categories .subcat_container {
	border: 1px solid #f0f0f0;

	&.expanded {
		background-color: #f9f9f9;

		> span {


			a {
				font-weight: bold;
			}
		}

		.show_more {
			border-left: none;

			&:after {
				position: absolute;
				top: -2px;
				right: 10px;
				content: "_";
			}
		}

		.subcategory {
			display: block;

			a {
				border: 1px solid #f0f0f0;
				background-color: #fff;
				padding: 9px;
				border-radius: 7px;
				display: block;
			}
		}
	}

	> span {
		display: table;
		padding: 0;
		table-layout: fixed;
		width: 100%;
	}

	.subcategory {
		display: none;
		padding: 8px 35px;
	}

	a {
		font-size: 16px;
		display: table-cell;
		padding: 8px 15px;

		&.show_more {
			display: table-cell;
			width: 35px;
			height: 30px;
			position: relative;
			border-left: 1px solid #f3f3f3;
			margin: -8px 0;
			padding: 5px 0;

			&:after {
				position: absolute;
				top: 8px;
				right: 9px;
				content: "+";
				color: #ccc;
				font-size: 30px;
			}
		}
	}
}

#top_level_more {
	display: inline;
	display: none;
}

#cat_furtherediting h3 {
	background-color: #fff;
	margin-bottom: 10px;
}

#cat_furtherediting ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	list-style: none;
	margin-top: 20px;
}

#cat_furtherediting li {
	margin-bottom: 10px;
}

#cat_container {
	margin-bottom: 10px;
	border-radius: 8px;
}

#cat_text_only {
	display: none;
}

@media @medium {
	#subcats {
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.cat_grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.pre-content {
		display: none;
	}

	#large_pagination {
		display: block;
	}

	#cat_description {
		padding: 20px;
		margin-bottom: 20px;

		h1 {
			display: block;
			font-weight: bold;
			font-size: 35px;
			padding-top: 0;
		}
	}

	.cat_section {
		padding: 15px 20px 20px;
		margin-bottom: 20px;

		&.cat_no_articles {
			display: block;

			h1 {
				padding: 0;
			}
		}
	}
}

@media @large {
	.cat_grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	#cat_text_only {
		float: right;
		font-size: 12px;
		display: block;
	}
}