<div class="pre-content">
	<a id="cat_parent" href="{{cat_parent_url}}"><i class="fa fa-chevron-left"></i></a>
	<div class="cat_page_title">{{cat_title}}</div>
</div>

{{{carousels}}}

<div class="cat_loading"></div>

<!--  Template for rendering a carousel slide from a JSON response -->
<script id="cat_slide_template" type="text/x-handlebars-template">
	{{template}}
</script>


