<div class="responsive_thumb {{classes}}">
	<a href="{{url}}">
		<img data-src="{{data-src}}" src="{{data-src}}" id="{{id}}" alt="" />
		<div>
			<span>{{howto}}</span>
			<p>{{title}}</p>
		</div>
	</a>
</div>