<div class="cat_section cat_no_articles">
	<a id="cat_text_only" href="{{{reverseURL}}}">{{reverse_order}}</a>
	<h1>{{categoryName}}</h1>
</div>
<div class="section minor_section">
	<ul>
		{{#articles}}
			<li>{{{articleLink}}}</li>
		{{/articles}}
	</ul>
</div>