<div class="cat_section" id="cat_description">
	{{#text_only_url}}
		<a href="{{{text_only_url}}}" id="cat_text_only">{{{text_only_text}}}</a>
	{{/text_only_url}}
	<h1>{{catName}}</h1>
	{{{description}}}
</div>

{{#hasFeatured}}
	<div class="cat_section" id="cat_featured">
		<h2>{{featuredHeader}}</h2>
		<div class="cat_grid">
			{{#featured}}
				{{> responsive_thumb.mustache}}
			{{/featured}}
		</div>
		<div class="clearall"></div>
	</div>
{{/hasFeatured}}

{{#has_watch}}
<div class="cat_section" id="cat_video">
	<h2>{{videoHeader}}</h2>

	<div id="cat_watch_container">
		{{#watch_items}}
			{{> responsive_thumb.mustache}}
		{{/watch_items}}
	</div>
</div>
{{/has_watch}}

<div id="cat_container">
	<div class="cat_section" id="cat_all">
		<h2>{{allArticlesHeader}}</h2>
		<div class="cat_grid">
		{{#all}}
			{{> responsive_thumb.mustache }}
		{{/all}}
		</div>
		<div class="clearall"></div>
		<div id="large_pagination">
			{{{pagination}}}
		</div>
	</div>

	{{#hasContentAds}}
		<div id="cat_wca" style="display: none;">
			<div id="cat_wca_container">
				<div id="cat_image_wrapper">
					<img src="" />
				</div>
				<h4></h4>
				<p></p>
				<a href="#"></a>
			</div>
			<div id="wca_lightbox" style="display:none;">
				<a href="#" id="wca_close">X</a>
				<h2>Coming Soon!</h2>
				<p>We’re working on some exciting new educational activities and experiences.</p>
				<p>Sign up to be the first to hear about them.</p>
				<input type="text" placeholder="email" />
				<a href="#" id="wca_email">Keep me updated!</a>
			</div>
		</div>
	{{/hasContentAds}}

	{{#hasSubcats}}
		<div class="cat_section" id="cat_sub_categories">

			<h2>{{topicsHeader}}</h2>
			<div id="subcats">
				<ul>
				{{#subcats1}}
					<li><div class="subcat_container {{#hasSubsubcats}}with_subsubcats {{#default_expanded_class}}expanded {{/default_expanded_class}}{{/hasSubsubcats}}"><span>{{{categoryLink}}}
						{{#hasSubsubcats}}
							<a class="show_more"></a></span>
							<div class="subcategory">
								{{#subsubcats}}
									{{{categoryLink}}}
								{{/subsubcats}}
							</div>
						{{/hasSubsubcats}}
					{{^hasSubsubcats}}</span>{{/hasSubsubcats}}
					</div></li>
				{{/subcats1}}
				</ul>
				<ul>
					{{#subcats2}}
						<li><div class="subcat_container {{#hasSubsubcats}}with_subsubcats {{#default_expanded_class}}expanded {{/default_expanded_class}}{{/hasSubsubcats}}"><span>{{{categoryLink}}}
							{{#hasSubsubcats}}
								<a class="show_more"></a></span>
								<div class="subcategory">
									{{#subsubcats}}
										{{{categoryLink}}}
									{{/subsubcats}}
								</div>
							{{/hasSubsubcats}}
							{{^hasSubsubcats}}</span>{{/hasSubsubcats}}
						</div></li>
					{{/subcats2}}
				</ul>
			</div>
		</div>
	{{/hasSubcats}}
	<div class="clearall"></div>
</div>

{{#hasNewpages}}
	<div class="cat_section" id="cat_newpages">
		<h2>{{{newpagesHeader}}}</h2>
		<div class="cat_grid">
			{{#newpages}}
				{{> responsive_thumb.mustache}}
			{{/newpages}}
		</div>
		<div class="clearall"></div>
	</div>
{{/hasNewpages}}

{{#furtherEditing}}
	<div class="cat_section" id="cat_furtherediting">
		{{{furtherEditing}}}
	</div>
{{/furtherEditing}}

{{{covid_section}}}