<div class="responsive_thumb {{classes}}">
	{{#isExpert}}
		<div class="cat_expert">{{expertLabel}}</div>
	{{/isExpert}}
	<a href="{{url}}">
		{{#isVideo}}
			<img src="/extensions/wikihow/homepage/images/play.png" loading="lazy" class="play_button" />
		{{/isVideo}}
		{{{image}}}
		<div>
			<span>{{howto}}</span>
			<p>{{title}}</p>
		</div>
	</a>
</div>