@import '../../../less/variables.less';

#content_wrapper {
	.pre-content {
		#section_0 {
			padding: .5em .8em;
		}
	}

	#mw-content-text {
		margin-top: 1em;
		background: #FFF;
		border-radius: @borderRadius;
		padding: @smallSectionPadding;
	}
}

@media @medium {
	#content_wrapper {
		.pre-content {
			border-radius: @borderRadius;
		}

		#mw-content-text {
			padding: @largeSectionPadding;
		}
	}
}