.embedvideo_gdpr_message {
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	padding-left: 5px;
	display: none;
}
.embedvideo_gdpr_label {
	background: url(/skins/owl/images/sp_icon_info.png);
	/* @embed */
	background: url(/skins/owl/images/sp_icon_info.svg);
	background-size: 14px;
	background-repeat: no-repeat;
	height: 14px;
	padding-left: 8px;
	margin-bottom: 2px;
	vertical-align: bottom;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
}
#show_embedvideo_gdpr_block {
	display: none;
}
#show_embedvideo_gdpr_block:checked ~ .embedvideo_gdpr_message {
	display: block;
}
#show_embedvideo_gdpr_block:checked ~ .edit-page {
	background-position-y: calc(75% - 9px);
}
.geo-group-eu .gdpr_only {
	visibility: visible;
}
.geo-group-eu .no_gdpr {
	visibility: hidden;
}
.video .mw-headline {
	display: inline;
}
.gdpr_only_display {
	display: none;
}
.geo-group-eu .gdpr_only_display {
	display: block;
}
.gdpr_no_display {
	display: block;
}
.geo-group-eu .gdpr_no_display {
	display: none;
}
.m-video-intro-text > span {
	color: #93B874;
	font-weight: bold;
}
.m-video-intro-text {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100px;
	right: 0;
	font-size: 1em;
	font-weight: regular;
	letter-spacing: 1px;
	color: #FFF;
	left: 0;
	text-align: center;
}
.m-video-intro-text:nth-child(1){
	color: #fff;
	font-size: 3em;
	letter-spacing: 2px;
	word-spacing: 0px;
	font-weight: bold;
	left: 6px;
}
.m-video-intro-text.m-video-intro-text-long {
	font-size: 2em;
}
.m-video-intro-text.m-video-intro-text-very-long {
	font-size: 1.5em;
}
.m-video-intro {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: 50%;
}
.m-video-title-text-long-1 {
	font-size: 0.9em;
}
.m-video-title-text-long-2 {
	letter-spacing: normal;
	font-size: 0.8em;
}
.m-video-title-text-long-3 {
	letter-spacing: normal;
	font-size: 0.75em;
}
.m-video-title-text-long-4 {
	letter-spacing: normal;
	font-size: 0.7em;
}
.m-video-title-text-long-5 {
	letter-spacing: normal;
	font-size: 0.65em;
}
.m-video-title-text-long-5 {
	letter-spacing: normal;
	font-size: 0.6em;
}
.m-video-title-text-long-6 {
	letter-spacing: normal;
	font-size: 0.55em;
}
.m-video-title-text-long-7 {
	letter-spacing: normal;
	font-size: 0.5em;
}
.m-video-title-text-long-8 {
	letter-spacing: normal;
	font-size: 0.45em;
}
.m-video-play-count-triangle {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 6px;
	left: 0;
	right: 4px;
	background-color: #FFF;
	text-align: left;
	z-index: 3;
}
.m-video-play-count-triangle:before,
.m-video-play-count-triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.m-video-play-count-triangle,
.m-video-play-count-triangle:before,
.m-video-play-count-triangle:after {
	width:  9px;
	height: 9px;
	border-top-right-radius: 30%;
}
.m-video-play-count-triangle {
	transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
.m-video-play-count-triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.m-video-play-count-triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
