.embedvideo_gdpr_message {
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	padding-left: 5px;
	display: none;
}
.embedvideo_gdpr_label {
	background: url(/skins/owl/images/sp_icon_info.png);
	/* @embed */
	background: url(/skins/owl/images/sp_icon_info.svg);
	background-size: 14px;
	background-repeat: no-repeat;
	height: 14px;
	padding-left: 8px;
	margin-bottom: 2px;
	vertical-align: bottom;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
}
#show_embedvideo_gdpr_block {
	display: none;
}
#show_embedvideo_gdpr_block:checked ~ .embedvideo_gdpr_message {
	display: block;
}
#show_embedvideo_gdpr_block:checked ~ .edit-page {
	background-position-y: calc(75% - 9px);
}
.geo-group-eu .gdpr_only {
	visibility: visible;
}
.geo-group-eu .no_gdpr {
	visibility: hidden;
}
.video .mw-headline {
	display: inline;
}
.gdpr_only_display {
	display: none;
}
.geo-group-eu .gdpr_only_display {
	display: block;
}
.gdpr_no_display {
	display: block;
}
.geo-group-eu .gdpr_no_display {
	display: none;
}
@media only screen and (max-aspect-ratio: 13/9) and (min-width: 500px), only screen and (min-aspect-ratio: 1/1) and (min-height: 421px) {
	.green_tips_box_inline {
		line-height: 27px;
	}
}
.header .search {
	background-color: #93B874;
	background-image: url(/extensions/wikihow/mobile/images/white_mag.png);
	/* @embed */
	background-image: url(/extensions/wikihow/mobile/images/white_mag.svg);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: 25px 8px;
	width: 65px;
	cursor:pointer;
}

#search_oversearch {
	display: none;
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 32px;
	background-color: #93B874;
	top: 0;
	padding: 6px 0 2px 0;
}
#search_oversearch #cse-search-box { margin: 0 10px 0 88%; }
