div.content {
  background: white;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
}

.stable .content p {
  line-height: 20px !important;
}

.mw-ui-button.mw-ui-big {
  font-size: 1.1em;
}

label[for=mw-input-wpUsername] {
  font-weight: bold !important;
}