@medium: ~'only screen and (min-width:728px)';
@large: ~'only screen and (min-width:1070px)';
@largeSectionPadding: 26px;

.ad_label:before {
	display: none;
}
#intro .wh_ad_inner {
	line-height: 0;
}
#tips > .wh_ad_inner > div > ins {
	margin-top: 12px;
}

@media @medium {
	#content_wrapper {
		margin: 1em auto;
		max-width: 1052px;
		padding: 40px 1em 3em;
	}
	#content_inner {
		max-width: 728px;
		margin: 0 auto;
		position: relative;
	}
	.stable .content p, .stable .content li, .stable .content dl, #intro p {
		line-height: 25px;
	}
	#intro {
		font-size: 16px;
		margin: 0;
	}
	#section_0.title_lg, #section_0.title_md, #section_0.title_sm {
		font-size: 35px;
	}
	.mw-headline {
		font-size: 16px;
	}
	.section_text, .steps_text {
		font-size: 16px;
	}
	.steps_list_2 li {
		font-size: 16px;
	}
	.content {
		margin: 0 0 1.5em;
	}
	.pre-content {
		border-radius: 5px;
	}
	.method_ad {
		margin-left: -19px;
	}

	#intro.hasad {
		padding-bottom: 0px;
		border-bottom: 0;
	}
	.steps .wh_ad_inner {
		margin-top: 4px;
		margin-left: -21px;
		margin-bottom: -21px;
		line-height: 0;
	}
	#qa .wh_ad_inner {
		margin-left: -16px;
		margin-bottom: -16px;
		line-height: 0;
	}
	 #relatedwikihows {
		padding-left: 15px;
	 }
	 #relatedwikihows .wh_ad_inner {
		margin-left: -16px;
		margin-bottom: -16px;
		line-height: 0;
	}
	#intro .wh_ad_inner {
		margin-top: 24px;
		margin-left: -15px;
	}
	.qz_container .wh_ad_inner {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 5px;
	}
	.ad_label_method {
		display: none;
	}
	.ad_label {
		display: inline-block;
		margin-top: 13px;
	}
	#intro .ad_label {
		display: block;
	}
	.ad_label_dollar {
		position: relative;
	}
	.ad_label_dollar:after {
		content: '$';
		font-size: 9px;
		font-weight: bold;
		position: absolute;
		left: 5px;
		top: -10px;
		color: #ecebe8;
	}
	.ad_label_dollar.ad_label:before {
		margin-top:-18px;
		left: 0px;
		padding-left: 16px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		background: -webkit-linear-gradient(90deg, #888 13px, #ecebe8 0%);
		background: -moz-linear-gradient(90deg, #888 13px, #ecebe8 0%);
		background: -o-linear-gradient(90deg, #888 13px, #ecebe8 0%);
		background: -ms-linear-gradient(90deg, #888 13px, #ecebe8 0%);
		background: linear-gradient(90deg, #888 13px, #ecebe8 0%);
		border: 1px solid #444;
		font-weight: normal;
	}
	#intro .ad_label_dollar.ad_label:before {
		background: -webkit-linear-gradient(90deg, #888 13px, #fff 0%);
		background: -moz-linear-gradient(90deg, #888 13px, #fff 0%);
		background: -o-linear-gradient(90deg, #888 13px, #fff 0%);
		background: -ms-linear-gradient(90deg, #888 13px, #fff 0%);
		background: linear-gradient(90deg, #888 13px, #fff 0%);
	}
	.ad_label:before {
		font-size: 9px;
		line-height: normal;
		color: #444;
		position: absolute;
		left: 6px;
		margin-top: -13px;
		display: block;
	}
	#sp_expert_desc {
		font-size: 1.3em;
	}
	.ur_initials {
		vertical-align: text-bottom;
	}

	#trust_banner {
		border-radius: 4px 4px 0 0;
		font-size: 14px;
		padding: .6em 15px;
	}
}

@media @large {

	#expert_coauthor {
		color: #545454;
		padding: 0 15px 6px;
		font-size: .85em;
		line-height: 1.5em;
	}

	#trust_banner {
		font-size: .85em;
		padding: .5em 15px;
	}

	#sidebar {
		display: block;
		width: 300px;
		height: 1900px;
		float: right;

		.ad_label_dollar:after {
			top: -16px;
		}

		#cookie_notice {
			display: none;
		}

		.sidebox {
			background-color: #FFF;
			padding: 16px;
			margin: 0 0 15px 0;
			position: relative;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			border-radius: 4px;
			color:#686868;
			font-size:13px;
			line-height: 1.3em;
		}

		.sidebox p {
			font-size: 14px;
			line-height: 17px;
			margin: 12px 0px 0px 0px;
		}

		.notice_bgcolor { background-color: #F6F5F4; }
		.notice_bgcolor_important { background-color: #FDFCDE; }
		.notice_bgcolor_lo {background-color: #FFF}

		.sidebox h3 {
			font-size: 13px;
			font-weight: bold;
			color: #686868;
			margin-bottom: 10px;
			padding: 0px;
			background: none;
		}

		#social_proof_sidebox {
			line-height: normal;
			margin: 3px 0 15px 0;
			padding: 0;
			background-color: #fff;
			color: #686868;
			font-size: 12px;
			font-weight: bold;
			position:relative;
		}

		.sp_icon_bg {
			margin: 23px auto 5px auto;
			position: absolute;
			left: 0;
			right: 0;
			width: 34px;
			height: 34px;
			background: #CDCDCD;
			border-radius: 50%;
			background-image: url(/skins/owl/images/sp_icon_bg.png);
			background-image: linear-gradient(transparent,transparent),none;
		}
		.arrow_box {
			position:relative;
		}
		.arrow_box:after, .arrow_box:before {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		.arrow_box:before {
			border: none;
		}
		#social_proof_sidebox.arrow_box:after, #social_proof_sidebox.arrow_box:before {
			top: 38px;
		}
		#social_proof_sidebox.arrow_box:after {
			margin-top: 0;
		}
		#aag_sidebox {
			display: none;
		}
		.arrow_box:after {
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #FFFFFF;
			border-width: 11px;
			margin-top: -80px;
		}
		.arrow_box:before {
			border-color: rgba(229, 229, 229, 0);
			border-right-color: #e5e5e5;
			border-width: 12px;
			margin-top: -81px;
		}
		#social_proof_sidebox h3 {
			margin: 0;
			text-align: left;
			font-size: 11px;
			background-color: #f6f5f4;
			padding: 4px 1em;
			width: inherit;
			-moz-border-radius-topright: 4px;
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			top-left-border-radius: 4px;
			border-top-right-radius: 4px;
		}
		#social_proof_sidebox.arrow_box h3 {
			font-size: 15px;
			padding: 10px 0 10px 10px;
		}
		#social_proof_sidebox h4 {
			margin: 10px 5px -5px 5px;
			text-align:left;
			font-size: 12px;
			background-color: inherit;
		}
		.sp_box {
			float:left;
			width:130px;
			height:75px;
			position:relative;
			padding: 10px 0 10px 15px;
		}
		.sp_thin_box {
			width: 100%;
			height: auto;
			padding: 0;
			display: table;
		}

		.sp_star_section_upper {
			margin-top: 4px;
			display: inline-block;
		}
		#sp_star_rating_lower {
			font-size: 11px;
		}
		.sp_star_rating_text {
			font-weight: normal;
		}

		.sp_helpful_box, #sp_helpful_new, .sp_difficult_box {
			border-right: 1px solid #f3f3f3;
		}
		.sp_difficult_box {
			padding-left: 10px;
			padding-right: 10px;
		}

		.helpful_sidebox {
			.sp_star_section_upper,
			.sp_helpful_lower {
				display: table-cell;
				vertical-align: middle;
			}

			.sp_helpful_lower {
				padding-left: 10px;
			}

			.sp_star_container {
				height: 27px;
				width: 27px;
			}
		}

		.sp_top_box {
			padding: 10px;
			position: relative;
			background-color: #f0f5ec;
			border-radius: 4px 4px 0 0;
		}

		#social_proof {
			font-size: 11px;
			line-height: normal;
			color: #212121;
			margin: 3px 0 30px 0;
			padding: 0 0 5px 0;
			list-style: none;
		}

		#social_proof li {
			margin: 0 10px 0 0;
			float: left;
			line-height: 15px;
			color: #767676;
		}

		#sp_modified {
			display: inline-block;
			min-width: 70px;
		}
		.sp_circle {
			border-radius: 50%;
			width: 15px;
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 3px;
			float: left;
		}
		.sp_updated_icon {
			/* @embed sp_updated_icon.optimized.png */
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAABFElEQVQY00WQwS5DURRFLzGX+ARhLjEUHyG+QvyAmHUmxv6BmJhI/ILeu55HGkUrDSJiQrVoFK/L4LaRMznZ62SffU4gjGuBXdpU9DlhnZmsZjTNBg+IySQy5IiFf7yHGMXCYtzxyHLGmxm27fvtj+/eGk3SYC6wSAejT2rlwIGV+pQdtgM7GG2pQ5smk02/1JZRCLSx7qt65amIp16rXaN0Q6pKr/2ysmVpTl/666dJRiH1Cl9U7VmaxOiFIz9MMgwcJ/HVnmcmsW70eRKuE1jjM1lYmMTSjl11kJ32A4GDvBGjTUdq34ZRflgNBOa5Zxzq3DtvTPnq2uSpS1xOBuoZVdSYmuDALFuc8caIIQ8cspL1P0dFas6MaYbtAAAAAElFTkSuQmCC);
		}
		.sp_updated_icon_sidebar {
			margin: 14px auto 5px auto;
			position:absolute;
			left: -2px;
			right: 0;
			width:22px;
			height:20px;
			background-image: url(/skins/owl/images/sp_icon_sidebar.png);
			background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.593' height='33.009' viewBox='0 0 37.593 33.009'%3E%3Cpath fill='%23FFF' d='M21.089 33.009v-5c6.344 0 11.504-5.161 11.504-11.504S27.433 5 21.089 5 9.584 10.161 9.584 16.504c0 .541.038 1.084.112 1.614l-4.951.694a16.776 16.776 0 0 1-.161-2.309C4.584 7.404 11.988 0 21.089 0s16.504 7.404 16.504 16.504-7.404 16.505-16.504 16.505z'/%3E%3Cpath fill='%23FFF' d='M14.169 17.468l-7.085 7%0A.084L0 17.468z'/%3E%3C/svg%3E");
			background-size: cover;
		}
		.sp_difficult_icon {
			position:absolute;
			left: 0;
			right: 0;
			background-size: cover;
			width:5px;
			height:26px;
			margin: 27px auto 5px auto;
			/* @embed sp_difficult.optimized.svg */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.42' height='26.719' viewBox='0 0 5.42 26.719'%3E%3Cpath fill='%23FFF' d='M0 1.336V0h5.42v1.336L4.008 18.284H1.45L0 1.336zM.191 21.49h5.077v5.229H.191V21.49z'/%3E%3C/svg%3E");
		}
		.sp_text {
			line-height: 17px;
			font-weight: normal;
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 11px;
		}
		.sp_thin_box .sp_text {
			display: table-cell;
			padding: 8px 3.5%;
			vertical-align: top;
			color: #999;
		}
		.sp_thin_box .sp_text a {
			color: #999;
		}
		.sp_thin_box .sp_text:first-child {
			width: 26%;
			padding-left: 6.5%;
		}
		.sp_thin_box .sp_text:nth-child(2) { width: 28%; }
		.sp_thin_box .sp_text:last-child { width: 22%; }
		.sp_text_data {
			font-size: 12px;
			font-weight: bold;
		}
		.sp_thin_box .sp_text_data {
			display: block;
			color: #545454;
		}

		.sp_stats_box.sp_thin_box {
			width: 100%;
			float: none;
		}

		#sp_stats_sidebox {
			padding: 5px 0;
		}
		#sp_stats_sidebox .sp_text_data {
			font-size: 13px;
		}

		.sp_edit_icon {
			/* @embed sp_edit_icon.optimized.png */
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAA6ElEQVQY01XQMUoDYRCG4VHsBY8gsRcsxUOIpxAvIHbpxNo7KDY2gmcw+yaKIijB1YQEG9EkKhgk+1r8WbOZr5uHGYYJYpoaR7SZMOKSHZZSN9Eiu3TxP2POqc34uEI2bIj02Ei8V8Ur2z6ZidyxEqyRVzG3UHtpw0FwWMVnC1WHaZ6gPcMXU317m/gjmJQHdab45U1aLUUwRMzsT/HT6xJlHFxgwwf7/qgjWzOUPNjmO/PVR3MH8ygnQXCa+e6bbZvpoDK/bAXBKp2mmM2j1MunrnPPPE2os1BysMw+LQYUjOlyxmbq/wEA8mibiYqo7QAAAABJRU5ErkJggg==);
		}
		.sp_edit_icon_sidebar {
			margin: 15px auto 5px auto;
			position:absolute;
			left: 0;
			right: 0;
			width:18px;
			height:18px;
			background-image: url(/skins/owl/images/sp_edit_icon_sidebar.png);
			/* @embed sp_edit_icon_sidebar.optimized.svg */
			background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.813' height='19.82' viewBox='0 0 19.813 19.82'%3E%3Cpath fill='%23FFF' d='M19.801 4.792l-6.398 6.397L6.042 18.5 0 19.82l1.269-6.092 7.362-7.311L15.028.02s1.371-.305 3.199 1.523c1.828 1.877 1.574 3.249 1.574 3.249zM6.296 17.18s-.051-1.117-1.32-2.386c-1.219-1.269-2.387-1.269-2.387-1.269l-.558.609-.457 2.031c.355.203.761.457 1.167.863.457.457.711.812.914 1.219l2.031-.457.61-.61z'/%3E%3C/svg%3E");
			background-size: cover;
		}
		.sp_views_icon {
			/* @embed sp_views_icon.optimized.png */
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAABF0lEQVQY00WQTUpCYRiFv6J50BKi5kHDaBHRKqINRLNm0bg9FE2aBK3Bex8NDenH0hIT04EpSt70+jT4kt53dp5z4HAC4e83OKNGzpBb9lmJakTLHNBETEUk45qNf3yOmIgliybR1GI74kNMTW04cmZmz4qJyD1rgU3qmPqpauZM/bEaDceBU0x8UTMfLFqyow5jBwI1TO2rjz76bc+iQ/XBRPqBHHHi1DtHqj7ZVF8tyDwwwNSxWrarzqzYUWsWJAvcYGJb7YrPVqyaO7VsKvXAHuPUshN1YMO2U7UVm18EApeYWHVsvNyPOMyU3UBgnXdMLFqz6Zv3MSkni1G3qMZZCxZiMueEpQUOrHJEiS/mZDS5Yifqv/4jbUnRsLLtAAAAAElFTkSuQmCC);
		}
		.sp_views_icon_sidebar {
			margin: 15px auto 5px auto;
			position:absolute;
			left: 0;
			right: 0;
			width:20px;
			height:20px;
			background-image: url(/skins/owl/images/sp_views_icon_sidebar.png);
			/* @embed sp_views_icon_sidebar.optimized.svg */
			background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.739' height='28.739' viewBox='0 0 28.739 28.739'%3E%3Cpath fill='%23FFF' d='M14.369 28.739C6.446 28.739 0 22.292 0 14.369S6.446 0 14.369 0s14.369 6.446 14.369 14.369-6.446 14.37-14.369 14.37zm0-23.164c-4.85 0-8.795 3.945-8.795 8.795s3.945 8.795 8.795 8.795 8.795-3.945 8.795-8.795-3.945-8.795-8.795-8.795z'/%3E%3Ccircle fill='%23FFF' cx='14.369' cy='14.369' r='4.964'/%3E%3C/svg%3E");
			background-size: cover;
		}
		.sp_top_icon_bg {
			position: absolute;
			width: 50px;
			height: 50px;
			background-color: #ADC996;
			border-radius: 50%;
			border: 3px solid #6F8460;
		}
		.sp_top_icon_bg > div {
			background-repeat: no-repeat;
		}

		#sp_section_name {
			color: #8f8f8f;
			font-size: 11px;
			padding-bottom: 6px;
		}

		.ar_initials {
			position:absolute;
			background-color: #ced9be;
			width: 50px;
			height: 50px;
			color: #fff;
			text-align: center;
			font-size: 22px;
			line-height: 50px;
			border-radius: 50%;
			border: 3px solid #6F8460;
		}
		.ar_check, .sp_top_icon_check {
			background-image: url(/skins/owl/images/sp_expert_icon_white.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_expert_icon_white.svg);
			width: 18px;
			height: 18px;
			position: absolute;
			z-index: 5;
			background-size: 18px;
			background-repeat: no-repeat;
			right: -5px;
			bottom: -4px;
		}
		.ar_avatar {
			width: 50px;
			height: 50px;
			position: absolute;
			overflow: hidden;
		}
		.ar_avatar img {
			border-radius: 50%;
		}
		.ar_initials_wh {
			background-color: #93b874;
			/* @embed */
			background-image: url(/skins/WikiHow/wH-initials_152x152.png);
			background-size: 81%;
			background-repeat: no-repeat;
			background-position: 45% 50%;
		}
		.sp_expert_icon {
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(/skins/owl/images/sp_expert_icon.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_expert_icon.svg);
		}
		.sp_info_icon {
			background-image: url(/skins/owl/images/sp_icon_info.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_icon_info.svg);
			right: 10px;
			top: 10px;
			width: 16px;
			height: 16px;
			position: absolute;
			background-size: cover;
		}
		.sp_tech_icon {
			width: 20px;
			height: 31px;
			margin: 8px auto 0;
			background-size: cover;
			background-image: url(/skins/owl/images/sp_tech_icon.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_tech_icon_optimized.svg);
		}
		.sp_chef_icon {
			width: 34px;
			height: 27px;
			margin: 12px auto 0;
			background-size: cover;
			background-image: url(/skins/owl/images/sp_chef_icon_color.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_chef_icon_color.svg);
		}
		.sp_videov_icon {
			width: 30px;
			height: 30px;
			margin: 8px auto 0;
			background-size: cover;
			background-image: url(/skins/owl/images/sp_video_icon.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_video_icon.svg);
		}
		.sp_staff_icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #93b874;
			background-size: 81%;
			background-position: 45% 50%;
			/* @embed */
			background-image: url(/skins/WikiHow/wH-initials_152x152.png);
		}
		.sp_expert_text > div {
			font-size: 12px;
			line-height: normal;
			display:inline-block;
			vertical-align:middle;
			margin: 0 auto;
			color: #222;
		}
		.sp_nonverifier_text > div {
			font-size: 13px;
		}
		#sp_expert_name {
			font-size: 16px;
			font-weight: bold;
		}
		#sp_expert_name a {
			color: #545454;
		}
		#sp_expert_blurb {
			padding-top: 2px;
		}
		#sp_expert_team_label {
			font-size: 12px;
			padding-bottom: 2px;
		}
		#sp_expert_team {
			font-size: 14px;
			font-weight: bold;
		}
		.sp_expert_text {
			line-height: 55px;
			font-weight: normal;
			text-align: left;
			margin-left: 66px;
		}
		#sp_expert_details {
			font-weight: normal;
			padding-top: 1em;
		}
		.sp_popup_container {
			top:80px;
			left:-20px;
			position:absolute;
			z-index:100000007;
			display:none;
		}
		.hint_box {
			min-width:150px;
			max-width:180px;
			position: relative;
			background: #FFFFFF;
			border: 3px solid;
			border-color: rgba(0, 0, 0, .13);
			border-radius: 4px;
			font-weight:normal;
			padding:9px;
			-moz-background-clip: padding;     /* Firefox 3.6 */
			-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			background-clip: padding-box;
		}
		.hint_box p {
			font-size: 12px;
			line-height:normal;
			margin: 0;
			text-align: left;
		}
		.expert_hint_box {
			min-height:45px;
			max-width:280px;
			padding:8px;
			margin-bottom:10px;
		}
		.chef_hint_box, .tech_hint_box, .videov_hint_box {
			min-height:28px;
			max-width:280px;
			padding:8px;
		}
		.hint_box:after, .hint_box:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		.hint_box:after {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #FFFFFF;
			border-width: 10px;
			margin-left: -10px;
		}
		.hint_box:before {
			border-top-color: #d5d5d5;
			border-width: 14px;
			margin-left: -14px;
			-moz-background-clip: padding;     /* Firefox 3.6 */
			-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			background-clip: padding-box;
		}
		.noarrow:after, .noarrow:before {
			display: none;
		}
		.sp_helpful_rating_count, #sp_helpful_text_sidebox {
			font-size: 11px;
			font-weight: normal;
			color: #a3a3a3;
		}
		#sp_helpful_text_sidebox {
			margin-top: 5px;
		}

		.helpfulness_text {
			font-size: 12px;
			color: #545454;
			padding: 4px 0 8px;
		}

		.sp_star_container {
			position: relative;
			width: 21px;
			height: 21px;
			float: left;
			border-right: 2px solid transparent;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(/skins/owl/images/sp_helpful_icon_star_empty.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_helpful_icon_star_empty.optimized.svg);
		}
		.sp_helpful_icon_star {
			width: 100%;
			height: 100%;
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(/skins/owl/images/sp_helpful_icon_star.png);
			/* @embed */
			background-image: url(/skins/owl/images/sp_helpful_icon_star.optimized.svg);
		}

		.star_editing .sp_helpful_icon_star:not(.mousevote):not(.mousedone) {
			background-image: none;
		}

		.pretty_star {
			 background-image:url(/extensions/wikihow/socialproof/star.png);
			/* @embed */
			 background-image:url(/extensions/wikihow/socialproof/star.svg);
		}

		.sp_h_icon {
			position: relative;
			margin: 0 auto 2 auto;
		}
		.sp_h_icon_bg {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 100%;
			background:#ecebe8;
		}
		.sp_h_icon_outer {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 100%;
			clip: rect(0px, 15px, 15px, 7px);
		}
		.sp_h_icon_inner {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 100%;
			clip: rect(0px, 7px, 15px, 0px);
			background:#93b874;
		}
		.sp_h_icon_outer_second {
			-webkit-transform:rotate(180deg);
			-moz-transform:rotate(180deg);
			-o-transform:rotate(180deg);
			transform:rotate(180deg);
		}
		.sp_h_icon_inner_second {
			clip: rect(0px, 8px, 15px, 0px) !important;
		}
		.sp_h_icon_donut_hole {
			position: absolute;
			top: 5px;
			left: 5px;
			bottom: 5px;
			right: 5px;
			border-radius: 100%;
			background: #FFF;
		}

		.social_sidebox {
			background-color: #FFF;
			padding: 0;
		}

		.social_sidebox h3 {
			margin: 0;
			text-align:left;
			font-size: 11px;
			background-color: #f6f5f4;
			padding: 4px 1em;
			width: inherit;
			-moz-border-radius-topright: 4px;
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			top-left-border-radius: 4px;
			border-top-right-radius: 4px;
		}

		.sp_helpful_box.helpful_sidebox {
			float: none;
			border-right: none;
			width: auto;
			height: auto;
			padding: 15px;
			border-bottom: 1px solid #e7e7e7;
		}

		.sp_helpful_statement {
			font-size: 13px;
			margin-bottom: 5px;

			span {
				font-size: 18px;
				font-weight: bold;
			}
		}

		#sp_icon_hover {
			z-index: 6;
			position: absolute;
			top: 28px;
			left: 512px;
			width: 375px;
			max-width: 375px;
			font-size: 13px;
			line-height: 1.5em;
			border: 4px solid #7fa065;
			border-radius: 6px;
			background-color: #FFF;
		}
		#sp_icon_header {
			background-color: #7fa065;
			color: #FFF;
			font-size: 16px;
			font-weight: bold;
			padding: 8px 25px;
		}
		#sp_icon_body {
			padding: 10px 25px;
		}
		#sp_icon_body a {
			font-weight: bold;
		}
		.sp_learn_more_link {
			font-weight: bold;
			display: block;
			padding-top: .8em;
		}
		#sp_icon_body .sp_expert_icon {
			width: 20px;
			height: 20px;
			display: inline-block;
			margin-bottom: -4px;
		}

		.sp_expert_inline {
			display: inline-block;
			margin: .7em 0;
			font-size: .85em;
			line-height: 1em;
		}

		.sp_expert_inline a {
			font-weight: bold;
			padding-right: 1.3em;
			background: url(/skins/owl/images/sp_expert_icon.png) right center no-repeat;
			/* @embed */
			background: url(/skins/owl/images/sp_expert_icon.svg) right center no-repeat;
			background-size: 1em;
		}

		.sp_expert_inline .sp_pipe {
			color: #e9e7e3;
			padding: 0 .1em;
		}

		#side_related_articles {
			padding-right: 0px;
			padding-bottom: 8px;
		}
		#side_related_articles_larger .related-article {
			width: 100%;
			margin-right: 0;
			margin-bottom: 4%;
		}
		#side_related_articles .related-article {
			margin-right: 4%;
			margin-bottom: 4%;
			width: 45%;
		}
		.rr_container #side_related_articles {
			margin-top: 10px;
			width: 300px;
			box-sizing: border-box;
		}
		.related-title-text p {
			font-size: 12px;
			line-height: 15px;
		}
		.rr_container {
			margin-bottom: 15px;
			position: relative;
		}
		.rr_container.nofixed .ad_label {
			background-color: #ecebe8;
		}
		#userreviews {
			line-height: normal;
			margin: 3px 0 15px 0;
			padding: 0;
			color: #686868;
			font-size: 12px;
			font-weight: bold;
			position: relative;
			background-color: #f3f3f3;
			max-width: 300px;
		}
		.ur_review.ur_review0 {
			display: block;
		}
		.ur_review {
			display: none;
			margin-bottom: 1px;
			background-color: #fff;
			padding: 15px 20px;
			border-radius: 4px;
		}
		.ur_review_text {
			position: relative;
			text-align: left;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: #545454;
			margin-top: 7px;
		}
		.ur_nav_container {
			background-color: #ffffff;
			margin-top: -6px;
			padding: 0px 20px 15px;
			min-height: 1em;
			border-radius: 0 0 4px 4px;
		}
		.ur_share {
			float: right;
			font-weight: normal;
		}
		.ur_nav {
			display: block;
		}
		.ur_even_more {
			display: none;
		}
		.ur_hide {
			display: none;
		}
		.ur_author .ur_name {
			font-size: 13px;
			color: #545454;
			font-weight: bold;
		}
		.ur_review .ur_date {
			font-size: 11px;
			color: #9c9c9c;
		}
		.ur_review p {
			margin-top: 0px;
		}
		.ur_initials, .ur_avatar {
			width: 36px;
			height: 36px;
			background-color: #adc996;
			display: inline-block;
			border-radius: 18px;
			margin-right: 5px;
			vertical-align: bottom;
		}
		.ur_initials {

			line-height: 36px;
			text-align: center;
			color: white;
		}

		#sidebar_share {
			text-align: center;

			h3 {
				text-align: left;
				padding-bottom: 5px;
			}

			> div {
				display: inline-block;
				vertical-align: bottom;
				margin-right: 10px;

				&.admin_state {
					margin-bottom: -4px;
				}
			}
		}
	}

	#content_inner {
		float: left;
	}

	.content {
		margin: 0 0 3em;
	}

	#sp_icon_hover {
		z-index: 6;
		position: absolute;
		top: 28px;
		left: 512px;
		width: 375px;
		max-width: 375px;
		font-size: 13px;
		line-height: 1.5em;
		border: 4px solid #7fa065;
		border-radius: 6px;
		background-color: #FFF;
	}
	#sp_icon_hover:after, #sp_icon_hover:before {
		display: none;
	}
	#ur_h2, #ur_mobile {
		display: none;
	}
	#footer_inner {
		padding-right: 330px;
	}
	/* hide right rail elements that appear logged in until we can style them */
	#site_notice, #staff_stats_box, #staff_charts_box, #page_helpfulness_box, #top_links, #side_rc_widget, #side_featured_contributor, #sidebar_share {
		display: none;
	}
}
