@import 'variables.less';

#my_links_list h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 0;
  color: #222222;
  line-height: 18px;
}

.sidebox ul li {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
  background: url(/skins/owl/images/article_sprite.png) no-repeat -114px -16px;
}