@import 'variables.less';
.related-wh {
	display: block;
	margin-bottom: 2%;
}
.related-wh-title {
	background-color: rgba(50,50,50,.5);
	padding: 2% 4%;
    width: 92%;
	min-height: 32px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

.related-wh-howto {
	font-size: 12px;
}

@media @medium {
	.related-wh {
		float: left;
		width: 48%;
		margin-right: 2%;
	}
}

@media @large {

}

