html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
ins,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  border: none;
  background-color: transparent;
}
body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}
input {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
strong, b {
	font-weight: bold;
}

html { font-size: 90%; }
html, body { height: 100%; }

body {
	background-color: #e9e7e3;
	color: #333;
	font-family: "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
	line-height: 1.4;
}

.hidden,
a.hide,
img[src=""],
#mw-mf-page-left,
.stable #ca-talk,
.client-nojs #ca-watch.cta,
.client-nojs #ca-edit,
.client-nojs #ca-upload,
#ca-talk.selected,
.template_top,
.section>.section_text>h3 .edit-page,
#tips h3,
h4.steps_text .edit-page,
h5.steps_text .edit-page,
h6.steps_text .edit-page,
#article_rating_mobile,
#uci_section,
#footer_random_button,
.trvote_box,
.section.video,
#hp_navigation,
#mcta_root,
#method_toc,
.amazon_info,
#servedtime,
.tabbed_content, #sp_h2.tabbed_content, #social_proof_mobile.tabbed_content, #uci_section.tabbed_content,
.tabbed_content .edit-page,
.m-video-helpful-wrap,
#gdpr_dismiss,
#gdpr_close,
#intro .green_box {
	display:none;
}

a, a:active, a:visited {
	color: #93b874;
	text-decoration: none;
}

.clearall { clear: both; }

#section_0.title_sm { font-size: 1.5em; }
#section_0.title_md { font-size: 1.7em; }
#section_0.title_lg { font-size: 1.8em; }

#section_0 span.ja_how_to {
	color: #7b9965;
}

#mw-mf-viewport {
	position: relative;
	height: 100%;
}

#mw-mf-page-center {
	padding: 0 0 178px; /*<-- height of footer*/
	min-height: 100%;
	width: 100%;
	position: relative;
	z-index: 3;
	background-color: #E9E7E3;
	transition: all 0.5s ease 0s;
}
#mw-mf-page-center.footerad {
	padding: 0 0 180px;
}

.footerad #footer {
	bottom: 110px;
}
.header {
	background-color: #93B874;
	position: fixed;
	border-bottom: 0;
	z-index: 10;
	height: 40px;
	top: 0;
	display: table;
	width: 100%;
	white-space: nowrap;
}
.header > * {
  width: 3em;
  display: table-cell;
  vertical-align: middle;
}
.header > h1,
.header > form,
.header > ul {
  width: auto;
}
.header h1 {
  text-align: center;
  font-weight: bold;
}
.header #mw-mf-main-menu-button,
.header #secondary-button {
  text-indent: -9999px;
  background-repeat: no-repeat;
}
.header #mw-mf-main-menu-button {
  background-position: 40% 40%;
}
.header #secondary-button {
  background-position: 60% 40%;
}
.header #secondary-button.user-button {
  text-indent: 0;
  text-align: center;
}
.header #secondary-button.user-button:hover {
  text-decoration: none;
}
.header #secondary-button.user-button span {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  background: #c91f2c;
  border-radius: 2px;
}
.header .search {
  border: none;
  padding: 0;
	background-color: transparent;
}

#hs, #hs_query {
	width: 72px;
}

#hs + a {
	padding-left: 0 !important;
}

.hs_active .search {
	padding-right: 50px;
}

#hs_query, #hs_close, #hs_submit {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

#hs_query {
	border: solid 5px #93B874;
	border-radius: 10px;
	padding: 0 5px;
	background-color: white;
	-webkit-appearance: none;
	background-image: url(/extensions/wikihow/mobile/images/search_gray.svg);
	background-size: 20px;
	background-position: right 4px center;
	box-sizing: border-box;
	color: transparent;
	font-size: 16px;
	transition: width 100ms ease-in-out;
	outline: none;
}

.hs_notif #hs_query {
	margin-right: 40px;
}

.hs_active.hs_notif #hs_query {
	margin-right: 0;
}

.hs_active #hs_query:valid {
	background-image: none;
}

#hs_close {
	width: 0;
	background-size: 15px;
	background-position: center center;
	background-image: url(/extensions/wikihow/mobile/images/close.svg);
}

#hs_submit {
	display: none;
	position: absolute;
	background-size: 20px;
	background-position: right 9px center;
	width: 40px;
}

@media only screen and (max-width:599px) {
	#hs_query,
	#hs_submit {
		background-image: url(/extensions/wikihow/mobile/images/search_gray.svg);
	}

	.hs_active #hs_query {
		color: #545454;
		width: 100%;
		padding-left: 34px;
		background-position: 6px center;
	}

	.hs_active #hs_query:valid ~ #hs_submit {
		display: block;
		right: auto;
		left: 0;
	}

	.hs_active #hs_close {
		width: 40px;
	}

	#hs_query::-webkit-input-placeholder {
		opacity: 0;
	}

	.hs_active #hs_query::-webkit-input-placeholder {
		opacity: 1;
	}
}

@media only screen and (min-width:600px) {
	#hs_query {
		background-color: #B3CE9C;
		color: #fff;
		width: 30%;
		padding-left: 10px;
	}

	#hs_query,
	#hs_submit {
		background-image: url(/extensions/wikihow/mobile/images/search_white.svg);
	}
	#hs_query:valid ~ #hs_submit {
		display: block;
	}

	#hs_query::-webkit-input-placeholder {
		color: #E3F8D1;
	}
}

.content {
	margin: 0 5px 1.5em;
}

.content img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.content video {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  line-height: 1.3;
  font-family: Helvetica, sans-serif;
  padding: 0.5em 0;
}
.content p {
  margin-bottom: .7em;
}
.content .thumb {
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  text-align: center;
}
.content ol ol,
.content ul ol,
.content ol ul,
.content ul ul,
dl {
  margin-left: 1em;
}
.pre-content h1,
.content h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}
h4, dl dt {
  font-weight: bold;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
sub,
sup {
  font-size: 0.75em;
}

#content_wrapper {
	padding-top: 40px;
}

.pre-content {
	background-color: #FFF;
	border-bottom: none;
}

#section_0 {
	border-bottom: none;
	color: #3e3d3c;
	font-size: 26px;
	font-family: inherit;
	font-weight: bold;
	line-height: 1.3;
	padding: 12px 15px 0;
}
#section_0.special_title {
	font-size: 18px;
	margin-bottom: .5em;
	padding: 15px 20px;
}

#intro {
	background-color: #FFF;
	margin: 0 -5px; /* this should be the same/opposite as margin for .content */
	padding: 7px 15px 3px;
	font-size: 16px;
	border-bottom: 1px solid #bfbfbf;
}
body.action-view #content>#intro {
	padding-top: 7px;
}
#intro p {
	line-height: 20px;
}

.section h2, .steps h3 {
	padding-left: 15px;
	font-family: inherit;
	background-color: #e9e7e3;
	padding: 2px 0;
	width: 100%;
}

.steps h3 .mw-headline span {
	color: #807e7a;
	font-weight: normal;
}

h4.steps_text {
	position: relative;
	padding-left: 25px;
}

h4.steps_text::before {
	content: ' ';
	position: absolute;
	left: 10px;
	top: 16px;
	background-color: #93b874;
	width: 10px;
	height: 10px;
}

.section>.section_text>h3 {
	position: static;
	background-position: 3px center;
	padding-left: 22px;
}

.step_num {
	font-size: 30px;
	color: #3e3d3b;
	padding: 0 15px 0 0;
	float:left;
	font-weight: bold;
	line-height: 39px;
}

.stepanchor {
	display: block;
	position: relative;
	top: -110px;
	visibility: hidden;
}

.steps_list_2 li {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: normal;
	list-style: none;
	background-color:#FFF;
	border-radius: 4px;
	padding:20px;
	border: 1px solid #bfbfbf;
	clear:both;
}

#content_wrapper {
	margin:0;
}

.mw-headline {
	color: #3e3d3b;
	font-weight: normal;
	font-size: 16px;
	padding: 3px;
	display: block;
}

.steps_list_2 li li{
	border: none;
	margin: 0;
	list-style: disc;
	padding: 0
}

.steps_list_2 .mwimg.largeimage{
	margin-left:-20px;
	margin-right:-20px;
	margin-top: -20px;
}

.mwimg {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	line-height: 0;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}

#quick_summary_section .mwimg {
	margin-bottom: 0px;
}

.mwimg a img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.mwimg.techicon {
	display:inline;
	border: none;
}

.mwimg.techicon img {
	width: auto;
	height: 30px !important;
	position: relative;
	min-height: 0;
	min-width: 0;
}
.mwimg.techicon .content-spacer {
	width: auto;
	height: 30px !important;
	padding-top: 0 !important;
	display: inline;
}
.content img.whvgif {
	width: 100%;
	max-width: 760px !important;
}
.caption {
	position: absolute;
	width: 96%;
	bottom: 0;
	left: 0;
	background-color: #444;
	opacity: 0.7;
	text-align: left;
	font-size: 12px;
	line-height: normal;
	padding: 5px 2%;
	color: #fff;
}

.mwimg.tright {
	float: right;
}

.steps_list_2 li li .mwimg.largeimage {
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
}

.section_text, .steps_text {
	padding:15px;
	background-color: #FFF;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	font-size: 16px;
}

#quicksummary {
    padding-bottom: 0px;
    margin-bottom: -15px;
}

#video.section_text {
	padding: 0;
}

#quick_summary_section.section_text {
	padding-bottom: 0;
}

#video .embedvideocontainer {
	width: 100%;
}

.content .steps_list_2 ul, .content .steps_list_2 ol {
	margin-left: 30px;
	margin-top:8px;
}

.steps .section_text {
	background-color: inherit;
	padding:0;
	border: none;
}

#ingredients li, #thingsyoullneed li {
	clear: both;
	list-style: none;
	margin-bottom: 10px;
	line-height: 20px;
}
.checkmark {
	border: 1px solid #a3a3a3;
	width: 14px;
	height: 14px;
	border-radius: 4px;
	float: left;
	margin-right: 20px;
}
#ingredients h3, #thingsyoullneed h3 {
	padding: 15px 0 7px;
}
#ingredients .altblock, #thingsyoullneed .altblock {
	background-color: #93b874;
	float: left;
	margin: 3px 6px 0 0;
	height: 16px;
	width: 16px;
}
#ingredients .mw-headline, #thingsyoullneed .mw-headline {
	display: inline-block;
}

.content ul {
	list-style: disc inside;
}

.steps span.mw-headline span{
	font-weight: bold;
	color: #3e3d3b;
}

.steps span.mw-headline {
	color: #3e3d3b;
}
.section h2, .section h3 {
	padding-top: 19px;
	padding-bottom: 5px;
	line-height: 1.1;
	display: table;
}
.section h2.android, .section h3.android, .tool div.android {
	top: 0;
}

#ca-edit.enabled {
	background-size: 10px 10px;
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

#page-actions{
	float:right;
	padding: 10px 0 0 0;
}

#page-actions li {
  cursor: pointer;
  vertical-align: top;
  height: 30px;
  width: 40px;
  text-indent: -9999px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#page-actions li input {
  opacity: 0;
}
#page-actions li input,
#page-actions li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 8px;
}

#page-actions li#ca-edit {
	width: 27px;
	height: 15px;
	margin-right: 0;
	background-size: 14px;
	background-position: top left;
}

.content .edit-page {
	overflow: hidden;
	border: none;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	display: table-cell;
	position: relative;
}

.stable .content p, .stable .content li, .stable .content dl {
	line-height: 25px;
}

#header_logo {
	display: table-cell;
	vertical-align: middle;
	background: center center/115px no-repeat url(/extensions/wikihow/mobile/images/wikihow_logo_230.png);
	width: auto;
	height: 38px;
	padding: 0 14px;
}

.header #mw-mf-main-menu-button{
	width: 72px;
	border-right: none;
	background-image: url(/extensions/wikihow/mobile/images/main_menu_button.png);
	/* @embed */
	background-image: url(/extensions/wikihow/mobile/images/main_menu_button.svg);
	background-size: 18px;
	background-position: 15px center;
}
.header #mw-mf-main-menu-button, .header #secondary-button { height: auto; }

.header #secondary-button.user-button {
	padding-top: .35em;
}

.header > *:nth-child(3) {
	border-left: none;
}
.wh_search .cse_q {
	border: none;
	font-size: 16px; /*CSS hack to stop zooming when the iOS keyboard appears*/
	width: 84%;
	height: 21px;
	padding: 4px 10% 4px 4%;
	-webkit-padding-end: 8%; /* adjust for the webkit scrollbar spacing */
	border-radius: 5px;
}

/*BUTTONS*/
.content .button, .content button, .panel .button, .panel button, .buttonBar .button, .buttonBar button, .buttonBar input[type="submit"], .mw-ui-button, .content input[type="submit"] {
	border-radius: 4px;
	color: #FFF;
	padding: 8px 11px;
	font-size: 1.1em;
	margin-right: 10px;
	cursor: pointer;
	border:1px solid #e5e5e5;
	background-image: none;
	background-color: #97ba78;
	background: #97ba78;
	border: 1px solid #97ba78;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/*** ADS ***/
#wh_ad_middle_related {
	float: left;
}
#wh_ad_tips, #pagebottom {
	margin-top: 12px;
}
.wh_ad_inner {
	float:left;
}
.ad_label_method, .ad_label_related {
	text-align: center;
	font-size: 12px;
	color: #999;
}
#references_first ins {
	margin-top: 10px;
}
.method_ad {
	margin-top: 17px;
	margin-left: -16px;
	display: block;
}
.wh_ad1_full {
	margin-left: -16px;
}
.embedvideocontainer {
	position: relative;
	width: 99%;
	height: 0;
	padding-bottom: 56.25%;
}
.embedvideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body.action-view #fa_container p {
	width: 100%;
	font-size: 16px !important;
	line-height: 16px !important;
}
#ab_notice {
	margin-top: 10px;
	display: none;
	background-color: #f1c4c8;
	color: black;
	padding: 10px;
}

#ab_notice_img {
	background: url(/skins/owl/images/face_sad_black.svg) center no-repeat;
	width: 50px;
	height: 50px;
	background-size: contain;
	display: table-cell;
	vertical-align: middle;
}

#ab_notice_msg {
	padding-left: 15px;
	display: table-cell;
	vertical-align: middle;
}
.related_box p {
	width: 100%;
	font-size: 16px;
	line-height: 16px;
}

.content #intro ul, .content .section_text ul {
	list-style: disc outside;
	padding-left: 24px;
}

.content .section_text .steps_list_2 ul, .content .ingredients ul, .content .thingsyoullneed ul {
	padding-left: 0;
}

.content #intro li, .content .section_text ul li {
	margin-bottom: 5px;
}

.content .section_text .steps_list_2 ul li, .content .ingredients ul li, .content .thingsyoullneed ul li {
	margin-bottom: 0;
}

#social_proof_anchor {
	margin-top: -115px;
	display: block;
	position: absolute;
}

.related-article {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 2%;
}
.related-image-link {
	display: block;
	vertical-align: top;
}
.related-image-link img, .related-image-link video {
	display: block;
	border: none;
	width: 100%;
	height: auto;
}
.related-title {
	background-color: rgba(50,50,50,.5);
	padding: 2% 4%;
	width: 92%;
	min-height: 32px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

#relatedwikihows .related-title-text p,
#qa_related_box .related-title-text p {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
}

.related-image-link {
	text-decoration: none;
}
#relatedwikihows {
	padding: 2%;
}
.content-spacer {
	position: relative;
}
.content-fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	min-width: 100%;
	height: 1px;
	min-height: 100%;
}
.loader {
	position: absolute;
	display: block;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transform-origin: 50% 50%;
	white-space: nowrap;
}
.loader-dot {
	animation: loader-dots 1s infinite;
}
.loader-dot {
	position: relative;
	display: inline-block;

	height: 10px;
	width: 10px;
	margin: 2px;
	border-radius: 100%;
	background-color: rgba(137, 172, 108, 1);
	will-change: transform;
}
.loader-dot:nth-child(1) {
	animation-delay: 0s;
}
.loader-dot:nth-child(2) {
	animation-delay: .3s;
}
.loader-dot:nth-child(3) {
	animation-delay: .5s;
}
@keyframes loader-dots {
	0%, 100% {
		transform: scale(1);
		background-color: rgba(137, 172, 108, 1);
	}
	50% {
		transform: scale(.7);
		background-color: rgba(137, 172, 108, 0.9);
	}
}

#mobile_tab_container {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #79A355;
	clear: both;
}

#mobile_tab_container a, #mobile_tab_container a:visited {
	color: #445835;
}

.mobile_tab {
	position: relative;
	margin: 0 1em;
	padding-bottom: .7em;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
}
.mobile_tab:first-child {
	margin-left: 1.3em;
}

#mobile_tab_line {
	position: absolute;
	bottom: 0;
	background-color: #417505;
	height: 4px;
	width: 90%;
	margin-left: 5%;
	border-radius: 4px 4px 0 0;
}

.summarysection.mwimg, .summarysection .mwimg {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -16px;
}
.content .m-video {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.summary-video {
	position: relative;
	overflow: hidden;
}
.video-poster-image {
	position: absolute;
	z-index: 1;
}
.video-poster-image img {
	object-fit: cover;
}
.green_tips_box_inline {
	background-color:#fff5d9;
	color:#000;
	margin:0;
	width:75%;
	display:inline;
}
.img-loading-hide {
	visibility: hidden;
}
#gdpr {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	max-height: 60px;
	z-index: 1000;
	text-align: center;
	background-color: #475347;
	color: #FFF;
	padding: 9px 5px;
	display: none;
}
.gdpr_button, button.gdpr_button {
	background-color: #b6e684;
	border: 1px solid #b6e684;
	color: #000;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px 10px 6px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 0;
}
#gdpr_text {
	font-size: 0.9em;
	display: inline-block;
	max-width: 72%;
	text-align: left;
	vertical-align: middle;
}
#gdpr_text > a{
	color: #EEE;
	text-decoration: underline;
}
.mw-mf-display-toggle > a {
	color: #AFAFAF;
	font-size: 1em;
}
.mw-mf-display-toggle {
	/* @embed */
	background-image:  url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-full.svg);
	background-repeat: no-repeat;
	background-size: 17px;
	padding-left: 25px;
	position: absolute;
	bottom: 0;
	margin: 0 0 10px 13px;
	color: #AFAFAF;
	font-size: .75em;
}
.geo-group-eu .mw-mf-display-toggle {
	padding-left: 0;
	background: none;
}
.gdpr_only {
	visibility: hidden;
}
.no_gdpr {
	visibility: visible;
}
.geo-group-eu .gdpr_only {
	visibility: visible;
}
.geo-group-eu .no_gdpr {
	visibility: hidden;
}

#mw-mf-page-left {
	position: fixed;
}
a.related-title,a.related-title:active, a.related-title:visited {
	color: #FFF;
}
.noarticletext div {
	border: none !important;
	padding: 0;
	margin-bottom: 0.75em;
}
.sp_expert_inline {
	display: inline-block;
	line-height: 1em;
	padding: 0 0 0 1.2em;
	background: url(/skins/owl/images/sp_expert_icon.png) left center no-repeat;
	/* @embed */
	background: url(/skins/owl/images/sp_expert_icon.svg) left center no-repeat;
	background-size: contain;
}
.sp_expert_inline a {
	color: #373;
	font-weight: bold;
}
.references li {
	font-size: 14px;
	position: relative;
	list-style-position: outside;
}
.references li span {
	margin-left: 9px;
}
.references li > a {
	position: absolute;
	left: -1px;
	top: -2px;
}
.sourcesandcitations {
	word-break: break-all;
}
.sourcesandcitations .section_text {
	padding-left: 30px;
}

/* Article info section */
#aiinfo:target ~ .aidata, #social_proof_mobile:target ~ .aidata {
	display: block;
}
.aidata, #aiinfo:target, #social_proof_mobile:target ~ #aiinfo {
	display: none;
}
.articleinfo #articleinfo {
	margin-top: -5px;
	border-radius: 0 0 4px 4px;
	border-top: none;
	position: relative;
}


#articleinfo #info_link {
	width: 100%;
	display: block;
	color: #545454;
}
#articleinfo:after, .collapse_link:after {
	position: absolute;
	top: 25%;
	right: 5%;
	content: "";
	width: 13px;
	height: 13px;
	border: solid #CCC;
	border-width: 0 3px 3px 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* Article info section */
#social_proof_mobile + .articleinfo #articleinfo, #summary_wrapper + .articleinfo #articleinfo { /* WITH an About this wikiHow section or summary section (normal case) */
	padding: 15px;
	border-top: 1px solid #e7e7e5;
	border-radius: 0 0 4px 4px;
	margin-top: -5px;
	position: relative;
	z-index: 1;
}
#references_second {
	padding-top: 0;
	border-top: 0;
	margin-top: -10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/***** NEW AUTHORSHIP STUFF ****/

#expert_coauthor {
	padding: 0 15px 6px;
	color: #222;
	font-size: 12px;
	line-height: 16px;
}
#expert_coauthor.no_tabs {
	padding-top: 6px;
	border: 1px solid #ECEBE8;
	border-width: 1px 0;
	margin-top: 4px;
}

#expert_coauthor a {
	color: #417505;
}

#expert_coauthor p {
	padding-top: .1em;
}

.expert_icon, .staff_icon, .community_icon {
	background: url(/skins/owl/images/sp_expert_icon_white.png) right center / 13px no-repeat;
	/* @embed */
	background-image: url(/skins/owl/images/sp_expert_icon_white.svg);
	padding-right: 17px;
	font-weight: bold;
}

.author_icon {
	background: url(/skins/owl/images/sp_icon_info_green6.png) left center / 11px no-repeat;
	/* @embed */
	background-image: url(/skins/owl/images/sp_icon_info_green6.svg);
	padding-left: 15px;
	font-weight: bold;
}

.ss_pipe {
	color: #e9e7e3;
	padding: 0 2px;
}

.expert_wrapper {
	display: table-cell;
	padding-left: 5px;
	vertical-align: middle;
}

.expert_coauthor_image {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.expert_coauthor_image img {
	width:50px;
	height: 50px;
	display: block;
	border-radius: 25px;
	margin-right: 5px;
}

#expert_coauthor.has_image {
	padding-top: 10px;
	margin-bottom: 10px;
}

#expert_coauthor.no_tabs.has_image {
	margin-bottom: 0;
}

#expert_coauthor .expert_check {
	background: url(/skins/owl/images/badge@2x.png) right center / 15px no-repeat;
	background-image: url(/skins/owl/images/badge@3x.svg);
	width: 15px;
	height: 15px;
	position: absolute;
	right: 2px;
	bottom: 2px;
}

#expert_coauthor.has_image .expert_icon {
	background-image: none;
	background:none;
}
/* Tablet Support */

@media only screen and (min-width: 500px) and (min-aspect-ratio: 13/9) {
	#hp_container {
		/* fix for slider alignment inside content div */
		margin: 0 -25px;
	}

	.content .sticking .edit-page {
		margin-right: 50px;
	}
}

@media only screen and (min-width: 500px) and (max-aspect-ratio: 13/9),
		only screen and (max-height: 421px) and (min-aspect-ratio: 13/9) {
	#expert_coauthor {
		font-size: 14px;
	}

	h1.title_sm {
		font-size: 2.1em;
	}

	h1.title_md {
		font-size: 2.5em;
	}

	h1.title_lg {
		font-size: 2.8em;
	}

	h4.steps_text {
		padding-left: 30px;
		background-size: 16px;
	}

	h4.steps_text::before {
		top: 20px;
		width: 16px;
		height: 16px;
	}

	.mw-headline {
		font-size: 22px;
	}

	.step_num {
		font-size: 40px;
	}

	.steps_list_2 li {
		font-size: 22px;
	}

	.stable .content p, .stable .content li, .stable .content dl, #intro p {
		line-height: 30px;
	}

	#intro {
		font-size: 22px;
	}

	.section_text, .steps_text {
		font-size: 22px;
	}

	#section_0 {
		font-size: 32px;
	}

	.section h2 {
		line-height: 1.7em;
	}

	.content .edit-page, #page-actions li#ca-edit {
		background-size: 20px;
	}

	#page-actions li#ca-edit {
		height: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.mwimg {
		border-bottom: none;
	}
	.related-article {
		width: 48%;
		margin-right: 2%;
	}
}

@media only screen and (max-width: 320px) {
	#gdpr {
		padding: 5px 0 6px;
	}
	#gdpr_text {
		font-size: 0.8em;
		max-width: 78%;
	}
	.gdpr_button, button.gdpr_button {
		font-size: 0.7em;
		margin-left: 3px;
		padding: 4px 8px 5px;
	}
}

@media only screen and (max-width:300px) {
	#gdpr_text {
		font-size: 0.8em;
		max-width: 78%;
	}
	.gdpr_button, button.gdpr_button {
		font-size: 0.7em;
		margin-left: 3px;
		padding: 4px 8px 5px;
	}
}

@media only screen and (min-width:450px) {
	#gdpr_text {
		max-width: 80%;
	}
	.gdpr_button, button.gdpr_button {
		margin-left: 10px;
	}
}

@media only screen and (min-width:600px) {
	#gdpr {
		padding: 13px 5px 14px;
	}
	#gdpr_text {
		max-width: 88%;
	}
	.gdpr_button {
		margin-left: 10px;
		padding: 1px 6px;
	}
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	#gdpr {
		padding-bottom: 15px;
	}
}
