@import '../../../less/variables.less';

#actionbar.forcetabs {
	display: block;

	#article_tabs {
		padding-left: 15px;
		height: 35px;
	}

	ul#tabs {
		position: absolute;
		margin: 0px;
		padding: 0px;

		li {
			float: left;
			list-style: none;
			padding: 0px;
			margin: 0px;
			padding-right: 15px;
			line-height: 2em;

			a {
				font-size: 13px;
				font-weight: 500;

				&.on {
					color: #454545;
					font-weight: bold;
				}
			}
		}
	}

	.menu {
		font-size: 1rem;
		position: absolute;
		border: 1px solid #91af79;
		margin: 0;
		padding: 10px 0;
		top: 71px;
		z-index: 1000;
		background-color: #f9f9f9;
		display: none;
		right: 0;
	}

	.menu a {
		display: block;
		padding:0 20px 0 15px;
		line-height: 26px;
		color: #669933;
	}
	#AdminOptions.menu a {
		color: #363;
	}

	.menu a:hover {
		color: white;
		background-color: #91af79;
		text-decoration: none;
	}

	#AdminOptions.menu a:hover {
		color: white;
	}

	.admin_arrow {
		width: 0;
		height: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid #AAAAAA;
		display:inline-block;
		margin-left:3px;
		margin-bottom:1px;
	}

	#AdminOptions{
		position: absolute;
		top: 30px;
		font-size: 1em;
		border: 1px solid #91af79;
		color: #363;
		margin: 0;
		background-color: #f9f9f9;
		width: 100%;
		width: -moz-max-content;
		width: -webkit-max-content;
		width: -o-max-content;
	}

	ul#AdminOptions li {
		padding-left: 0px;
	}
}

@media @medium {
	#actionbar.forcetabs #article_tabs {
		height: auto;
	}
}