@import '../../../less/variables.less';

@userBorderColor: #eaecf0;

#user_head {
	background-color: #FFF;
	text-align: center;
	margin: 0 -5px 20px;
	padding: 0 @smallSectionPadding @smallSectionPadding;

	> div:last-child {
		padding-bottom: 0;
	}
}

#user_head_main,
#about_me {
	padding: 0 0 1em;
}

#user_head_main {
	box-sizing: border-box;
}


#user_name {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: .5em;
}

#user_pic {
	font-size: .8em;
	margin-bottom: 1em;
	text-align: center;
	box-sizing: border-box;

	img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
}

#user_contact a {
	background: url(/skins/owl/images/ico-email.png) no-repeat 0 center;
	padding-left: 20px;
	font-size: .8em;
}

#user_head_footer {
	padding: 1em 1em 0;
}

.content .minor_section {
	margin-bottom: 1em;

	h2 {
		font-weight: bold;
		font-size: 1em;
		padding: .8em @smallSectionPadding;
		background-color: #FFF;
		border-bottom: 1px solid @userBorderColor;
		border-radius: @borderRadius @borderRadius 0 0;

		span.mw-headline {
			padding: 0;
		}
	}

	> div {
		background-color: #FFF;
		padding: 5px @smallSectionPadding;
		font-size: .9em;
	}

	table {
		width: 100%;

		.pb-view {
			text-align: right;
		}
		.pb-star,
		.pb-feature {
			text-align: center;
			padding: 0 .3em;
		}
	}

	tr {
		border-bottom: 1px solid @userBorderColor;
	}

	tbody tr:last-child {
		border: none;
	}

	th {
		font-size: .8em;
		font-weight: bold;
		text-align: left;
	}

	th, td {
		padding: .7em .3em;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	td {
		vertical-align: middle;
		line-height: 1.4em;
	}

	a.view_toggle {
		font-size: .7em;
		padding: 0 .2em;
	}
}

.user_article {
	#intro {
		padding: @smallSectionPadding;
		margin: 0;
		border-radius: @borderRadius;
	}

	table {
		border-collapse: unset;
	}
}

#stats {
	> div {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.stats_stat {
		line-height: 1.8em;
	}
}

/*BADGES*/
.pb-badge {
	display: inline-block;
	min-width: 60px;
	text-align: center;
	vertical-align: top;
	letter-spacing: .05em;
	font-size: .625em;
	font-weight: bold;
	padding-top: 65px;
	background: center top ~"/" 60px no-repeat;
	margin: 1rem .5em .5rem;
}

.pb-nab {
	/* @embed */
	background-image: url(../../../WikihowUserPage/assets/badge_booster.svg);
	span { color: #FFB845; }
}

.pb-admin {
	/* @embed */
	background-image: url(../../../WikihowUserPage/assets/badge_admin.svg);
	span { color: #5A96DC; }
}

.pb-fa {
	/* @embed */
	background-image: url(../../../WikihowUserPage/assets/badge_featured.svg);
	span { color: #93B874; }
}

.pb-welcome {
	/* @embed */
	background-image: url(../../../WikihowUserPage/assets/badge_welcomer.svg);
	span { color: #ED7E7E; }
}

.pb-star svg {
	width: 22px;
	fill: #FFB845;
}

.pb-feature svg {
	width: 22px;
	fill: #93B874;
}

#gatEditRemoveButtons {
	font-size: .8em;
	float: left;
}

#fl_linked_acct, #fl_enable_acct {
	cursor: pointer;
	float: right;
	margin-top: -5px;
}

#fl_linked_img {
	height: 18px;
	width: 18px;
	padding-right: 5px;
	margin-bottom: -3px;
}

.fl_linked_txt { font-size: .75em; }

.pb-gp-link,
#gplus_disconnect {
	margin-top: 12px;
	background: url(/skins/WikiHow/images/social.png) no-repeat 0 -245px;
	padding: 1px 0 0 23px;
	float: right;
	z-index: 2;
	position: relative;
}

#gplus_disconnect {
	padding: 4px 0 0 22px;

	> a:hover {
		cursor: pointer;
	}
}

#gplus_disconnect,
.pb-gp-link > a {
	font-size: .75em;
}

iframe[src^="https://apis.google.com"] {
	display: none;
}

#pb_finalstats {
	text-align: center;
	background: #FFF;
	padding: 1.3em;
	border-radius: 5px;

	> div {
		font-size: 1em;
	}
}

#user_tabs {
	display: table;
	width: calc(~'100% + 30px');
	margin-left: -@smallSectionPadding;
	padding-bottom: 1em;

	> a {
		display: table-cell;
		position: relative;
		width: 50%;
		padding: .5em 0;
		color: @grayDark;
		fill: @grayDark;
		background-color: #EFEFEF;
		box-shadow: inset -3px -3px 10px -6px #BBB;

		&:last-child {
			box-shadow: inset 3px -3px 10px -6px #BBB;
		}

		&.pb_on {
			color: @linkColor;
			fill: @linkColor;
			background-color: #FFF;
			box-shadow: none;
		}

		svg {
			height: 1em;
			margin-bottom: -2px;
		}
	}
}

/*User_talk comments*/
.de,
.discussion_entry,
#discussion_entry {
	padding: 15px;
	margin: 15px 0 15px 65px;
	position: relative;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 5px;
	word-break: break-word;
}

.de_comment,
.discussion_entry_comment {
	margin-bottom: 2em;
	font-size: .9em;

	ul {
		padding-left:15px;
	}
}

.de_comment {
	p {
		margin-bottom: 10px;
	}
}


.de_comment .mwimg.tright { float: none; }

.de_date,
.discussion_entry_date {
	font-size: .8em;
	color: #ABABAB;
	font-style: italic;
	position: absolute;
	bottom: 0;
}

.de_user,
.postcomment_usericon {
	position: absolute;
	top: 0;
	left: -75px;
	width: 63px;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	padding: 12px 5px 0;
}

.stable .content {
	.de_user,
	.postcomment_usericon {
		line-height: 1.3em;
	}
}

.user_kudos {
	.de_user {
		width: auto;
		text-align: left;
		padding: 0;
		position: static;
		left: 0;
		visibility: visible;

		img {
			position: absolute;
			left: -65px;
		}

		a {
			display: inline;
		}
	}
}

.stable .content {
	.de_user,
	.postcomment_usericon {
		img {
			width: 40px;
			border-radius: 50%;
		}
	}
}

.de_user {
	visibility: hidden;

	a, span {
		display: block;
	}

	img, a, span {
		visibility: visible;
	}
}

.discussion_entry_user {
	font-weight: bold;
}

.de_reply {
	float: right;
	margin-top: -1em;

	a {
		/* @embed */
		background: url(../../../WikihowUserPage/assets/reply_arrow.svg) 0 0 no-repeat;
		width: 22px;
		height: 22px;
		display: block;
		text-indent: -2000px;
	}
}

.stable .content {
	.postcommentForm_textarea {
		height: 100px;
		width: 96%;
		margin: 0;
		border: 1px solid #DDD;
		padding: 2%;
		font-size: .9em;
	}

	.postcommentForm_buttons {
		margin: 20px 0 0 0;
		position: absolute;
		right: 10px;

		.button {
			margin: 0 0 0 10px;
			padding: 4px 12px;

			&.primary {
				margin-right: 0px;
			}

			&.secondary {
				border: none;
				color: #97BA78;
				margin-right: 0px;

				&:hover {
					border: none;
				}
			}
		}
	}
}

.postcommentForm_details {
	font-size: .8em;
	padding-top: 0px;
	height: 40px;
}

.postcomment_preview .preview_header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 3px;
}

.captcha_label {
	padding-right: 1em;
}

#touchdown {
	text-align: center;

	a {
		/* @embed */
		background: url(/skins/owl/images/show_sources.svg) right ~"/" 14px no-repeat;
		padding-right: 21px;
	}
}

@media @medium {
	#user_tabs {
		display: none;
	}

	#user_head {
		margin: 0 0 20px;
		border-radius: @borderRadius;
		padding: @largeSectionPadding;
		text-align: left;
	}

	#user_head_main {
		display: table;
		width: 100%;
	}

	#user_pic {
		display: table-cell;
		padding-right: 1em;
		width: 90px;
		font-size: .65em;
	}

	#user_info {
		display: table-cell;
		vertical-align: top;
	}

	#user_name {
		padding-bottom: .1em;
	}

	#bio,
	#user_contact,
	#about_me {
		font-size: .9em;
	}

	#about_me {
		clear: both;
	}

	#user_badges {
		display: table-cell;
		vertical-align: top;
		text-align: right;
		min-width: 280px;

		.pb-badge {
			margin-top: 0;
			font-size: .6em;
			background-size: 55px;
			padding-top: 60px;
			margin: 0 .3em .5em;
		}
	}

	#user_head_footer {
		text-align: right;
		padding: 0;
	}

	#gatEditRemoveButtons,
	#fl_linked_acct,
	#fl_enable_acct {
		float: none;
		margin: 0;
	}

	.content .minor_section {
		> div {
			padding: 15px @largeSectionPadding;
			font-size: .9em;
		}

		h2 {
			font-size: 1.4em;
			padding: .8em @largeSectionPadding;
		}

		th {
			font-size: .8em;
		}
	}

	.user_article {
		#intro {
			padding: @largeSectionPadding;
		}

		.section {
			h2 {
				font-size: 1.4em;
				padding: .8em @largeSectionPadding;

				span.mw-headline {
					padding: 0;
				}
			}
		}
	}

	#stats {
		font-size: 1em;

		.section_text {
			-webkit-columns: 2;
			-moz-columns: 2;
			columns: 2;
		}
	}

	.de,
	.discussion_entry,
	#discussion_entry {
		padding-left: 65px;
		margin-left: 0;
	}

	.de_user,
	.postcomment_usericon {
		font-size: 1em;
		visibility: visible;
		position: static;
		width: auto;
		text-align: left;
		padding: 0;

		a, span {
			display: inline-block;
		}
	}

	.stable .content {
		.de_user,
		.postcomment_usericon {
			margin-bottom: .2em;
		}
	}

	.de_user img,
	.user_kudos .de_user img,
	.postcomment_usericon img {
		position: absolute;
		top: 1em;
		left: 1em;
	}

	.stable .content {
		.de_comment,
		.discussion_entry_comment {
			font-size: .9em;

			p {
				line-height: 1.3em;
			}
		}
	}

	.de_date,
	.discussion_entry_date {
		position: relative;
		float: right;
		margin-bottom: .2em;
	}

	.de_reply {
		margin-top: -1em;
		font-size: .8em;
		float: none;
		text-align: center;

		a {
			background: none;
			text-indent: initial;
			width: auto;
			height: auto
		}
	}

	#touchdown {
		font-size: 1.2em;

		a {
			background-size: 12px;
			padding-right: 18px;
		}

		&.user_kudos {
			background: #FFF;

			a {
				visibility: hidden;
			}
		}
	}

	.sidebox #rcElement_list {
		height:auto;
	}

	#pb_finalstats {
		margin-top: 2.2em;
	}
}
