<center>
	<input type="text" id="newsuggestion" value="{{name}}" class="input_med" />
	<br/><br/>
	<input type="button" class="button primary" onclick="WH.SuggestedTopics.saveSuggestion();" value="Save"/>
</center>

<input type="hidden" id="title_id" value="{{id}}" />
