<h2>Good news!</h2>

An article with the title "How to {{title}}" already exists.
<br/><br/>

Do you want to read the article?
<br/><br/>

<center>
	<table width='50%' align='center'>
		<tr>
			<td><a href="{{url}}">Yes, take me to the article!</a></td>
			<td style='text-align: right;'><a href='/Main-Page'>No, thanks</a></td>
		</tr>
	</table>
</center>
