<h2 class="subheader">{{msg.subheader}}</h2>

<form action="/Special:RequestTopic" method="POST" name="suggest_topic_form"
		onsubmit="return WH.SuggestedTopics.checkSTForm();">

<table class="request_table">
	<tr>
		<td class="label">{{msg.howto_label}}</td>
		<td>
			<input class="mw-ui-input input_med" type="text" name="suggest_topic" id="entry_howto" value="" placeholder="{{msg.howto_placeholder}}">
		</td>
	</tr>
	<tr>
		<td class="label">{{msg.category_label}}:</td>
		<td>
			<select class="mw-ui-input input_med" name="suggest_category">
				<option value="">({{msg.category_please}}...)</option>
				{{#cats}}
				<option class='mw-ui-input input_med' value="{{value}}">{{text}}</option>
				{{/cats}}
			</select>
		</td>
	</tr>
	<tr>
		<td class="label">{{msg.notification_label}}:</td>
		<td>
			<input type="checkbox" id="suggest_email_me_check" name="suggest_email_me_check" checked>
			<label for="suggest_email_me_check">{{msg.email_me}}:</label><br/>
			<input type="text" class="mw-ui-input input_med" id="suggest_email" name="suggest_email" value="{{user_email}}">
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			{{{catpcha_form}}}
			<span class="error">{{msg.captcha_error}}</span>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			{{#user_loggedin}}
			<a href="/Special:ListRequestedTopics" id="requested_topics_link">{{msg.view_current_list}}</a>
			{{/user_loggedin}}
			<button class="button primary" type="submit">{{msg.submit}}</button>
		</td>
	</tr>

</table>

</form>
