<h2>Thank you for your submitted request.</h2>
If you specified your email, we will notify you when the article is written.

<br/><br/>

If you'd like to check back to see if your article has been started,
you can check here: <a href='{{url}}'>How to {{title}}</a>.

<br/><br/>

Now would you like to
<ul>
    <li><a href='/Special:ListRequestedTopics'>View other suggested topics</a></li>
    <li><a href='/Special:RequestTopic'>Submit another suggestion</a></li>
    <li><a href='/wikiHow:Community'>Visit our community page</a></li>
    <li><a href='/Main-Page'>Return to the homepage</a></li>
</ul>
