<tr>
	<td class='article_image'><img src='{{imgSrc}}' alt='' width='46' height='35' /></td>
	<td>
		<h3><a href='{{titleUrl}}' class='title'>{{howToTxt}}</a></h3>
		<p class='meta_info'>Authored by: <a href='{{userPageUrl}}'>You</a></p>
		<p class='meta_info'>Edits by: {{{authorList}}} (<a href='{{titleUrl}}?action=credits'>see all</a>)</p>
		<p class='meta_info'>Last updated {{ago}}</p>
	</td>
	<td class='view_count'>{{viewCount}}</td>
</tr>
