.minor_section .ui-sortable {
	margin-left: 0;
}
.ui-sortable li {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	list-style: none;
	padding: 10px;
}

.plant_id {
	display: none;
}