<div style="margin-left: 18px;">
    <div class="like_button">
		<div class="fb-like" data-href="{{fb_url}}" data-width="200" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </div>
</div>
