<div style="margin-left: 18px;">
    <div>
        <div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/102818024478962731382" data-rel="publisher"></div>
    </div>
    <div class="like_button">
        <fb:like href="{{fb_url}}" send="false" layout="button_count" width="150" show_faces="false"></fb:like>
    </div>
</div>
