@import '../less/variables.less';

#docviewer_sample {
	border: 1px solid #DDD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	margin: 0 auto 1em;
	max-width: 600px;
}

.preview_head {
	background-color: #4889c3;
	padding: 5px;
	text-align: center;
	font-size: .9em;
	color: #FFF;
	font-weight: bold;
}

#docviewer_choices {
	padding: 10px;
	border: 1px solid #DDD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	max-width: 580px;
	margin: 0 auto;
}

#docviewer_choices .back_link {
	padding-top: 3em;
	font-weight: bold;
}

#docviewer_choices .button { margin:0 auto; }

ul#dv_dls {
	padding: 5px 0;
}

#dv_dls li {
	list-style: none;
	list-style-image: none;
	background-image: url(/extensions/wikihow/docviewer/images/sample_icon_sprite.png);
	background-repeat: no-repeat;
	height: 37px;
	padding-bottom: 13px;
	margin-bottom: 5px;
	font-size: .85em;
}
#dv_dls li.dv_dl_pdf { background-position: 0 0; }
#dv_dls li.dv_dl_pdf:hover { background-position: 0 -70px; }
#dv_dls li.dv_dl_doc { background-position: 0 -140px; }
#dv_dls li.dv_dl_doc:hover { background-position: 0 -210px; }
#dv_dls li.dv_dl_txt { background-position: 0 -280px; }
#dv_dls li.dv_dl_txt:hover { background-position: 0 -352px; }
#dv_dls li.dv_dl_xls { background-position: 0 -558px; }
#dv_dls li.dv_dl_xls:hover { background-position: 0 -630px; }

#dv_dls p {
	padding: 8px 0 0 55px;
	line-height: 1.5em;
}

#dv_dls span {
	font-size: 1.3em;
	font-weight: bold;
}

#dv_dls .dv_dl_block {
	display: block;
	height: 50px;
	width: 45px;
	float: left;
}

#dv_found td {
	border-bottom: 1px solid #D6D5CE;
	font-size: 0.95em;
	padding: 2px;
}

#dv_found img {
	margin-right: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#docviewer_sample img {
	display: block;
	margin: 0 auto;
	width: auto;
}

#sample {
	display: none;
}

.sample_container.pdf_container {
	display: none;
}

#pdfobject {
	display: none;
}

/********************RESPONSIVE PART*/
/* SCREEN < 599 PIXELS (PORTRAIT WIDTH OR LANDSCAPE HEIGHT) */
@media only screen and (max-width: 599px),
	only screen and (max-height: 420px) and (orientation:landscape) {

	h1 { padding-top: 55px; }
	#docviewer_choices { padding-bottom: 25px; }
}

#sample_rating {
	width: auto;
	height: 93px;
	padding: 10px 25px;

	.rating_submit {
		margin: 0 -10px 10px 0;
	}

	textarea {
		height: 50px;
		margin: 10px 0;
		padding: 5px;
	}

}

#sample_html {
	display: none;
}

.sample_ribbon {
	display: none;
}

@media @medium {
	.skin-minervawh {
		#docviewer_sample {
			max-width: inherit;
		}

		#docviewer_choices {
			max-width: inherit;
		}

		#content_inner {
			width: 728px;
		}

		#section_0.special_title {
			font-size: 28px;
		}
	}
}

@media @large {
	.skin-minervawh {
		#docviewer_sample {
			padding: 22px 27px;
			background: #f6f5f4;
		}

		#sidebar {
			height: auto !important;
		}

		#docviewer_choices.dv_mobile {
			display: none;
		}

		#sample {
			display: inherit;

			h1 {
				font-weight: bold;
				padding: 0 0 .5em 0;
			}
		}

		.sample_container {
			border: 0;
		}

		.sample_container.pdf_container {
			display: block;
			width: inherit;
		}

		#pdfobject {
			display: block;
			width: 672px;
		}

		#sample_html {
			display: inherit;
			width: inherit;
			border: 0;

			h1#sample_title {
				display: block;
				font-size: 41px;
				margin-bottom: 20px;
			}
		}



		.sample_ribbon {
			display: inherit;
			margin: 0;
		}

		#docviewer_sample img {
			display: none;
		}

		.preview_head {
			display: none;
		}

        #docviewer_sample .wh_ad_inner {
            margin-top: -5px;
            margin-left: -28px;
            margin-bottom: 0px;
            line-height: 0;
            display: inline-block !important;
        }

		#section_0.special_title {
			display: none;
		}
	}
}