hr {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 14px;
}

#tr_trends_btn, #tr_report_btn {
	margin: 17px 0 30px;
	padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
}

#tr_trends_btn {
	margin: 17px 0 30px;
}

#tr_queries_textarea {
	margin-top: 12px;
	min-width: 550px;
	min-height: 300px;
}
