.ac_method {
	margin-bottom: 20px;
	list-style-type: none;
	padding: 0px;
	margin-bottom: 25px;
	position: relative;
}

.ac_method_editor {
	margin: 15px;
}
.ac_method_controls {
	margin-bottom: 10px;
}

#ac_edit_form {
	background-color: #f6f5f4;
	padding: 0px 0px 10px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #e5e5e5;
	margin: 10px 0 0 0;
}

.ac_new_li,  .mce-panel textarea, .ac_edit_method_text, #ac_edit_text {
	margin: 10px 0px;
	width: 658px;
	height: 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px #e5e5e5 solid;
	resize: none;
}




.ac_new_li {
	width: 100%;
	box-sizing: border-box;
}

.ac_method .ac_new_li {
	width: 654px;
	margin: 0px 0px 10px 0;
}

#introduction .ac_new_li {
	border: 0;
	margin: 0;
}

#ac_edit_text {
	width: 100%;
	box-sizing: border-box;
	border: 0px;
	margin: 0;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

#steps .ac_li_adder div.mce-tinymce {
	margin-left: 40px;
}

.ac_wikitext {
	margin: 10px 0;
	width: 535px;
	height: 200px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px #e5e5e5 solid;
	resize: none;
}

.ac_add_li {
	margin-right: 0px;
	float: right;
	line-height: normal;
}

.hasPlaceholder {
	color: #777;
}


.ac_lis {
	display: none;
}

.ac_methods .ac_lis {
	padding: 10px 0;
}

.ac_lis li li {
	border: none;
	margin: 0;
	list-style: disc;
	padding: 0;
}

.ac_ordered_methods li:hover {
	cursor: move;
}

.ac_lis li.ui-sortable-helper, .ac_ordered_methods li.ui-sortable-helper {
	cursor: move;
}

.ac_ordered_methods {
	margin: 15px 0	;
}

.ac_ordered_methods li {
	padding-top: 5px;
	color: #383;
}
 
#ac_ordered_methods_close {
	display: inline-block;
	margin: 20px 0 10px 0;	
}

.ac_lis ul {
	padding-left: 55px;
	padding-top: 5px;
}

.ac_method_title {
	margin-left: 15px;
}

.ac_txt:hover, .ac_method_title:hover {
	border-bottom: 1px dashed #383 !important;
	color: #383;
	cursor: pointer;
	cursor: hand;
	
}

.ac_txt a:hover {
	border-bottom: none !important;
}

#steps .ac_lis > li, #introduction .ac_lis > li, .ac_ordered_methods {
	list-style: none;	
}

#steps .ac_lis > li {
	padding: 10px 20px 20px 0px;
}

#steps h2 {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#main_container h2 span {
	margin: 0;
}

#main_container h2 {
	line-height: 20px;
	padding: 15px;
	box-sizing: border-box;
	position: static;
	margin: 0;
}

.ac_desc {
	display: inline;
	margin-left: 10px !important;
	font-size: 14px;
	font-weight: normal;
}

#ac_delete {
	float: left;
	margin-left: 5px;
}

#ac_step_adder {
	padding-bottom: 50px;
}

#ac_add_steps, #ac_save, #ac_cancel {
	float: right;
	line-height: normal;
}

ul.ac_toolbar {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 0;
}

.ac_toolbar li.ac_tool_button {
	float: left;
	padding: 3px;
	border: 1px solid ;
	margin-right: 3px;
	clear: none !important;
	list-style: none;
}

.mce-panel {
	border: 0px !important;
	background-color: #f6f5f4 !important;
	border-radius: 0 0px 4px 4px;
	-moz-border-radius: 0 0px 4px 4px;
	-webkit-border-radius: 0 0px 4px 4px;
}

.mce-edit-area {
	padding:5px !important;
	background-color: white !important;
	font-size: 14px !important;
	border-radius: 0 0px 4px 4px;
	-moz-border-radius: 0 0px 4px 4px;
	-webkit-border-radius: 0 0px 4px 4px;
}

.ac_lis .mce-panel.mce-edit-area {
	border: 0px !important;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.mce-toolbar {
	padding: 5px !important;
	border: 0px #e5e5e5 solid !important;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

.ac_edit_method_text {
	height: 40px;
	padding: 10px;
	margin: 0;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

.ac_edit_method {
	float: right;
	margin-right: 0px;
}

input[name="method_format"] {
	margin-left: 10px;
}

#ac_add_new_method {
	border: 1px solid #e5e5e5;
	padding: 15px 25px;
	background: #fff;
}

#ac_method_selector {
	background-color: #d9eacb;
	padding: 4px 25px;
	line-height: 25px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#ac_add_new_method {
	padding: 20px 10px 20px 25px;
}

.ac_add_new_method {
	float: right;
	margin-top: -8px;
}

.ac_method_tools {
	float: right;
	margin: 10px;
}

.ac_remove_method, .ac_reorder_method {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #c9c9c9;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 15px;
	height: 15px;
}

.ac_question {
	background: url(/skins/owl/images/ac_question.png) center no-repeat; 
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	padding-bottom: 10px;
	cursor: hand;
	cursor: pointer;
}
.ac_remove_method {	
	background: url(/skins/owl/images/ac_delete.png) center no-repeat;	
	background-size: 15px;
}

.ac_remove_method:hover {
	background: url(/skins/owl/images/ac_delete_hover.png) center no-repeat;
	background-size: 15px;
}

.ac_reorder_method {	
	background: url(/skins/owl/images/ac_move.png) center no-repeat;	
	background-size: 15px;
}

.ac_reorder_method:hover {
	background: url(/skins/owl/images/ac_move_hover.png) center no-repeat;
	background-size: 15px;
}

.ac_confirm_buttons {
	margin-top: 35px;
	height: 35px;
}

.ac_abstract_confirm_dialog {
	text-align: center;
}

.ac_question_dialog {
	text-align: left;
}

.ac_question_dialog .ac_confirm_buttons {
	width: 64px;
	margin-right: auto;
	margin-left: auto;
}

.ac_publishing_error .ui-dialog-title {
	color: red;
}

.ac_no_close .ui-dialog-titlebar-close {
	/*display: none;*/
}

.ac_remove_method_dialog .ac_method_name {
	font-weight: bold;
}

.ac_remove_method_dialog .ac_method_id {
	display: none;
}

#introduction .ac_lis li {
/* 	border-radius: 4px !important; */
/* 	-moz-border-radius: 4px !important; */
/* 	-webkit-border-radius: 4px !important; */
	padding: 10px;
}

#ac_footer_buttons {
	float:right;
	line-height: 50px;
}

#ac_footer_buttons a {
	font-size: 16px;
}

#ac_token {
	display: none;
}

a.button {
	line-height: normal;
}

#ac_whats_this {
	float: right;
	cursor: pointer;
	cursor: hand;
}

.ac_txt a:hover {
	text-decoration: none;
}

#mce_3.mce-button {
	border: 1px solid #c9c9c9 !important;
}

div[id^="ac_error_guider"] .guider_title {
	color: red;
}

.ac_glowing {
	color: #2483ef !important;
	border: 1px solid #2483ef;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}


#ac_add_sources a {
	cursor: pointer;
}

#sourcesandcitations {
	display: none;
}

#ac_copyright_warning {
	clear: both;
	float: left;
	margin: 0.5em;
	color: #545454;
	font-size: .7em;
}

#ac_publish {
	margin-right: 0px;
}

.add_sources_section {
	margin-bottom: 0px;
}

.section {
	padding: 0;
}

.section .altblock {
	margin: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.section h3 {
	position: initial;
	line-height: 60px;
}

.ac_methods .ac_editor {
	padding: 15px;
}

.steps ul {
	background: none;
}

.steps li {
	background: white;
}

.mw-headline {
	margin-left: 15px;
}

.mce-container {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.mce-tinymce.mce-container.mce-panel {
	border: 1px solid #e5e5e5 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


#ac_edit_form .mce-tinymce.mce-container.mce-panel {
	border: 0px  !important;
}

#ac_add_sources {
	background: url(/skins/owl/images/plus-button.png) no-repeat;
	background-size: 25px 25px;
	padding: 4px 35px !important;

	/*font-size: 22px;*/
	font-weight: normal;
}
