<div class="quiz quiz_yourself_eoq">
	<p>{{message}}</p>
	<p>
		<button class="button primary" id="quiz_yourself_more">{{link_text}}</button>
		&nbsp; &nbsp;
		<button class="button primary" id="quiz_yourself_exit">{{home_text}}</button>
	</p>
</div>