<div class="head">{{category_header}}</div>
{{#topcats}}
<div class="topcat" data-hyphenated="{{hyphenated}}">
	<div class="topcat_icon {{icon_class}}"></div>
	{{category}}<br />
	<span class="quiz_count">{{quiz_count}}</span>
</div>
{{/topcats}}