<form method="post" action="/Special:AdminResetPassword">
<h4>Enter username of account to reset</h4>
<br/>
<input id="reset-username" type="text" size="40" />
<button id="reset-go" disabled="disabled">reset</button><br/>
<br/>
<div id="reset-result">
</div>
</form>
