#bodycontents {
  width: 728px;
  margin: 0 auto;
}

#rv_header {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

#rv_credentials {
  float: right;
  font-size: 11px;
  text-align: right;
}

#rv_header.wh_block {
  margin-bottom: 0;
  padding: 20px;
}

#rv_tools {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

#rv_tools.tool_header {
  border: 0;
  padding: 20px;
}

#rv_feedback {
  display: none;
}

#rv_btn_verified {
  float: right;
  line-height: initial;
}

#rv_btn_send_quick_feedback, #rv_btn_cancel_quick_feedback {
  display: none;
}

.rv_quick_feedback {

  #rv_feedback {
    display: initial;
  }

  #rv_buttons {
    width: 305px;
    margin: 0 auto;
  }

  #rv_btn_verified, #rv_btn_quick_feedback, #rv_btn_extensive_feedback {
    display: none;
  }

  #rv_btn_send_quick_feedback, #rv_btn_cancel_quick_feedback {
    display: initial;
  }
}

.spinner {
  margin: 20px 0;
  display: none;
  background: url(/extensions/wikihow/rotate.gif) center no-repeat;
  height: 33px;
}

#rv_quick_feedback {
  height: 80px;
  width: 100%;
  margin: 0px auto 15px auto;
  border-radius: 4px;
  border: 0px;
  font-size: 15px;
  padding: 5px 10px;
  box-sizing: border-box;
}

#rv_buttons {
  line-height: 40px;
}

.rv_loading {
  .button {
    pointer-events: none;
  }

  .spinner {
    display: block;
  }
}

.firstHeading {
  font-size: 24px;
}

#rv_tools {
  display: none;
}

.rv_eoq {
  #rv_tools {
    display: none;
  }

  .spinner {
    display: none;
  }
}

