<div id="rv_tools_container">
	<div id="rv_header" class="wh_block">
		<div id="rv_credentials">
			<div id="rv_override_username">{{rv_override_username}}</div>
			<div id="rv_logged_in_as">{{rv_logged_in_as}}</div>
		</div>

		<h5>{{rv_tool_title}}</h5>
		<h1 class="firstHeading">{{rv_status_loading}}</h1>
	</div>
	<div id="rv_tools" class="tool_header">
		<div id="rv_feedback">
			<textarea id="rv_quick_feedback" placeholder="{{rv_quick_feedback_placeholder}}"></textarea>
		</div>
		<div id="rv_buttons">
			<a id="rv_btn_verified" href="#" class="button primary">{{rv_btn_verified}}</a>
			<a id="rv_btn_skip" href="#" class="button secondary">{{rv_btn_skip}}</a>
			<a id="rv_btn_quick_feedback" href="#" class="button secondary">{{rv_btn_quick_feedback}}</a>
			<a id="rv_btn_extensive_feedback" href="#" class="button secondary">{{rv_btn_extensive_feedback}}</a>
			<a id="rv_btn_cancel_quick_feedback" href="#" class="button secondary">{{rv_btn_cancel_quick_feedback}}</a>
			<a id="rv_btn_send_quick_feedback" href="#" class="button primary">{{rv_btn_send_quick_feedback}}</a>

		</div>
	</div>
	<div id="rv_article"></div>
	<div class="spinner"></div>
</div>
