<style type="text/css">
	pre.trace {
		white-space: pre-wrap;
		font-size: 13px;
		background-color: #333;
		color: #f9ee98;
		padding: 20px;
		box-sizing: border-box;
		display: block;
		width: 100%;
		line-height: 120%;
		overflow: auto;
		margin: 10px 0 10px ;
	}
	pre.trace, pre.trace code {
		font-family: Monaco;
	}
	pre.trace .backtrace {
		padding: 20px;
		margin: -20px -20px 0 -20px;
		color: #ccc;
		font-weight: bold;
		background-color: #222;
		white-space: normal;
	}
</style>

<pre class="trace">
<div class="backtrace">
file: {{file}}
<br/>
line: {{line}}
</div>
<code>{{obj}}</code></pre>