<!DOCTYPE html>
<html>
<head>
	<title>Site Temporarily Down</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

	<style type="text/css">
		body {
			text-align: center;
			background-color: #efefef;
		}

		.block {
			display: inline-block;
			box-shadow: 1px 1px 1px #ccc;
			font-family: Helvetica, Sans-serif;
			background-color: white;
			margin-top: 30px;
			border-radius: 5px;
			width: 600px;
			text-align: left;
			padding: 30px;
			color: #888;
			box-sizing: border-box;
		}

		p {
			line-height: 24px;
		}

		h2 {
			color: #555;
			border-bottom: 1px solid #efefef;
			padding-bottom: 10px;
		}
	</style>
</head>
<body>

	<div class="block">
		<h2>Sorry, the site is down for maintenance.</h2>
		<p>The site is down for maintenance. This should be finished shortly.<br/> Please check back in a few minutes.</p>
	</div>

</body>
</html>