#sliderbox {
	position: fixed;
	right: -500px;
	z-index: 4;
	*display: none; /* hide from IE6 & IE 7 */
	margin-right: -10px;
}

/* IE6 HACK for position: fixed */
/* blech */
* html #sliderbox  { position: absolute; }
/* end blech */


#sliderbox h2 {
	background: url(./header_bg.png) repeat-x 0 0;
	height: 32px;
	line-height: 32px;
	padding-left: 12px;
	font-size: 1.2em;
	border: 2px solid #b5ab97;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
	-moz-box-shadow: -3px 3px 4px #BFBFBF;
	-webkit-box-shadow: -3px 3px 4px #BFBFBF;
	box-shadow: -3px 3px 4px #BFBFBF;
}

a#slider_close_button {
	float: right;
}
a#slider_close_button:hover { text-decoration: none; }

#sliderbox{
	width: 250px;
	bottom: -310px;
}
#slider_thanks {
	background-color: #FFF;
	border: 5px solid #93b874;
	border-right: none;
	border-bottom: none;
    border-radius: 150px 150px 0 150px;
    font-size: 0.9em;
    height: 160px;
    margin-bottom: 0;
    padding: 40px;
	text-align: center;
}
.slider_become_main {
	font-size: 1.4em;
	margin-top: 18px;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	height: 155px;
	width: 175px;
}

.slider_cta {
	font-size: 1.3em;
	font-weight: bold;
}

.sliderbox_small .slider_cta {
	font-size: 1.0em;
}

.sliderbox_category .slider_button {
	color: #93b874;
	border: 1px solid #93b874;
	border-radius: 17px;
	width: 128px;
	display: block;
	text-align: center;
	line-height: 6px;
	margin-top: 10px;
}
.slider_readmore {
	color: #989898;
	font-size: 11px;
	line-height: 20px;
}
.slider_category {
	color: #484B4A;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

#slider_close_button {
	/* @embed */
	background: url(/skins/owl/images/ico-x.png) no-repeat 0 0;
	width: 14px;
	height: 14px;
	position: relative;
}

/*** VIDEO ***/
.sliderbox_video .slider_cta {
	font-size: 1.0em;
	margin-top: 30px;
}
.sliderbox_video .slider_button {
	background-image: url(/skins/owl/images/play_button@3x.svg);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center left;
	border: none;
	font-size: 13px;
	color: #545454;
	display: block;
	padding: 5px 0 5px 19px;
	font-weight: bold;
}

#sliderbox a:hover{
	text-decoration: none;
}

.slider_title {
	color: #79A355;
	font-size: 20px;
}