<form action="/Special:AdminImageLists" method="post">
	<p>Input list of full urls, one per line (ex: https://www.wikihow.com/Kiss)</p>
	<textarea name="urls" id="urls" style="width: 400px; height: 200px;"></textarea><br />
	<input type="submit" value="Get Image List" style="width: 150px; font-size: 16px; "/>
</form>