<style>
	#rebuild-button {
		position: absolute;
		right: 0;
	}
	#rebuild-status {
		padding: 1em 0;
	}
	#rebuild-form {
		position: relative;
		margin-top: 0;
	}
	#results {
		border-collapse: separate;
		border-radius: 4px;
		overflow: hidden;
		border: solid 1px #ddd;
	}
	#results th,
	#results td {
		text-align: left;
		padding: 0.25em 0.5em;
	}
	.result:nth-child(even) {
		background-color: white;
	}
	.result:nth-child(odd) {
		background-color: #fafafa;
	}
	.result-ok {
		color: darkgreen;
	}
	.result-error {
		color: darkred;
		background-color: pink !important;
	}
</style>
<p>A list of YouTube IDs extracted from the Curatevideo templates in the video pages transcluded by the articles tagged as <a href="https://trevor.wikidogs.com/Special:AdminTags">youtube_wikihow_videos</a>.</p>
<form action="/Special:AdminYouTubeIds" method="post" id="rebuild-form">
	<button type="submit" class="button" name="rebuild" value="1" id="rebuild-button">Rebuild list</button>
	<p id="rebuild-status">Last rebuilt on {{rebuilt}}</p>
</form>
<table id="results">
	<thead>
		<tr>
			<th>Page ID</th>
			<th>Page Title</th>
			<th>YouTube ID</th>
			<th>Channel</th>
			<th>Error</th>
		</tr>
	</thead>
	<tbody>
		{{#results}}
		<tr class="result result-{{status}}">
			<td>{{page_id}}</td>
			<td><a href="/{{page_title}}" target="_blank">{{page_title}}</td>
			<td><a href="https://www.youtube.com/watch/{{youtube_id}}" target="_blank">{{youtube_id}}</a></td>
			<td>{{channel}}</td>
			<td>{{error}}</td>
		</tr>
		{{/results}}
	</tbody>
</table>