<form action="/Special:AdminIntroSummary" id="revision_form" method="post">
	Enter full urls (ie - http://www.wikihow.com/Kiss)
	<textarea name="urls" id="urls" style="width:465px;height:200px;"></textarea>
	<br /><br />
	<input type="submit" class="button primary" />

</form>