#rebuild-button {
	position: absolute;
	right: 0;
}
#rebuild-status {
	padding: 1em 0;
}
#rebuild-form {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
#command {
	font-family: monospace;
	background: #282923;
	color: white;
	padding: 40px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	margin: 0;
	height: 10em;
	border: none;
	white-space: pre-wrap;
}
.avatar {
	display: inline-block;
	position: relative;
	width: 92px;
	height: 92px;
	margin: 2px;
	overflow: hidden;
	vertical-align: top;
}
.avatar-qty {
	position: absolute;
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 0.25em 0.5em;
	border-radius: 2em;
	top: 4px;
	left: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	display: none;
}
.avatar:hover .avatar-qty {
	display: block;
}
.avatar-hash {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 128px;
	margin: 0;
	padding: 0.5em;
	box-sizing: border-box;
	opacity: 0.25;
	border: none;
	outline: none;
	display: none;
}
.avatar-check {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	margin: 0 !important;
	padding: 0.5em;
	box-sizing: border-box;
	border: none;
	outline: none;
}
.avatar:hover .avatar-hash {
	display: block;
}
.avatar img {
	width: 100%;
}