<div class="article_tiles">

	{{#articles}}
	<div class="responsive_thumb">
		{{#isExpert}}
			<div class="tile_expert">{{expertLabel}}</div>
		{{/isExpert}}

		<a href="{{url}}">
			{{{image}}}

			<div>
				<span>{{howto}}</span>
				<p>{{title}}</p>
			</div>
		</a>

	</div>
	{{/articles}}

</div>