@import '../../less/variables.less';

.download_button {
	a, a:visited {
		box-sizing: border-box;
		border: 1px solid @green;
		color: @green;
		max-width: 450px;
		border-radius: 7px;
		font-size: ~"calc(16px + (22 - 16) * ((100vw - 320px) / (1400 - 320)))";
		font-weight: bold;
		padding: .5em;
		display: block;
		text-align: center;
		margin: 1em auto;

		&:hover {
			opacity: .9;
			color: @green;
		}
	}
}

.content .mwimg img {
	max-width: 620px;
}

.expert_checkmark {
	display: inline-block;
	background: url(/skins/owl/images/sp_expert_icon_white.svg) center no-repeat;
	width: 1em;
	height: 1em;
}