@import '../../less/variables.less';

@astroColor: #ED7F18;
@adventureColor: #3EA2C1;

body {
	#mw-mf-page-center,
	#content_wrapper {
		background: #FFF;
	}

	.science_camp_block_img {
		margin: 0 0 1em;
		width: auto;
	}
}

.science_camp_block {
	box-sizing: border-box;
	background: @greenLight;
	padding: 2em 1em;
	color: #454F44;
	text-align: center;

	.title {
		font-size: 2.5em;
		font-weight: bold;
		margin-bottom: .25em;
	}

	p {
		line-height: 1.6em;
	}

	.csc {
		padding-top: 1.5em;
		font-weight: bold;
		color: #757f73;
		font-size: .9em;

		img {
			display: block;
			margin: 0 auto 1em;
		}
	}
}

#science_camp_top {
	margin-top: @smallHeaderHeight;
}

#science_camp_bottom {
	margin-top: .5em;

	img {
		margin-top: -4em;
	}

	a {
		font-weight: bold;
	}
}

.science_camp_tile_section {
	margin-bottom: 2em;
}


.tile_section_header {
	color: #444F45;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .5em;
	text-align: center;

	span {
		font-size: .85em;
	}
}

.science_camp_tiles {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.responsive_thumb {
	height: 240px;
	width: 320px;
	box-sizing: border-box;
	margin-bottom: 1em;

	.tile_day {
		border: 2px solid #FFF;
		position: absolute;
		z-index: 1;
		font-size: .7em;
		font-weight: bold;
		padding: .25em .75em;
		top: .7em;
		left: .7em;
		border-radius: 7px;
	}
}

.science_camp_schedule {
	padding: 1.5em 1em 2em;
	background: 0 0 ~'/' contain no-repeat;
	border: none;

	.schedule_head {
		color: #444F45;
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
		line-height: 1.1em;
	}

	.schedule_subhead {
		font-size: .75rem;
		text-transform: uppercase;
	}

	table {
		padding-top: .25em;
		font-size: .9em;
		font-weight: bold;

		td {
			line-height: 1.75em;

			&.day {
				font-size: .75rem;
				white-space: nowrap;
				padding-right: 1em;
			}
		}
	}
}

#astroland {
	.science_camp_schedule {
		background-image: url(../assets/ScienceCampAstroland.svg);

		.schedule_subhead,
		td.day {
			color: @astroColor;
		}
	}

	.tile_day {
		background: #FFEFA8;
		color: @astroColor;
	}
}

#adventure {
	.science_camp_schedule {
		background-image: url(../assets/ScienceCampAdventureland.svg);

		.schedule_subhead,
		td.day {
			color: @adventureColor;
		}
	}

	.tile_day {
		background: #D5F2FF;
		color: @adventureColor;
	}
}


@media @medium {

	.science_camp_block {
		text-align: left;

		> div {
			max-width: 1020px;
			margin: 0 auto;
		}

		.csc {
			line-height: 43px;

			img {
				float: left;
				margin: 0 1.5em 0 0;
			}
		}
	}

	.tile_section_header {
		text-align: left;
	}

	body {
		#content_wrapper {
			padding-top: 1.4em;
			margin-bottom: 0;
		}

		.content {
			margin-bottom: 0;
		}

		.science_camp_block_img {
			float: right;
			margin: 2em 0 0 2em;
		}
	}

}

@media @large {

	#science_camp_top {
		margin-top: @largeHeaderHeight;
	}

	body {
		#footer_inner {
			margin-top: 0;
		}
	}

	.no_sidebar {
		.article_tiles {
			grid-template-columns: repeat(3,minmax(0,1fr));
		}
	}
}