@import '../../less/variables.less';

.content {

	.steps {
		.section_text {
			background-color: #FFF;
			padding: 15px;

			ul {
				list-style: disc inside;
				padding-left: 0;
			}

			li {
				padding-left: 24px;

				&.hasimg {
					list-style: none;
					padding-left: 0;
				}
			}
		}

		h3 {
			margin: -15px -15px 1em;
			width: calc(~'100% + 30px');

			span.mw-headline {
				padding: 1em 15px;
			}
		}
	}

	.mwimg {
		border: none;
	}

	.section {
		h2 {
			span.mw-headline {
				padding: .8em 15px;
			}
		}
	}
}

.references {
	margin: 0 1.5em;

	li {
		font-size: 1em;
	}
}

.sp_expert_icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(/skins/owl/images/sp_expert_icon.png);
	/* @embed */
	background-image: url(/skins/owl/images/sp_expert_icon.svg);
}

/* this class is set on the contact wikihow template which appears on the cookie policy page, About-wikiHow, Jobs... */
.contactwikihow {
	color: #000;
	background: @grayLight;

	> div {
		width: 100%;
		border: 2px solid #FFF;
		box-sizing: border-box;
	}

	.cw-head {
		background: #ecebe8;
		padding: .3em .5em;
		font-weight: bold;
		font-size: 1.2em;
	}

	.cw-body {
		padding: 1em;
	}
}

.contactwikihow,
.featured_experts,
.wH_partners {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.featured_experts {
	font-size: 12px;

	> div {
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		margin: 0 5px 20px;
		background-color: #EFF4EB;
		width: 156px;
		max-width: 300px;
	}

	.expert_category {
		font-weight: bold;
		font-size: 10px;
		color: #6E8A57;
		padding: 8px 6px 6px;
	}

	.expert_name {
		font-size: 13px;
		font-weight: bold;
		color: #222;
		padding: 0 6px;

		span {
			font-size: 12px;
		}
	}

	.expert_title {
		color: #444F45;
		padding: 6px;
		min-height: 2.8em;
	}

	.expert_desc {
		padding: 6px;
	}

	.mwimg {
		margin-bottom: 0;

		img {
			border-radius: 0;
		}
	}
}

.wH_partners {
	font-size: .8em;

	> div {
		padding: 0 1em 2em;
		box-sizing: border-box;
	}

	.mwimg {
		float: left;
		margin-top: 8px;
	}

	.desc {
		padding-left: 80px;

		span {
			font-size: 1.2em;
			display: block;
			font-weight: bold;
		}
	}

}

.content .steps .section_text p.featured_experts_more:last-of-type {
	padding-bottom: 24px;
}

table {
	overflow-x: auto;
	display: block;
}

@media @medium {
	.content {

		#intro {
			padding: .5em @largeSectionPadding;
		}

		.section_text {
			padding: @largeSectionPadding;
		}

		.steps {
			.section_text {
				padding: 0 @largeSectionPadding;

				h3 {
					margin: 0 -@largeSectionPadding .5em;
					width: @largeArticleWidth;

					span.mw-headline {
						padding: .8em @largeSectionPadding;
					}
				}

				p:last-of-type {
					padding-bottom: 1em;
				}
			}
		}

		.section {
			h2 {
				span.mw-headline {
					padding: .8em @largeSectionPadding;
				}
			}
		}
	}

	#section_0.title_lg,
	#section_0.title_md,
	#section_0.title_sm {
		padding: .5em @largeSectionPadding 0;
	}

	.contactwikihow,
	.wH_partners {
		> div {
			width: 50%;
		}
	}

	#method_toc.whns_toc {
		box-sizing: border-box;
		width: @largeArticleWidth;
		margin: 0 -@largeSectionPadding .5em;
		float: none;
		border-radius: 0;
		padding: 1em @largeSectionPadding;

		span,
		a {
			display: inline;
			margin-right: .7em;
			font-size: 1em;
		}

		span {
			border: none;
			padding: 0;
			margin-bottom: 0;
		}

		.toc_hidden {
			display: inline-block;
		}
	}

	#method_toc_list {
		display: inline;

		.toc_method {
			display: inline-block;
			white-space: nowrap;
		}
	}

}