<amp-consent id="myUserConsent" layout="nodisplay">
	<script type="application/json">
	{
		"consentInstanceId": "world-wide-consent",
		"consentRequired": false,
		"geoOverride": {
			"us": {
				"consentRequired": "remote",
				"checkConsentHref": "{{ccpa_endpoint}}"
			}
		}
	}
	</script>
</amp-consent>
