<amp-user-notification id="gdpr" layout="nodisplay">
	<div id="gdpr_text">{{{gdpr_message}}}</div>
	<button on="tap:gdpr.dismiss" class="gdpr_button">{{gdpr_accept}}</button>
</amp-user-notification>
