.related_box_amp {
	display: block;
	background: #EEE;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	box-sizing: border-box;
	vertical-align: bottom;
	width: 100%;
	background-position: center top;
	float: left;
	height: 160px;
	position: relative;
}

.related_wh_amp {
	padding: 1px;
}
.related_box_amp amp-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stable .content .related_box_amp p {
	line-height: 15px;
	font-size: 13px;
	background-color: rgba(67,95,44,.4);
	color: #FFF;
	font-weight: bold;
	box-sizing: border-box;
	padding: 8px;
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.ad_label_mobile {
	background-color: #7F7F7F;
	margin-right: 2px;
}
.wh_ad_steps {
	text-align: center;
	margin-top: 5px;
}
.wh_ad_related {
	margin-top: 9px;
	margin-bottom: 9px;
}
.ad_label_bottom {
	text-align: center;
	font-size: 12px;
	color: #999999;
}
.underline {
	text-decoration: underline;
}
.content table {
	margin: 1em 0;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	display: block;
	width: 100%;
}
.content table th, .content table td {
	padding: 3px;
	border: 1px #ccc solid;
}
.content table th {
	font-weight: bold;
	background-color: #f2f2f2;
	text-align: center;
}
#qa_article_questions {
	padding: 0;
	text-indent: 0em;
	list-style: none;
	margin: 0;
}
#qa_answered_questions_container li:first-of-type .qa_li_container {
	padding-top: .3em;
}

.qa_question_tab {
	display: inline-block;
	background-color: #93B874;
	color: #FFF;
	font-size: .8em;
	font-weight: bold;
	padding: 0 10px;
	margin-bottom: .5em;
	border-radius: 4px 4px 0 4px;
}

#qa_article_questions .qa_divider {
	margin: 0 -15px;
	border-top: 1px solid #e5e5e5;
}
#qa_article_questions li:first-child .qa_divider {
	display: none;
}

.qa_li_container {
	padding: .6em 0 1.3em 0;
}

.qa_aq .qa_q_txt {
	padding-bottom: 1em;
}
.qa_q_txt {
	font-weight: bold;
}
.qa_q_txt {
	font-weight: bold;
	line-height: 1.4em;
}

.qa_staff_info {
	display: none;
}

.qa_person_circle, .qa_person_circle img {
	position: absolute;
	background-size: contain;
	display: block;
	height: 56px;
	width: 56px;
	margin-left: 0;
	background-image: url(/skins/WikiHow/images/80x80_user.png);
	border-radius: 50%;
}

.qa_person_circle span {
	background-color: #ced9be;
	color: #fff;
	text-align: center;
	position: absolute;
	line-height: 56px;
	font-size: 23px;
}

.qa_badge {
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
}

.qa_expert_area .qa_badge {
	height: 19px;
	width: 19px;
	margin: 40px 0 0 40px;
	/* @embed */
	background-image: url(/skins/owl/images/sp_expert_icon.svg);
}

.qa_ta_area .qa_badge {
	height: 25px;
	width: 18px;
	margin: 34px 0 0 37px;
	background-image: url(/extensions/wikihow/TopAnswerers/assets/qa_ta_badge.png);
	/* @embed */
	background-image: url(/extensions/wikihow/TopAnswerers/assets/qa_ta_badge.svg);
}

.qa_expert_area .qa_person_circle, .qa_expert_area .qa_person_circle span {
	height: 52px;
	width: 52px;
	font-size: 21px;
	border: 2px solid #6f8460;
}

.qa_ta_area .qa_person_circle, .qa_ta_area .qa_person_circle span {
	height: 52px;
	width: 52px;
	font-size: 21px;
}

.qa_answerer_info {
	vertical-align: middle;
	display: table-cell;
	padding-left: 70px;
	font-size: 0.8em;
	line-height: 1.3em;
	height: 56px; /* acts as min-height because of display type table-cell */
}

.qa_user_name {
	font-weight: bold;
}

.qa_user_title {
	font-size: .9em;
	padding: .3em 0;
}

.qa_user_label {
	font-size: .9em;
	line-height: 1em;
	font-weight: bold;
	color: #BBB;
}

.qa_expert_area .qa_user_label {
	color: #606060;
}

#qa ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#qa li.qa_answer {
	margin: 1em 0 0 0;
	text-indent: 0em;
	font-size: .95em;
}
.creature {
	width: 100px;
	height: 100px;
	position: relative;
	z-index: 2;
	margin-bottom: -20px;
}
.creature .creature_path {
	fill: #93B874;
}
.creature .creature_text, .creature_text_flat {
	font-weight: bold;
	font-size: 2em;
	fill: #93B874;
}
#footer {
	border-top: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: .9em;
}
#amp_footer_random_button {
	text-align: center;
	width: 100px;
	margin: auto;
}
#footer_main {
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	padding: 8px;
	background-color: #93b874;
	-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.10);
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.10);
}
#footer form {
	display: block;
}
.search_text {
	color: #FFF;
	background-color: #B3CE9C;
	border-radius: 5px 0 0 5px;
	width: 92%;
	height: 29px;
	padding-left: 1em;
	box-sizing: border-box;
}
.search_button {
	width: 8%;
	height: 29px;
	float: right;
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/search_icon.svg) #B3CE9C no-repeat 50% 50%/contain;
	border: 4px solid #B3CE9C;
	border-radius: 0 5px 5px 0;
}
#menu-button-wrap {
	position: relative;
	width: 72px;
}
.header #mw-mf-main-menu-button {
	position: absolute;
	height: 40px;
	top:0;
	left:0;
}
.mwimg-caption {
	visibility: hidden;
}
#top-sidebar form {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 6px;
}
#top-sidebar .search_text {
	width: 81%;
	font-size: 0.8em;
	background-color: #FFF;
	color: black;
}
#top-sidebar .search_button {
	width: 19%
}
#top-sidebar {
	background-color: #5C5C5C;
	border: none;
	padding-bottom: 3em;
	font-size: 1.45em;
	width: 11em;
	margin-top: 40px;
}
#top-sidebar ul {
	background-color: #5C5C5C;
}
#top-sidebar ul {
	background-color: #4E4E4E;
	list-style: none;
	margin: 0;
	padding: 0;
}
#top-sidebar ul li a {
	font-size: .75em;
	color: #FFF;
	display: block;
	line-height: 1.7em;
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 20px 20px;
	padding: 6px 0 6px 40px;
	margin: 0;
}
#top-sidebar ul li.side_header {
	background-color: #666;
	color: #FFF;
	font-size: .7em;
	font-weight: bold;
	padding: 7px 10px;
	margin-top: 5px;
}
.icon-home a {
	background-image: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-home.svg);
}
.icon-random a{
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-random.svg) 22px;
}

.icon-categories a {
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-categories.svg) 12px/16px;
}
.icon-notification a {
	background-image: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-notification.svg);
}
.icon-morethings a {
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-morethings.svg) 12px/16px;
}
.icon-spellchecker a {
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-spellchecker.svg) 19px;
}
.icon-techfeedback a {
	background: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-techtool.svg) 19px;
}
.icon-sortquestions a {
	background-image: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-sortquestions.svg);
}
.icon-quizyourself a {
	background-image: url(/extensions/wikihow/MobileFrontendWikihow/images/wikihow/icon-quizyourself.svg);
}
.icon-aboutwikihow a {
	background: url(/skins/owl/images/wikihow_logo_round.png) 20px;
}
.header {
	z-index: 10000;
}
.wh_ad_step {
	padding-top:5px;
	margin-right:-20px;
	margin-left:-20px;
}
.noamp {
	display: none;
}

.stepanchor {
	top: -70px;
}

.ar_initials {
	position:absolute;
	background-color: #ced9be;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 50px;
	border-radius: 50%;
	border: 3px solid #6F8460;
}
.ar_avatar {
	border-radius: 50%;
	overflow:hidden;
}
.ar_initials_wh {
	background: url(/skins/WikiHow/wH-initials_152x152.png) #93b874 no-repeat 45% 50%/81%;
}

#social_proof_mobile .sp_top_box, #sp_inner .sp_fullbox:first-child {
	border-top: none;
}
.references {
	list-style: decimal inside;
}
.info_label {
	font-weight: bold;
}
.collapse_link {
	display: block;
	border-radius: 0 0 4px 4px;
	margin: -5px -15px 0 -15px;
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
#summary_wrapper {
	border-top: 1px solid #e7e7e5;
	margin-top: -5px;
	position: relative;
	border-radius: 0;
}
#summary_text {display:none;}
#summary_wrapper:target #summary_text{display:block;}
#summary_wrapper:target .collapse_link{margin-bottom: 5px;}
#summary_wrapper:target .collapse_link:after {
	border: none;
}

.section.video {
	display: block;
}

#ur_h2 {
	padding-top: 19px;
	padding-bottom: 7px;
}

#ur_mobile {
	clear: both;
	font-size: 16px;
	line-height: 25px;
	position: relative;
}
#ur_mobile ul {
	list-style: none;
	padding-left: 0;
}
#ur_mobile ul li.ur_review {
	background:none;
	margin-bottom: 20px;
	padding: 0;
	display: none;
}
#ur_mobile ul li.ur_review:first-child {
	display: list-item;
}
.ur_review_text {
	position: relative;
	text-align: left;
	font-weight: normal;
	color: #545454;
}

.ur_author {
	display: block;
	margin-top: 5px;
	color: #c3c3c3;
	font-style: normal;
}
.ur_review_more, .ur_even_more, .ur_hide {
	display: none;
}

.ur_initials {
	line-height: 36px;
	text-align: center;
	color: white;
	vertical-align: text-bottom;
}

.ur_initials, .content .ur_avatar {
	width: 36px;
	height: 36px;
	background-color: #adc996;
	display: inline-block;
	border-radius: 18px;
	margin-right: 5px;
}
.ur_author {
	margin-top: 5px;
	color: #c3c3c3;
	font-weight: normal;
	display: inline-block;
}
.content .ur_author .ur_name {
	font-size: 15px;
	color: #545454;
	font-weight:bold;
	line-height: normal;
	margin-bottom: 0;
}
.ur_author .ur_name a {
	font-weight: normal;
}
.content .ur_review .ur_date {
	font-size: 11px;
	color: #9c9c9c;
	line-height: 17px;
}

.ur_rating {
	margin-top: 5px;
}

.ur_rating span{
	float: left;
	line-height: 16px;
	margin-right: 5px;
	font-size: 13px;
	color: #9c9c9c;
	font-weight: normal;
}

.ur_star {
	height:14px;
	width:14px;
	float:left;
	background-size: cover;
}
.ur_rating_off {
	background-image: url(/skins/owl/images/sp_helpful_icon_star_empty.png);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(/skins/owl/images/sp_helpful_icon_star_empty.optimized.svg);
}

.ur_rating_on {
	background-size: cover;
	background-image: url(/skins/owl/images/sp_helpful_icon_star.png);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(/skins/owl/images/sp_helpful_icon_star.optimized.svg);
}

.content .ur_uci {
	margin-top: 10px;
}

.ur_divider {
	margin: 0 -15px 15px -15px;
	border-top: 1px solid #e5e5e5;
}

#ur_anchor:target ~ ul .ur_review {
	display: list-item;
}

#ur_anchor:target ~ .ur_hide {
	display: block;
}

#ur_mobile li:first-child .ur_divider, #ur_anchor:target ~ ul .ur_ellipsis, #ur_anchor:target ~  ul .ur_review_show, #ur_anchor:target ~ .ur_more, #ur_anchor_full:target ~ ul .ur_review_show, #ur_anchor_full:target ~ ul .ur_ellipsis {
	display: none;
}

#ur_anchor:target ~ ul .ur_review_more, #ur_anchor_full:target ~ ul .ur_review_more {
	display: inline;
}

#sd_container {
	padding:15px;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.sd_img_wrap {
	border: 1px solid #BBB;
}
.sd_thumb {
	text-align: center;
	width: 125px;
	margin: 6px;
}

.sd_thumb img {
	border: 1px solid #BBB;
	width: 100%;
}

.m-video-play {
	visibility: visible;
}
#article_rating_mobile {
	text-align: center;
	margin: 20px auto;
	font-size: 22px;
	display: block;
}
#article_rating { display: block; }
.ar_box{
	margin: 0 auto;
}
#article_rating_mobile h2 { padding-top: 0; }
#article_rating_mobile .mw-headline {
	font-weight: normal;
	font-size: 22px;
}
#article_rating_mobile #article_rating {
	font-weight: bold;
	color: #93b874;
}
#article_rating_mobile .ar_face {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}
#article_rating_mobile .vote_up .ar_face {
	background-image: url(/extensions/wikihow/Rating/images/face_smile.png);
	/* @embed */
	background-image: url(/extensions/wikihow/Rating/images/face_smile.svg);
}
#article_rating_mobile .vote_down .ar_face {
	background-image: url(/extensions/wikihow/Rating/images/face_sad.png);
	/* @embed */
	background-image: url(/extensions/wikihow/Rating/images/face_sad.svg);
}

.ar_box, .section_text.ar_box {
	max-width: 150px;
	color: #cdcdcc;
	padding: 0;
}

.ar_box_vote {
	float:left;
	width: 49%;
	text-align:center;
	margin-top:8px;
}
.m-video-intro-over {
	visibility: visible;
}

/**** CHARITY PROJECT ****/

.don_mobile #donate_bottom {
	background-color: #f6f5f4;
	margin: 0 -15px -14px -15px;
	padding: 27px;
	text-align: center;
}
.don_mobile #donate_button {
	display: inline-block;
	margin: 0 auto;
	padding: 14px 20px;
	text-align: center;
}
.don_default #donate_button {
	padding-left: 46px;
	background: no-repeat 16px center/23px;
	background-image: url(/extensions/wikihow/charity/images/heart.png);
	/* @embed */
	background-image: url(/extensions/wikihow/charity/images/heart.svg);
}
.donate_quote_line {
	border-top: 1px solid #cbdcbb;
	width: 65%;
	max-width: 350px;
	margin: 1.3em auto;
}
#donate_quote {
	font-style: italic;
}
#donate_quote_opening {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: .7em;
}
.amp-geo-group-eu .icon-aboutwikihow {
	 display: list-item;
}
.amp-geo-group-eu .gdpr_only {
	visibility: visible;
}
.amp-geo-group-eu .no_gdpr {
	visibility: hidden;
}
#gdpr.consentPopup {
	position: inherit;
	z-index: auto;
	display: block;
}
.click-to-play-overlay {
	display: block;
	width: 100%;
	padding-bottom: 56%; /* Maintain 16:9 aspect ratio */
}
.mw-mf-display-toggle {
	position: static;
	bottom: auto;
	font-size: inherit;
	background-position: 12px 9px;
	margin: 0;
	padding: 0;
}
.amp-geo-group-eu .gdpr_no_display, .gdpr_only_display {
	display: none;
}
.gdpr_no_display, .amp-geo-group-eu .gdpr_only_display {
	display: block;
}
.amp-geo-group-eu .mw-mf-display-toggle {
	background: none;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.amp-geo-group-eu #top-sidebar ul li a.gdpr-menu {
	display: inline-block;
	padding: 0;
}
#top-sidebar {
	background-color: #4E4E4E;
}
#top-sidebar ul:first-child {
	margin-top: 0;
}
amp-accordion section[expanded] .show-more, amp-accordion section:not([expanded]) .show-less {
	display: none;
}
.embedvideo_gdpr_headline span {
	display: inline-block;
	padding-right: 17px;

}
.amp-geo-group-eu .embedvideo_gdpr_p {
	display: block;
}
.embedvideo_gdpr_p {
	display: none;
}
.amp-geo-group-eu .embedvideo_gdpr_headline span {
	background: url(/skins/owl/images/sp_icon_info.png);
	/* @embed */
	background: url(/skins/owl/images/sp_icon_info.svg);
	background: no-repeat right/14px;
}
.embedvideo_gdpr_headline {
	border: 0;
}
.stable .content p.embedvideo_gdpr_text {
	font-size: 12px;
	line-height: 12px;
	padding-left: 4px;
	margin-bottom: 7px;
}
.embedvideo_gdpr_headline:focus {
	outline: 0;
}

.green_box {
	display: table;
	background-color: #f0f6ec;
	border-left: 5px solid #93b873;
	padding: .7em;
	border-radius: 4px;
	box-sizing: border-box;
	color: #434343;
	margin: 1em auto .2em;
	width: 100%;
}
.green_box.expert_qa {
	border-top-left-radius: 0;
	margin-top: 2em;
}
.green_box.expert_short {
	background-color: #FFF;
	border-radius: 0;
	padding-top: .5em;
}
.green_box_tab_label {
	display: table-caption;
	background-color: #93b873;
	color: #FFF;
	font-weight: bold;
	font-size: .7em;
	line-height: 2em;
	border-radius: 4px 4px 0 0;
	text-align: center;
	width: 11em;
}
.green_box_row {
	display: table-row;
}
.green_box_headline {
	font-weight: bold;
	font-size: 120%;
}
.green_box p+br {
	display: none;
}
.green_box p {
	margin: .8em 0 0 0;
}
.green_box p:first-child {
	margin: 0;
}
.green_box.expert_qa .green_box_person,
.green_box.expert_qa .green_box_content {
	display: table-cell;
	vertical-align: top;
}
.green_box.expert_short .green_box_content {
	padding: 0 0 .5em 0;
}
.green_box.expert_short p {
	font-family: Georgia, 'Times New Roman', serif;
	color: #75A24E;
	font-size: 24px;
	line-height: 32px;
}
.green_box_person {
	position: relative;
	padding: .5em .3em;
	color: #6F8460;
}
.green_box.expert .green_box_person {
	padding-top: 0;
}
.green_box.expert_qa .green_box_person {
	vertical-align: top;
	text-align: center;
	width: 45px;
}
.green_box_expert_info {
	font-size: .8em;
	color: #434343;
	line-height: 1.2em;
	padding-top: 10px;
	font-weight: bold;
}
.green_box_expert_info b {
	font-size: 14px;
	color: #434343;
}
.green_box_expert_info span {
	text-transform: uppercase;
	color: #4E6C34;
	font-size: .85em;
}
.green_box.expert_short .green_box_expert_info {
	font-size: 12px;
	color: #9B9B9B;
	font-weight: normal;
}
.green_box_content {
	padding: .5em .3em .5em .5em;
}
.green_box_expert_label {
	font-size: .55em;
	line-height: 1.2em;
	font-weight: bold;
	padding-top: .5em;
}
.green_box_person_circle {
	width: 45px;
	height: 45px;
	float: left;
	background-color: #ced9be;
	color: #FFF;
	font-size: 1.3em;
	line-height: 43px;
	border-radius: 50%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 4px .5em 0 0;
	text-align: center;
}
.green_box.expert_qa .green_box_person_circle {
	border: 2px solid #6F8460;
	float: none;
	margin-right: 0;
}
.green_box_person_circle img {
	width: 100%;
}
.green_box.expert_qa .green_box_person_circle.questioner {
	background-color: #93b873;
	border-color: #93b873;
	text-align: center;
	font-size: 1.6em;
}
p.green_box_bullet {
	padding-left: 1.6em;
	margin: 0;
}
.green_box_bullet::before {
	content: '\2022\20';
	margin-left: -.6em;
}
.green_box_expert_dialog { display: none; }

.unnabbed_alert_top,
.unnabbed_alert {
	display: none;
}
#articleinfo {
	border-top: 0;
}

.qy_cta {
	border-radius: 4px;
	background-color: #FFF;
	text-align: center;
	font-size: 1.1em;
	margin-top: 5px;
	padding: 1em 1em 1.5em;
}
#quicksummary {position: relative;}
#summarysection_anchor {
	position: absolute;
	top: -88px;
}

/* Tablet Support */

@media only screen and (min-width: 500px) {
	.related_box_amp {
	    width: 50%;
	}
}

@media only screen and (min-width: 500px) and (max-aspect-ratio: 13/9),
		only screen and (max-height: 421px) and (min-aspect-ratio: 13/9) {
	#footer form {
		padding-right: 180px;
	}

	#ur_mobile {
		font-size: 22px;
		line-height: 30px;
	}

	.content .ur_author .ur_name {
		font-size: 20px;
	}

	.content .ur_review .ur_date {
		font-size: 15px;
	}

	.ur_rating span {
		font-size: 15px;
	}

	.ur_initials, .content .ur_avatar {
		width: 44px;
		height: 44px;
		-webkit-border-radius: 22px;
		-moz-border-radius: 22px;
		border-radius: 22px;
	}

	.ur_initials{
		line-height: 44px;
		vertical-align: text-bottom;
	}
}

@media only screen and (min-width: 768px) {
	.sd_thumb {
		width: 170px;
	}
}
