#translate_summaries_admin {
	form {
		margin-bottom: 3em;
	}

	.subtext {
		font-size: .75em;
		line-height: 1.5em;
		font-style: italic;
	}

	a {
		padding-top: .3em;
		display: block;
	}
}

#tsa_upload {
	label {
		display: inline-block;
		margin-top: .5em;
	}
}

#tsa_report {
	> div {
		margin: 1em 0;
	}
}

.tsa_date_input {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	width: 80px;
	font-size: 14px;
}

#upload_file {
	display: none;
}

#tsa_delete_summaries {
	display: none;

	textarea {
		width: 100%;
		display: block;
		margin: .5em 0;
		box-sizing: border-box;
		height: 250px;
	}

	button {
		float: right;
		margin-right: 0;
	}
}