@import '../../less/variables.less';

#article_top_message {
	width: 100%;
	background: #f6f8f7;
	margin: @smallHeaderHeight 0 -40px; /* bottom padding overrides #content_wrapper padding */
	position: relative;
	z-index: 1;
	font-size: .9em;

	&.homepage {
		background: #F3F3F3;
	}

	> div {
		max-width: 728px;
		padding: .5em 1em;
		margin: 0 auto;
	}

	a {
		color: @fontColor;
		font-weight: bold;
	}
}

#atm_close {
	position: absolute;
	top: 4px;
	right: 8px;

	&:hover {
		text-decoration: none;
	}
}

#atm_head {
	font-weight: bold;
}

#atm_body {
	font-size: 12px;
	padding-top: 8px;
}

#atm_the_rest {
	display: none;

	p:first-of-type {
		display:inline;
	}

	a {
		display: block;
		padding-top: 8px;
	}

	&.hide_cta {
		a {
			display: none;
		}

		p:last-of-type {
			padding-bottom: 1em;
		}
	}
}

a#atm_more {
	white-space: nowrap;
	font-weight: normal;
}

@media @medium {
	#article_top_message {
		&,
		&.homepage {
			background: #FFF;
		}
	}

	#atm_the_rest {
		&.hide_cta {
			a {
				display: block;
			}

			p:last-of-type {
				padding: 0;
			}
		}
	}
}

@media @large {
	#article_top_message {
		margin: @largeHeaderHeight 0 -71px;

		> div {
			max-width: 1052px;
		}
	}
}

