#ast * th {
	text-decoration: underline;
	padding-bottom: 10px;
}

#ast * td {
	text-align:right;
	padding: 3px;
}

#ast * td:nth-child(even), #ast * th:nth-child(even) {
	background-color: rgba(0,0,0,0.1);
}
