<table>

	<tr>
		<th>Name</th>
		<th>Enabled</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>

	{{#reasons}}
	<tr data-id="{{id}}">
		<td> <input type="text" value="{{name}}"> </td>
		<td> <input type="checkbox" {{#enabled}} checked="1" {{/enabled}}> </td>
		<td> <button class='save_btn' disabled>Save</button> </td>
		<td> {{#can_delete}}<a href="#" class="delete">Delete</a>{{/can_delete}} </td>
	</tr>
	{{/reasons}}

	<tr data-id="0">
		<td> <input type="text" placeholder="New reason"> </td>
		<td> <input type="checkbox" checked="1" disabled> </td>
		<td> <button class='save_btn' disabled>Insert</button> </td>
		<td></td>
	</tr>

</table>
