<table>

	<tr>
		<th>Topic</th>
		<th>Tool Display Name</th>
		<th>Question</th>
		<th>Description</th>
		<th>Enabled</th>
		<th>&nbsp;</th>
	</tr>

	{{#reasons}}
	<tr data-id="{{id}}">
		<td> <input class="internal_name" type="text" value="{{internal_name}}"> </td>
		<td> <input class="name" type="text" value="{{name}}"> </td>
		<td> <input class="question" type="text" value="{{question}}"> </td>
		<td> <input class="description" type="text" value="{{description}}"> </td>
		<td> <input type="checkbox" {{#enabled}} checked="1" {{/enabled}}> </td>
		<td> <button class='save_btn' disabled>Save</button> </td>
	</tr>
	{{/reasons}}

	<tr data-id="0">
		<td> <input class="internal_name" type="text" placeholder="New topic"> </td>
		<td> <input class="name"  type="text" placeholder="New topic name"> </td>
		<td> <input class="question" type="text" placeholder="New question (optional)"> </td>
		<td> <input class="description" type="text" placeholder="New description (optional)"> </td>
		<td> <input type="checkbox" checked="1" disabled> </td>
		<td> <button class='save_btn' disabled>Insert</button> </td>
	</tr>

</table>
