		<tr>
			<td class="pb-title">
				{{^hide_link}} <a href="/{{page_title}}">{{title}}</a> {{/hide_link}}
				{{#hide_link}} {{title}} {{/hide_link}}
			</td>
			<td class="pb-star">
				{{#rs}}<div class="pb-icon pb-rising-icon" />{{/rs}}
			</td>
			<td class="pb-feature">
				{{#fa}}<div class="pb-icon pb-featured-icon" />{{/fa}}
			</td>
			<td class="pb-view">{{views}}</td>
		</tr>
