<div id="stats" class='pb-stats minor_section'>
	<h2>{{pb-mystats}}</h2>
	<div class='section_text'>
		{{#created}}<div class="stats_stat">{{{created}}}</div>{{/created}}
		{{#edited}}<div class="stats_stat">{{edited}}</div>{{/edited}}
		{{#patrolled}}<div class="stats_stat">{{{patrolled}}}</div>{{/patrolled}}
		{{#viewership}}<div class="stats_stat">{{viewership}}</div>{{/viewership}}
		{{#answered}}<div class="stats_stat">{{answered}}</div>{{/answered}}
		<div class="clearall"></div>
	</div>
</div>