<div class='section_text userpage_section'>
	{{#created}}<p>{{{created}}}</p>{{/created}}
	{{#edited}}<p>{{edited}}</p>{{/edited}}
	{{#patrolled}}<p>{{{patrolled}}}</p>{{/patrolled}}
	{{#viewership}}<p>{{viewership}}</p>{{/viewership}}
	{{#answered}}<p>{{answered}}</p>{{/answered}}
</div>
