<div class="section bss_share_container">
	<h2 class="section-heading bss_share_title">
		<span class="mw-headline">{{ss_share_title}}</span>
	</h2>
	<div class="section_text">
		<a href="#" class=" button secondary bss_share_button">{{ss_share_button_title}}</a>
	</div>
</div>