<a id="rss_diag" href="#bss_popup">link</a>
<div id="bss_popup" class="bss_popup mfp-hide">
	<div class="bss_header_container">
		<h1 class="bss_header">{{ss_dialog_title}}</h1>
		<div class="bss_close_container">
			<span class="bss_close">x</span>
		</div>
	</div>
	<div class="bss_content_container">
		<div class="bss_star_container"></div>
		<div class="bss_share_container">
			<div class="bss_share_title">{{ss_share_title}}</div>
			<a href="#" class="bss_share_button button secondary">{{ss_share_button_title}}</a>
		</div>
		<div class="bss_success_stories_title">{{ss_title}}</div>
		<div class="bss_success_stories"></div>
	</div>
</div>