#tech_widget_admin {

	table {
		border-collapse: collapse;
	}

	th, td {
		border-bottom: 1px solid #b7b7b7;
		padding: 4px 12px;
		&:not(:first-child) {
			text-align: center;
		}
	}

	h2 {
		margin-top: 20px;
	}

	input {
		font-size: 13px;
		padding: 2px 4px;
		border-radius: 3px;
		border: 1px solid #929292;
	}

	button {
		padding: 4px;
	}
}
