@import '../../less/variables.less';

#createpage_search_results { margin: 1em 0; }
.createpage_related_options { margin: 1em 0 .5em; }

.createpage_section {
	padding: @smallSectionPadding;
	background: #FFF;
	border-radius: 8px;
	margin-bottom: 1em;
}


.content {
	.createpage_section {
		h3 {
			padding: 0;
			color: #545545;
			background: left center / .9em no-repeat;
			padding-left: 1.3em;
		}

		&.cp_write h3 {
			/* @embed */
			background-image: url(../assets/write.svg);
		}

		&.cp_publish h3 {
			/* @embed */
			background-image: url(../assets/publish.svg);
		}

		&.cp_suggest h3 {
			/* @embed */
			background-image: url(../assets/suggest.svg);
		}
	}
}

#createpage_title { width: 63%; }

table.cpresults {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;

	td {
		padding: 5px 10px 5px 0;
		vertical-align: top;
		width: 50%;
	}
}

INPUT[disabled] {
	background-color: #EEE;
	color: #000000;
	font-weight: normal;
}

input.next[disabled] {
	font-weight: normal;
}
input.next {
	font-weight: bold;
}

table.p_redirects {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	font-size: 90%;

	td {
		border-bottom: 1px solid #ccc;
	}
}

tr.toprow td{
	background: #ccc;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

td.btn {
	text-align:center;
	padding: 3px;
}

.minor_section form { margin: 0; }

.cp_block  {
	margin-top: 15px;
	width: 100%;

	.search_input input {
		border-radius: 10px;
		border: .5px solid #6C6C6C80;
		padding: 12px;
		width: 100%;
		box-sizing: border-box;
	}
}

.search_button,
#cpr_text_top {
	button {
		box-sizing: border-box;
		margin: .5em 0 0 0;
		border-radius: 8px;
		font-size: 1em;
		font-weight: bold;
		width: 100%;
	}
}

.cp_block2 {
	padding: 0;
	color: #999;
	line-height: 1.4em;
	font-size: .9em;
}

.cp_publish {
	.cp_block2 {
		max-width: 33em;
	}
}

#cp_title_results,
#cp_topic_results {
	padding: 12px 3px 3px 3px;
	display: none;
	border-radius: 5px;
	margin-top: 1em;
}
.cp_result_err { background-color: #F2C778; }
.cp_result_good { background-color: #93B874; }

.cpr_hdr {
	text-align: center;
	color: #FFF;
}

.cpr_text {
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
	margin-top: 12px;
}
.cp_result_new > #cpr_title_text,
#cpr_topic_text {
	padding: 1em;
}

#cpr_text_top {
	padding: 1em;
	text-align: center;
	background-color: #FFF;
}
#cpr_text_details {
	color: #999;
	margin-top: 1em;
}
#cpr_text_bottom {
	padding: 0 1em 1em 1em;
	background-color: #F6F5F4;
	margin-top: 18px;
	font-size: .9em;
	display: none;
}

#cpr_text_bottom > #cp_title_input_block { margin-top: 0; }

#cpr_list {
	font-size: .9em;
	line-height: 2em;
	padding: 1em;
}
.cpr_green { color: #383; }
.cpr_green,
.cpr_black {
	padding-left: 5px;
}

.cpr_green,
.article_topic,
#cpr_article_none,
.cpr_black {
	cursor: pointer;
}

.article_options {
	display: none;
	background-color: #F6F5F4;
	padding: .5em 1em 1.5em 1em;
	border-radius: 4px;
}
.article_options_options {
	padding-top: 1em;
}

#existing_button { float: right; }

.contribute_btn {
	float: right;
	line-height: normal;
}

.triangle_up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #F6F5F4;
	margin-left: 30%;
	position: relative;
	top: -20px;
}

/*finished page*/
.createpage_finished {
	font-size: .9em;

	div {
		padding: .5em;
	}

	p {
		padding-bottom: 1em;
	}

	.input_med,
	textarea {
		width: 550px;
	}
}
.post_to_facebook,
.post_to_twitter {
	display: block;
	width: 169px;
	height: 35px;
	background: url(/skins/owl/images/post_to_sprite.png) no-repeat 0 0;
	float: left;
	margin-right: 1em;
}
.post_to_twitter {
	background-position: 0 -44px;
	width: 157px;
}
.post_to_facebook:hover { background-position: -181px 0; }
.post_to_twitter:hover { background-position: -181px -44px; }

.input_question_mark {
	margin-left: 102px;
	font-weight: bold;
}

@media @medium {
	.createpage_section {
		padding: @largeSectionPadding;
	}

	.cp_block {
		display: table;

		.search_input {
			display: table-cell;
			width: 70%;

			input {
				border-radius: 10px 0 0 10px;
				border-right-width: 0;
			}
		}

		.search_button {
			display: table-cell;
			width: 30%;
			margin-top: 0;

			button {
				border-radius: 0 10px 10px 0;
				padding: 10px;
			}
		}
	}

	#cpr_text_top button {
		width: auto;
		margin: 0 .5em;
	}

}
