div.pre-content {
	display: none;
}

#content_wrapper {
	padding-top: 0px !important;
}

div.rcl-waiting {
	background: url(/extensions/wikihow/rclite/rcl_background.png) repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	margin-top: 40px;
	z-index: 11;
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: white;
	padding: 100px 0;
	text-align: center;
}

#rcl-header {
	position: fixed;
	z-index: 3;
	background-color: #e9e7e3;
	width: 100%;
	top: 40px;
}

div.rcl-waiting.loggedin {
	opacity: 1;
	filter: alpha(opacity=100);
}

#rcl-waiting-heading {
	font-size: 38px;
}

#rcl-waiting-subheading {
	font-size: 24px;
}

#rcl-waiting-spinner {
	background: url(/skins/owl/images/200x200_circle.png) center;
	width: 200px;
	height: 200px;
	margin: 50px auto;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

a#rcl-no {
	margin-right: 0px;
}

.rcl_old_change {
	color: #c01a22;
	background: #ffff81;
	text-decoration: line-through;
}

.rcl_new_change {
	color: #3a8804;
	background: #ffff81;
}

.rcl_image_placeholder {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

/*Talk page messages*/
.de {
	padding: 15px;
	margin: 15px 10px 0 90px;
	position: relative;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.de_comment {
	margin-bottom: 2em;
	font-size: .9em;
}

.de_comment p {
	margin-bottom: 10px;
}

.de_comment ul {
	padding-left: 15px;
}

.de_comment .mwimg.tright {
	float: none;
}

.de_date {
	font-size: .8em;
	color: #ABABAB;
	font-style: italic;
	position: absolute;
	bottom: 0;
}

.de_user {
	position: absolute;
	top: 0;
	left: -80px;
	width: 63px;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	line-height: 1.3em !important;
	padding: 0 5px 0;
}

.de_user img {
	width: 40px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.de_user span {
	display: block;
}

.de_user {
	visibility: hidden;
}

.de_user img, .de_user a, .de_user span {
	visibility: visible;
}

.de_user a {
	display: block;
}

.de_reply {
	display: none;
}

div#footer div#footer_random_button {
	visibility: hidden;
	display: block;
}