<div class="hyp-experiment">
	<select>
		{{#options}}
			<option value="{{value}}" {{#selected}}selected{{/selected}} {{#disabled}}disabled{{/disabled}}>{{label}}</option>
		{{/options}}
	</select>
</div>