@import '../../less/variables.less';

@textColor: #444F45;

body {
	background-color: #fff;
}

.page-Main_Page {
	#content_wrapper {
		padding-top: 0;
		background-color: #ffffff;
	}

	.content {
		margin: 0;
	}

	#mw-mf-page-center {
		background-color: #ffffff;
	}
}

#mw-mf-page-center .search {
	width: 100%;
	z-index: 3;
	overflow: hidden;
	background-color: #94B778;
	height: 72px;
	position: absolute;
	bottom: 0;

	form > div {
		background-color: #F3F3F3;
		border-radius: 8px;
		margin: 14px 15px 10px 15px;
		height: 46px;
	}

	.cse_sa {
		float: left;
		background: url(/extensions/wikihow/homepage/images/mag.png) no-repeat;
		width: 30px;
		margin: 7px 0 0 7px;
		border-radius: 0;
		background-size: 30px;
		border: 0;
	}
}

#hp_search_label {
	color: #94b777;
	font-size: 16px;
}

#hp_search {
	width: 80%;
	border: 0px;
	color: #69726A;
	border-radius: 12px;
	padding: 5px 10px;
	font-size: 20px;
	line-height: 36px;

	&::placeholder,
	&::-webkit-input-placeholder, /* WebKit browsers */
	&:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
	&::-moz-placeholder /* Mozilla Firefox 19+ */ {
		color: @fontColor;
		opacity: 1;
	}

	:focus {
		border: none;
		outline: none;
	}
}

.hp_narrow {
	margin: 0 5px;

	a.hp_button {
		display: block;
		text-align: center;
		padding: 4px;
		border-radius: 7px;
		border: 1px solid #94B778;
		color: #94B778;
		font-weight: bold;
	}

	img {
		width: 9px;
		vertical-align: middle;
	}
}

.content .more_link img {
	width: 9px;
	vertical-align: middle;
}

.content .play_button {
	position: absolute;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	top: 26%;
}

.content .hp_narrow h3 {
	margin-top: 15px;
	padding-bottom: 0.7em;
}

.altdomain {
	&#hp_container_outer {
		h1 {
			font-size: 27px;
		}
	}
}

#hp_container_outer {
	position: relative;
	background-color: #fff;
	margin-top: @smallHeaderHeight;
	box-sizing: border-box;

	> div {
		position: relative;
		padding-bottom: 72px;
		min-height: 250px;

		> img {
			width: 45%;
			margin: 0 auto;
			display: block;
			position: absolute;
			right: 15px;
			bottom: 72px;
			z-index: 4;
		}
	}

	#hp_blob_big {
		display: none;
	}

	#hp_shadow {
		display: none;
	}

	#hp_blob_fun {
		bottom: 78px;
		width: 44%;
	}

	h1 {
		font-size: 26px;
		width: 330px;
		text-align: left;
		margin: 0 0 0 15px;
		line-height: normal;
		color: #444F45;
		padding-top: 15px;
		font-weight: bold;
	}

	p {
		font-size: 19px;
		color: @textColor;
		width: 50%;
		margin: 20px 0 30px 15px;
		text-align: left;

		a {
			font-style: italic;
		}
	}
}

.hp_narrow h3 > img {
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
	display: inline;
	width: auto;
	margin-top: -3px;
}

#hp_account {
	text-align: center;
	margin: 20px 0;

	p {
		margin-top: 14px;
	}
}

#hp_signup {
	background-color: #CCDCBE;
	border-radius: 8px;
	font-size: 18px;
	color: #444F45;
	padding: 11px 30px;
}

#hp_learnmore {
	border: 2px solid #94B778;
	border-radius: 8px;
	background-color: #f9fbf7;
	color: #444F45;
	font-size: 21px;
	padding: 8px 16px;
}

#hp_trustworthy {
	background-color: #E6EEE0;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;

	.hp_narrow {
		padding: 25px 30px;
	}

	h2 {
		font-weight: bold;
		font-size: 24px;
		color: #444F45;
		padding-top: 0;
		line-height: 30px;
	}

	a {
		background-color: #94B778;
		color: #FBFBFA;
		border-radius: 7px;
		padding: 5px 0;
		display: block;
		text-align: center;
		margin-top: 20px;
		font-weight: bold;
		font-size: 20px;
		border-radius: 25px;

		span {
			font-size: 25px;
			line-height: 20px;
		}
	}

	p {
		color: #333333;
	}

	ul {
		color: #808080;
		width: 240px;
		margin: 0 auto;
		list-style: none;

		span {
			display: table-cell;
			vertical-align: middle;
			width: 60px;
		}

		img {
			width: 63px;
		}

		p {
			display: table-cell;
			padding-left: 10px;
		}

		strong {
			font-size: 17px;
		}

		li {
			display: table;
			text-align: left;
			margin-bottom: 5px;
		}
	}
}

.hp_thumb {
	border: 1px solid #dfdfdf;
	border-radius: 7px;
	position: relative;
	overflow: hidden;

	p {
		font-size: 16px;
		color: @textColor;
		font-weight: bold;
	}

	span {
		font-size: 11px;
		color: #808080;
	}

	div {
		padding: 0 10px;
	}
}

#hp_featured {

	> a {
		margin-top: 10px;
	}
}

#hp_featured_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4px;
}

#hp_news {
	clear: both;
	background-color: #E6EEE0;
	text-align: center;
	padding: 20px;
	margin-top: 20px;

	h2 {
		color: #444F45;
		font-size: 24px;
		padding-bottom: 0;
		font-weight: bold;
		line-height: 30px;
		margin-bottom: 10px;
	}

	a {
		color: #6E8A57;
		font-size: 18px;
		text-decoration: underline;
	}
}

#hp_news_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 60px;
	margin-top: 55px;

	div {
		background-color: #c6d9b9;
		border-radius: 10px;
		position: relative;
		padding: 50px 30px 30px 30px;
	}

	img {
		width: 85px;
		position: absolute;
		top: -42px;
		left: 50%;
		margin-left: -42px;
	}

	span {
		font-size: 15px;
		color: #6E8A57;

		br {
			display: none;
		}
	}

	p {
		font-style: italic;
		font-size: 19px;
		color: #232620;
		text-align: center;
		margin-bottom: 0;
		margin-top: 5px;
	}
}

#homepage_categories {
	margin: .5em 1em;
	text-align: center;

	h3 {
		font-size: 1em;
		text-align: left;
	}
}

#hp_categories {
	text-align: left;

	li {
		border: 1px solid #e6e6e6;
		border-radius: 7px;
		list-style: none;
		font-size: 14px;
		vertical-align: middle;
		display: table;
		width: 100%;
		height: 32px;
		margin-bottom: 2px;
		overflow: hidden;

		a {
			padding-left: 14px;
			line-height: 32px;
			color: @textColor;
		}

		img {
			float: left;
			width: 22px;
			background-color: #94B778;
			padding: 5px;
		}

		span {
			float: right;
			margin-right: 10px;
		}
	}
}

#hp_lang_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 4px;
	grid-column-gap: 4px;
	background-color: #F3F3F3;
	border-radius: 7px;
	padding: 10px 10px 10px 2px;

	a {
		text-align: center;
		font-size: 11px;
		color: @textColor;
	}
}

#hp_expert, #hp_watch {
	h3 {
		a {
			display: none;
		}
	}
}

#hp_coauthor_container, #hp_popular_container, #hp_articles_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4px;
}

#hp_expert_container, #hp_watch_container {
	display: grid;
	grid-gap: 20px;

	h2 a {
		display: none;
	}
}

#altdomain_container #hp_trustworthy {
	margin-bottom: -22px;
}


@media @medium {
	body {
		#content_wrapper, .no_sidebar #content_inner {
			max-width: none;
			padding: 0;
			margin: 0;
		}
	}

	.hp_narrow {
		margin: 0 auto;
		max-width: 728px;
		padding: 0 10px;

		h3 > img {
			display: none;
		}
	}

	.content .play_button {
		position: absolute;
		width: 40px;
		left: 50%;
		margin-left: -20px;
		top: 20%;
	}

	.altdomain {
		&#hp_container_outer {

			> div {
				min-height: 290px;
			}

			h1 {
				width: 400px;
				text-align: left;
				line-height: normal;
			}

			#hp_books {
				right: 20px;
				width: 340px;
			}

		}
	}

	#hp_container_outer {
		background-color: #E6EEE0;

		> div {
			width: 728px;
			margin: 0 auto;
			min-height: 357px;
			padding-bottom: 0;

			img {
				position: absolute;
				width: 361px;
				right: 0;
				bottom: 15px;
				max-width: unset;

				&.altDomain {
					top: 0;
					width: 525px;
				}
			}
		}

		h1 {
			font-size: 35px;
			line-height: 42px;
			width: 360px;
			margin-left: 0;
			padding-top: 50px;
		}

		p {
			width: auto;
			margin: 10px 0 0 0;
			font-size: 16px;
			color: @textColor;
		}

		#hp_blob_fun {
			width: 350px;
			top: 0;
		}

		#hp_shadow {
			display: block;
			width: 360px;
		}

		#hp_books {
			bottom: 25px;
			right: 10px;
		}
	}

	#hp_coauthor_container, #hp_popular_container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	#hp_coauthor h3 {
		margin-top: 5px;
	}

	#hp_account {
		text-align: left;
		margin-left: 10px;

		p {
			text-align: left;
			margin-left: 0;
		}
	}

	#hp_featured {
		width: 450px;
		float: left;
		margin-bottom: 20px;
	}

	#hp_categories {
		float: right;
		width: 260px;

		li {
			font-size: 14px;
		}
	}

	#hp_languages {
		float: right;
		width: 260px;
		margin-top: 15px;
	}

	#hp_featured_container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	#hp_news_container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 21px;
		margin-top: 60px;

		span br {
			display: inline-block;
		}

		div {
			padding: 50px 15px 15px 15px;
		}

		p {
			margin-top: 10px;
			text-align: center;
		}

		img {
			width: 95px;
			top: -47px;
			margin-left: -47px;
		}
	}

	#hp_news {
		h2 {
			width: 517px;
			margin: 0 auto 10px auto;
		}
	}

	#hp_expert, #hp_watch {

		h3 a {
			float: right;
			display: block;
			font-weight: normal;
			font-size: 16px;
		}
	}

	#hp_expert_container, #hp_watch_container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 25px;

		> a {
			display: none;
		}
	}

	#hp_trustworthy {
		text-align: left;

		.hp_narrow {
			padding: 25px 0;
		}

		h2 {
			width: 430px;
		}

		a {
			padding: 5px 15px;
			display: inline-block;
			clear: both;
			float: left;
			margin-top: 0;
			border-radius: 39px;
		}

		p {
			float: left;
			text-align: left;
			margin-bottom: 0;
			width: 370px;
		}

		ul {
			float: right;
			width: auto;
			margin-top: -25px;

			img {
				width: 63px;
			}

			li {
				margin-bottom: 25px;
			}

			p {
				width: 200px;
			}
		}
	}

	#mw-mf-page-center .search {
		width: 47%;
		background-color: #fff;
		border: 3px solid #94B778;
		border-radius: 8px;
		margin: 5px 0;
		position: relative;
		height: inherit;

		.cse_sa {
			width: 26px;
			float: left;
			background-position: center;
			background-size: 26px;
			margin: 0 0 0 10px;
			border: none;
		}

		form > div {
			background: none;
			border: none;
			height: auto;
			margin: 0;
		}
	}

	#hp_search {
		width: 83%;
		color: #8d938c;
		background-color: inherit;
		display: block;
		padding: 0 10px;
		float: right;
		font-size: 16px;
		line-height: 37px;
	}

	#hp_search:focus {
		border: none;
		outline: none;
	}

	#altdomain_container #hp_trustworthy {
		margin-bottom: -46px;
		margin-top: 25px;
	}

}

@media @large {
	.hp_narrow {
		max-width: 1070px;
	}

	.altdomain {
		&#hp_container_outer {
			h1 {
				width: 682px;
			}

			> div {
				min-height: 320px;
			}

			#hp_shadow {
				width: 390px;
			}

			#hp_books {
				width: 376px;
				bottom: 25px;
			}
		}


	}

	#hp_container_outer {
		margin-top: @largeHeaderHeight;

		> div {
			width: 1070px;
			margin: 0 auto;
			min-height: 405px;

			> img {
				position: absolute;
				width: 515px;
				right: 0;
				bottom: 15px;
			}
		}

		h1 {
			font-size: 46px;
			line-height: normal;
			margin-bottom: 25px;
			width: 600px;
		}

		p {
			text-align: left;
			width: 535px;
			color: @textColor;
			font-size: 24px;

			a {
				color: #6E8A57;
				font-size: 18px;
			}
		}

		#hp_blob_fun {
			width: 375px;
		}

		#hp_shadow {
			width: 505px;
		}

		#hp_books {
			bottom: 29px;
			right: 24px;
			width: 485px;
		}
	}

	#hp_coauthor_container, #hp_popular_container, #hp_articles_container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	#hp_search {
		padding-left: 0;
		font-size: 24px;
		width: 88%;
		line-height: 50px;
	}

	#mw-mf-page-center .search {
		margin-bottom: 25px;
		height: 50px;

		.cse_sa {
			background-size: 30px;
			width: 30px;
			margin: 4px 0 0 13px;
		}
	}

	.stable .content .hp_thumb p {
		line-height: 21px;
	}

	#hp_featured {
		float: left;
		width: 700px;
	}

	#hp_featured_container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;

		:nth-of-type(n+13) {
			display: block;
		}
	}

	#hp_languages {
		float: right;
		width: 300px;
	}

	#hp_news_container {

		div {
			padding: 50px 30px 20px 30px;
		}

		span br {
			display: none;
		}

		p {
			text-align: left;
		}
	}

	#hp_news {
		h2 {
			color: #444F45;
			font-size: 28px;
			padding-bottom: 0;
			font-weight: bold;
			width: 550px;
			line-height: 33px;
		}
	}

	#hp_categories {
		float: right;
		width: 300px;

		a {
			font-size: 14px;
		}
	}

	#hp_expert_container, #hp_watch_container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	#hp_trustworthy {

		h2 {
			font-size: 28px;
			width: 515px;
			line-height: 33px;
		}

		p {
			width: 455px;
		}

		ul {
			margin-top: -30px;
			width: 420px;
			margin-right: 80px;

			li {
				margin-bottom: 35px;
			}

			img {
				width: 60px;
			}

			p {
				width: 345px;
				font-size: 17px;
				color: #444F45;
			}

			strong {
				font-size: 19px;
			}
		}

		a {
			margin-top: -25px;
		}
	}
}