<h1>Create Empty International Articles</h1>
<p>(This tool must be run on an intl domain, does not work on EN)</p>
<form id="admin-upload-form" action="/Special:CreateEmptyIntlArticle?upload=1" method="post" enctype="multipart/form-data">
		<h3 style="margin-bottom: 10px;">Import csv file of new articles</h3>
		<p style="margin: -8px 0px 10px 0px; font-size: 14px;">(Language Code, English Id, Translated Title)</p>
		<input type="file" id="csvFile" name="csvFile">
	<input type="submit" />
</form>