<a class="close" href="#">{{cancelMessage}}</a>
<p>{{content}}</p>
<div class="buttonBar mw-ui-button-group">
	<div>
		<div class="drawer_button social_login_button facebook_button">
			<span class="social_login_button_icon"></span>
			<span class="social_login_button_text">{{facebookCaption}}</span>
		</div>
	</div>
	<div>
		<div class="drawer_button social_login_button google_button">
			<span class="social_login_button_icon"></span>
			<span class="social_login_button_text">{{googleCaption}}</span>
		</div>
	</div>
	<a class="button wide mw-ui-button mw-ui-block mw-ui-progressive" href="{{loginUrl}}">{{loginCaption}}</a>
	<a class="signup mw-ui-progressive mw-ui-quiet mw-ui-block" href="{{signupUrl}}">{{signupCaption}}</a>
</div>
