<li class="qa_aq {{#inactive}}qa_inactive{{/inactive}}" data-aqid="{{id}}" data-cqid="{{curatedQuestion.id}}" data-caid="{{curatedQuestion.curatedAnswer.id}}" data-sqid="{{curatedQuestion.submittedId}}" data-qa_inactive="{{inactive}}" data-votes_up="{{votesUp}}" data-votes_down="{{votesDown}}" data-verifier_id="{{verifierId}}" data-submitter_id="{{submitterUserId}}">
	<div class="qa_divider"></div>
	<div class="qa_li_container">
		<div class="qa_q_txt{{#qa_desktop}} question{{/qa_desktop}}">{{{curatedQuestion.text}}}</div>
		{{#qa_staff}}<div class="qa_staff_info">{{staffInfo}}</div>{{/qa_staff}}
		{{#qa_editor}}
			{{#qa_admin}}
			<div class="qa_editor_tools">
				<a class="qa_edit_aq">{{qa_edit}}</a>
			</div>
			{{/qa_admin}}
			{{^qa_admin}}
				{{^verifierId}}
				<div class="qa_editor_tools">
					<a class="qa_edit_aq">{{qa_edit}}</a>
				</div>
				{{/verifierId}}
			{{/qa_admin}}
		{{/qa_editor}}
		{{#qa_desktop}}<div class="qa_answers">{{/qa_desktop}}
		{{#verifierId}}
			<div class="qa_expert_area">
			{{#qa_desktop}}
				<div class="qa_expert_pop hint_box">
				{{#verifierData.imagePath}}
					<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" class="sp_namelink qa_person qa_expert" target="_blank" style="background-image: url({{verifierData.imagePath}})"></a>
				{{/verifierData.imagePath}}
				{{^verifierData.imagePath}}
					<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" class="sp_namelink qa_person qa_expert" target="_blank"><span>{{verifierData.initials}}</span></a>
				{{/verifierData.imagePath}}
					<div class='qa_expert_name'>
						<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" class="sp_namelink" target="_blank">{{verifierData.name}}</a><br />
						{{{verifierData.blurb}}}
					</div>
					{{verifierData.hoverBlurb}}
				</div>
			{{/qa_desktop}}
				<div class="qa_expert_badge"></div>
				{{#verifierData.imagePath}}
				<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" class="sp_namelink qa_person qa_expert" target="_blank" style="background-image: url({{verifierData.imagePath}})"></a>
				{{/verifierData.imagePath}}
				{{^verifierData.imagePath}}
				<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" class="sp_namelink qa_person qa_expert" target="_blank"><span>{{verifierData.initials}}</span></a>
				{{/verifierData.imagePath}}
				<div class="qa_user_name">
				{{^qa_desktop}}
					{{qa_answered_by}}
				{{/qa_desktop}}
				<a href="{{#formatName}}{{verifierData.name}}{{/formatName}}" target="_blank">{{verifierData.name}}</a>
				</div>
			</div>
		{{/verifierId}}
		{{^verifierId}}
			{{#isTopAnswerer}}
			<div class="qa_ta_area">
				{{#qa_desktop}}
				<div class="qa_ta_pop hint_box"></div>
				{{/qa_desktop}}
				<div class="qa_ta_badge"></div>
			{{/isTopAnswerer}}
			<div class="qa_person_circle" {{#submitterAvatar}}style="background-image:url({{{submitterAvatar}}})"{{/submitterAvatar}}></div>
			<div class="qa_user_name">
				{{^qa_desktop}}{{qa_answered_by}} {{/qa_desktop}}
				{{{submitterDisplayName}}}{{^qa_desktop}}{{#isTopAnswerer}}, {{ta_label}}
				<div class="qa_ta_mobile_extra"></div>
				{{/isTopAnswerer}}
				{{/qa_desktop}}
			</div>
			{{#isTopAnswerer}}
			</div>
			{{/isTopAnswerer}}
		{{/verifierId}}
		{{#qa_desktop}}
			<div class="qa_bubble">
				<div class="qa_answer answer">{{{curatedQuestion.curatedAnswer.text}}}</div>
				{{^qa_anon}}
				<a class="qa_ignore_answered" href="#">{{qa_flag_duplicate}}</a>
				<p class="qa_ingore_answered_thanks">Thanks!</p>
				{{/qa_anon}}
				{{> thumbs_qa_widget}}
			</div>
		</div>
		{{/qa_desktop}}
		{{^qa_desktop}}
		<ul class="qa_answers">
			<li class="qa_answer">{{{curatedQuestion.curatedAnswer.text}}}</li>
		</ul>
		{{> thumbs_up_down}}
		{{/qa_desktop}}
	</div>
</li>
