<div class="qa_answer_confirmation">

	<span class="x_button"></span>

	<div class="qa_answer_confirmation_response">
		<span class="qa_checkmark"></span>
		<div class="qa_social_login_heading standalone">{{qa_proposed_answer_confirmation}}</div>
	</div>

</div>

