<a href="{{verifierData.articleReviewersUrl}}" class="sp_namelink qa_person_circle" target="_blank" {{#verifierData.imagePath}}style="background-image:url({{verifierData.imagePath}}),url(/skins/WikiHow/images/80x80_user.png)"{{/verifierData.imagePath}}>
{{^verifierData.imagePath}}<span>{{verifierData.initials}}</span>{{/verifierData.imagePath}}</a>

<div class='qa_expert_name'>
	<a
		{{#verifierData.articleReviewersUrl}}href="{{verifierData.articleReviewersUrl}}"{{/verifierData.articleReviewersUrl}}
		class="sp_namelink click_out"
		target="_blank"
	>
		{{verifierData.name}}
	</a><br />

	{{{verifierData.blurb}}}
</div>
{{{verifierData.hoverBlurb}}}
