<a href="{{verifierData.articleReviewersUrl}}" class="sp_namelink qa_person_circle" target="_blank" {{#verifierData.imagePath}}style="background-image: url({{verifierData.imagePath}})"{{/verifierData.imagePath}}>
{{^verifierData.imagePath}}<span>{{verifierData.initials}}</span>{{/verifierData.imagePath}}</a>

<div class='qa_expert_name'>
	<a href="{{verifierData.articleReviewersUrl}}" class="sp_namelink" target="_blank">{{verifierData.name}}</a><br />
	{{{verifierData.blurb}}}
</div>
{{{verifierData.hoverBlurb}}}
