<li class="qa_up qa_block" data-qapid="{{qapid}}" data-verifier_id="{{verifierId}}" data-submitter_id="{{submitterUserId}}" data-sqid="{{qapsqid}}" data-timestamp="{{qapTimestamp}}">

	<div class="qa_li_container">
		<div class="qa_q_txt question">{{{question}}}</div>

		<div class="qa_editor_tools">
			<a class="qa_edit_up">{{qa_edit}}</a>
		</div>

		<div class="qa_answers">
			<div class="{{qa_answerer_class}}">
				<div class="qa_user_hover hint_box">{{#verifierId}}{{> qa_expert_hover}}{{/verifierId}}</div>

				<div class="qa_badge"></div>

			{{#verifierId}}
				<a href="{{verifierData.articleReviewersUrl}}" class="sp_namelink qa_person_circle" target="_blank" {{#verifierData.imagePath}}style="background-image: url({{verifierData.imagePath}})"{{/verifierData.imagePath}}>
					{{^verifierData.imagePath}}<span>{{verifierData.initials}}</span>{{/verifierData.imagePath}}</a>
			{{/verifierId}}

			{{^verifierId}}
				<div class="qa_person_circle" {{#submitterAvatar}}style="background-image:url({{{submitterAvatar}}})"{{/submitterAvatar}}></div>
			{{/verifierId}}

				<div class="qa_answerer_info">
				{{#verifierId}}
					<div class="qa_user_name">
						<a href="{{verifierData.articleReviewersUrl}}" target="_blank">{{verifierData.name}}</a>
					</div>
					<div class="qa_user_title">{{{verifierData.blurb}}}</div>
					<div class="qa_user_label">{{qa_expert_answer}}</div>
				{{/verifierId}}

				{{^verifierId}}
					<div class="qa_user_name">
						{{{submitterDisplayName}}}
					</div>
					{{#isTopAnswerer}}
						<div class="qa_user_label">{{ta_label}}</div>
						<div class="qa_ta_mobile_extra"></div>
					{{/isTopAnswerer}}
				{{/verifierId}}
				</div>
			</div>

			<div class="qa_answer answer">{{{answer}}}</div>
		</div>
	</div>
</li>
