<div class="qa_social_login_confirmation">

	<span class="x_button"></span>

	<div>
		<img src="{{avatarUrl}}" class="qa_social_login_avatar" alt="user avatar">
		<div class="qa_social_login_heading">{{qa_thanks_for_social_login}}</div>
	</div>

	<div style="clear: both;"></div>

	<div class="qa_social_login_body">{{qa_info_after_social_login}}</div>

	<a class="qa_social_login_done button primary">Done</a>

</div>

