<div class="qa_social_login_form">

	<span class="x_button"></span>

	<div>
		<span class="qa_checkmark"></span>
		<div class="qa_social_login_heading">{{qa_thanks_for_answer}}</div>
	</div>

	<div style="clear: both;"></div>

	<div class="qa_social_login_body">{{qa_social_login_form_cta}}</div>

	<div class="qa_social_login_button_container">
		<div class="qa_button social_login_button facebook_button">
			<span class="social_login_button_icon"></span>
			<span class="social_login_button_text">Facebook</span>
		</div>
		<div class="qa_button social_login_button google_button">
			<span class="social_login_button_icon"></span>
			<span class="social_login_button_text">Google</span>
		</div>
	</div>

	<div class="qa_social_login_sub">{{qa_social_login_disclaimer}}</div>

</div>
