{{#article_questions.0}}
<a name="Questions_and_Answers_sub" class="anchor"></a>
<div class="qa section sticky">
	<h2>
		<span class="mw-headline" id="qa_headline">{{qa_title}}</span>
	</h2>
	<div id="qa" class="section_text">
		<ul id="qa_article_questions" class="qa_questions">
			{{#article_questions}}
				{{> qa_article_question_item}}
			{{/article_questions}}
		</ul>
	</div>
</div>
{{/article_questions.0}}
