@import 'qa_widget_common.less';

#qa {
	padding: 26px;
}

#qa_headline { margin-left: 0; }

.qa_aq {
	.qa_divider {
		display: none;
	}
}

.qa_li_container {
	padding: 0 0 1.7em 0;
}

#qa_article_questions {
	clear: both;
}

#qa_add_curated_question {
	margin-top: -20px;
}

.qa_answers {
	margin-top: 1.3em;
}

.qa_answerer_info {
	padding-left: 67px;
	font-size: .75em;
	height: 55px;
	line-height: 1.8em;
}

.qa_answer {
	line-height: 1.5em;
	margin-bottom: 0;
}

#qa_submitted_questions_container, #qa_answered_questions_container, #qa_unpatrolled_questions_container {
	border-bottom: none;
	margin-bottom: 20px;
}

.qa_edit_submitted.button.secondary {
	padding: 5px 10px;
}

.qa_q_txt {
	font-weight: bold;
}

.qa_sq {
	.qa_sq_question {
		padding-left: 33px;
	}

	.qa_q_txt {
		font-weight: bold;
	}
	.qa_editor_tools {
		font-size: 0.7em;
		margin-top: 1em;
		position: relative;
	}

	.qa_divider {
		display: none;
	}
}

.qa_section_heading {
	margin: 0 0 20px 0;
}

.qa_editor {
	.qa_ignore_submitted {
	margin-left: 10px;
	}

	#qa_edit, #qa_edit_done {
		font-size: .6em;
	}
}

.qa_staff_info {
	font-size: .7em;
	color: #9A9A9A;
	float: right;
}

.qa_editing {
	.qa_ignore_answered, .qa_ignore_answered_thanks {
		display: none;
	}

	.qa_staff_info {
		display: inline;
	}
}

.qa_person_circle {
	height: 59px;
	width: 59px;

	span {
		line-height: 59px;
		font-size: 25px;
	}
}

.qa_expert_area, .qa_ta_area {
	cursor: pointer;

	.qa_person_circle, .qa_person_circle span {
		height: 55px;
		width: 55px;
	}
}

.qa_expert_area {
	.qa_badge {
		height: 17px;
		width: 17px;
		margin: 43px 0 0 44px;
	}
}

.qa_ta_area {
	.qa_badge {
		width: 17px;
		height: 22px;
		margin: 38px 0 0 43px;
	}
}

.qa_user_name {
	font-size: 1.1em;
}

.qa_user_title {
	margin-top: -.5em;
}

#qa_ask_heading {
	margin-bottom: 10px;
}

#qa_asked_count {
	margin-top: -10px;
}

.qa_sq.qa_editing_aq {
	margin: 0 -25px 20px;
}

.qa_aq_edit_form {
	padding-left: 33px;
}

.qa_aq_submit, .qa_aq_cancel, .qa_aq_delete, .qa_social_login_done {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	width: 92px;
	border-radius: 2.5px;
}

.qa_flag_submitted, .qa_ignore_submitted{
	font-size: 12px;
}

#qa_related_box {
	padding: 15px 0 0 15px;
}


/* Social Login */

.qa_social_login_avatar {
	margin-top: -6px;
	margin-right: 20px;
}

a.button.qa_social_login_done {
	font-size: 0.9em;
}

.qa_button.social_login_button {
	width: 168px;
}

#qa_email {
	margin-bottom: 3px;
}

#qa_email_prompt {
	font-size: .75em;
	margin-bottom: 10px;
}
