.kb-green {
	background-color: #dec;
}

.kb-nodisplay {
	display: none;
}

.kb-noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.kb-visible {
	visibility: visible;
}

.kbopaque {
    opacity: 1;
}

.kbtransparent {
    opacity: 0;
}

.kbnoclick {
    pointer-events: none;
}


