.kb-submit-section {
	padding-top: 27px;
}

.kb-submit-header {
	height: 100px;
	display: table;
	table-layout: fixed;
	margin-left: -17px;
	margin-right: 17px;
	margin-bottom: 17px;
	border-collapse: separate;
	border-spacing: 17px;
	*border-collapse: expression('separate', cellSpacing = '17px');
}

/* ---- ASSOCIATED ARTICLE THUMBNAIL ---- */

.kb-submit-image {
	position: relative;
	display: table-cell;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/**
 * Stupid, superfluous-looking wrapper because of weird browsers
 */
.kb-submit-image-inner {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	float: top;
	margin: 0;
	padding: 0;
}

.kb-placeholder-image, .kb-real-image {
	position: absolute;
	overflow: hidden;
	top: 0;
	height: 100px;
	width: 100px;
	background-image: url(http://pad1.whstatic.com/extensions/wikihow/search/no_img_green_mobile.png);
	background-image: center;
	background-size: cover;
	background-repeat: no-repeat;
			border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #e5e5e5;
}

.kb-real-image {
	z-index: 10;
}

/* ---- KB SUBMIT HEADER ---- */

.kb-submit-header-text {
	position: relative;
	width: 444px;
	display: table-cell;
	background-color: #fff;
			border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #e5e5e5;
}

.kb-submit-header-text-inner {
	position: relative;
	display: inline-block;
	float: left;
	width: 444px;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 17px;
	padding-bottom: 28px;
	word-wrap: break-word;
}

/**
 * Wrapper for the cute little arrow pointing to the article thumbnail.
 * Would've used :after and :before pseudo-elements, but there's this
 * stupid browser support thing we need to obey.
 */
.kb-submit-header-arrow-wrapper {
	position: relative;
	float: left;
}

.kb-submit-header-arrow-outer, .kb-submit-header-arrow-inner {
	position: absolute;
	top: 43px;
	right: 100%;
	border: 1px solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
}

.kb-submit-header-arrow-inner {
	border-collapse: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 17px;
	margin-top: -17px;
}

.kb-submit-header-arrow-outer {
	border-collapse: rgba(229, 229, 229, 0);
	border-right-color: #e5e5e5;
	border-width: 19px;
	margin-top: -19px;
}

.kb-submit-header-prompt, .kb-submit-header-prompt-phrase {
	margin: 0 -7px;
}

.kb-submit-header-prompt {
	font-size: 17px;
}

.kb-submit-header-prompt-phrase {
	font-size: 24px;
	font-weight: bold;
}

/* ---- SUBMISSION FORM ---- */

.kb-submit-form-container {
	position: relative;
}

#kb-submit-form {
	width: 100%;
}

.kb-content-box {
	width: 100%;
	display: none;
}

.kb-fancy-input {
	width: 100%;
	max-width: 100%;
	height: 96px;
	max-height: 96px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
	   -moz-box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
			box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
	border: 1px solid #e5e5e5;
	padding: 15px 15px 15px 15px;
	font-size: 1em;
	margin-bottom: 16px;
	background-color: #ffffff;
}

.kb-fancy-input:focus {
	font-size: 16px!important;
}

#kb-content.inactive, #kb-fake-content-box.inactive {
	color: #999;
	min-height: 96px;
	height: 96px;
	max-height: 96px;
	overflow: none;
	resize: none;
}

#kb-content.active, #kb-fake-content-box.active {
	color: #414141;
	min-height: 333px;
	height: 333px;
	max-height: none;
	overflow-x: hidden;
	overflow-y: overlay;
	resize: vertical;
	scrollbar-face-color: #c0c0aa;
}

.kb-pad-less {
	padding-right: 115px;
}

.kb-pad-more {
	padding-right: 215px;
}

.kb-tips-box {
	position: absolute;
	pointer-events: none;
	top: 17px;
	right: 27px;
	width: 177px;
	padding: 11px;
			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
			border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px dashed #b3d894;
}

.kb-tips-toggle {
	color: #93b874;
	font-size: 12px;
}

.kb-tips-toggle-btn {
	position: relative;
	display: inline-block;
	top: 2px;
	width: 12px;
	height: 12px;
	pointer-events: auto;
	cursor: pointer;
			border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #93b874;
}

.kb-tips-hbar, .kb-tips-vbar {
	position: absolute;
	margin: 5px 2px;
	width: 8px;
	pointer-events: none;
	height: 2px;
			border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #ffffff;
}

.kb-tips-vbar {
	display: none;
			transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		 -o-transform: rotate(90deg);
}

.kb-tips-header {
	pointer-events: none;
}

.kb-tips-details {
	font-size: 12px;
	line-height: 17px;
	pointer-events: none;
}

/* ---- BOTTOM PART OF SUBMISSION FORM ---- */

.kb-form-bottom {
	position: relative;
	display: table;
	height: auto;
	width: 100%;
}

.kb-form-bottom-left {
	display: table-cell;
	width: 65%;
	float: left;
	vertical-align: middle;
}

.kb-form-bottom-right {
	display: table-cell;
	width: 25%;
	float: right;
	vertical-align: middle;
}

.kb-input {
	height: 37px;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
	   -moz-box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
			box-shadow: inset 1px 2px 6px -1px rgba(202,202,186,0.75);
	border: 1px solid #e5e5e5;
	padding: 0 15px;
	font-size: 0.87em;
	background-color: #ffffff;
	margin-bottom: 3px;
}

#kb-add, #kb-waiting {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 0px;
	margin-bottom: 3px;
	padding: 5px 10px;
}

#kb-add {
	font-size: 15px;
}

.kb-spinner {
	display: none;
}

/* ---- CLOSE BUTTON ---- */

.kb-close {
	position: absolute;
	top: 17px;
	right: 17px;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	width: 30px;
	height: 30px;
	background-color: #93b874;
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
}

.kb-close-line-cw, .kb-close-line-ccw {
	position: absolute;
	margin: 12px 6px;
	width: 19px;
	height: 6px;
			border-radius: 4px;
	   -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #ffffff;
}

.kb-close-line-cw {
			transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
}

.kb-close-line-ccw {
			transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		 -o-transform: rotate(-45deg);
}

/* ---- MISCELLANEOUS ---- */

.kb-thanks {
	position: absolute;
	top: 50%;
	right: 102%;
	font-style: italic;
	font-weight: bolder;
	font-size: 21px;
	z-index: 100;
	color: #93b874;
	background: #f4f5f6;
	padding: 6px 8px;
			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
			border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #b3d894;
}

