.related-image-link {
	display: block;
	vertical-align: top;
}
.related-image-link img {
	display: block;
	border: none; width: 100%;
	height: auto;
}
.related-title {
	background-color: rgba(50,50,50,.5);
	padding-right: 4%;
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 92%;
	min-height: 32px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

.related-title:hover {
	background-color: white;
	color: #2483ef;
	text-decoration: none;
}
.related-article .related-title .related-title-text p {
    line-height: 12px;
}
.related-title-text p {
	margin: 0;
	font-size: 12px;
    font-weight: normal;
}

.related-image-link {
	text-decoration: none;
}
.sp_fullbox {
	display: none;
}
#header_logo.pet_logo {
	background-position: 43% 65%;
	background-image: url(/skins/owl/images/wikihow_logo_pet_3.png);
	background-size: 143px;
}
#header_logo.tech_logo {
	background-position: 48% 75%;
	background-image: url(/skins/owl/images/wikihow_logo_tech_4.png);
	background-size: 131px;
}
#header_logo.mom_logo {
	background-position: 43% 65%;
	background-image: url(/skins/owl/images/wikihow_logo_mom.png);
	background-size: 140px;
}
#header_logo.fitness_logo {
	background-position: 43% 65%;
	background-image: url(/skins/owl/images/wikihow_logo_fitness.png);
	background-size: 143px;
}
#header_logo.legal_logo {
	background-position: 43% 65%;
	background-image: url(/skins/owl/images/wikihow_logo_legal.png);
	background-size: 143px;
}

#nav_explore_li.nav_item .menu  { right: 0px; }

.page-wikiHow_Terms_of_Use #mw-content-text {
	padding-bottom: 13rem;
}

.page-wikiHow_Terms_of_Use #intro .section_text {
	padding: 26px 0;
}

/***** TECH DOMAIN ******/
#tech_rating {
	display: none;
}

@media only screen and (min-width:728px) {
	#tech_rating {
		float: right;
		display: block;
		margin-left: 10px;
	}

	#tech_rating_help {
		color: #79A355;
		margin: 0 8px;
		font-size: 12px;
		font-weight: bold;
		line-height: 15px;
		text-align: center;
		border: 1px solid #79A355;
		border-radius: 5px;
		padding: 7px 0;
		display: block;
	}
	#tech_rating_help:hover {
		color: #439B05;
	}

	#tech_rating_help.clicked {
		border: none;
	}
	#tech_rating_help.clicked:hover {
		color: #79A355;
		cursor: auto;
	}

	#tech_rating_data {
		color: #ffffff;
		font-size: 10px;
		line-height: 14px;
		text-align: center;
		position: relative;
		text-transform: uppercase;
		background: url(/extensions/wikihow/Rating/images/intro-banner-dark-green.svg) top right / 135px 67px no-repeat;
		width: 132px;
		height: 67px;
		font-weight: bold;
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.none #tech_rating_data {
		text-transform: none;
		font-size: 14px;
	}

	#tech_rating_data #tech_count {
		font-size: 22px;
		font-weight: normal;
	}

	#expert_coauthor.tech {
		border: none;
	}

	.page-wikiHow_Terms_of_Use #sidebar {
		height: auto;
	}

	.page-wikiHow_Terms_of_Use #mw-content-text {
		padding-bottom: 20rem;
	}
}