<div id="category_listing" class="cat_carousel cat_listing" data-category_listing="1">
	<div class="cat_imgs">
        {{#.}}
			<div class="cat_item">
				<div class="cat_item_spacing">
					<a href="{{url}}">
						<img src="{{img_url}}" />
						<div class="cat_item_title_box">
							<div class="cat_item_title">
                                {{cat_title}}
							</div>
						</div>
					</a>
				</div>
			</div>
        {{/.}}
	</div>
</div>
