<div class="cat_item">
    <div class="cat_item_spacing">
	<a href="{{url}}">
		<img src="{{default_image}}" data-lazy="{{thumb_url}}" />
        <div class="cat_item_title_box">
            <div class="cat_item_title">
				<div class="cat_howto_prefix">{{howto_prefix}}</div>
                {{title}}
            </div>
        </div>
	</a>
	</div>
</div>