<style type="text/css">
	body {
		max-width: 39rem;
		padding: 2rem;
		margin: auto;
		font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	}

	form, input, select, textarea, button {
		font-family: inherit !important;
		font-size: 0.9em !important;
	}
	#ip_label { margin-right: 3px; }
	#reason_label { margin: 0 3px 0 10px; }
	#submit_btn { margin-left: 10px; }
</style>

<h1>Bot Blocking IP Whitelist</h1>

<p>
- This tool allows you to unblock IP addresses so they can access wikiHow again.
<br>
- It can take up to 5 minutes for access to be restored after whitelisting an IP.
<br>
- If you need help with this tool, please contact Alberto or Reuben.
<br><br>
Your IP address is <b>{{ipAddr}}</b></p>
<hr>

<br>

<form method="POST">
	Enter an IP address (IPv4) to be whitelisted:
	<br><br>
	<label id="ip_label">IP:</label>
	<input type="text" name="ipwl_addr" required placeholder="0.0.0.0">
	<label id="reason_label">Reason:</label>
	<input type="text" name="ipwl_reason" required maxlength="255" placeholder="John Doe's address">
	<button id="submit_btn" type="submit">Whitelist</button>
	<input type='hidden' name='token' value='{{token}}'>
	<input type='hidden' name='action' value='submit'>
</form>

{{{resultHtml}}}

<br><hr>

<h2>Whitelisted IPs:</h2>

<textarea readonly id="ipwl_list" name="ipwl_list" rows="10">
{{#all_wl_ip1}}
{{.}}
{{/all_wl_ip1}}
</textarea>
