<div id="relatedvideos_section" class="section sticky">
	<h2 class="section_head" id="relatedvideos_head"><span>{{title}}</span></h2>
	<div id="relatedvideos" class="section_text">
		{{#videos}}
		<a class="relatedvideos-video" href="{{link}}">
			<div class="relatedvideos-video-content">
				<div class="relatedvideos-video-preview">
					{{{preview}}}
				</div>
				<p class="relatedvideos-video-label">{{howto}}<br><span>{{title}}</span></p>
				<div class="relatedvideos-video-icon relatedvideos-video-icon-play"></div>
			</div>
		</a>
		{{/videos}}
		<div style="clear:both"></div>
	</div>
</div>
