<div id="relatedvideos_section" class="section sticky">
	<h2 class="section_head" id="relatedvideos_head"><span>{{title}}</span></h2>
	<div id="relatedvideos" class="section_text">
		{{#items}}
		<a class="videoItem" href="{{link}}">
			<div class="videoItem-content">
				<div class="videoItem-preview">
					{{{preview}}}
				</div>
				<p class="videoItem-label">{{howto}}<br><span>{{title}}</span></p>
				<div class="videoItem-icon videoItem-icon-play"></div>
			</div>
		</a>
		{{/items}}
		<div style="clear:both"></div>
	</div>
</div>
