<div id="videoBrowser-widget">
	<h3 class="videoBrowser-widget-title">{{title}}</h3>
	<div class="videoBrowser-widget-items">
		{{#items}}
		<a class="videoBrowser-item" href="{{link}}">
			<div class="videoBrowser-item-content">
				<div class="videoBrowser-item-image">
					{{{preview}}}
				</div>
				<p class="videoBrowser-item-title">{{howto}}<br><span>{{title}}</span></p>
				<div class="videoBrowser-item-button videoBrowser-item-button-play"><span>Watch</span></div>
			</div>
		</a>
		{{/items}}
		<div style="clear:both"></div>
	</div>
</div>
