<style type="text/css">
	/*
	 * This CSS is here to make the initial static content match the dynamic content.
	 * TODO: Refactor CSS so we don't have any duplication
	 */
	#article_shell {
		margin-right: 0;
		width: 1045px;
	}

	#main #actionbar {
		display: none;
	}

	#videoBrowser.loading .videoBrowser-actionBar {
		margin-right: 26px;
	}

	#videoBrowser.loading .videoBrowser-viewer-player {
		position: absolute;
		left: 0;
		top: 0;
		width: 1045px;
		height: 588px;
	}

	#videoBrowser.loading .videoBrowser-viewer-context {
		font-weight: bold;
		margin: -2px 0 10px 0;
	}

	#videoBrowser.loading .videoBrowser-viewer-title {
		font-size: 1.8em;
		margin-bottom: 0.5em;
	}

	#videoBrowser.loading .videoBrowser-browser {
		padding-top: 588px;
	}

	#videoBrowser.loading .videoBrowser-viewer-more {
		margin-top: 1em;
		font-weight: bold;
	}
</style>
<div id="videoBrowser" class="loading">
	<div class="videoBrowser-browser">
		<div class="videoBrowser-actionBar" role="navigation">
			<div id="gatBreadCrumb">
				<ul id="breadcrumb" class="Breadcrumbs" aria-label="Video breadcrumbs">
					{{#breadcrumbs}}
					{{^last}}<li>{{^first}} » {{/first}}<a href="{{link}}" title="{{label}}">{{label}}</a></li>{{/last}}
					{{/breadcrumbs}}
				</ul>
			</div>
		</div>
		<script type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{{#breadcrumbs}}{"@type": "ListItem","position": {{position}},"name": "{{label}}","item": "{{link}}"}{{^last}},{{/last}}{{/breadcrumbs}}]}</script>
		{{#video}}
		<div class="videoBrowser-viewer section_text">
			<div>
				<div class="videoBrowser-viewer-text">
					<p class="videoBrowser-viewer-context">{{{context}}}</div>
					<h1 class="videoBrowser-viewer-title">{{howToTitle}}</h1>
					<!-- <p class="videoBrowser-viewer-plays">{{plays}}</p> -->
					<div class="videoBrowser-viewer-summary">{{{summary}}}</div>
					<p class="videoBrowser-viewer-more">
						<a href="{{article}}">{{read-more}}</a>
					</p>
				</div>
				{{#youtube}}
				<div class="videoBrowser-viewer-player">
					<iframe width="1045" height="588" src="https://www.youtube.com/embed/{{youtube}}?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
				</div>
				{{#schema}}<!-- YouTube info from cache -->{{/schema}}
				{{^schema}}<!-- YouTube info being fetched -->{{/schema}}
				{{/youtube}}
				{{^youtube}}
				<div class="videoBrowser-viewer-player">
					<video key="{{id}}" width="1045" height="588" playsinline="" controls="" controlslist="nodownload" poster="{{poster}}"><source src="{{video}}" type="video/mp4"></video>
				</div>
				{{/youtube}}
				{{#schema}}{{{schema}}}{{/schema}}
			</div>
		</div>
		{{/video}}
	</div>
</div>