<div id="videoBrowser">
	<div class="videoBrowser-browser">
		<div class="videoBrowser-actionBar" role="navigation">
			<div id="gatBreadCrumb">
				<ul id="breadcrumb" class="Breadcrumbs" aria-label="Video breadcrumbs">
					<li class="home"><a href="/Main-Page" title="Main Page">Home</a></li>
					<li> » <a href="/Video" title="Video">Video</a></li>
					{{#breadcrumbs}}
					<li> » <a href="{{link}}" title="{{label}}">{{label}}</a></li>
					{{/breadcrumbs}}
					<li> » <a href="{{url}}" title="{{howToTitle}}">{{howToTitle}}</a></li>
				</ul>
			</div>
		</div>
		{{#video}}
		<div class="videoBrowser-viewer section_text">
			<div>
				<div class="videoBrowser-viewer-text">
					<p class="videoBrowser-viewer-context">{{{context}}}</div>
					<h2 class="videoBrowser-viewer-title">{{howToTitle}}</h2>
					<!-- <p class="videoBrowser-viewer-plays">{{plays}}</p> -->
					<div class="videoBrowser-viewer-summary">{{{summary}}}</div>
					<p class="videoBrowser-viewer-more">
						<a href="{{article}}">{{read-more}}</a>
					</p>
				</div>
				{{#youtube}}
				<div class="videoBrowser-viewer-player">
					<iframe width="1045" height="588" src="https://www.youtube.com/embed/{{youtube}}?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
					<script type="application/ld+json">{"@context":"http://schema.org","@type":"VideoObject","name":"{{titleText}}","description":"{{summaryText}}","thumbnailUrl":["{{poster}}","{{poster@4:3}}","{{poster@1:1}}"],"contentUrl":"https://www.youtube.com/watch?v={{youtube}}","embedUrl":"https://www.youtube.com/embed/{{youtube}}"}</script>
				</div>
				{{/youtube}}
				{{^youtube}}
				<div class="videoBrowser-viewer-player">
					<video key="{{id}}" width="728" height="410" playsinline="" controls="" controlslist="nodownload" poster="{{poster}}"><source src="{{video}}" type="video/mp4"></video>
				</div>
				<script type="application/ld+json">{"@context":"http://schema.org","@type":"VideoObject","name":"{{titleText}}","description":"{{summaryText}}","thumbnailUrl":["{{poster}}","{{poster@4:3}}","{{poster@1:1}}"],"uploadDate":"{{updated}}","contentUrl":"{{url}}","embedUrl":"{{video}}","interactionCount":"{{plays}}"}</script>
				{{/youtube}}
			</div>
		</div>
		{{/video}}
	</div>
</div>