@import './variables.less';
@import './mixins.less';
@import './stats.less';

.spinner {	
	.roundedAll();
	.box-shadow(0px 0px 5px @grayMedium);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;	
	margin: -30px 0 0 -30px;	
	display: inline-block;
	text-align: center;
	background-color: white;
	z-index: 1000;
	background-image: url('/extensions/wikihow/rotate.gif');
	background-position: center center;
	background-repeat: no-repeat;

	.msg {
		font-size: 14px;
		display: block;
		padding: 5px;
		font-style: italic;
		color: #888;
	}
}

.button-bar {
	.transition(all 0.3s);
	padding: @margin;
	background-color: @grayLight;

	.button.block {
		padding: @margin*1.3;

		&.primary {
			.transition(all 0.3s);
			border: 1px solid darken(@green, 15%);
			background-color: @green;

			&:hover {
				background-color: darken(@green, 10%);
			}
		}
	}

	.arrow-right {
		border: none !important;
		position: relative;
		font-size: 16px;
		line-height: 16px;
		box-sizing: border-box;

		.arrow {
			.transition(all 0.3s);
			position: absolute;
			top: 0;
			right: 0;
			width: 0; 
			height: 0; 
			border-top: @arrowWidth solid transparent;
			border-bottom: @arrowWidth solid transparent;
			border-left: @arrowWidth solid @green;
			background-color: @grayLight;
		}

		&.primary {
			&:hover {
				background-color: darken(@green, 10%);

				.arrow {
					border-left: @arrowWidth solid darken(@green, 10%);
				}
			}

			&.arrow {
				background-color: @green;				
			}
		}
	}
}

.alert {
	.roundedAll();
	display: block;
	padding: @margin*2;
	font-size: @baseFontSize;
	border: 1px solid @grayLight;

	a {
		font-weight: bold;
	}

	&.icon {
		&:before {
			font-family: 'FontAwesome';
			display: inline-block;
			float: left;
			margin: 0 @margin/2 0 @margin/2;
		}
	}

	&.success {
		color: darken(@green, 30%);
		background-color: lighten(@green, 30%);
		border-color: lighten(@green, 10%);

		&.icon:before {
			content: "\f164";
		}
	}

	&.danger {
		color: @red;
		background-color: lighten(@red, 60%);
		border-color: lighten(@red, 40%);

		&.icon:before {
			content: "\f071";
		}
	}
}

.counter {
	.roundedAll(50%);
	box-shadow: 0px 0px 1px #666;
	display: inline-block;
	font-size: 9px;
	font-weight: bold;
	padding: 2px 5px;
	margin: 0;
	color: white;
	position: absolute;
	top: 2px;
	right: -10px;
	border: 1px solid @grayLight;
	background-color: white;

	&:empty {
		display: none;
	}

	&.red {
		border: none;
		background-color: lighten(@red, 35%);
	}

	&.green {
		border: none;
		background-color: lighten(@green, 10%);
	}
}

// selector must be last
.hidden {
	display: none;
}

.button.block {
	display: block;
	text-align: center;
	margin-right: 0 !important;
}