.stats-container {
  display: block;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #dddddd;
}
table.stats-table {
  border-spacing: 0px;
  font-size: 13px;
}
table.stats-table th {
  text-align: left;
  padding: 10px;
  background-color: #f5f5f5;
  color: black;
}
table.stats-table tr {
  background-color: #eaeaea;
  border: 1px solid #aaaaaa !important;
}
table.stats-table tr:nth-child(odd) {
  background-color: white;
  margin: 0;
}
table.stats-table td {
  padding: 10px;
  margin: 1px;
}
table.stats-table td.percent:after {
  display: inline-block;
  margin-left: -3px;
  content: '%';
}
