@medium: ~'only screen and (min-width:728px)';
@large: ~'only screen and (min-width:1070px)';

@bgColor: #F7F7F7;
@fontColor: #545454;
@hColor: #222;
@linkColor: #307530;
@largeSectionPadding: 26px;

@green: #97ba78;
@red: #B30000;
@grayLight: #f5f5f5;
@grayMedium: #AAA;
@grayDark: #3e3d3c;

@margin: 10px;
@baseFontSize: 16px;
@borderRadius: 5px;

@arrowWidth: 21px;

@smallHeaderHeight: 40px;
@largeHeaderHeight: 72px;