<div id="expert_coauthor" class="{{^hasSlot2}}{{check}}{{/hasSlot2}}">

	{{#coauthor_image}}
		<div class="expert_coauthor_image"><img src="{{{coauthor_image}}}" /></div>
		<div class="expert_wrapper">
	{{/coauthor_image}}

	{{coauthor}}

	<a href="#{{linkUrl}}" class="{{slot1class}} expert_coauthor_link"
	>{{slot1}}{{#slot1_desc}}, {{slot1_desc}}{{/slot1_desc}}</a>

	{{#hasSlot2}}
		{{{connector}}} {{slot2_intro}}
		<a href="#{{linkUrl}}" class="expert_coauthor_link {{slot2class}}"
		>{{slot2}}</a>
	{{/hasSlot2}}

	{{#showBylineRefs}}
		{{{connector}}} <a href="{{{refsUrl}}}">{{refsCount}} {{references_label}}</a>
	{{/showBylineRefs}}

	{{#lastUpdatedDate}}
		<p>{{lastUpdatedMsg}} {{lastUpdatedDate}}</p>
	{{/lastUpdatedDate}}
	{{#coauthor_image}}
		</div>
	{{/coauthor_image}}

</div>

{{> info_icon }}
