<div id="sp_icon_hover" hidden {{#amp}}on="tap:sp_icon_hover.toggleVisibility" role="button" tabindex="0"{{/amp}}>
	{{#mobile}}<div id="sp_icon_close">X</div>{{/mobile}}
	<div id="sp_icon_body">
		{{{body}}}
		{{#learn_more_link}}<a href="{{learn_more_link}}" class="sp_learn_more_link">{{learn_more}}</a>{{/learn_more_link}}
	</div>
</div>
