<div id="expert_coauthor" class="{{^hasSlot2}}{{check}}{{/hasSlot2}} {{noTabs}}">

	{{coauthor}}

	<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
		class="{{slot1class}} expert_coauthor_link"
		{{#amp}} on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1" {{/amp}}
	>{{slot1}}{{#slot1_desc}}, {{slot1_desc}}{{/slot1_desc}}</a>

	{{#hasEarlySlot2}}
		{{{connector}}} {{slot2_intro}}
		<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
			class="expert_coauthor_link {{slot2class}}"
			{{#amp}}on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1"{{/amp}}
		>{{slot2}}</a>
	{{/hasEarlySlot2}}


	{{#lastUpdatedDate}}
		<p>
			{{lastUpdatedMsg}} {{lastUpdatedDate}}

			{{#hasSlot2}}
				{{{connector}}} {{slot2_intro}}
				<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
					class="expert_coauthor_link {{slot2class}}"
					{{#amp}}on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1"{{/amp}}
				>{{slot2}}</a>
			{{/hasSlot2}}

			{{#showBylineRefs}}
				{{{connector}}} <a href="{{{refsUrl}}}">{{references_label}}</a>
			{{/showBylineRefs}}
		</p>
	{{/lastUpdatedDate}}

</div>

{{> info_icon }}
