<div id="expert_coauthor" class="{{^hasSlot2}}{{check}}{{/hasSlot2}} {{noTabs}} {{#coauthor_image}}has_image{{/coauthor_image}}">
	{{#coauthor_image}}
		<div class="expert_coauthor_image">
			{{#amp}}
				<amp-img src="{{{coauthor_image}}}" width="50" height="50"></amp-img>
			{{/amp}}
			{{^amp}}
				<img src="{{{coauthor_image}}}" />
			{{/amp}}
			<div class="expert_check"></div>
		</div>
		<div class="expert_wrapper">
	{{/coauthor_image}}
	{{coauthor}}

	<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
		class="{{slot1class}} expert_coauthor_link"
		{{#amp}} on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1" {{/amp}}
	>{{slot1}}{{#slot1_desc}}, {{slot1_desc}}{{/slot1_desc}}</a>

	{{#hasEarlySlot2}}
		{{{connector}}} {{slot2_intro}}
		<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
			class="expert_coauthor_link {{slot2class}}"
			{{#amp}}on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1"{{/amp}}
		>{{slot2}}</a>
	{{/hasEarlySlot2}}


	{{#lastUpdatedDate}}
		<p>
			{{lastUpdatedMsg}} {{lastUpdatedDate}}

			{{#hasSlot2}}
				{{{connector}}} {{slot2_intro}}
				<a href="{{#amp}}#{{/amp}}{{^amp}}#{{linkUrl}}{{/amp}}"
					class="expert_coauthor_link {{slot2class}}"
					{{#amp}}on='tap:sp_icon_hover.toggleVisibility' role="button" tabindex="1"{{/amp}}
				>{{slot2}}</a>
			{{/hasSlot2}}

			{{#showBylineRefs}}
				{{{connector}}} <a href="{{{refsUrl}}}">{{references_label}}</a>
			{{/showBylineRefs}}
		</p>
	{{/lastUpdatedDate}}

	{{#coauthor_image}}
		</div>
	{{/coauthor_image}}

	{{#showBylineRefsNextToAuthor}}
		{{{connector}}} <a href="{{{refsUrl}}}">{{references_label}}</a>
	{{/showBylineRefsNextToAuthor}}

</div>

{{> info_icon }}
