@import '../../less/variables.less';

@media @medium {
	#sf {
		grid-column-start: 1;
		grid-column-end: span 5;
		margin-top: 23px;
		text-align: left;

		p {
			display: inline-block;
			line-height: 40px;
			vertical-align: top;
			margin: 0 10px 0 0;
		}
	}
}

@media @large {

	#sf {
		grid-column-start: 5;
		grid-column-end: span 2;
		grid-row-start: 1;
		grid-row-end: span 2;
		margin-top: 0;
		text-align: right;

		p {
			display: block;
			line-height: normal;
			margin-bottom: 20px;
			margin-right: 182px;
		}
	}
}