/* This file is included in GoogleAmp.class.php using Misc::getEmbedFiles, which does not support
 * LESS compilation, so for now variables will have to be inlined
// @import '../../less/variables.less';
 */

#sf {
	margin: 13px 0 0 0;
	float: none;
	text-align: center;
}

#sf p {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	margin: 18px 0 10px 0;
}

#sf .sf_icon {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
}

#sf_ig {
	background: url(/extensions/wikihow/SocialFooter/images/ig.png);
	/* @embed */
	background: url(/extensions/wikihow/SocialFooter/images/ig.svg);
}

#sf_fb {
	background: url(/extensions/wikihow/SocialFooter/images/fb.png);
	/* @embed */
	background: url(/extensions/wikihow/SocialFooter/images/fb.svg);
}

#sf_tt {
	background: url(/extensions/wikihow/SocialFooter/images/tt.png);
	/* @embed */
	background: url(/extensions/wikihow/SocialFooter/images/tt.svg);
}

#sf_yt {
	background: url(/extensions/wikihow/SocialFooter/images/yt.png);
	/* @embed */
	background: url(/extensions/wikihow/SocialFooter/images/yt.svg);
}

#sf_nl {
	background: url(/extensions/wikihow/SocialFooter/images/nl.svg);
}
