/* byline success stories dialog */
.modal-open {
  overflow: hidden;
}

.bss_popup {
  position: relative;
  width: auto;
  max-width: 500px;
  overflow: auto;
  margin: 20px auto;
  width: 96%;
  min-height: 475px;
  font-size: .9em;

  .bss_share_container {
    background: #FFF;
    padding: 10px;
    margin-top: 10px;

    .bss_share_title {
      font-weight: bold;
    }

    .bss_share_button {
      margin-top: 10px;
      font-size: 1em;
    }
  }

}

.bss_header_container {
  display: block;
  position: relative;
  line-height: 1em;
  font-weight: bold;
  font-size: 1.2em;
  padding: 20px 0;
  height: auto;
  background-color: #93b874;

}

.bss_header {
  color: #FFF;
  font-size: 1.1em;
  padding-left: 20px;
}

.bss_close_container {
  position: absolute;
  right: .5em;
  top: 1em;
  width: .3em;
  height: .3em;
  margin: 0 .3em 0 0;
  font-weight: bold;
}

.bss_close {
  text-indent: 0;
  width: auto;
  height: auto;
  background: none !important;
  color: #fff;
  font-weight: normal;
  font-size: 1.3em;
  cursor: pointer;
}

.bss_content_container {
  background: #ECECEC;
  max-height: 500px;
  padding: 10px;
  overflow: auto;
}

.bss_star_container {
  background: #FFF;

  .sp_helpful_box {
    padding: 10px 10px 15px;
  }

  .sp_star_container {
    height: 35px;
    width: 35px;
  }
}


.bss_success_stories_title {
  background: #FFF;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px #ECECEC solid;
}

.bss_success_stories {
  .ur_review {
    border-radius: 0;
    background: white;
    padding: 10px;
    margin-bottom: 1px;
  }

  .ur_review_text {
    margin-top: 7px;
  }

  .ur_author .ur_name {
    font-size: 13px;
    color: #545454;
    font-weight: bold;
  }
}
