{{! Used to separate individual contractor invoices in the staff email report }}

<label style="display: block; padding: 10px; margin-top: 22px; font-family: arial; font-size: 1.1em;
		border-top: 2px solid #3e542b; background-color: #4a6534; color: white;">
	{{idx}}. <a href="mailto:{{email}}" target="_blank" style="color: white; text-decoration: none;">{{email}}</a> &mdash; {{subject}}
</label>
