<div id="article_rating_modal">
	<span class="mw-headline">{{msgText}}</span>
	<div id="ar_buttons">
		<button data-rating="1" class="button secondary aritem_dt" role="button" tabindex="0">{{yesText}}</button>
		<button data-rating="0" class="button secondary aritem_dt" role="button" tabindex="0">{{noText}}</button>
	</div>
</div>