@import '../less/variables.less';

@loginErrColor: #F8A900;

#section_0,
.login_top_link {
	display: none;
}

#login_tabs {
	width: 100%;
	display: table;
	margin: 0 -10px 1.5em;
	padding: 0 8px;
	border-bottom: 1px solid #DDD;
	background-color: #FFF;
	text-align: center;

	a {
		width: 50%;
		display: table-cell;
		height: 2.5em;
		vertical-align: middle;
		position: relative;

		span {
			padding-left: 21px;
			background: left center / 16px no-repeat;
		}

		&.lt_off {
			color: #606060;
		}
	}

	.caret {
		position: absolute;
		bottom: 0;
		left: calc(~"50% - 10px");

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border-top: 10px solid #DDD;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}

		&:after {
			content: '';
			position: absolute;
			left: 1px;
			top: 0;
			border-top: 9px solid #fff;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
		}
	}

	#lt_signup {
		border-right: 1px solid #DDD;

		span {
			/* @embed */
			background-image: url(images/sign_up.svg);
		}

		&.lt_off {
			span {
				/* @embed */
				background-image: url(images/sign_up_off.svg);
			}
		}
	}

	#lt_login {
		span {
			/* @embed */
			background-image: url(images/login.svg);
		}

		&.lt_off {
			span {
				/* @embed */
				background-image: url(images/login_off.svg);
			}
		}
	}
}

form.user-login {
	margin-bottom: 1em;
	background: #FFF;
	padding: 15px 12px;
	border-radius: @borderRadius;
	border: 1px solid #E1E1E1;

	.inputs-box {
		border: none;
		margin: 0;
		text-align: left;

		input {
			&:not([type="submit"]) {
				padding-left: 55px;
				margin-bottom: 0.5em;
				border-radius: @borderRadius;
				border: 1px solid #E1E1E1;

				&.login_error {
					border-color: @loginErrColor;
				}
			}

			&#wpCaptchaWord {
				padding-left: .5em;
			}
		}

		.input-icon {
			padding: 16px;
			width: 15px;
			height: 13px;
			border-right: 1px solid #CCC;
			position: absolute;

			div {
				background: url(../../images/wikihow/login_sprite.png) no-repeat -137px 0;
				width: 14px;
				height: 13px;
				background-size: 300px;
			}

			#input-icon-pwd,
			#input-icon-pwd2 {
				background-position: -137px -21px;
			}

			#input-icon-email { background-position: -137px -38px; }

			&.login_error {
				border-color: @loginErrColor;

				#input-icon-username { background-position: -161px 0; }
				#input-icon-pwd { background-position: -160px -22px; }
				#input-icon-pwd2 { background-position: -160px -22px; }
				#input-icon-email { background-position: -162px -38px; }
			}
		}
	}

	.fancycaptcha-image {
		margin: 0 auto;
		display: block;
	}

	.captcha_fineprint {
		padding-top: .5em;
	}

	.login_error_msg {
		color: @loginErrColor;
		padding-bottom: 1em;
	}

}

#wpName1 {
	margin-bottom: .5em;
}

.forgot-pwd-link {
	text-align: center;
}

#userlogin2,
form.user-login {
	max-width: 600px;
	margin: 0 auto;
}

#wpCreateaccount,
#wpCaptchaWord {
	max-width: 400px;
	margin: 5px auto;
}

div.inputs-box {
	max-width: 500px;
	margin: 0 auto !important;
}

div.captcha_fineprint {
	max-width: 500px;
	margin: 0 auto;
}

div.user-login-social {
	margin: 15px 0;
	padding: 0;
	text-align: center;
}

#wpLoginAttempt {
	max-width: 200px;
	margin: 15px auto 15px;
}

#fb-root {
	display: none;
}

/*** Social Login (Special:UserLogin) ***/

#userlogin_alt_logins {
	font-size: 0.8em;
}
#userlogin_alt_logins,
#userloginForm .mw-htmlform,
#userLoginOr,
.sub_social_login {
	margin-left: auto;
	margin-right: auto;
	width: 290px;

}

#userlogin_alt_logins {
	box-sizing: border-box;
	display: table;
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.warningbox {
	display: none;
}

#userLoginOr {
	text-align: center;
	margin-top: -3.1em;
	background-color: #F3F3F3;
	padding: 5px;
	color: #a9a9a9;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: auto;
}

.htmlform-tip,
.mw-htmlform-field-HTMLFancyCaptchaField.mw-ui-vform-field.captcha > label,
.mw-htmlform-field-HTMLFancyCaptchaField.mw-ui-vform-field.captcha > p:first-of-type {
	display: none;
}

/*Userlogout & PasswordRest specific style*/
.mw-special-Userlogout,
.mw-special-PasswordReset {

	#section_0 {
		display: block;
	}

	#bodyContent {
		background: #FFF;
		padding: @smallSectionPadding;
	}

}

.alreadysignedin {
	padding: @smallSectionPadding;
	background: #FFF;
	border-radius: @borderRadius;
}

@media @medium {

	#content_inner {
		.pre-content {
			border-radius: @borderRadius;

			#section_0.special_title {
				display: block;
			}
		}
	}

	.login_top_link {
		display: block;
		position: absolute;
		font-size: .8em;
		top: 3em;
		right: @largeSectionPadding;
	}

	#login_tabs {
		display: none;
	}

	#bodyContent {
		padding: @largeSectionPadding;
		border-radius: @borderRadius;
		background: #FFF;
	}

	#mw-content-text {
		padding: 1em;
	}

	#userloginForm {
		font-size: .8em;
		display: inline-block;
		border-right: 1px solid #DDD;
		position: relative;

		.mw-htmlform {
			width: 380px;
			padding-right: 4em;
			margin: 0;
		}

		input {
			font-size: 1.3em;
		}

		.fancycaptcha-captcha-container {
			padding: 0;
			border: none;
		}

		.fancycaptcha-captcha-and-reload {
			display: block;
			box-sizing: border-box;
			width: 100%;
		}
	}

	#wpLoginAttempt {
		max-width: none;
	}

	.userloginprompt,
	.captcha_fineprint  {
		font-size: .9em;
	}

	.sub_social_login {
		margin: 0 0 30px 0;
		font-size: 14px;
		font-weight: bold;
	}

	#userLoginOr {
		right: -.9em;
		top: 115px;
		background-color: #FFF;
		transform: none;
		left: auto;
		margin: 0;
	}

	#userlogin_alt_logins {
		float: right;
		border: none;
		padding-right: 30px;
		width: 200px;

		.headline {
			margin-bottom: 30px;
			font-size: 14px;
			font-weight: bold;
		}
	}

	#sidebar {
		.sidebox.usercreate {
			padding: 16px 25px 25px;

			li {
				/* @embed */
				background: url(images/check.svg) 0 0 ~"/" 18px no-repeat;
				margin-bottom: 20px;
				line-height: 18px;
				color: #545454;
				padding-left: 28px;
				font-size: 1.1em;
			}

			h2 {
				margin: 25px 0;
				color: #545454;
				font-weight: bold;
			}

			p {
				font-weight: bold;
				margin: 25px 0 10px;
			}
		}
	}

	/*Userlogout & PasswordRest specific style*/
	.mw-special-Userlogout,
	.mw-special-PasswordReset {

		#bodyContent {
			padding: @largeSectionPadding;
			margin: 0;
		}

	}

	.alreadysignedin {
		padding: 0;
	}

}