.reviewer {
	border-color: #e5e5e5;
	border-width: 1px;
	border-style: solid;
	max-width: 700px;
	padding: 25px 30px;
	margin: 0 auto 7px auto;
	background-color: #fff;
	position: relative;
}

.reviewer_top {
	padding-left: 120px;
	min-height: 110px;
}

.stable .content .ar_name {
	color: #686868;
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 1.3em;
	line-height: normal;
}

.stable .content .ar_blurb {
	color: #777;
	font-weight: bold;
	margin-bottom: 0;
	line-height: normal;
}

.stable .content .ar_hoverblurb {
	color: #787878;
	line-height: 1.5em;
	border-top: 1px solid #e5e5e5;
	padding-top: 5px;
	margin-top: 10px;
	font-size: 1.1em;
}

.ar_category {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #e5e5e5;
	background-color: #f6f5f4;
	margin-bottom: 25px;
	position: relative;
}

.content .ar_category h3 {
	text-align: center;
	font-size: 24px;
	padding: 23px 30px;
}

.ar_icon {
	position:absolute;
	left: 27px;
	width: 40px;
	height: 40px;
	background-size: 40px;
	/* @embed */
	background-image: url(Badge-Certificate-Green-01.svg);
	top: 28px;
	background-repeat: no-repeat;
}

.ar_initials {
	width: 110px;
	height: 110px;
	font-size: 50px;
	position: static;
	line-height: 110px;
	float: left;
	border: none;
	border-radius: 10%;
	background-color: #d8d8d8;
}

.ar_avatar {
	border-radius: 10%;
	width: 110px;
	height: 110px;
	background-size: cover;
}

.ar_row {
	margin-bottom: 65px;
}

.ar_row:last-child {
	margin-bottom: 0px;
}

.ar_spacer {
	width: 20px;
	display: table-cell;
}

.wh_block.ar_intro h1 {
	padding: 0 0 0 47px;
	background-size: 40px;
	/* @embed */
	background-image: url(Badge-Certificate-Green-01.svg);
	background-repeat: no-repeat;
	line-height: 40px;
	height: 40px;
}

.wh_block p {
	line-height: 1.5em;
	margin-top: 10px;
	font-size: 16px;
}

.ar_anchor {
	position: absolute;
	top: -90px;
}

.wh_block {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #e5e5e5;
	padding: 27px;
	margin-bottom: 25px;
	word-wrap: break-word;
	background-color: #fff;
}

.ar_name_link {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: -9px;
}

.reviewer a.external {
	background-image: url(/skins/owl/images/external_link_ltr.png);
	/* @embed */
	background-image: url(/skins/owl/images/external_link_ltr.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 14px;
	padding-right: 20px;
}

@media only screen and (max-width: 770px) {
	.reviewer {
		border-width: 1px 0;
	}
}

@media only screen and (min-width: 500px) and (max-aspect-ratio: 13/9),
only screen and (max-height: 421px) and (min-aspect-ratio: 13/9) {
	.stable .content .ar_hoverblurb {
		font-size: 1.2em;
	}
}
