<div class="sidebox" id="winter_survival_sidebox">
	<h3>{{{header}}}</h3>
	<a href="{{link}}" id="winter_survival_guide"></a>
	<a href="{{link}}" id="winter_survival_guide_button" class="button secondary">{{button_text}}</a>
</div>