<div id="press_sidebox" class="section steps mobile">
	<h3><span class="mw-headline">{{header}}</span></h3>
	<div class="section_text">
		{{#press}}
		<div class="press_block">
			{{#link}}<a rel="nofollow" href="{{link}}">{{/link}}
			<img src="{{img}}" width="65" height="65" alt="{{outlet}}" class="press_outlet" />
			<div class="press_quote">{{{quote}}}</div>
			{{#link}}</a>{{/link}}
		</div>
		{{/press}}
	</div>
</div>