<div class="section_text pagepolicy">
	<h5>{{review_header}}</h5>
	<p class="pagepolicy-review">{{{review_message}}}</p>
	<h5>{{search_header}}</h5>
	{{{searchbox}}}
	<p class="pagepolicy-home">{{{home_message}}}</p>
</div>