#wh_modal {
	width: 300px;
	background-color: #FFF;
	overflow: hidden;
	color: #7E7E7E;
	padding-bottom: 1em;
}

#wh_modal_close {
	position: absolute;
	color: #FFF;
	right: 15px;
	top: 12px;
	cursor: pointer;
}

#wh_modal_close:hover {
	text-decoration: none;
}

#wh_modal_top {
	background-color: #97B97A;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.wh_modal_section {
	padding: 1em;
	font-size: 0.8em;
}

.userlogin_links {
	font-weight: normal;
	padding-right: 0;
}

.userlogin_remember { text-align: left; }

.userlogin h3 { display: none; }
