<div id="wh_modal">
	<a href="#" id="wh_modal_close">✖</a>
	<div id="wh_modal_top" class="wh_modal_section">
		{{login_header}}
	</div>
	<div class="wh_modal_section">
		{{{login_chunk}}}
	</div>
</div>


