.content {
	margin: 0;
}

#mw-content-text {
	padding: 27px;
	background-color: #FFF;
}

.pagepolicy.section_text {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}

.pagepolicy h5 {
	margin-bottom: 8px;
	font-weight: bold;
}

.pagepolicy h5:first-child {
	padding-top: 0;
	margin-top: 0;
}

.pagepolicy-home {
	padding: 26px 0;
}

#section_0 {
	padding-bottom: 15px;
	border-bottom: 1px solid #EEE;
}

/* @medium */
@media only screen and (min-width:728px) {
	.pagepolicy-home {
		font-size: 22px;
	}

	#content_wrapper {
		background: none;
	}

	#mw-content-text {
		border-radius: 0 0 4px 4px;
	}

	#mw-mf-page-center {
		background-color: inherit;
	}

	#section_0 {
		padding: .5em 27px;
	}
}


/* @large & desktop */
@media only screen and (min-width:975px) {
	#article_tabs #tab_edit,
	#page-actions,
	#breadcrumb {
		display: none;
	}

	.firstHeading {
		margin: 0 -27px .5em;
		padding: 0 27px .5em;
		border-bottom: 1px solid #EEE;
	}

	.pagepolicy h5  {
		font-size: 20px;
		margin: 18px 0;
		font-weight: bold;
	}

	.pagepolicy-home {
		font-size: 1em;
	}

}
