table, tr, td {
	border: 1px solid #e3e3e3;
	border-collapse: collapse;
	padding: 5px;
	margin-top: 20px;
}

input {
	width: 200px;
	padding: 5px;
}

.abl_copy {
	width: 122px;
	height: 46px;
}

.abl_blurbid input {
	background-color: inherit;
	border: none;
	width: auto;
	font-size: 14px;
}