@import '../../less/variables.less';

.ts_trustworthy {
	background-image: url(/skins/owl/images/sp_expert_icon_white.svg);
	background-repeat: no-repeat;
	padding-left: 18px;
	font-size: 12px;
}

.ts_popup {
	position: absolute;
	background-color: #fff;
	border: 2px solid #76a164;
	border-radius: 7px;
	padding: 15px;
	z-index: 2;
	top: 7px;
	left: auto;
	width: 250px;
	white-space: normal;
}

.stable .content {
	.ts_description {
		line-height: 14px;
		font-size: 12px;
		margin-bottom: 20px;
		display: block;
	}

	.ts_name {
		font-weight: bold;
		line-height: 17px;
		font-size: 15px;
		margin-bottom: 5px;
		display: block;
	}
}

.trustedsource {
	.ts_name {
		margin-top: 10px;
	}
}

.ts_source {
	font-size: 12px;
}

.ts_close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 14px;
	height: 14px;
	color: #7FA065;
	border: 1px solid #7FA065;
	border-radius: 50%;
	text-align: center;
	line-height: 14px;
	font-weight: bold;
	text-decoration: none;
	font-size: 9px;
	cursor: pointer;
}

@media @medium {
	.ts_popup {
		left: -9px;
	}
}