<form method="post" action="/Special:AdminRemoveAvatar">
	<p>The only images you should remove are those with nudity, obscenity, violence, or expressions of hate - everything else is fair game</p>
	<br/>
	<h3>Enter username of avatar to remove</h3>
	<br/>
	<input id="admin-username" class="input_med" type="text" size="40" />
	&nbsp;<button id="admin-go" disabled="disabled" class="button primary">reset</button><br/>
	<br/>
	<div id="admin-result"></div>
</form>