<p>Avatar for '{{username}}' removed from user page.  This change will be visible to non-cookied users within {{cacheHours}} hours and will be visible to cookied users immediately.</p>
<p><br />See results: <a href='{{url}}'>{{url}}</a></p>