{{{css}}}
<a href="{{link}}" id="searchad_lnk" target="_blank">
	<div id="searchad" class="searchad_sq_{{version}}">
		<div id="searchad_logo"></div>
		<div id="searchad_tagline">{{searchad_tag}}</div>
		<div id="searchad_arrow"></div>
		<div id="searchad_searchbox">
			<div id="searchad_mag"></div>
			{{searchad_wh2}} {{title}}
		</div>
		<div id="searchad_button">{{search_button}}</div>
	</div>
</a>