<div class="dt_body_{{platformClass}}">
	<div class="dt_content">
		<p class="dt_question">Do these two article titles mean <strong>exactly</strong> the same thing?</p>
		<div class="dt_title" id="dt_title_1">
		{{title1}}
		</div>
		<div class="dt_title" id="dt_title_2">
			{{title2}}
		</div>
	</div>
	<span id="dt_info"></span>
	
	
	<div id="dt_options">
		<a href="#" id="dt_yes" class="dt_button button secondary disabled">Yes</a>
		<a href="#" id="dt_maybe" class="dt_button button primary disabled">Not Sure</a>
		<a href="#" id="dt_no" class="dt_button button secondary disabled">No</a>
	</div>
	{{{tool_info}}}
	<div class="spinner"></div>
</div>