@import '../../less/variables.less';

#cat_wca {
	margin-bottom: 20px;
	position: relative;
}

#wca_lightbox {
	position: absolute;
	width: 90%;
	bottom: 10px;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	padding: 10px;
	left: 5px;
	text-align: center;

	#wca_close {
		position: absolute;
		right: 10px;
		top: 5px;
	}

	#wca_email {
		display: block;
		text-align: center;
		padding: 4px;
		border-radius: 7px;
		border: 1px solid #94B778;
		color: #94B778;
		font-weight: bold;
		margin: 0 46px;
	}

	p {
		padding: 0 25px;
	}

	input {
		display: inline;
		border: 1px solid #e8e8e8;
		padding: 5px;
		box-sizing: border-box;
		border-radius: 2px;
		margin: 15px 38px;

		&.error {
			border-color: red;
		}
	}
}

#cat_wca_container {
	background-color: #FFF6CD;
	border-radius: 7px;
	padding: 15px 15px 20px 15px;
	text-align: center;

	h4 {
		font-size: 20px;
		margin: 10px 25px 0 25px;
		line-height: 21px;
		color: #444F45;
		padding: 0;
	}

	p {
		font-size: 16px;
		line-height: 21px;
		margin: 10px 35px;
	}

	a {
		color: #668051;
		border: 1px solid #668051;
		background-color: #fff;
		border-radius: 7px;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 4px 0;
		font-weight: bold;
		width: 175px;
	}

	#cat_image_wrapper {
		margin: -15px -15px 0 -15px;

		img {
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
		}
	}

	&.c01_2, &.c03_2 {
		margin-top: 20px;

		#cat_image_wrapper {
			width: 320px;
			margin: -30px auto 0 auto;

			img {
				border-radius: 0;
			}
		}
	}

	&.sb01_2, &.sb02_2, &.sb03_2 {
		margin-top: 25px;

		#cat_image_wrapper {
			width: 320px;
			margin: -30px auto 0 auto;

			img {
				border-radius: 0;
			}
		}
	}

	&.c05_2 {
		margin-top: 25px;

		#cat_image_wrapper {
			width: 215px;
			margin: 0 auto;

			img {
				border-radius: 0;
			}
		}
	}
}

@media @medium {
	#cat_wca {
		margin-top: 15px;

		#wca_email {
			display: inline-block;
			padding: 4px 10px;
			margin: 0;
		}

		input {
			margin: 0 10px 0 0;
			width: 215px;
		}
	}

	#cat_wca_container {
		height: 117px;
		text-align: left;

		h4{
			margin: 0 15px 10px 15px;;
			width: 380px;
			font-size: 1.2em;
		}

		p {
			margin: 0 15px 10px 15px;;
			width: 380px;
			font-size: 0.9em;
			line-height: 1.2em;
		}

		a {
			margin: 0 0 0 10px;
		}

		#cat_image_wrapper {
			float: right;
			width: 300px;
			margin: -15px -15px 0 0;

			img {
				border-top-right-radius: 7px;
				border-bottom-right-radius: 7px;
				border-top-left-radius: 0;
			}
		}

		&.c01_2, &.c03_2 {
			margin-top: 30px;
			height: auto;

			#cat_image_wrapper {
				position: absolute;
				right: 40px;
				top: -14px;
				width: 320px;
				margin: 0;
			}
		}

		&.sb01_2, &.sb02_2, &.sb03_2 {

			#cat_image_wrapper {
				width: 190px;
				position: absolute;
				right: 30px;
				top: -10px;
				margin: 0;

			}
		}

		&.c05_2 {
			#cat_image_wrapper {
				width: 200px;
				position: absolute;
				right: 30px;
				top: 20px;
				margin: 0;
			}
		}
	}

	#wca_lightbox {
		width: 695px;
	}
}

@media @large {
	#cat_wca {
	}

	#cat_wca_container {
		padding-left: 70px;
		height: 141px;

		h4, p {
			margin: 10px;
			width: 450px;
			font-size: 20px;
			line-height: 21px;
		}

		p {
			font-size: 18px;
		}

		#cat_image_wrapper {
			float: right;
			width: 350px;
			margin: -15px -15px 0 0;
		}

		&.c01_2, &.c03_2 {

			#cat_image_wrapper {
				right: 100px;
			}
		}

		&.sb01_2, &.sb02_2, &.sb03_2 {

			#cat_image_wrapper {
				right: 100px;
			}
		}

		&.c05_2 {
			#cat_image_wrapper {
				right: 100px;
			}
		}

	}

	#wca_lightbox {
		width: 667px;
	}
}
