/* @noflip */
/* fade-in */
/* fade-in-translate-frames */
@-webkit-keyframes mwe-gt-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes mwe-gt-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes mwe-gt-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.mwe-gt-fade-in {
	-webkit-animation: mwe-gt-fade-in 0.3s ease forwards;
	/* @noflip */
	-moz-animation: mwe-gt-fade-in 0.3s ease forwards;
	/* @noflip */
	animation: mwe-gt-fade-in 0.3s ease forwards;
}

@-webkit-keyframes mwe-gt-fade-in-up {
	0% {
		opacity: 0;
		-webkit-transform: translate( 0, 20px );
		transform: translate( 0, 20px );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@-moz-keyframes mwe-gt-fade-in-up {
	0% {
		opacity: 0;
		-moz-transform: translate( 0, 20px );
		transform: translate( 0, 20px );
	}

	100% {
		opacity: 1;
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@keyframes mwe-gt-fade-in-up {
	0% {
		opacity: 0;
		-webkit-transform: translate( 0, 20px );
		-moz-transform: translate( 0, 20px );
		transform: translate( 0, 20px );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

.mwe-gt-fade-in-up {
	/**
	 * TODO (phuedx, 2014-05-29): 0.3s and ease should be either generated
	 * by another mixin or should be constants.
	 */
	-webkit-animation: mwe-gt-fade-in-up 0.3s ease forwards;
	/* @noflip */
	-moz-animation: mwe-gt-fade-in-up 0.3s ease forwards;
	/* @noflip */
	animation: mwe-gt-fade-in-up 0.3s ease forwards;
}

@-webkit-keyframes mwe-gt-fade-in-left {
	0% {
		opacity: 0;
		-webkit-transform: translate( 20px, 0 );
		transform: translate( 20px, 0 );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@-moz-keyframes mwe-gt-fade-in-left {
	0% {
		opacity: 0;
		-moz-transform: translate( 20px, 0 );
		transform: translate( 20px, 0 );
	}

	100% {
		opacity: 1;
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@keyframes mwe-gt-fade-in-left {
	0% {
		opacity: 0;
		-webkit-transform: translate( 20px, 0 );
		-moz-transform: translate( 20px, 0 );
		transform: translate( 20px, 0 );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

.mwe-gt-fade-in-left {
	/**
	 * TODO (phuedx, 2014-05-29): 0.3s and ease should be either generated
	 * by another mixin or should be constants.
	 */
	-webkit-animation: mwe-gt-fade-in-left 0.3s ease forwards;
	/* @noflip */
	-moz-animation: mwe-gt-fade-in-left 0.3s ease forwards;
	/* @noflip */
	animation: mwe-gt-fade-in-left 0.3s ease forwards;
}

@-webkit-keyframes mwe-gt-fade-in-down {
	0% {
		opacity: 0;
		-webkit-transform: translate( 0, -20px );
		transform: translate( 0, -20px );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@-moz-keyframes mwe-gt-fade-in-down {
	0% {
		opacity: 0;
		-moz-transform: translate( 0, -20px );
		transform: translate( 0, -20px );
	}

	100% {
		opacity: 1;
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@keyframes mwe-gt-fade-in-down {
	0% {
		opacity: 0;
		-webkit-transform: translate( 0, -20px );
		-moz-transform: translate( 0, -20px );
		transform: translate( 0, -20px );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

.mwe-gt-fade-in-down {
	/**
	 * TODO (phuedx, 2014-05-29): 0.3s and ease should be either generated
	 * by another mixin or should be constants.
	 */
	-webkit-animation: mwe-gt-fade-in-down 0.3s ease forwards;
	/* @noflip */
	-moz-animation: mwe-gt-fade-in-down 0.3s ease forwards;
	/* @noflip */
	animation: mwe-gt-fade-in-down 0.3s ease forwards;
}

@-webkit-keyframes mwe-gt-fade-in-right {
	0% {
		opacity: 0;
		-webkit-transform: translate( -20px, 0 );
		transform: translate( -20px, 0 );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@-moz-keyframes mwe-gt-fade-in-right {
	0% {
		opacity: 0;
		-moz-transform: translate( -20px, 0 );
		transform: translate( -20px, 0 );
	}

	100% {
		opacity: 1;
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

@keyframes mwe-gt-fade-in-right {
	0% {
		opacity: 0;
		-webkit-transform: translate( -20px, 0 );
		-moz-transform: translate( -20px, 0 );
		transform: translate( -20px, 0 );
	}

	100% {
		opacity: 1;
		-webkit-transform: translate( 0, 0 );
		-moz-transform: translate( 0, 0 );
		transform: translate( 0, 0 );
	}
}

.mwe-gt-fade-in-right {
	/**
	 * TODO (phuedx, 2014-05-29): 0.3s and ease should be either generated
	 * by another mixin or should be constants.
	 */
	-webkit-animation: mwe-gt-fade-in-right 0.3s ease forwards;
	/* @noflip */
	-moz-animation: mwe-gt-fade-in-right 0.3s ease forwards;
	/* @noflip */
	animation: mwe-gt-fade-in-right 0.3s ease forwards;
}
