#nap_quicklinks {
	margin: 15px;
	margin-top: 163px;
}

#nap_quicklinks a {
	margin: 7px;
}

.nap_section {
}
#nap_header {
	position: fixed;
	top: 99px;
	width: 693px;
	z-index: 5;
}

#nap_header h1 a {
	color: #363;
}
.nap_body {
	margin-top: 5px;
}

.nap_body form {
	margin-top: 0px;
}
.nap_expand {
	cursor: default;
}

#editpage-copywarn {
	display:none;
}
#wpDiff {
	display:none;
}
.templatesUsed, .editHelp {
	display:none;
}

#nap_skip, #nap_submit {
	margin-top: 10px;
}

#comment_text {
	height: 100px;
}

table.status {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: separate;
	background-color: ;
}
table.status th {
	border-width: thin thin thin thin;
	padding: 5px 5px 5px 5px;
	border-style: double double double double;
	border-color: rgb(54, 57, 61) rgb(54, 57, 61) rgb(54, 57, 61) rgb(54, 57, 61);
	background-color: rgb(249, 247, 237);
	-moz-border-radius: 0px 0px 0px 0px;
}
table.status td {
	border-width: thin thin thin thin;
	padding: 5px 5px 5px 5px;
	border-style: double double double double;
	border-color: rgb(54, 57, 61) rgb(54, 57, 61) rgb(54, 57, 61) rgb(54, 57, 61);
	background-color: rgb(249, 247, 237);
	-moz-border-radius: 0px 0px 0px 0px;
}

#author_line {
	border: 1;
	height: 1px;
	color: #eee;
	background-color: #eee;
}

#author_info {
	color: grey;
	font-size: 13px;
	line-height: 15px;
}

#article ol.nablist {
	list-style: none;
	margin-left:0;
	clear:both;
}

.nablist li {
	display: table-row;
}

.nablist span {
	vertical-align: top;
	padding: 8px 3px;
	display: table-cell;
}
.nablist .link {
	width: 450px;
}
.nablist .nap_date {
	width:115px;
}

.nablist .nap_score {
	width:66px;
}

.toprow span {
	background: #eee;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.toprow a {
	display: inline-block;
	width: 100%;
}

.toprow a.active {
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: right 5px center;
}

.toprow a.asc {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjkuMzc1cHgiIGhlaWdodD0iMTcuNTE2cHgiIHZpZXdCb3g9IjAgMCAyOS4zNzUgMTcuNTE2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyOS4zNzUgMTcuNTE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJMYXllcl8xXzFfIj4NCgk8Zz4NCgkJPHBhdGggZD0iTTAsMTUuNTE2YzAtMC41MTIsMC4xOTUtMS4wMjIsMC41ODYtMS40MTRMMTQuNjg3LDBsMTQuMTAyLDE0LjEwMmMwLjc4MSwwLjc4MSwwLjc4MSwyLjA0NywwLDIuODI4cy0yLjA0NywwLjc4MS0yLjgyOCwwDQoJCQlMMTQuNjg3LDUuNjU2TDMuNDE0LDE2LjkzYy0wLjc4MSwwLjc4MS0yLjA0NywwLjc4MS0yLjgyOCwwQzAuMTk1LDE2LjUzOSwwLDE2LjAyNywwLDE1LjUxNnoiLz4NCgk8L2c+DQo8L2c+DQo8ZyBpZD0iTGF5ZXJfMiI+DQo8L2c+DQo8L3N2Zz4NCg==);
}

.toprow a.desc {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjkuMzc1cHgiIGhlaWdodD0iMTcuNTE2cHgiIHZpZXdCb3g9IjAgMCAyOS4zNzUgMTcuNTE2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyOS4zNzUgMTcuNTE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJMYXllcl8xXzFfIj4NCgk8Zz4NCgkJPHBhdGggZD0iTTI5LjM3NSwyYzAsMC41MTItMC4xOTUsMS4wMjItMC41ODYsMS40MTRMMTQuNjg3LDE3LjUxNkwwLjU4NiwzLjQxNGMtMC43ODEtMC43ODEtMC43ODEtMi4wNDcsMC0yLjgyOA0KCQkJYzAuNzgxLTAuNzgxLDIuMDQ3LTAuNzgxLDIuODI4LDBsMTEuMjczLDExLjI3MkwyNS45NiwwLjU4NmMwLjc4MS0wLjc4MSwyLjA0Ny0wLjc4MSwyLjgyOCwwQzI5LjE4LDAuOTc3LDI5LjM3NSwxLjQ4OCwyOS4zNzUsMnoNCgkJCSIvPg0KCTwvZz4NCjwvZz4NCjxnIGlkPSJMYXllcl8yIj4NCjwvZz4NCjwvc3ZnPg0K);
}

td.sugg {
	text-align: center;
}

td.righttd {
	text-align: right;
}

table.actiontemplatestable {
	width: 550px;
}

table.actiontemplatestable td {
	padding: 2px;
}

#weave_button, #imageupload_button {
	display: none;
}

#tabs ul {
	list-style: none;
}

#nap_help {
	margin-top: 30px;
}

.minor_section .top_link {
	padding:7px 12px;
	line-height: normal;
	float:right;
}

.nap_expand {
	cursor: pointer;
	background-image: url('/skins/owl/images/nap_expander.gif');
	width: 30px;
	height: 30px;
	display: inline-block;
	float:right;
	background-position: -32px 0;

}

.nap_expand.collapsed {
	background-position: 0 0;
}

/** From CSSARROWPLEASE */
.arrow_box { position: fixed; background: #93b874; border: 4px solid #c9dcb9; z-index:5; margin-left:740px; padding: 5px; top:205px;}
.arrow_box:after, .arrow_box:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow_box:after { border-color: rgba(147, 184, 116, 0); border-right-color: #93b874; border-width: 30px; margin-top: -30px; }
.arrow_box:before { border-color: rgba(201, 220, 185, 0); border-right-color: #c9dcb9; border-width: 36px; margin-top: -36px; }

.arrow_box .button {
	display: block;
	padding: 6px 8px;
	margin-right: 0;
	width: 84px;
}

.arrow_box select {
	height: 30px;
}

#nap_promote {
	width: 53px;
	display: inline-block;
	margin-bottom: 15px;
}

#nap_star {
	width: 8px;
	height: 14px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzMuNDkzcHgiIGhlaWdodD0iMzEuOTA2cHgiIHZpZXdCb3g9IjAgMCAzMy40OTMgMzEuOTA2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy40OTMgMzEuOTA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJMYXllcl8xXzFfIj4NCgk8cGF0aCBmaWxsPSIjRUZEOTU0IiBkPSJNMzMuNDQ0LDEyLjA4NmMtMC4xMTctMC4zNjItMC40MzEtMC42MjYtMC44MDgtMC42ODFMMjIuMjc2LDkuOWwtNC42MzQtOS4zODgNCgkJYy0wLjMzNi0wLjY4My0xLjQ1Ny0wLjY4My0xLjc5MywwTDExLjIxNiw5LjlsLTEwLjM2LDEuNTA1Yy0wLjM3NywwLjA1NS0wLjY4OSwwLjMxOS0wLjgwOCwwLjY4MQ0KCQljLTAuMTE3LDAuMzYyLTAuMDIsMC43NTksMC4yNTMsMS4wMjVsNy40OTcsNy4zMDhsLTEuNzcsMTAuMzE3Yy0wLjA2NCwwLjM3NSwwLjA5LDAuNzU1LDAuMzk3LDAuOTc5DQoJCWMwLjE3NSwwLjEyNiwwLjM4MSwwLjE5MSwwLjU4OCwwLjE5MWMwLjE1OSwwLDAuMzE5LTAuMDM4LDAuNDY2LTAuMTE1bDkuMjY2LTQuODcybDkuMjY4LDQuODcyDQoJCWMwLjMzNiwwLjE3NywwLjc0NSwwLjE0OCwxLjA1My0wLjA3NmMwLjMwOC0wLjIyNCwwLjQ2Mi0wLjYwNCwwLjM5Ny0wLjk3OWwtMS43NzEtMTAuMzE3bDcuNDk4LTcuMzA4DQoJCUMzMy40NjMsMTIuODQ1LDMzLjU2MSwxMi40NDgsMzMuNDQ0LDEyLjA4NnoiLz4NCjwvZz4NCjxnIGlkPSJMYXllcl8yIj4NCjwvZz4NCjwvc3ZnPg0K);
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-size: 19px;
	background-position: 2px 3px;
	display: inline-block;
	margin-bottom: 10px;
}

#nap_delete {
	width: 100px;
}

.nablist li:nth-child(odd), .odd td {
	background-color: #fafafa;
}

#nap_duplicates td {
	padding: 5px;
	font-size: 14px;
}

h2 {
	line-height: 30px;
}

.de {
	border: 1px solid #f2f0eb;
}

#editcta {
	display: none;
}

#disc_page form {
	margin-top: 15px;
}

#nap_user_talk form {
	margin-top: 10px;
}

h5 {
	color: #555;
	margin-bottom: 5px;
	font-size: 14px;
}

#nap_checkout, #nap_patrolled {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjYuMjA0cHgiIGhlaWdodD0iMjYuMjA0cHgiIHZpZXdCb3g9IjAgMCAyNi4yMDQgMjYuMjA0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNi4yMDQgMjYuMjA0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJMYXllcl8xXzFfIj4NCjwvZz4NCjxnIGlkPSJMYXllcl8yIj4NCgk8Zz4NCgkJPHBhdGggZmlsbD0iI0ZGMDAwMCIgZD0iTTEzLjEwMiwyNi4yMDRDNS44NzgsMjYuMjA0LDAsMjAuMzI3LDAsMTMuMTAyQzAsNS44NzgsNS44NzgsMCwxMy4xMDIsMA0KCQkJYzcuMjI1LDAsMTMuMTAyLDUuODc4LDEzLjEwMiwxMy4xMDJDMjYuMjA0LDIwLjMyNywyMC4zMjcsMjYuMjA0LDEzLjEwMiwyNi4yMDR6IE0xMy4xMDIsMi44OEM3LjQ2NiwyLjg4LDIuODgsNy40NjYsMi44OCwxMy4xMDINCgkJCWMwLDUuNjM2LDQuNTg2LDEwLjIyMywxMC4yMjIsMTAuMjIzYzUuNjM2LDAsMTAuMjIzLTQuNTg3LDEwLjIyMy0xMC4yMjNDMjMuMzI1LDcuNDY2LDE4LjczOCwyLjg4LDEzLjEwMiwyLjg4eiIvPg0KCTwvZz4NCgk8Zz4NCgkJPHBhdGggZmlsbD0iI0ZGMDAwMCIgZD0iTTExLjY0LDYuNjE1VjUuODk0aDIuOTI0djAuNzIxbC0wLjc2Myw5LjE0M2gtMS4zNzlMMTEuNjQsNi42MTV6IE0xMS43NDIsMTcuNDg4aDIuNzM5djIuODIyaC0yLjczOQ0KCQkJVjE3LjQ4OHoiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-size: 18px;
	margin-top: 5px;
	display: block;
}

#nap_talk {
	margin-top: 10px;
}

.unnabbed_alert_top, .unnabbed_alert {
	display: none;
}

#low_wrap {
	float:right;
}

#nap_star.clickfail, .arrow_box .button.clickfail {
       background-color: #e4e4e4;
}

.wait, .wait * {
	cursor: wait !important;
}
