@import '../AdminSocialProof/adminsocialproof.less'

.aci_imported {
	color: #499a04;
	font-weight: bold;
}

#aci_progress_label {
	margin: 20px 0 0 0;
	font-size: 0.95em;
	font-style: italic;
	color: #666;
}

.column_container {
	text-align: center;
	> div {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		text-align: left;
		width: 49%;
		padding: 15px;
	}
	p {
		margin: 15px 0;
	}
}

.aci_submit_btn.disabled {
	border-color: #e4e4e4;
	&:hover {
		border-color: #e4e4e4;
	}
}
