@import '../AdminSocialProof/adminsocialproof.less'

.spa_location {
	width: 55px;
}

.aci_imported {
	color: #499a04;
	font-weight: bold;
}

#aci_progress_label {
	padding: 12px 16px;
	font-size: 0.95em;
	color: #666;
}
