.content input[type="submit"], span.mw-htmlform-submit-buttons input[type="submit"] {
  background-color: #97ba78;
  background-image: none;
  border: 1px solid #97ba78;
}
.content input[type="submit"]:hover, span.mw-htmlform-submit-buttons input[type="submit"]:hover {
  background-color: #83a168;
  border: 1px solid #83a168;
  background-image: none;
  box-shadow: none;
}
