.overlay .overlay-header .icon.cancel {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB
  ZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u
  OiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBT
  VkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzEx
  LmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3
  LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxp
  bmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTcuNTE2cHgiIGhlaWdodD0iMjkuMzc1cHgi
  IHZpZXdCb3g9IjAgMCAxNy41MTYgMjkuMzc1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAx
  Ny41MTYgMjkuMzc1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiMw
  MDAwMDAiIGQ9Ik0xNS41MTYsMjkuMzc1Yy0wLjUxMiwwLTEuMDIzLTAuMTk1LTEuNDE0LTAuNTg2
  TDAsMTQuNjg4TDE0LjEwMiwwLjU4NmMwLjc4MS0wLjc4MSwyLjA0Ny0wLjc4MSwyLjgyOCwwDQoJ
  CWMwLjc4MSwwLjc4MSwwLjc4MSwyLjA0NywwLDIuODI4TDUuNjU2LDE0LjY4OEwxNi45MywyNS45
  NmMwLjc4MSwwLjc4MSwwLjc4MSwyLjA0NywwLDIuODI4DQoJCUMxNi41MzksMjkuMTc5LDE2LjAy
  NywyOS4zNzUsMTUuNTE2LDI5LjM3NXoiLz4NCjwvZz4NCjwvc3ZnPg0K) !important;
  background-size: 20px 20px;
}

.overlay .overlay-header .bottom-border {
  border-bottom: 0px !important;
}

.overlay-header h2 {
  font-weight: bold;
  color: black;
}

.overlay .overlay-header .v-border:first-child {
  border-right: 0px !important;
}

.overlay .license {
  background: none;
  padding-left: 0px;
}