<div id="wg_container" style="display:none;" class="wg_{{platform}}">
	<div id="wg_info">Time<br /><span id="wg_time">60</span><br />Score<br /><span id="wg_score">0</span></div>
	<div class="wg_leaf" id="wg_leaf_0"></div>
	<div class="wg_leaf" id="wg_leaf_1"></div>
	<div class="wg_leaf" id="wg_leaf_special"></div>
	<div class="wg_koala"></div>
	<div id="wg_popup">
		<div id="wg_overlay"></div>
		<div class="wg_bubble" id="wg_fact">
			<h5 class="wg_bubble_headline"></h5>
			<p></p>
			<a href="#" id="wg_ok" class="button primary">Ok!</a>
		</div>
		<div class="wg_bubble" id="wg_endgame">
			<h5 class="wg_bubble_headline">Congrats!!</h5>
			<p id="wg_end_score">Score: <span></span></p>
			<p id="wg_high_score">High score: <span></span></p>
			<p>Want to try again?</p>
			<a href="#"class="wg_again button primary">Play again!</a>
		</div>
		<div class="wg_bubble" id="wg_intro">
			<h5>Want to play a fun game and learn about wikiHow?</h5>
			<p id="wg_instructions_desktop">Use the j/k keys to move the koala left and right to collect as many leaves as possible</p>
			<p id="wg_instructions_mobile">Click where you want the koala to move to collect as many leaves as possible</p>
			<a href="#" class="wg_start button primary">Start now!</a>
		</div>
	</div>
</div>