#wg_container {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	background-image: url(/extensions/wikihow/wikigame/images/tree.jpg);
	background-size: contain;
}

.wg_leaf {
	background-image: url(/extensions/wikihow/wikigame/images/leaf.png);
	width: 30px;
	height: 30px;
	background-size: 30px;
	position: absolute;
	top: -50px;
	left: -50px;
}

#wg_leaf_special {
	background-image: url(/extensions/wikihow/wikigame/images/leaf2.png);
}

.wg_koala {
	background-image: url(/extensions/wikihow/wikigame/images/koala.gif);
	position: absolute;
	bottom: 0;
}

#wg_info {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: white;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #adc996;
}

.wg_bubble {
	z-index: 6;
	position: absolute;
	text-align: center;
	background: #fff;
	border: 2px solid #93b874;
	padding: 15px;
}

#wg_popup {
}

.wg_bubble .button {
	display: inline-block;
	margin: 10px 0 0 0;
}

.wg_bubble p {
	text-align: left;
}

#wg_overlay {
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	z-index: 5;
}

.wg_bubble_headline {
	font-size: 17px;
	text-align: left;
	color: inherit;
	margin-bottom: 10px;
}

#wg_instructions_desktop {
	margin-top: 10px;
}

.wg_desktop {
	#wg_instructions_mobile {
		display: none;
	}

	.wg_koala {
		background-size: 68px;
		width: 68px;
		height: 68px;
	}

	#wg_overlay {
		width: 768px;
		height: 546px;
	}

	.wg_bubble {
		top: 50px;
		left: 172px;
		width: 350px;
	}
}

#wg_container.wg_desktop {
	height: 546px;
	margin-bottom: 15px;
}

.wg_mobile {
	#wg_instructions_desktop {
		display: none;
	}

	.wg_koala {
		background-size: 45px;
		width: 45px;
		height: 45px;
	}

	#wg_overlay {
		width: 768px;
		height: 546px;
	}

	.wg_bubble {
		top: 40px;
		left: 172px;
		width: 350px;
	}
}