@import '../less/variables.less';

#adw_toolbar {
	padding: 12px 15px;
	background: white;
	border-top: 1px solid #e5e5e5;
	margin: 0 0 10px 0;
	color: #878787;
	text-align: center;
}

#adw_chevron {
  margin: 0 5px;
  color: @green;
}

.loading.spinner {
  height: 50px;
  position: initial;
}

#adw_html {
  margin-top: 15px;
  display: none;
}