<div id="mcta_root">
	<a id="mcta_close" class="mcta_icon-x-altx-alt"></a>
	<div class="mcta_app_icon"></div>
	<div id="mcta_inner">
		<a id="mcta_link"></a>
		<div id="mcta_rating_ios" class="mcta_rating">
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star_half"></span>
			<span class="mcta_icon-star_outline"></span>
		</div>
		<div id="mcta_rating_android" class="mcta_rating">
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star2"></span>
			<span class="mcta_icon-star_half"></span>
		</div>
		<div id="mcta_subprompt"></div>
	</div>
</div>
