<p>
	This tool fixes articles that contain a Stub template tag but are still indexed.
</p>

<form method="post">
	<input type='hidden' name='token' value='{{token}}'>
	<button class="button primary" type='submit'>Start</button>
</form>
