<a id="urf-popup" href="#urf_form_container">{{urf_open_form}}</a>
<div id="urf_form_container" class="white-popup mfp-hide">
	<div id="header-container" class="header">
		<h1 id="urf-header">{{urf_header}}</h1>
		<div id="urf-close-container">
			<span id="urf-close" class="urf-close">x</span>
		</div>
	</div>
	<div id="urf-content-container">
		<div class="urf-form-prompt">{{urf_prompt}}</div>
		<form id="urf-form" action="javascript:void(0);">
			<textarea  maxlength="500" id="review" class="urf-form required" placeholder="How did this help you? Your story here..." name="review"></textarea>
			<div id="ur_star_section">
				<div class="ur_star_container" id="ur_star1">
					<div class="ur_helpful_icon_star"></div>
				</div>
				<div class="ur_star_container" id="ur_star2">
					<div class="ur_helpful_icon_star"></div>
				</div>
				<div class="ur_star_container" id="ur_star3">
					<div class="ur_helpful_icon_star"></div>
				</div>
				<div class="ur_star_container" id="ur_star4">
					<div class="ur_helpful_icon_star"></div>
				</div>
				<div class="ur_star_container" id="ur_star5">
					<div class="ur_helpful_icon_star"></div>
				</div>
				<p>{{urf_helpful_question}}</p>
				<div class="clearall"></div>
			</div>
			{{#loggedIn}}
				<img class="urf-social-avatar" src="{{avatar_url}}" />
				<p id="urf-social-label">{{{urf_posting_as}}}</p>
			{{/loggedIn}}
			{{^loggedIn}}
			<div id="name-fields">
				<input id="first-name" class="urf-form small required" placeholder="First name"></input>
				<input id="last-name" class="urf-form small required" placeholder="Last name"></input>
			</div>
			{{/loggedIn}}
			<input type="hidden" name="urf_uci_image" id="urf_uci_image" value="" />
			<div id="action-buttons">
				<input class="button primary urf-close" id="urf-cancel" value="Cancel" type="button">
				<input class="button primary" id="urf-submit" value="Submit" type="button">
			</div>
		</form>
		<div id="urf-form-tos">{{{urf_tos}}}</div>
	</div>
	<div id="urf-thanks">{{urf_thanks}}!</div>

	{{! Example adapted from qa_social_login_form.mustache }}
	<div id="urf-social-login">
		<div id="urf-social-login-before">
			<p>Inspire other readers and make your story stand out.</p>
			<p>Log in with Google or Facebook, and we'll show your profile picture along with your story!</p>
			<p>We will NOT post on your profile or timeline.</p>
			<div class="qa_social_login_button_container">
				<div class="qa_button social_login_button facebook_button">
					<span class="social_login_button_icon"></span>
					<span class="social_login_button_text">Facebook</span>
				</div>
				<div class="qa_button social_login_button google_button">
					<span class="social_login_button_icon"></span>
					<span class="social_login_button_text">Google</span>
				</div>
			</div>
			<p id="social_login_smallprint">Stories are edited for length and clarity. Not all stories will appear on the article.</p>
		</div>
		<div id="urf-social-login-done">
			<img src="#" class="urf-social-avatar" />
			<p>{{urf_thanks}} <a href="#" target="_blank" class="urf-user-link"></a>!</p>

			<p>You are logged in and your story is being reviewed.</p>
			<a href="#" class="button primary urf-social-close">Close</a>
		</div>
	</div>
</div>
