#urf-header{
    padding-left: 20px;
    padding-top: 0.65em;
    border-right: none;
  }

.skin-minervawh #urf-social-login p {
    font-size: 16px;
}

.skin-minervawh #urf-social-login {
    padding: 20px;
}
