<div id="high_school_hacks">
	<img src="{{wH_logo_url}}" id="hsh_wH_logo" alt="wikiHow" />
	<h2>{{headline}}</h2>

	<div id="hsh_topics">
		{{#topics}}
		<div class="hsh_topic" id="{{keyword}}">
			<div id="icon_{{keyword}}" class="hsh_icon" />
			{{{name}}}
		</div>
		{{/topics}}
	</div>
</div>

<script id="high_school_hacks_article_list" type="text/x-handlebars-template">
	{{high_school_hacks_article_list}}
</script>