#icon_academics {
	/* @embed */
	background-image: url(./images/academics.png);
}

#icon_bullying {
	/* @embed */
	background-image: url(./images/bullying.png);
}

#icon_confidence {
	/* @embed */
	background-image: url(./images/confidence.png);
}

#icon_family {
	/* @embed */
	background-image: url(./images/family.png);
}

#icon_friendships {
	/* @embed */
	background-image: url(./images/friendships.png);
}

#icon_fun {
	/* @embed */
	background-image: url(./images/fun.png);
}

#icon_future {
	/* @embed */
	background-image: url(./images/future.png);
}

#icon_health {
	/* @embed */
	background-image: url(./images/health.png);
}

#icon_leadership {
	/* @embed */
	background-image: url(./images/leadership.png);
}

#icon_mental_health {
	/* @embed */
	background-image: url(./images/mental_health.png);
}

#icon_relationships {
	/* @embed */
	background-image: url(./images/relationships.png);
}

#icon_social_media {
	/* @embed */
	background-image: url(./images/social_media.png);
}
