<div class="green_box {{mobile_class}} expert">
	<div class="green_box_person expert">
		{{#expert_dialog}}<div class="green_box_expert_dialog">{{{expert_dialog}}}</div>{{/expert_dialog}}
		<div class="green_box_person_circle">{{{expert_display}}}</div>
		<div class="green_box_expert_label">{{expert_label}}</div>
	</div>
	<div class="green_box_content">{{{content}}}</div>
</div>
