<div class="green_box expert_short">
	<div class="green_box_content">{{{content}}}</div>

	<div class="green_box_person expert" data-link="{{expert_link}}">

		{{#expert_dialog_text}}
			<div class="green_box_expert_dialog">

				<div class="green_box_expert_dialog_upper">
					<div class="green_box_person_circle">{{{expert_display}}}</div>
					<p>{{{expert_name}}}</p>
					{{{expert_title}}}
				</div>

				{{{expert_dialog_text}}}
			</div>
		{{/expert_dialog_text}}

		<div class="green_box_person_circle">{{{expert_display}}}</div>
		<div class="green_box_expert_info"><b>{{expert_name}}</b><br />{{{expert_title}}}</div>
	</div>

</div>
