<div class="green_box {{mobile_class}} expert_qa">
	<div class="green_box_tab_label">{{green_box_tab_label}}</div>
	<div class="green_box_row">
		<div class="green_box_person">
			<div class="green_box_person_circle questioner">{{questioner}}</div>
		</div>
		<div class="green_box_content">{{{content}}}</div>
	</div>
	<div class="green_box_row">
		<div class="green_box_person">
		<div class="green_box_person_circle">{{{expert_display}}}</div>
			<div class="green_box_expert_label">{{expert_label}}</div>
		</div>
		<div class="green_box_content">{{{content_2}}}</div>
	</div>
</div>