.green_box {
	display: table;
	position: relative;
	background-color: #f0f6ec;
	margin: .8em auto 1em;
	width: 95%;
	border-left: 5px solid #93b873;
	padding: .7em;
	border-radius: 4px;
	box-sizing: border-box;
	color: #434343;
}

.green_box.mobile {
	margin: 1em auto .4em;
	width: 100%;
}

.green_box.expert_qa {
	border-top-left-radius: 0;
	margin-top: 2em;
}

.green_box.expert_short {
	background-color: #FFF;
	border-radius: 0;
	padding-top: .5em;
}

.green_box_tab_label {
	display: table-caption;
	background-color: #93b873;
	color: #FFF;
	font-weight: bold;
	font-size: .7em;
	line-height: 2em;
	border-radius: 4px 4px 0 0;
	text-align: center;
	width: 11em;
}

.safari_tab_hack {
	position: absolute;
	display: block;
	top: -1.9em;
	left: -5px;
}

.green_box_row {
	display: table-row;
}

.green_box_headline {
	font-weight: bold;
	font-size: 120%;
}

/*the Pabst selector*/
.green_box p+br {
	display: none;
}

.green_box p, .stable .content .green_box p {
	margin: .8em 0 0 0;
}
.green_box p:first-child, .stable .content .green_box p:first-child {
	margin: 0;
}

p.green_box_bullet, .stable .content .green_box p.green_box_bullet {
	padding-left: 1.6em;
	margin: 0;
}
.green_box_bullet::before {
	content: '\2022\20';
	margin-left: -.6em;
}

.green_box.expert_qa .green_box_person,
.green_box.expert_qa .green_box_content {
	display: table-cell;
	vertical-align: top;
}

.green_box.expert_short .green_box_content {
	padding: 0 0 .5em 0;
}

.green_box.expert_short .green_box_content p,
.stable .content .green_box.expert_short .green_box_content p {
	font-family: Georgia, 'Times New Roman', serif;
	color: #75A24E;
	font-size: 24px;
	line-height: 32px;
}

.green_box_person {
	position: relative;
	color: #6F8460;
}

.green_box.expert .green_box_person {
	padding: 0 .3em .5em .3em;
}

.green_box.expert_qa .green_box_person {
	vertical-align: top;
	text-align: center;
	width: 45px;
	padding: .5em .3em;
}

.green_box_expert_info {
	display: inline-block;
	font-size: .8em;
	color: #434343;
	line-height: 1.2em;
	padding-top: 10px;
	font-weight: bold;
}
.green_box_expert_info b {
	font-size: 14px;
	color: #434343;
}
.green_box_expert_info span {
	text-transform: uppercase;
	color: #4E6C34;
	font-size: .9em;
}
.green_box.mobile .green_box_expert_info a {
	font-size: .85em;
}

.green_box.expert_short .green_box_expert_info {
	font-size: 12px;
	color: #9B9B9B;
	font-weight: normal;
}

.green_box_content {
	padding: .5em .3em .5em .5em;
}

.green_box_expert_label {
	font-size: .55em;
	line-height: 1.2em;
	font-weight: bold;
	padding-top: .5em;
}

.green_box_person_circle {
	width: 45px;
	height: 45px;
	float: left;
	background-color: #ced9be;
	color: #FFF;
	font-size: 1.3em;
	line-height: 43px;
	border-radius: 50%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 4px .5em 0 0;
	text-align: center;
}

.green_box.expert_qa .green_box_person_circle {
	border: 2px solid #6F8460;
	float: none;
	margin-right: 0;
}

.green_box_person_circle img {
	width: 100%;
}

.green_box.expert_qa .green_box_person_circle.questioner {
	background-color: #93b873;
	border-color: #93b873;
	text-align: center;
	font-size: 1.6em;
}

.green_box_expert_dialog {
	display: none;
	position: absolute;
	background: #FFF;
	padding: .6em 1.5em 1.5em;
	margin-bottom: 7px;
	border: 3px solid #CCC;
	border-radius: 4px;
	width: 250px;
	bottom: 100%;
	left: -11px;
	font-size: .9em;
	line-height: 1.3em;
	color: #545454;
	text-align: left;
}
.green_box_expert_dialog:after, .green_box_expert_dialog:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.green_box_expert_dialog:after {
	border-top-color: #FFF;
	border-width: 10px;
	left: 28px;
}
.green_box_expert_dialog:before {
	border-top-color: #CCC;
	border-width: 14px;
	left: 24px;
}

.green_box.expert_short .green_box_expert_dialog {
	left: -18px;
}
.green_box.expert_qa .green_box_expert_dialog {
	margin-bottom: 0;
}

.green_box_expert_dialog_upper {
	padding: 5px 0 15px;
	border-bottom: 1px solid rgba(0,0,0,0.13);
	margin-bottom: 10px;
	min-height: 40px;
}

.green_box_expert_dialog_upper .green_box_person_circle {
	margin: 0 10px 0 0;
	float: left;
}

.green_box_expert_dialog_upper p,
.stable .content .green_box_expert_dialog_upper p {
	font-weight: bold;
	font-size: 1.1em;
	margin-top: 0;
	line-height: 1.1em;
}

@media only screen and (min-width: 500px) and (max-aspect-ratio: 13/9),
only screen and (max-height: 421px) and (min-aspect-ratio: 13/9) {

	.green_box.mobile .green_box_expert_label {
		font-size: .45em;
	}

	.green_box.expert_qa .green_box_person_circle.questioner {
		font-size: 1.3em;
	}

}
