<div class="green_box expert_short">
	<div class="green_box_content">{{{content}}}</div>
	<div class="green_box_person_circle">{{{expert_display}}}</div>
	<div class="green_box_expert_info"><b>{{expert_name}}</b><br />{{expert_title}}</div>
</div>
