<div id="green_box_edit_tool">
	<div id="green_box_edit_header">{{header}}</div>

	<div id="toolbar"></div>
	<textarea></textarea>
	<div id="green_box_edit_err"></div>

	<input type="button" class="button primary" id="green_box_edit_submit" value="{{save_button}}" />
	<input type="button" class="button secondary" id="green_box_edit_cancel" value="{{cancel_button}}" />
	<input type="button" class="button secondary" id="green_box_edit_delete" value="{{delete_button}}" />
</div>