<div class="green_box {{mobile_class}} expert">
	<div class="green_box_person">
		<div class="green_box_person_circle expert">{{{expert_display}}}</div>
		<div class="green_box_expert_label">{{expert_label}}</div>
	</div>
	<div class="green_box_content">{{{content}}}</div>
</div>