@import '../../../less/variables.less';

#article_shell {
	margin-right: 0;
	// Span both left and right columns
	width: 728px + 317px;
}

#main #actionbar {
	display: none;
}

.skin-minervawh {
	#videoBrowser {
		margin-top: 4px;
	}
	#section_0 {
		display: none;
	}
}

@media @medium {
	.skin-minervawh {
		#content_wrapper {
			margin: 0 auto;
		}
	}
}

@media @large {
	.skin-minervawh {
		#content_wrapper {
			padding: 67px 1em 1em;
		}
	}
}