.videobrowser_sidebox {
	padding-bottom: 5px;
}

.videoBrowser-widget-items .videoBrowser-item {
	width: 100%;
	//padding-right: 0;
	padding: 4px;
}


.videoBrowser-widget-items .videoBrowser-item-content {
	border-radius: 5px;
	overflow: hidden;
}