<div id="wh_modal">
	<a href="#" id="wh_modal_close" class="wh_modal_close">x</a>
	<div id="wh_modal_top" class="wh_modal_section">{{header}}</div>
	<div class="wh_modal_section">
		{{{content}}}
	</div>
	<input id="modal_close_button" type="button" class="button secondary wh_modal_close" value="{{modal_close}}" />
</div>