{{#items}}
<div id='current-title' data-title='{{titleText}}'>{{{title}}}</div>

<div>
	<div id='icon-text-wrap'>
		<div id="icon">
			<div id='icon-image'></div>
			<div id='icon-text'>{{stf_prompt}}:</div>
		</div>
		<div id='text-line' class="arrow_box">{{text}}</div>
	</div>

	<div id="show-article-line">
		<a href='#' class="full-link" data-page-id="{{pageId}}">{{stf_show_article}}</a>
		<a href='#' class="hide-full-link">{{stf_hide_article}}</a>
	</div>

	<div id="buttons-line" data-page-id="{{pageId}}" data-rating-reason-id="{{ratingReasonId}}">

		<div id='buttons-large'>
			<a href="#" class="yes choice op-action button secondary">{{stf_desktop_yes}}</a>
			<a href="#" class="notsure choice op-action button secondary">{{stf_notsure}}</a>
			<a href="#" class="no choice op-action button primary">{{stf_desktop_no}}</a>
		</div>

		<div id='buttons-small'>
			<a href="#" class="yes choice op-action button secondary">{{stf_yes}}</a>
			<a href="#" class="notsure choice op-action button secondary">{{stf_notsure}}</a>
			<a href="#" class="no choice op-action button primary">{{stf_no}}</a>
		</div>
	</div>

	<div id='tool-data-line'>{{{tool_info}}}</div>

	<div style="clear: both;"></div>

</div>
{{/items}}
