#rv_header {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

#rv_header.wh_block {
  margin-bottom: 0;
  padding: 20px;
}

#rv_tools {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

#rv_tools.tool_header {
  border: 0;
  padding: 20px;
}


#rv_buttons {
  line-height: 40px;
}

.rv_loading {
  .button {
    pointer-events: none;
  }
}

.firstHeading {
  font-size: 24px;
}

.rva_range_input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  width: 80px;
  margin: 0 10px;
  font-size: 14px;

}

.rva_hr {
  margin: 25px 0;
}