<div id="rv_tools_container">
	<div id="rv_header" class="wh_block">
		<h1 class="firstHeading">{{rva_tool_title}}</h1>
	</div>
	<div id="rv_tools" class="tool_header">
		<div id="rv_buttons">
			<a id="rva_btn_download_range" href="#" class="button primary">{{rva_btn_download_range}}</a>
			{{rva_range_from}} <input id="rva_range_from" class="rva_range_input" readonly/>
			{{rva_range_to}}  <input id="rva_range_to" class="rva_range_input" readonly/>
			<hr class="rva_hr"/>
			<a id="rva_btn_download_all" href="#" class="button primary">{{rva_btn_download_all}}</a>
		</div>
	</div>
</div>
