<div class="sidebox" id="jpt_sidebox">
	<div id="jpt_header">{{header}}</div>
	{{#articles}}
		<a href="{{url}}" class="jpt_container">
			<span class="jpt_count">{{count}}</span><img src="{{image}}" /><span class="jpt_title">{{title}}</span>
		</a>
	{{/articles}}
</div>