#bodycontents {
  width: 728px;
  margin: 0 auto;
}

#rvq_header {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 0px;

  h5 {
    float: right;
    font-size: .75em;
    margin-left: 10px;
  }
}

#rvq_credentials {
  float: right;
  font-size: 11px;
  text-align: right;
}

#rvq_header.wh_block {
  margin-bottom: 0;
  padding: 20px;
}

#rvq_tools {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

#rvq_tools.tool_header {
  border: 0;
  padding: 0px;
}


#rvq_btn_verified, #rvq_btn_edit, #rvq_btn_cancel {
  float: right;
  line-height: initial;
}

#rvq_btn_cancel, #rvq_btn_verified {
  display: none;
}

.spinner {
  margin: 20px 0;
  display: none;
  background: url(/extensions/wikihow/rotate.gif) center no-repeat;
  height: 33px;
}

#rvq_quick_feedback_label {
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  color: black;
}

#rvq_quick_feedback {
  margin-top: 4px;
  display: inline-block;
}

#rvq_buttons {
  height: 40px;
  line-height: 40px;
  padding: 15px;
}

.rvq_loading {
  .button {
    pointer-events: none;
  }

  .spinner {
    display: block;
  }
}

.firstHeading {
  font-size: 24px;
}

#rvq_tools {
  display: none;
}

.rvq_eoq {
  #rvq_tools {
    display: none;
  }

  .spinner {
    display: none;
  }
}

#rvq_editor {
  display: none;
}

#wpDiff {
  display: none;
}

.rvq_editing {

  #rvq_article {
    display: none !important;
  }

  #rvq_btn_edit, #rvq_btn_skip, #rvq_btn_flag {
    display: none;
  }

  #rvq_btn_verified, #rvq_btn_cancel {
    display: initial;
  }

  #rvq_editor {
    display: block;
    padding-top: 54px;
  }
}

/* Editform overriding */
.editCheckboxes {
  display: none;
}

.editButtons {
  text-align: right;
}
.editButtons .button {
  width: initial;
}

#editpage-copywarn {
  display: none;
}

.previewnote {
  background: #FDFCDE;
  padding: 10px;
  border-radius: 0 0 4px 4px;
}

#wpDiff {
  display: none;
}

#wpSummary {
  padding: .75em;
  font-size: 1em;
}