<div id="rvq_tools_container">
	<div id="rvq_header" class="wh_block">
		<h5>{{rvq_tool_title}}</h5>
		<h1 class="firstHeading">{{rvq_status_loading}}</h1>
		<div id="rvq_quick_feedback_label"></div>
		<div id="rvq_quick_feedback"></div>
	</div>
	<div id="rvq_tools" class="tool_header">
		<div id="rvq_buttons">
			<a id="rvq_btn_verified" href="#" class="button primary">{{rvq_btn_verified}}</a>
			<a id="rvq_btn_cancel" href="#" class="button secondary">{{rvq_btn_cancel}}</a>
			<a id="rvq_btn_edit" href="#" class="button primary">{{rvq_btn_edit}}</a>
			<a id="rvq_btn_skip" href="#" class="button secondary">{{rvq_btn_skip}}</a>
			<a id="rvq_btn_flag" href="#" class="button secondary">{{rvq_btn_flag}}</a>
		</div>
	</div>
	<div id="rvq_editor" class="section">
		<div id="rvq_preview"></div>
		<h2>
			<span class="mw-headline">Editor</span>
		</h2>
		<div id="rvq_editor_wikitext"></div>
	</div>
	<div id="rvq_article"></div>
	<div class="spinner"></div>
</div>
