#ur_h2 {
	padding-top: 19px;
	padding-bottom: 7px;
}

#ur_mobile {
	clear: both;
	font-size: 16px;
	line-height: 25px;
}
#ur_mobile ul {
	list-style: none;
	padding-left: 0;
}
#ur_mobile ul li.ur_review {
	background:none;
	margin-bottom: 20px;
	padding: 0;
	display: none;
}
#ur_mobile ul li.ur_review:first-child {
	display: list-item;
}
.ur_review_text {
	position: relative;
	text-align: left;
	font-weight: normal;
	color: #545454;
}

.ur_author {
	display: block;
	margin-top: 5px;
	color: #c3c3c3;
	font-style: normal;
}
.ur_review_more {
	display: none;
}
.ur_even_more {
	display: none;
}

.ur_hide {
	display:none;
}

.ur_nav_container {
	margin-bottom: 10px;
}

.ur_share {
	border-top: 1px solid #e5e5e5;
	display: block;
	margin: 0 -15px;
	padding: 15px 15px 0 15px;
}

.ur_initials {
	line-height: 36px;
	text-align: center;
	color: white;
	vertical-align: text-bottom;
}

.ur_initials, .content .ur_avatar {
	width: 36px;
	height: 36px !important;
	background-color: #adc996;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 18px;
	margin-right: 10px;
}
.ur_author {
	margin-top: 5px;
	color: #c3c3c3;
	font-weight: normal;
	display: inline-block;
	height: 36px;
	vertical-align: bottom;
}
.content .ur_author .ur_name {
	font-size: 15px;
	color: #545454;
	font-weight:bold;
	line-height: normal;
	margin-bottom: 0;
}
.ur_author .ur_name a {
	font-weight: normal;
}
.content .ur_review .ur_date {
	font-size: 11px;
	color: #9c9c9c;
	line-height: 17px;
}

.ur_rating {
	margin-top: 5px;
}

.ur_rating span{
	float: left;
	line-height: 16px;
	margin-right: 5px;
	font-size: 13px;
	color: #9c9c9c;
	font-weight: normal;
}

.ur_star {
	height:14px;
	width:14px;
	float:left;
	background-size: cover;
}
.ur_rating_off {
	background-image: url(/skins/owl/images/sp_helpful_icon_star_empty.png);
	/* @embed sp_helpful_icon_star_empty.optimized.svg */
	background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.028' height='24.652' viewBox='0 0 26.028 24.652'%3E%3Cpath fill='%23CDCDCD' d='M13.014 3.378l2.678 5.403.35.706.779.113 5.974.865-4.319 4.192-.568.551.134.78 1.021 5.928-5.354-2.803-.696-.364-.696.364-5.354 2.803 1.021-5.928.134-.78-.568-.551-4.319-4.192L9.205 9.6l.779-.113.35-.706 2.68-5.403m0-3.378L8.992 8.115 0 9.416l6.507 6.316-1.536 8.919 8.043-4.211 8.043 4.211-1.536-8.919 6.507-6.316-8.992-1.301L13.014 0z'/%3E%3C/svg%3E");
}

.ur_rating_on {
	background-size: cover;
	background-image: url(/skins/owl/images/sp_helpful_icon_star.png);
	/* @embed sp_helpful_icon_star.optimized.svg */
	background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.028' height='24.652' viewBox='0 0 26.028 24.652'%3E%3Cpath fill='%23CDCDCD' d='M13.014 0l4.022 8.115 8.992 1.301-6.507 6.316 1.536 8.919-8.043-4.211-8.043 4.211 1.536-8.919L0 9.416l8.992-1.301L13.014 0z'/%3E%3C/svg%3E");
}

.content .ur_uci {
	margin-top: 10px;
	max-width: 400px !important;
}

#ur_mobile li:first-child .ur_divider {
	display: none;
}

.ur_divider {
	margin: 0 -15px 15px -15px;
	border-top: 1px solid #e5e5e5;
}

@media only screen and (min-width: 500px) and (max-aspect-ratio: 13/9),
only screen and (max-height: 421px) and (min-aspect-ratio: 13/9) {

	#ur_mobile {
		font-size: 22px;
		line-height: 30px;
	}

	.content .ur_author {
		margin-top: 0;
		height: 44px;
	}

	.content .ur_author .ur_name {
		font-size: 20px;
	}

	.content .ur_review .ur_date {
		font-size: 15px;
	}

	.ur_rating span {
		font-size: 15px;
	}

	.ur_initials, .content .ur_avatar {
		width: 44px;
		height: 44px !important;
		margin-right: 10px;
		-webkit-border-radius: 22px;
		-moz-border-radius: 22px;
		border-radius: 22px;
	}

	.ur_initials{
		line-height: 44px;
		vertical-align: text-bottom;
	}

}
