<h3>Import Curated Reviews (<a target="_blank" href="https://docs.google.com/spreadsheets/d/1sJHmgHgLBVc-Yc1B1zBHI9ZNPqxtmVO3PUOUXUOSSBA">spreadsheet</a>)</h3><br />
<a href="#" id="ur_curated_btn" class="button secondary">Import now!</a>
<img src='{{waitingurl}}' alt='' id="waiting_curated" style="display:none;" /><br /><br />
<div id="ur_curated_results"></div>
<br /><br />
<h3>Import Uncurated Reviews  (<a target="_blank" href="https://docs.google.com/spreadsheets/d/1c5yJwDmKdpuKneyZeLIoeerxB3PTgqB-18iWGTTBEV4">spreadsheet</a>)</h3><br />
<a href="#" id="ur_uncurated_btn" class="button secondary">Import now!</a>
<img src='{{waitingurl}}' alt='' id="waiting_uncurated" style="display:none;" /><br /><br />
<div id="ur_uncurated_results"></div>