<div id="userreviews" class="sidebox">
	<div id="reviews">
	{{# reviews}}
		<div class="ur_review ur_review{{index}}">
			<div class="ur_user">
				{{#avatarUrl}}
					<img src="{{{avatarUrl}}}" class="ur_avatar" />
				{{/avatarUrl}}
				{{^avatarUrl}}
				<span class="ur_initials">
					{{initials}}
				</span>
				{{/avatarUrl}}
				<div class="ur_author">
					<p class="ur_name">{{{fullname}}}</p>
					<p class="ur_date">{{date}}</p>
				</div>
			</div>
			<div class="ur_review_text">
				{{{uc_review}}}
			</div>
			<div class="ur_rating">
				{{#hasrating}}
					<span>Rated this article: </span>
					{{#ratings}}
						<div class="ur_star {{ratingClass}}"></div>
					{{/ratings}}
					<div class="clearall"></div>
				{{/hasrating}}
			</div>
			{{#imageUrl}}
				<img src="{{{imageUrl}}}" class="ur_uci" />
			{{/imageUrl}}
		</div>
	{{/ reviews}}
		<div class="ur_nav_container">
			{{^is_alt}}
			<a href="#" class="ur_share">{{ur_share}}</a>
			{{/is_alt}}
	{{#navigation}}
			<a href="#" class="ur_more ur_nav">{{ur_more}}</a>
			<a href="#" class="ur_even_more ur_nav">{{ur_even_more}}</a>
			<a href="#" class="ur_hide ur_nav">{{ur_hide}}</a>
	{{/navigation}}
		</div>
	</div>
	{{#staffLink}}{{{staffLink}}}{{/staffLink}}
</div>
