{{{tool_info}}}
<div class="tool quiz q_container">
	<div class="tool_header mobile-header">
	
		<div class="quiz-body">
			<div class="spinner"></div>

			<div id="render-target"></div>

			<div id="next-container" class="next-bar button-bar">
			<a href="#" id="next-batch" class="next button primary block arrow-right" data-event_action="next_category" role="button">
				{{get_next_msg}}
				<div class="arrow"></div>
			</a>
		</div>
		</div>
	</div>
</div>