@import '../less/variables.less';
@import '../less/mixins.less';
@import '../less/common.less';

@buttonSize: 30px;
@buttonSizeLarge: 40px;

.article_title {
	padding: 0 10px 20px 15px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

#ti_icon {
	position: relative;
	top: -45px;
}

#ti_outer_box {
	top: -40px;
}

#next-container {
	box-shadow: 0px 0px 2px #999;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.minor_section ol, .minor_section ul {
	margin: 0px !important;
}

.button-bar .arrow-right {
	.arrow {
		background-color: #f5f5f5;
		height: 1px;
	}
}

#footer {
	display: none;
}

.q_container {
	padding: 20px 10px 10px;
	background: #FFF;
}

.question {
	display: block;
	overflow: hidden;
	background-color: #fff;
	text-align: left;
	padding: @margin*2 85px @margin*2 15px;
	position: relative;

	&:nth-child(odd) {
		background-color: @grayLight;
	}

	.question-options {
		display: inline-block;
		position: absolute;
		top: @margin*0.5;
		right: 0;
		overflow: hidden;
		float: right;
		width: @buttonSizeLarge*2;
		height: @buttonSizeLarge;

		.choice {
			.transition(margin 0.3s ease 0s);
			position: relative;
			display: inline-block;
			float: left;
			// margin-right: @margin;
			text-decoration: none;
			text-align: center;
				i, i {
					margin-top: 5px;
					display: block;
					font-size: @buttonSize;

					&.on {
						font-size: @buttonSizeLarge;
					}
				}

				&.chosen {
					margin-top: -(@buttonSizeLarge);
				}

				.counter {
					top: @buttonSizeLarge + 1px;
					right: -5px;
				}

				&.no {
					color: lighten(@red, 40%);

					&:hover, &.chosen {
						color: @red;
					}
				}

				&.yes {
					color: lighten(@green, 5%);

					&:hover, &.chosen {
						color: darken(@green, 15%);
					}
				}
		}
	}
}


@media @medium {

	#ti_icon {
		top: -50px;
	}

	#ti_outer_box {
		top: -45px;
	}

	#next-container {
		position: relative;
		bottom: 0;
		left: 69%;
		width: 30%;
		padding: 0;
		padding-top: 20px;
		background-color: transparent;
		box-shadow: none;
	}

	.article_title {
		font-size: 18px;
	}

	.q_container {
		padding: @largeSectionPadding;
		border-radius: @borderRadius;
	}

	#bodycontents.section, .minor_section {
		margin-bottom: 25px;
		position: relative;
		background-color: transparent;
		padding: 22px 0;
		margin-top: -10px;
		padding-top: 0px;
	}

	.button-bar .arrow-right {
		.arrow {
			background-color: #f3f3f3;

			&.desktop {
				background-color: #ecebe8;
			}
		}
	}

	#footer {
		display: block;
	}
}
